In [2]:
import camelot
import pandas as pd

# Updated Process

## 1. Create empty dataframe with proper column names

In [3]:
# This is where data will be added after cleaning. The final dataframe for export

In [4]:
df = pd.DataFrame(columns = [
    "Species",
    "BE", 
    "Bestand", 
    "Trend_lang",
    "Trend_kurz",
    "RF",
    "BB",
    "D",
    "GfU",
    "Letzter_Nachweis",
    "Quelle"
])
df

Empty DataFrame
Columns: [Species, BE, Bestand, Trend_lang, Trend_kurz, RF, BB, D, GfU, Letzter_Nachweis, Quelle]
Index: []

In [5]:
df.shape

(0, 11)

## 2. Setup mechanism to store accuracy report : QA step

In [6]:
accuracy = []

## 3. Dictionary of dataframes on the go

In [7]:
# Dictionary to collect dataframes created from each table
d = {}

## 4. Adding the list of pages to be parsed

In [8]:
pages = []
i = 7
while i < 19:
    pages.append(i)
    i = i + 1
print(pages)

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

## 5. Parsing through the pages

In [9]:
for i in pages:
    # print page number
    print (i)
    # create dataframe with page number
    d[i] = pd.DataFrame()
    #read the page
    tables = camelot.read_pdf('rote_liste_blattkaefer_heinig_schoeller.pdf', 
                              pages= str(i), 
                              flavor='stream', edge_tol=1000, row_tol=12)
    #tables = camelot.read_pdf('rote_liste_blattkaefer_heinig_schoeller.pdf', pages= str(i), flavor='lattice')
    # add the accuracy report
    accuracy.append(tables[0].parsing_report)
    # assign the first table to a dataframe
    d[i] = tables[0].df
    print(d[i].shape)
# Print Done once all pages are parsed
print ("Done")

7
(27, 11)
8
(28, 11)
9
(27, 11)
10
(28, 11)
11
(27, 11)
12
(27, 11)
13
(27, 11)
14
(27, 11)
15
(27, 11)
16
(27, 11)
17
(27, 11)
18
(22, 11)
Done

In [10]:
# Check accuracy reports for the process
accuracy

[{'accuracy': 99.37, 'whitespace': 39.73, 'order': 1, 'page': 7},
 {'accuracy': 99.7, 'whitespace': 28.25, 'order': 1, 'page': 8},
 {'accuracy': 99.64, 'whitespace': 23.57, 'order': 1, 'page': 9},
 {'accuracy': 99.89, 'whitespace': 31.82, 'order': 1, 'page': 10},
 {'accuracy': 99.72, 'whitespace': 16.16, 'order': 1, 'page': 11},
 {'accuracy': 99.71, 'whitespace': 21.55, 'order': 1, 'page': 12},
 {'accuracy': 99.76, 'whitespace': 22.56, 'order': 1, 'page': 13},
 {'accuracy': 99.71, 'whitespace': 19.53, 'order': 1, 'page': 14},
 {'accuracy': 99.77, 'whitespace': 23.91, 'order': 1, 'page': 15},
 {'accuracy': 99.72, 'whitespace': 15.15, 'order': 1, 'page': 16},
 {'accuracy': 99.86, 'whitespace': 27.95, 'order': 1, 'page': 17},
 {'accuracy': 99.61, 'whitespace': 38.84, 'order': 1, 'page': 18}]

In [11]:
d[7].head()

,0,1,2,3,4,5,6,7,8,9,10
0,Tabelle 1: Rote Liste und Gesamtartenliste der...,,,,,,,,,,
1,Wissenschaftlicher Name,BE,Bestand,Trend \n \nlang,Trend \n \nkurz,RF,BB,D,GfU,Letzter \n \n \nNachweis,Quelle
2,Megalopodidae,,,,,,,,,,
3,"Zeugophora flavicollis (MARSHAM, 1802)",*,mh,=,?,=,,*,,2009,CHRYFAUN
4,"Zeugophora frontalis SUFFRIAN, 1840",1,es,>,=,-,,2,14a,2008,ESSER (2011)

In [12]:
d[18].head()

,0,1,2,3,4,5,6,7,8,9,10
0,Wissenschaftlicher Name,BE,Bestand,Trend \nlang,Trend \nkurz,RF,BB,D,GfU,Letzter \nNachweis,Quelle
1,"Bruchidius cisti (FABRICIUS, 1775)*",0,ex,,,,,3,"1a, 7a, 14g",vor 1950,WENDT (1986)
2,"Bruchidius marginalis (FABRICIUS, 1776)",R,es,=,=,=,,V,,1999,CHRYFAUN
3,"Bruchidius villosus (FABRICIUS, 1792)",*,mh,=,=,=,,*,,2008,ESSER (2011)
4,"Bruchus affinis FRÖLICH, 1799",*,s,>,=,=,,*,,2005,ESSER (2011)

# Data cleanup steps

d[67]       
    : Look at the data frame extracted from 67th page
d[67].shape 
    : Look at the shape of the dataframe
d[68] = d[68].drop([12], axis=1)
    : Drop the 12th column in place
d[68][10] = d[68][[10, 11]].agg(' '.join, axis=1)
    : Join 10th and 11th columns with a space in between
d[69][[9,11]] = d[69][9].str.split('\n', expand=True)
    : Split 9th Column at the '\n' sign and add a new column called 11
column_to_move = d[69].pop(11)
column_to_move
d[69].insert(9, 11, column_to_move )
    : Pop column 11 and insert it at column 9
d[75].insert(9, '10', ["",""])
    : Insert two rows of column 10 after 9 with empty cells

In [13]:
for key in d:
    print(key)
    print(d[key].shape)

7
(27, 11)
8
(28, 11)
9
(27, 11)
10
(28, 11)
11
(27, 11)
12
(27, 11)
13
(27, 11)
14
(27, 11)
15
(27, 11)
16
(27, 11)
17
(27, 11)
18
(22, 11)

In [14]:
for key in d:
    d[key] = d[key].drop([0], axis=0)
    print(key)
    print(d[key].shape)

7
(26, 11)
8
(27, 11)
9
(26, 11)
10
(27, 11)
11
(26, 11)
12
(26, 11)
13
(26, 11)
14
(26, 11)
15
(26, 11)
16
(26, 11)
17
(26, 11)
18
(21, 11)

In [15]:
d[7] = d[7].drop([1], axis=0)

In [16]:
# Check whether all dataframes are of the same size
for key in d:
    print(key)
    print(d[key].shape)

7
(25, 11)
8
(27, 11)
9
(26, 11)
10
(27, 11)
11
(26, 11)
12
(26, 11)
13
(26, 11)
14
(26, 11)
15
(26, 11)
16
(26, 11)
17
(26, 11)
18
(21, 11)

In [17]:
# Removing empty dataframes
# del d[64]
# del d[74]

In [18]:
# Creates a sorted dictionary (sorted by key)
from collections import OrderedDict
d2 = OrderedDict(sorted(d.items()))

In [19]:
# Check whether the dictionary is sorted
for key in d2:
    print(key)

7
8
9
10
11
12
13
14
15
16
17
18

In [20]:
# Rename all the dataframes in the sorted dictionary
for key in d2:
    print(key)
    d2[key].columns = [ "Species",
    "BE", 
    "Bestand", 
    "Trend_lang",
    "Trend_kurz",
    "RF",
    "BB",
    "D",
    "GfU",
    "Letzter_Nachweis",
    "Quelle"]
print("Rename completed for concat")

7
8
9
10
11
12
13
14
15
16
17
18
Rename completed for concat

In [21]:
# Concatanate all the non-empty dataframes in the sorted dictionary into the empty df
for key in d2:
    df = pd.concat([df, d2[key]], axis = 0)
df

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU,Letzter_Nachweis,Quelle
2,Megalopodidae,,,,,,,,,,
3,"Zeugophora flavicollis (MARSHAM, 1802)",*,mh,=,?,=,,*,,2009,CHRYFAUN
4,"Zeugophora frontalis SUFFRIAN, 1840",1,es,>,=,-,,2,14a,2008,ESSER (2011)
5,"Zeugophora scutellaris SUFFRIAN, 1840",*,ss,=,=,=,,3,,2014,MS
6,"Zeugophora subspinosa (FABRICIUS, 1781)",*,h,=,=,=,,*,,2011,"MS, CHRYFAUN"
...,...,...,...,...,...,...,...,...,...,...,...
17,"Callosobruchus maculatus (FABRICIUS, 1775)",♦,nb,,,,,nb,,1996,MS
18,"Megabruchidius dorsalis (FÅHRAEUS, 1839)",♦,nb,,,,,,,2014,JE
19,Spermophagus calystegiae LUKJANOVITCH & TER-,*,mh,=,=,=,,D,,2003,ESSER & KIELHORN (2005)
20,"MINASSIAN, 1957",,,,,,,,,,
21,"Zabrotes subfasciatus (BOHEMANN, 1833)",♦,nb,,,,,nb,,nach 1950,MNB

In [22]:
# Definition of extinction
df2 = df.loc[df["BE"] == "0"]
df2.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU,Letzter_Nachweis,Quelle
12,"Donacia brevicornis AHRENS, 1810",0,ex,,,,,2,"1c, 2d, 3b, 11c,",vor 1907,REINECK (1907)
17,"Donacia dentata HOPPE, 1795",0,ex,,,,2,2,"1c, 11c, 14a, 14g",1937,CHRYFAUN
21,"Donacia obscura GYLLENHAL, 1813",0,ex,,,,2,1,"1c, 2d, 8b, 11c,",vor 1907,REINECK (1907)
1,"Donacia thalassina thalassina GERMAR, 1811",0,ex,,,,p,V,"1c, 2d, 11c, 14a,",vor 1950,MOHR (1985)
3,"Donacia tomentosa AHRENS, 1810",0,ex,,,,0,1,"1c, 2d, 11c, 14a,",1943,CHRYFAUN

In [23]:
df2.reset_index(inplace = True)
df2.head()

,index,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU,Letzter_Nachweis,Quelle
0,12,"Donacia brevicornis AHRENS, 1810",0,ex,,,,,2,"1c, 2d, 3b, 11c,",vor 1907,REINECK (1907)
1,17,"Donacia dentata HOPPE, 1795",0,ex,,,,2,2,"1c, 11c, 14a, 14g",1937,CHRYFAUN
2,21,"Donacia obscura GYLLENHAL, 1813",0,ex,,,,2,1,"1c, 2d, 8b, 11c,",vor 1907,REINECK (1907)
3,1,"Donacia thalassina thalassina GERMAR, 1811",0,ex,,,,p,V,"1c, 2d, 11c, 14a,",vor 1950,MOHR (1985)
4,3,"Donacia tomentosa AHRENS, 1810",0,ex,,,,0,1,"1c, 2d, 11c, 14a,",1943,CHRYFAUN

In [24]:
df2 = df2.drop(['index'], axis=1)
df2.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU,Letzter_Nachweis,Quelle
0,"Donacia brevicornis AHRENS, 1810",0,ex,,,,,2,"1c, 2d, 3b, 11c,",vor 1907,REINECK (1907)
1,"Donacia dentata HOPPE, 1795",0,ex,,,,2,2,"1c, 11c, 14a, 14g",1937,CHRYFAUN
2,"Donacia obscura GYLLENHAL, 1813",0,ex,,,,2,1,"1c, 2d, 8b, 11c,",vor 1907,REINECK (1907)
3,"Donacia thalassina thalassina GERMAR, 1811",0,ex,,,,p,V,"1c, 2d, 11c, 14a,",vor 1950,MOHR (1985)
4,"Donacia tomentosa AHRENS, 1810",0,ex,,,,0,1,"1c, 2d, 11c, 14a,",1943,CHRYFAUN

In [25]:
df3 = df.loc[df["Bestand"] == "ex"]
df3.reset_index(inplace = True)
df3 = df3.drop(['index'], axis=1)
df3.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU,Letzter_Nachweis,Quelle
0,"Donacia brevicornis AHRENS, 1810",0,ex,,,,,2,"1c, 2d, 3b, 11c,",vor 1907,REINECK (1907)
1,"Donacia dentata HOPPE, 1795",0,ex,,,,2,2,"1c, 11c, 14a, 14g",1937,CHRYFAUN
2,"Donacia obscura GYLLENHAL, 1813",0,ex,,,,2,1,"1c, 2d, 8b, 11c,",vor 1907,REINECK (1907)
3,"Donacia thalassina thalassina GERMAR, 1811",0,ex,,,,p,V,"1c, 2d, 11c, 14a,",vor 1950,MOHR (1985)
4,"Donacia tomentosa AHRENS, 1810",0,ex,,,,0,1,"1c, 2d, 11c, 14a,",1943,CHRYFAUN

In [26]:
df2.describe()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU,Letzter_Nachweis,Quelle
count,32,32,32,32,32,32,32,32,32,32,32
unique,32,1,1,1,1,1,6,7,27,20,20
top,"Donacia brevicornis AHRENS, 1810",0,ex,,,,,3,14a,vor 1950,CHRYFAUN
freq,1,32,32,32,32,32,15,10,3,9,6

In [27]:
df3.describe()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU,Letzter_Nachweis,Quelle
count,32,32,32,32,32,32,32,32,32,32,32
unique,32,1,1,1,1,1,6,7,27,20,20
top,"Donacia brevicornis AHRENS, 1810",0,ex,,,,,3,14a,vor 1950,CHRYFAUN
freq,1,32,32,32,32,32,15,10,3,9,6

In [28]:
# Saving the extracted csv to the "Raw_csv" directory

In [29]:
# export the dataframe as CSV
df2.to_csv('../../Transformation/Raw_csv/Chrysomelidae_ Megalopodidae_Blattkäfer.csv', index=False)