In [98]:
import pandas as pd
import numpy as np
from pygbif import species

# 01.  Chrysomelidae_ Megalopodidae_Blattkäfer.csv

In [116]:
# Read file into dataframe

df = pd.read_csv('Chrysomelidae_ Megalopodidae_Blattkäfer.csv')
df.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU,Letzter_Nachweis,Quelle
0,"Donacia brevicornis AHRENS, 1810",0,ex,NaN,NaN,NaN,NaN,2,"1c, 2d, 3b, 11c,",vor 1907,REINECK (1907)
1,"Donacia dentata HOPPE, 1795",0,ex,NaN,NaN,NaN,2,2,"1c, 11c, 14a, 14g",1937,CHRYFAUN
2,"Donacia obscura GYLLENHAL, 1813",0,ex,NaN,NaN,NaN,2,1,"1c, 2d, 8b, 11c,",vor 1907,REINECK (1907)
3,"Donacia thalassina thalassina GERMAR, 1811",0,ex,NaN,NaN,NaN,p,V,"1c, 2d, 11c, 14a,",vor 1950,MOHR (1985)
4,"Donacia tomentosa AHRENS, 1810",0,ex,NaN,NaN,NaN,0,1,"1c, 2d, 11c, 14a,",1943,CHRYFAUN

In [117]:
df.describe(include = 'all')

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU,Letzter_Nachweis,Quelle
count,32,32.0,32,0.0,0.0,0.0,17,32,32,32,32
unique,32,NaN,1,NaN,NaN,NaN,5,7,27,20,20
top,"Donacia brevicornis AHRENS, 1810",NaN,ex,NaN,NaN,NaN,0,3,14a,vor 1950,CHRYFAUN
freq,1,NaN,32,NaN,NaN,NaN,6,10,3,9,6
mean,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
df.Trend_lang.isna().sum()

32

In [119]:
df.Trend_kurz.isna().sum()

32

In [120]:
# dropping Trend_kurz and Trend_lang columns

df.drop(columns = ["Trend_kurz", "Trend_lang"], inplace = True)

In [121]:
df.describe(include = 'all')

,Species,BE,Bestand,RF,BB,D,GfU,Letzter_Nachweis,Quelle
count,32,32.0,32,0.0,17,32,32,32,32
unique,32,NaN,1,NaN,5,7,27,20,20
top,"Donacia brevicornis AHRENS, 1810",NaN,ex,NaN,0,3,14a,vor 1950,CHRYFAUN
freq,1,NaN,32,NaN,6,10,3,9,6
mean,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
df.RF.isna().sum()

32

In [123]:
# Dropping RF Column
df.drop(columns = "RF", inplace = True)

In [124]:
df.head()

,Species,BE,Bestand,BB,D,GfU,Letzter_Nachweis,Quelle
0,"Donacia brevicornis AHRENS, 1810",0,ex,NaN,2,"1c, 2d, 3b, 11c,",vor 1907,REINECK (1907)
1,"Donacia dentata HOPPE, 1795",0,ex,2,2,"1c, 11c, 14a, 14g",1937,CHRYFAUN
2,"Donacia obscura GYLLENHAL, 1813",0,ex,2,1,"1c, 2d, 8b, 11c,",vor 1907,REINECK (1907)
3,"Donacia thalassina thalassina GERMAR, 1811",0,ex,p,V,"1c, 2d, 11c, 14a,",vor 1950,MOHR (1985)
4,"Donacia tomentosa AHRENS, 1810",0,ex,0,1,"1c, 2d, 11c, 14a,",1943,CHRYFAUN

In [125]:
df

,Species,BE,Bestand,BB,D,GfU,Letzter_Nachweis,Quelle
0,"Donacia brevicornis AHRENS, 1810",0,ex,NaN,2,"1c, 2d, 3b, 11c,",vor 1907,REINECK (1907)
1,"Donacia dentata HOPPE, 1795",0,ex,2,2,"1c, 11c, 14a, 14g",1937,CHRYFAUN
2,"Donacia obscura GYLLENHAL, 1813",0,ex,2,1,"1c, 2d, 8b, 11c,",vor 1907,REINECK (1907)
3,"Donacia thalassina thalassina GERMAR, 1811",0,ex,p,V,"1c, 2d, 11c, 14a,",vor 1950,MOHR (1985)
4,"Donacia tomentosa AHRENS, 1810",0,ex,0,1,"1c, 2d, 11c, 14a,",1943,CHRYFAUN
5,"Macroplea appendiculata (PANZER, 1794)",0,ex,NaN,1,"1c, 3b, 11c, 14a",vor 1907,REINECK (1907)
6,"Lilioceris merdigera (LINNÉ, 1758)",0,ex,NaN,*,1a,vor 1913,REINECK (1913)
7,"Labidostomis humeralis (D. H. SCHNEIDER, 1792)",0,ex,NaN,2,"12b, 14a",1897,SCHILSKY (1897)
8,"Labidostomis tridentata (LINNÉ, 1758)",0,ex,3,3,"9d, 14a",1949,coll. G. Lauterbach in FU
9,"Cryptocephalus bipunctatus (LINNÉ, 1758)",0,ex,NaN,*,"1a, 14a",vor 1950,MOHR (1977)
10,"Cryptocephalus chrysopus GMELIN, 1788",0,ex,NaN,3,"1a, 14a",vor 1950,coll. P. Delahon
11,"Cryptocephalus coryli (LINNÉ, 1758)",0,ex,3,3,14a,1906,DELAHON (1927)
12,"Cryptocephalus decemmaculatus (LINNÉ, 1758)",0,ex,NaN,3,"2d, 8b, 14a",1948,CHRYFAUN
13,"Cryptocephalus hypochaeridis (LINNÉ, 1758)",0,ex,NaN,*,"8a, 14a",1946,CHRYFAUN
14,"Cryptocephalus janthinus GERMAR, 1824",0,ex,0,1,"6a, 8c",2008,JE
15,"Cryptocephalus laetus FABRICIUS, 1792",0,ex,0,0,"2a, 8a, 14a",vor 1900,WEISE (1872)
16,"Cryptocephalus octopunctatus (SCOPOLI, 1763)",0,ex,2,2,"1a, 2d, 14a",vor 1950,"coll. J. Neresheimer, MOHR"
17,"Cryptocephalus pini (LINNÉ, 1758)",0,ex,1,*,9d,vor 1950,MOHR (1977)
18,"Cryptocephalus quadripustulatus GYLLENHAL,",0,ex,1,D,"9a, 4c",vor 1950,coll. G. Reineck in coll. SMF
19,"Cryptocephalus querceti SUFFRIAN, 1848",0,ex,1,2,14a,1885,WEISE (1885)
20,"Pachybrachis hieroglyphicus (LAICHARTING, 1781)",0,ex,0,3,"5b, 14a",1885,WEISE (1885)
21,"Oomorphus concolor (STURM, 1807)",0,ex,0,*,14a,vor 1920,"coll. G. Kraatz (SDEI), Mohr"
22,"Chrysolina cerealis (LINNÉ, 1767)",0,ex,0,3,"1a, 7a, 14a",vor 1950,MOHR (1977)
23,"Prasocuris glabra (HERBST, 1783)*",0,ex,2,*,"1c, 2d, 6a, 14a",1960,CHRYFAUN
24,"Prasocuris hannoveriana (FABRICIUS, 1775)",0,ex,3,3,"2d, 5b, 6a, 14a,",vor 1918,NERESHEIMER & WAGNER
25,"Galeruca melanocephala PONZA, 1805",0,ex,NaN,1,"2d, 5b, 14a",1928,CHRYFAUN
26,"Chaetocnema confusa (BOHEMANN, 1851)",0,ex,NaN,3,"2d, 8b, 14a",1907,REINECK (1907)
27,"Dibolia schillingi LETZNER, 1846",0,ex,NaN,3,"1a, 7a, 14a",1942,coll. M. Döberl
28,"Longitarsus nigerrimus (GYLLENHAL, 1827)*",0,ex,NaN,1,"2d, 8b, 11c, 14a,",1958,KORGE (1963)
29,"Bruchidius cisti (FABRICIUS, 1775)*",0,ex,NaN,3,"1a, 7a, 14g",vor 1950,WENDT (1986)
30,"Bruchus pisorum (LINNÉ, 1758)",0,ex,NaN,1,"4c, 14e",1949,"WENDT (1986), CHRYFAUN,"
31,"Bruchus rufimanus BOHEMANN, 1833",0,ex,NaN,*,?,vor 1950,WENDT (1986)

In [126]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df.Species = df1[0].str.cat(df1[1], sep = " ")

In [127]:
df

,Species,BE,Bestand,BB,D,GfU,Letzter_Nachweis,Quelle
0,Donacia brevicornis,0,ex,NaN,2,"1c, 2d, 3b, 11c,",vor 1907,REINECK (1907)
1,Donacia dentata,0,ex,2,2,"1c, 11c, 14a, 14g",1937,CHRYFAUN
2,Donacia obscura,0,ex,2,1,"1c, 2d, 8b, 11c,",vor 1907,REINECK (1907)
3,Donacia thalassina,0,ex,p,V,"1c, 2d, 11c, 14a,",vor 1950,MOHR (1985)
4,Donacia tomentosa,0,ex,0,1,"1c, 2d, 11c, 14a,",1943,CHRYFAUN
5,Macroplea appendiculata,0,ex,NaN,1,"1c, 3b, 11c, 14a",vor 1907,REINECK (1907)
6,Lilioceris merdigera,0,ex,NaN,*,1a,vor 1913,REINECK (1913)
7,Labidostomis humeralis,0,ex,NaN,2,"12b, 14a",1897,SCHILSKY (1897)
8,Labidostomis tridentata,0,ex,3,3,"9d, 14a",1949,coll. G. Lauterbach in FU
9,Cryptocephalus bipunctatus,0,ex,NaN,*,"1a, 14a",vor 1950,MOHR (1977)
10,Cryptocephalus chrysopus,0,ex,NaN,3,"1a, 14a",vor 1950,coll. P. Delahon
11,Cryptocephalus coryli,0,ex,3,3,14a,1906,DELAHON (1927)
12,Cryptocephalus decemmaculatus,0,ex,NaN,3,"2d, 8b, 14a",1948,CHRYFAUN
13,Cryptocephalus hypochaeridis,0,ex,NaN,*,"8a, 14a",1946,CHRYFAUN
14,Cryptocephalus janthinus,0,ex,0,1,"6a, 8c",2008,JE
15,Cryptocephalus laetus,0,ex,0,0,"2a, 8a, 14a",vor 1900,WEISE (1872)
16,Cryptocephalus octopunctatus,0,ex,2,2,"1a, 2d, 14a",vor 1950,"coll. J. Neresheimer, MOHR"
17,Cryptocephalus pini,0,ex,1,*,9d,vor 1950,MOHR (1977)
18,Cryptocephalus quadripustulatus,0,ex,1,D,"9a, 4c",vor 1950,coll. G. Reineck in coll. SMF
19,Cryptocephalus querceti,0,ex,1,2,14a,1885,WEISE (1885)
20,Pachybrachis hieroglyphicus,0,ex,0,3,"5b, 14a",1885,WEISE (1885)
21,Oomorphus concolor,0,ex,0,*,14a,vor 1920,"coll. G. Kraatz (SDEI), Mohr"
22,Chrysolina cerealis,0,ex,0,3,"1a, 7a, 14a",vor 1950,MOHR (1977)
23,Prasocuris glabra,0,ex,2,*,"1c, 2d, 6a, 14a",1960,CHRYFAUN
24,Prasocuris hannoveriana,0,ex,3,3,"2d, 5b, 6a, 14a,",vor 1918,NERESHEIMER & WAGNER
25,Galeruca melanocephala,0,ex,NaN,1,"2d, 5b, 14a",1928,CHRYFAUN
26,Chaetocnema confusa,0,ex,NaN,3,"2d, 8b, 14a",1907,REINECK (1907)
27,Dibolia schillingi,0,ex,NaN,3,"1a, 7a, 14a",1942,coll. M. Döberl
28,Longitarsus nigerrimus,0,ex,NaN,1,"2d, 8b, 11c, 14a,",1958,KORGE (1963)
29,Bruchidius cisti,0,ex,NaN,3,"1a, 7a, 14g",vor 1950,WENDT (1986)
30,Bruchus pisorum,0,ex,NaN,1,"4c, 14e",1949,"WENDT (1986), CHRYFAUN,"
31,Bruchus rufimanus,0,ex,NaN,*,?,vor 1950,WENDT (1986)

In [128]:
# Manually editing cells that were extracted incorrectly/partially
df.at[0,"GfU"]= "1c, 2d, 3b, 11c, 14a, 14g"
df.head()

,Species,BE,Bestand,BB,D,GfU,Letzter_Nachweis,Quelle
0,Donacia brevicornis,0,ex,NaN,2,"1c, 2d, 3b, 11c, 14a, 14g",vor 1907,REINECK (1907)
1,Donacia dentata,0,ex,2,2,"1c, 11c, 14a, 14g",1937,CHRYFAUN
2,Donacia obscura,0,ex,2,1,"1c, 2d, 8b, 11c,",vor 1907,REINECK (1907)
3,Donacia thalassina,0,ex,p,V,"1c, 2d, 11c, 14a,",vor 1950,MOHR (1985)
4,Donacia tomentosa,0,ex,0,1,"1c, 2d, 11c, 14a,",1943,CHRYFAUN

In [129]:
df.at[2,"GfU"]= "1c, 2d, 8b, 11c, 14a"
df.at[3,"GfU"]= "1c, 2d, 11c, 14a, 14g"
df.at[4,"GfU"]= "1c, 2d, 11c, 14a, 14g"
df

,Species,BE,Bestand,BB,D,GfU,Letzter_Nachweis,Quelle
0,Donacia brevicornis,0,ex,NaN,2,"1c, 2d, 3b, 11c, 14a, 14g",vor 1907,REINECK (1907)
1,Donacia dentata,0,ex,2,2,"1c, 11c, 14a, 14g",1937,CHRYFAUN
2,Donacia obscura,0,ex,2,1,"1c, 2d, 8b, 11c, 14a",vor 1907,REINECK (1907)
3,Donacia thalassina,0,ex,p,V,"1c, 2d, 11c, 14a, 14g",vor 1950,MOHR (1985)
4,Donacia tomentosa,0,ex,0,1,"1c, 2d, 11c, 14a, 14g",1943,CHRYFAUN
5,Macroplea appendiculata,0,ex,NaN,1,"1c, 3b, 11c, 14a",vor 1907,REINECK (1907)
6,Lilioceris merdigera,0,ex,NaN,*,1a,vor 1913,REINECK (1913)
7,Labidostomis humeralis,0,ex,NaN,2,"12b, 14a",1897,SCHILSKY (1897)
8,Labidostomis tridentata,0,ex,3,3,"9d, 14a",1949,coll. G. Lauterbach in FU
9,Cryptocephalus bipunctatus,0,ex,NaN,*,"1a, 14a",vor 1950,MOHR (1977)
10,Cryptocephalus chrysopus,0,ex,NaN,3,"1a, 14a",vor 1950,coll. P. Delahon
11,Cryptocephalus coryli,0,ex,3,3,14a,1906,DELAHON (1927)
12,Cryptocephalus decemmaculatus,0,ex,NaN,3,"2d, 8b, 14a",1948,CHRYFAUN
13,Cryptocephalus hypochaeridis,0,ex,NaN,*,"8a, 14a",1946,CHRYFAUN
14,Cryptocephalus janthinus,0,ex,0,1,"6a, 8c",2008,JE
15,Cryptocephalus laetus,0,ex,0,0,"2a, 8a, 14a",vor 1900,WEISE (1872)
16,Cryptocephalus octopunctatus,0,ex,2,2,"1a, 2d, 14a",vor 1950,"coll. J. Neresheimer, MOHR"
17,Cryptocephalus pini,0,ex,1,*,9d,vor 1950,MOHR (1977)
18,Cryptocephalus quadripustulatus,0,ex,1,D,"9a, 4c",vor 1950,coll. G. Reineck in coll. SMF
19,Cryptocephalus querceti,0,ex,1,2,14a,1885,WEISE (1885)
20,Pachybrachis hieroglyphicus,0,ex,0,3,"5b, 14a",1885,WEISE (1885)
21,Oomorphus concolor,0,ex,0,*,14a,vor 1920,"coll. G. Kraatz (SDEI), Mohr"
22,Chrysolina cerealis,0,ex,0,3,"1a, 7a, 14a",vor 1950,MOHR (1977)
23,Prasocuris glabra,0,ex,2,*,"1c, 2d, 6a, 14a",1960,CHRYFAUN
24,Prasocuris hannoveriana,0,ex,3,3,"2d, 5b, 6a, 14a,",vor 1918,NERESHEIMER & WAGNER
25,Galeruca melanocephala,0,ex,NaN,1,"2d, 5b, 14a",1928,CHRYFAUN
26,Chaetocnema confusa,0,ex,NaN,3,"2d, 8b, 14a",1907,REINECK (1907)
27,Dibolia schillingi,0,ex,NaN,3,"1a, 7a, 14a",1942,coll. M. Döberl
28,Longitarsus nigerrimus,0,ex,NaN,1,"2d, 8b, 11c, 14a,",1958,KORGE (1963)
29,Bruchidius cisti,0,ex,NaN,3,"1a, 7a, 14g",vor 1950,WENDT (1986)
30,Bruchus pisorum,0,ex,NaN,1,"4c, 14e",1949,"WENDT (1986), CHRYFAUN,"
31,Bruchus rufimanus,0,ex,NaN,*,?,vor 1950,WENDT (1986)

In [130]:
df.at[24,"GfU"]= "2d, 5b, 6a, 14a, 14g"
df.at[28,"GfU"]= "2d, 8b, 11c, 14a, 14g"

In [131]:
df.at[8,"Quelle"]= "coll. G. Lauterbach in FU Berlin"
df.at[16,"Quelle"]= "coll. J. Neresheimer, MOHR (1977)"
df.at[21,"Quelle"]= "coll. G. Kraatz (SDEI), Mohr & Arnold in litteris"
df.at[24,"Quelle"]= "NERESHEIMER & WAGNER (1917)"
df.at[30,"Quelle"]= "WENDT (1986), CHRYFAUN, SMF"

In [132]:
df

,Species,BE,Bestand,BB,D,GfU,Letzter_Nachweis,Quelle
0,Donacia brevicornis,0,ex,NaN,2,"1c, 2d, 3b, 11c, 14a, 14g",vor 1907,REINECK (1907)
1,Donacia dentata,0,ex,2,2,"1c, 11c, 14a, 14g",1937,CHRYFAUN
2,Donacia obscura,0,ex,2,1,"1c, 2d, 8b, 11c, 14a",vor 1907,REINECK (1907)
3,Donacia thalassina,0,ex,p,V,"1c, 2d, 11c, 14a, 14g",vor 1950,MOHR (1985)
4,Donacia tomentosa,0,ex,0,1,"1c, 2d, 11c, 14a, 14g",1943,CHRYFAUN
5,Macroplea appendiculata,0,ex,NaN,1,"1c, 3b, 11c, 14a",vor 1907,REINECK (1907)
6,Lilioceris merdigera,0,ex,NaN,*,1a,vor 1913,REINECK (1913)
7,Labidostomis humeralis,0,ex,NaN,2,"12b, 14a",1897,SCHILSKY (1897)
8,Labidostomis tridentata,0,ex,3,3,"9d, 14a",1949,coll. G. Lauterbach in FU Berlin
9,Cryptocephalus bipunctatus,0,ex,NaN,*,"1a, 14a",vor 1950,MOHR (1977)
10,Cryptocephalus chrysopus,0,ex,NaN,3,"1a, 14a",vor 1950,coll. P. Delahon
11,Cryptocephalus coryli,0,ex,3,3,14a,1906,DELAHON (1927)
12,Cryptocephalus decemmaculatus,0,ex,NaN,3,"2d, 8b, 14a",1948,CHRYFAUN
13,Cryptocephalus hypochaeridis,0,ex,NaN,*,"8a, 14a",1946,CHRYFAUN
14,Cryptocephalus janthinus,0,ex,0,1,"6a, 8c",2008,JE
15,Cryptocephalus laetus,0,ex,0,0,"2a, 8a, 14a",vor 1900,WEISE (1872)
16,Cryptocephalus octopunctatus,0,ex,2,2,"1a, 2d, 14a",vor 1950,"coll. J. Neresheimer, MOHR (1977)"
17,Cryptocephalus pini,0,ex,1,*,9d,vor 1950,MOHR (1977)
18,Cryptocephalus quadripustulatus,0,ex,1,D,"9a, 4c",vor 1950,coll. G. Reineck in coll. SMF
19,Cryptocephalus querceti,0,ex,1,2,14a,1885,WEISE (1885)
20,Pachybrachis hieroglyphicus,0,ex,0,3,"5b, 14a",1885,WEISE (1885)
21,Oomorphus concolor,0,ex,0,*,14a,vor 1920,"coll. G. Kraatz (SDEI), Mohr & Arnold in litteris"
22,Chrysolina cerealis,0,ex,0,3,"1a, 7a, 14a",vor 1950,MOHR (1977)
23,Prasocuris glabra,0,ex,2,*,"1c, 2d, 6a, 14a",1960,CHRYFAUN
24,Prasocuris hannoveriana,0,ex,3,3,"2d, 5b, 6a, 14a, 14g",vor 1918,NERESHEIMER & WAGNER (1917)
25,Galeruca melanocephala,0,ex,NaN,1,"2d, 5b, 14a",1928,CHRYFAUN
26,Chaetocnema confusa,0,ex,NaN,3,"2d, 8b, 14a",1907,REINECK (1907)
27,Dibolia schillingi,0,ex,NaN,3,"1a, 7a, 14a",1942,coll. M. Döberl
28,Longitarsus nigerrimus,0,ex,NaN,1,"2d, 8b, 11c, 14a, 14g",1958,KORGE (1963)
29,Bruchidius cisti,0,ex,NaN,3,"1a, 7a, 14g",vor 1950,WENDT (1986)
30,Bruchus pisorum,0,ex,NaN,1,"4c, 14e",1949,"WENDT (1986), CHRYFAUN, SMF"
31,Bruchus rufimanus,0,ex,NaN,*,?,vor 1950,WENDT (1986)

In [133]:
# Adding aditional information columns from the source

In [134]:
# Adding the Family and SubFamily columns

In [135]:
#df = df.reindex(columns = ["Family", "Sub_family"] + df.columns.tolist())

In [136]:
i = 0;
while i < 32:
    df.at[i,"Family"] = "Chrysomelidae"
    if i < 6:
        df.at[i,"Sub_family"] = "Donaciinae"
    elif i == 6:
        df.at[i,"Sub_family"] = "Criocerinae"
    elif (i == 7) | (i == 8):
        df.at[i,"Sub_family"] = "Cryptocephalinae – Clytrini" 
    elif ((i > 8) & (i < 21)):
        df.at[i,"Sub_family"] = "Cryptocephalinae – Cryptocephalini"
    elif (i == 21):
        df.at[i,"Sub_family"] = "Lamprosomatinae"
    elif ((i > 21) & (i < 25)):
        df.at[i,"Sub_family"] = "Chrysomelinae"
    elif (i == 25):
        df.at[i,"Sub_family"] = "Galerucinae – Galerucini"
    elif ((i > 25) & (i < 28)):
        df.at[i,"Sub_family"] = "Galerucinae – Alticini"
    elif ((i > 27)):
        df.at[i,"Sub_family"] = "Bruchinae"
    i = i + 1
df

,Species,BE,Bestand,BB,D,GfU,Letzter_Nachweis,Quelle,Family,Sub_family
0,Donacia brevicornis,0,ex,NaN,2,"1c, 2d, 3b, 11c, 14a, 14g",vor 1907,REINECK (1907),Chrysomelidae,Donaciinae
1,Donacia dentata,0,ex,2,2,"1c, 11c, 14a, 14g",1937,CHRYFAUN,Chrysomelidae,Donaciinae
2,Donacia obscura,0,ex,2,1,"1c, 2d, 8b, 11c, 14a",vor 1907,REINECK (1907),Chrysomelidae,Donaciinae
3,Donacia thalassina,0,ex,p,V,"1c, 2d, 11c, 14a, 14g",vor 1950,MOHR (1985),Chrysomelidae,Donaciinae
4,Donacia tomentosa,0,ex,0,1,"1c, 2d, 11c, 14a, 14g",1943,CHRYFAUN,Chrysomelidae,Donaciinae
5,Macroplea appendiculata,0,ex,NaN,1,"1c, 3b, 11c, 14a",vor 1907,REINECK (1907),Chrysomelidae,Donaciinae
6,Lilioceris merdigera,0,ex,NaN,*,1a,vor 1913,REINECK (1913),Chrysomelidae,Criocerinae
7,Labidostomis humeralis,0,ex,NaN,2,"12b, 14a",1897,SCHILSKY (1897),Chrysomelidae,Cryptocephalinae – Clytrini
8,Labidostomis tridentata,0,ex,3,3,"9d, 14a",1949,coll. G. Lauterbach in FU Berlin,Chrysomelidae,Cryptocephalinae – Clytrini
9,Cryptocephalus bipunctatus,0,ex,NaN,*,"1a, 14a",vor 1950,MOHR (1977),Chrysomelidae,Cryptocephalinae – Cryptocephalini
10,Cryptocephalus chrysopus,0,ex,NaN,3,"1a, 14a",vor 1950,coll. P. Delahon,Chrysomelidae,Cryptocephalinae – Cryptocephalini
11,Cryptocephalus coryli,0,ex,3,3,14a,1906,DELAHON (1927),Chrysomelidae,Cryptocephalinae – Cryptocephalini
12,Cryptocephalus decemmaculatus,0,ex,NaN,3,"2d, 8b, 14a",1948,CHRYFAUN,Chrysomelidae,Cryptocephalinae – Cryptocephalini
13,Cryptocephalus hypochaeridis,0,ex,NaN,*,"8a, 14a",1946,CHRYFAUN,Chrysomelidae,Cryptocephalinae – Cryptocephalini
14,Cryptocephalus janthinus,0,ex,0,1,"6a, 8c",2008,JE,Chrysomelidae,Cryptocephalinae – Cryptocephalini
15,Cryptocephalus laetus,0,ex,0,0,"2a, 8a, 14a",vor 1900,WEISE (1872),Chrysomelidae,Cryptocephalinae – Cryptocephalini
16,Cryptocephalus octopunctatus,0,ex,2,2,"1a, 2d, 14a",vor 1950,"coll. J. Neresheimer, MOHR (1977)",Chrysomelidae,Cryptocephalinae – Cryptocephalini
17,Cryptocephalus pini,0,ex,1,*,9d,vor 1950,MOHR (1977),Chrysomelidae,Cryptocephalinae – Cryptocephalini
18,Cryptocephalus quadripustulatus,0,ex,1,D,"9a, 4c",vor 1950,coll. G. Reineck in coll. SMF,Chrysomelidae,Cryptocephalinae – Cryptocephalini
19,Cryptocephalus querceti,0,ex,1,2,14a,1885,WEISE (1885),Chrysomelidae,Cryptocephalinae – Cryptocephalini
20,Pachybrachis hieroglyphicus,0,ex,0,3,"5b, 14a",1885,WEISE (1885),Chrysomelidae,Cryptocephalinae – Cryptocephalini
21,Oomorphus concolor,0,ex,0,*,14a,vor 1920,"coll. G. Kraatz (SDEI), Mohr & Arnold in litteris",Chrysomelidae,Lamprosomatinae
22,Chrysolina cerealis,0,ex,0,3,"1a, 7a, 14a",vor 1950,MOHR (1977),Chrysomelidae,Chrysomelinae
23,Prasocuris glabra,0,ex,2,*,"1c, 2d, 6a, 14a",1960,CHRYFAUN,Chrysomelidae,Chrysomelinae
24,Prasocuris hannoveriana,0,ex,3,3,"2d, 5b, 6a, 14a, 14g",vor 1918,NERESHEIMER & WAGNER (1917),Chrysomelidae,Chrysomelinae
25,Galeruca melanocephala,0,ex,NaN,1,"2d, 5b, 14a",1928,CHRYFAUN,Chrysomelidae,Galerucinae – Galerucini
26,Chaetocnema confusa,0,ex,NaN,3,"2d, 8b, 14a",1907,REINECK (1907),Chrysomelidae,Galerucinae – Alticini
27,Dibolia schillingi,0,ex,NaN,3,"1a, 7a, 14a",1942,coll. M. Döberl,Chrysomelidae,Galerucinae – Alticini
28,Longitarsus nigerrimus,0,ex,NaN,1,"2d, 8b, 11c, 14a, 14g",1958,KORGE (1963),Chrysomelidae,Bruchinae
29,Bruchidius cisti,0,ex,NaN,3,"1a, 7a, 14g",vor 1950,WENDT (1986),Chrysomelidae,Bruchinae
30,Bruchus pisorum,0,ex,NaN,1,"4c, 14e",1949,"WENDT (1986), CHRYFAUN, SMF",Chrysomelidae,Bruchinae
31,Bruchus rufimanus,0,ex,NaN,*,?,vor 1950,WENDT (1986),Chrysomelidae,Bruchinae

In [137]:
df.columns

Index(['Species', 'BE', 'Bestand', 'BB', 'D', 'GfU', 'Letzter_Nachweis',
       'Quelle', 'Family', 'Sub_family'],
      dtype='object')

In [138]:
df = df.reindex(columns=['Family',
                         'Sub_family',
                         'Species', 
                         'BE', 
                         'Bestand', 
                         'BB', 
                         'D', 
                         'GfU', 
                         'Letzter_Nachweis', 
                         'Quelle'])
df

,Family,Sub_family,Species,BE,Bestand,BB,D,GfU,Letzter_Nachweis,Quelle
0,Chrysomelidae,Donaciinae,Donacia brevicornis,0,ex,NaN,2,"1c, 2d, 3b, 11c, 14a, 14g",vor 1907,REINECK (1907)
1,Chrysomelidae,Donaciinae,Donacia dentata,0,ex,2,2,"1c, 11c, 14a, 14g",1937,CHRYFAUN
2,Chrysomelidae,Donaciinae,Donacia obscura,0,ex,2,1,"1c, 2d, 8b, 11c, 14a",vor 1907,REINECK (1907)
3,Chrysomelidae,Donaciinae,Donacia thalassina,0,ex,p,V,"1c, 2d, 11c, 14a, 14g",vor 1950,MOHR (1985)
4,Chrysomelidae,Donaciinae,Donacia tomentosa,0,ex,0,1,"1c, 2d, 11c, 14a, 14g",1943,CHRYFAUN
5,Chrysomelidae,Donaciinae,Macroplea appendiculata,0,ex,NaN,1,"1c, 3b, 11c, 14a",vor 1907,REINECK (1907)
6,Chrysomelidae,Criocerinae,Lilioceris merdigera,0,ex,NaN,*,1a,vor 1913,REINECK (1913)
7,Chrysomelidae,Cryptocephalinae – Clytrini,Labidostomis humeralis,0,ex,NaN,2,"12b, 14a",1897,SCHILSKY (1897)
8,Chrysomelidae,Cryptocephalinae – Clytrini,Labidostomis tridentata,0,ex,3,3,"9d, 14a",1949,coll. G. Lauterbach in FU Berlin
9,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus bipunctatus,0,ex,NaN,*,"1a, 14a",vor 1950,MOHR (1977)
10,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus chrysopus,0,ex,NaN,3,"1a, 14a",vor 1950,coll. P. Delahon
11,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus coryli,0,ex,3,3,14a,1906,DELAHON (1927)
12,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus decemmaculatus,0,ex,NaN,3,"2d, 8b, 14a",1948,CHRYFAUN
13,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus hypochaeridis,0,ex,NaN,*,"8a, 14a",1946,CHRYFAUN
14,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus janthinus,0,ex,0,1,"6a, 8c",2008,JE
15,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus laetus,0,ex,0,0,"2a, 8a, 14a",vor 1900,WEISE (1872)
16,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus octopunctatus,0,ex,2,2,"1a, 2d, 14a",vor 1950,"coll. J. Neresheimer, MOHR (1977)"
17,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus pini,0,ex,1,*,9d,vor 1950,MOHR (1977)
18,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus quadripustulatus,0,ex,1,D,"9a, 4c",vor 1950,coll. G. Reineck in coll. SMF
19,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus querceti,0,ex,1,2,14a,1885,WEISE (1885)
20,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Pachybrachis hieroglyphicus,0,ex,0,3,"5b, 14a",1885,WEISE (1885)
21,Chrysomelidae,Lamprosomatinae,Oomorphus concolor,0,ex,0,*,14a,vor 1920,"coll. G. Kraatz (SDEI), Mohr & Arnold in litteris"
22,Chrysomelidae,Chrysomelinae,Chrysolina cerealis,0,ex,0,3,"1a, 7a, 14a",vor 1950,MOHR (1977)
23,Chrysomelidae,Chrysomelinae,Prasocuris glabra,0,ex,2,*,"1c, 2d, 6a, 14a",1960,CHRYFAUN
24,Chrysomelidae,Chrysomelinae,Prasocuris hannoveriana,0,ex,3,3,"2d, 5b, 6a, 14a, 14g",vor 1918,NERESHEIMER & WAGNER (1917)
25,Chrysomelidae,Galerucinae – Galerucini,Galeruca melanocephala,0,ex,NaN,1,"2d, 5b, 14a",1928,CHRYFAUN
26,Chrysomelidae,Galerucinae – Alticini,Chaetocnema confusa,0,ex,NaN,3,"2d, 8b, 14a",1907,REINECK (1907)
27,Chrysomelidae,Galerucinae – Alticini,Dibolia schillingi,0,ex,NaN,3,"1a, 7a, 14a",1942,coll. M. Döberl
28,Chrysomelidae,Bruchinae,Longitarsus nigerrimus,0,ex,NaN,1,"2d, 8b, 11c, 14a, 14g",1958,KORGE (1963)
29,Chrysomelidae,Bruchinae,Bruchidius cisti,0,ex,NaN,3,"1a, 7a, 14g",vor 1950,WENDT (1986)
30,Chrysomelidae,Bruchinae,Bruchus pisorum,0,ex,NaN,1,"4c, 14e",1949,"WENDT (1986), CHRYFAUN, SMF"
31,Chrysomelidae,Bruchinae,Bruchus rufimanus,0,ex,NaN,*,?,vor 1950,WENDT (1986)

In [139]:
# Removing column Quelle, GfU, BB, D
df.drop(columns = ["Quelle", "GfU", "BB", "D", "Bestand"], inplace = True)

In [140]:
df

,Family,Sub_family,Species,BE,Letzter_Nachweis
0,Chrysomelidae,Donaciinae,Donacia brevicornis,0,vor 1907
1,Chrysomelidae,Donaciinae,Donacia dentata,0,1937
2,Chrysomelidae,Donaciinae,Donacia obscura,0,vor 1907
3,Chrysomelidae,Donaciinae,Donacia thalassina,0,vor 1950
4,Chrysomelidae,Donaciinae,Donacia tomentosa,0,1943
5,Chrysomelidae,Donaciinae,Macroplea appendiculata,0,vor 1907
6,Chrysomelidae,Criocerinae,Lilioceris merdigera,0,vor 1913
7,Chrysomelidae,Cryptocephalinae – Clytrini,Labidostomis humeralis,0,1897
8,Chrysomelidae,Cryptocephalinae – Clytrini,Labidostomis tridentata,0,1949
9,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus bipunctatus,0,vor 1950
10,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus chrysopus,0,vor 1950
11,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus coryli,0,1906
12,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus decemmaculatus,0,1948
13,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus hypochaeridis,0,1946
14,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus janthinus,0,2008
15,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus laetus,0,vor 1900
16,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus octopunctatus,0,vor 1950
17,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus pini,0,vor 1950
18,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus quadripustulatus,0,vor 1950
19,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Cryptocephalus querceti,0,1885
20,Chrysomelidae,Cryptocephalinae – Cryptocephalini,Pachybrachis hieroglyphicus,0,1885
21,Chrysomelidae,Lamprosomatinae,Oomorphus concolor,0,vor 1920
22,Chrysomelidae,Chrysomelinae,Chrysolina cerealis,0,vor 1950
23,Chrysomelidae,Chrysomelinae,Prasocuris glabra,0,1960
24,Chrysomelidae,Chrysomelinae,Prasocuris hannoveriana,0,vor 1918
25,Chrysomelidae,Galerucinae – Galerucini,Galeruca melanocephala,0,1928
26,Chrysomelidae,Galerucinae – Alticini,Chaetocnema confusa,0,1907
27,Chrysomelidae,Galerucinae – Alticini,Dibolia schillingi,0,1942
28,Chrysomelidae,Bruchinae,Longitarsus nigerrimus,0,1958
29,Chrysomelidae,Bruchinae,Bruchidius cisti,0,vor 1950
30,Chrysomelidae,Bruchinae,Bruchus pisorum,0,1949
31,Chrysomelidae,Bruchinae,Bruchus rufimanus,0,vor 1950

In [141]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Chrysomelidae_ Megalopodidae_Blattkäfer.csv', index=False)

# 02. Coleoptera Scarabaeoidea Blatthornkäfer.csv

In [142]:
# Read file into dataframe

df = pd.read_csv('Coleoptera Scarabaeoidea Blatthornkäfer.csv')
df.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,GfU,Common_name
0,"Aphodius conspurcatus (LINNÉ, 1758)*",0,ex,NaN,NaN,NaN,2.0,2.0,NaN,6,NaN
1,"Aphodius foetidus (HERBST, 1783)*",0,ex,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
2,"Aphodius lividus (A. G. OLIVIER, 1789)*",0,ex,NaN,NaN,NaN,1.0,0.0,NaN,6,NaN
3,"Aphodius niger (ILLIGER, 1797)",0,ex,NaN,NaN,NaN,1.0,3.0,NaN,6,NaN
4,"Aphodius obliteratus (STURM, 1823)*",0,ex,NaN,NaN,NaN,1.0,3.0,NaN,6,NaN

In [143]:
df.Trend_lang.isna().sum()

22

In [144]:
df.Trend_kurz.isna().sum()

22

In [145]:
df.RF.isna().sum()

22

In [146]:
df.GS.isna().sum()

20

In [147]:
df.Common_name.isna().sum()

19

In [148]:
# dropping Trend_kurz and Trend_lang, RF columns

df.drop(columns = ["Trend_kurz", "Trend_lang", "RF"], inplace = True)

In [149]:
df.head()

,Species,BE,Bestand,BB,D,GS,GfU,Common_name
0,"Aphodius conspurcatus (LINNÉ, 1758)*",0,ex,2.0,2.0,NaN,6,NaN
1,"Aphodius foetidus (HERBST, 1783)*",0,ex,NaN,NaN,NaN,6,NaN
2,"Aphodius lividus (A. G. OLIVIER, 1789)*",0,ex,1.0,0.0,NaN,6,NaN
3,"Aphodius niger (ILLIGER, 1797)",0,ex,1.0,3.0,NaN,6,NaN
4,"Aphodius obliteratus (STURM, 1823)*",0,ex,1.0,3.0,NaN,6,NaN

In [150]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")

In [151]:
df

,Species,BE,Bestand,BB,D,GS,GfU,Common_name
0,Aphodius conspurcatus,0,ex,2.0,2.0,NaN,6,NaN
1,Aphodius foetidus,0,ex,NaN,NaN,NaN,6,NaN
2,Aphodius lividus,0,ex,1.0,0.0,NaN,6,NaN
3,Aphodius niger,0,ex,1.0,3.0,NaN,6,NaN
4,Aphodius obliteratus,0,ex,1.0,3.0,NaN,6,NaN
5,Aphodius paykulli,0,ex,NaN,NaN,NaN,6,NaN
6,Aphodius pictus,0,ex,1.0,3.0,NaN,6,NaN
7,Caccobius schreberi,0,ex,1.0,2.0,NaN,6,NaN
8,Copris lunaris,0,ex,2.0,2.0,§,6,Mondhornkäfer
9,Euheptaulacus sus,0,ex,NaN,2.0,NaN,"7a, 8a",NaN
10,Euheptaulacus villosus,0,ex,NaN,2.0,NaN,"7a, 8a",NaN
11,Gnorimus nobilis,0,ex,4.0,3.0,NaN,"2a, 14a",Edelscharrkäfer
12,Heptaulacus testudinarius,0,ex,1.0,2.0,NaN,"7a, 8a",NaN
13,Ochodaeus chrysomeloides,0,ex,1.0,1.0,NaN,"7a, 8a",NaN
14,Onthophagus illyricus,0,ex,NaN,3.0,NaN,NaN,NaN
15,Onthophagus taurus,0,ex,1.0,3.0,NaN,6,NaN
16,Protaetia fieberi,0,ex,1.0,2.0,§,"2a, 14a",NaN
17,Rhysothorax rufus,0,ex,NaN,NaN,NaN,"5a, 5b",NaN
18,Tropinota hirta,0,ex,3.0,3.0,NaN,?,Zottiger Rosenkäfer
19,Trox cadaverinus,0,ex,2.0,2.0,NaN,"6d, 7a, 8a",NaN
20,Trox hispidus,0,ex,3.0,NaN,NaN,"6d, 7a, 8a",NaN
21,Trox sabulosus,0,ex,NaN,NaN,NaN,"6d, 7a, 8a",NaN

In [152]:
# Adding Family: Scarabaeoidea to all rows

i = 0;
while i < 22:
    df.at[i,"Family"] = "Scarabaeoidea"
    i = i + 1

df

,Species,BE,Bestand,BB,D,GS,GfU,Common_name,Family
0,Aphodius conspurcatus,0,ex,2.0,2.0,NaN,6,NaN,Scarabaeoidea
1,Aphodius foetidus,0,ex,NaN,NaN,NaN,6,NaN,Scarabaeoidea
2,Aphodius lividus,0,ex,1.0,0.0,NaN,6,NaN,Scarabaeoidea
3,Aphodius niger,0,ex,1.0,3.0,NaN,6,NaN,Scarabaeoidea
4,Aphodius obliteratus,0,ex,1.0,3.0,NaN,6,NaN,Scarabaeoidea
5,Aphodius paykulli,0,ex,NaN,NaN,NaN,6,NaN,Scarabaeoidea
6,Aphodius pictus,0,ex,1.0,3.0,NaN,6,NaN,Scarabaeoidea
7,Caccobius schreberi,0,ex,1.0,2.0,NaN,6,NaN,Scarabaeoidea
8,Copris lunaris,0,ex,2.0,2.0,§,6,Mondhornkäfer,Scarabaeoidea
9,Euheptaulacus sus,0,ex,NaN,2.0,NaN,"7a, 8a",NaN,Scarabaeoidea
10,Euheptaulacus villosus,0,ex,NaN,2.0,NaN,"7a, 8a",NaN,Scarabaeoidea
11,Gnorimus nobilis,0,ex,4.0,3.0,NaN,"2a, 14a",Edelscharrkäfer,Scarabaeoidea
12,Heptaulacus testudinarius,0,ex,1.0,2.0,NaN,"7a, 8a",NaN,Scarabaeoidea
13,Ochodaeus chrysomeloides,0,ex,1.0,1.0,NaN,"7a, 8a",NaN,Scarabaeoidea
14,Onthophagus illyricus,0,ex,NaN,3.0,NaN,NaN,NaN,Scarabaeoidea
15,Onthophagus taurus,0,ex,1.0,3.0,NaN,6,NaN,Scarabaeoidea
16,Protaetia fieberi,0,ex,1.0,2.0,§,"2a, 14a",NaN,Scarabaeoidea
17,Rhysothorax rufus,0,ex,NaN,NaN,NaN,"5a, 5b",NaN,Scarabaeoidea
18,Tropinota hirta,0,ex,3.0,3.0,NaN,?,Zottiger Rosenkäfer,Scarabaeoidea
19,Trox cadaverinus,0,ex,2.0,2.0,NaN,"6d, 7a, 8a",NaN,Scarabaeoidea
20,Trox hispidus,0,ex,3.0,NaN,NaN,"6d, 7a, 8a",NaN,Scarabaeoidea
21,Trox sabulosus,0,ex,NaN,NaN,NaN,"6d, 7a, 8a",NaN,Scarabaeoidea

In [153]:
df.columns

Index(['Species', 'BE', 'Bestand', 'BB', 'D', 'GS', 'GfU', 'Common_name',
       'Family'],
      dtype='object')

In [154]:
df = df.reindex(columns=['Family',
                         'Species', 
                         'BE', 
                         'Bestand', 
                         'BB', 
                         'D', 
                         'GS', 
                         'GfU', 
                         'Common_name'])
df

,Family,Species,BE,Bestand,BB,D,GS,GfU,Common_name
0,Scarabaeoidea,Aphodius conspurcatus,0,ex,2.0,2.0,NaN,6,NaN
1,Scarabaeoidea,Aphodius foetidus,0,ex,NaN,NaN,NaN,6,NaN
2,Scarabaeoidea,Aphodius lividus,0,ex,1.0,0.0,NaN,6,NaN
3,Scarabaeoidea,Aphodius niger,0,ex,1.0,3.0,NaN,6,NaN
4,Scarabaeoidea,Aphodius obliteratus,0,ex,1.0,3.0,NaN,6,NaN
5,Scarabaeoidea,Aphodius paykulli,0,ex,NaN,NaN,NaN,6,NaN
6,Scarabaeoidea,Aphodius pictus,0,ex,1.0,3.0,NaN,6,NaN
7,Scarabaeoidea,Caccobius schreberi,0,ex,1.0,2.0,NaN,6,NaN
8,Scarabaeoidea,Copris lunaris,0,ex,2.0,2.0,§,6,Mondhornkäfer
9,Scarabaeoidea,Euheptaulacus sus,0,ex,NaN,2.0,NaN,"7a, 8a",NaN
10,Scarabaeoidea,Euheptaulacus villosus,0,ex,NaN,2.0,NaN,"7a, 8a",NaN
11,Scarabaeoidea,Gnorimus nobilis,0,ex,4.0,3.0,NaN,"2a, 14a",Edelscharrkäfer
12,Scarabaeoidea,Heptaulacus testudinarius,0,ex,1.0,2.0,NaN,"7a, 8a",NaN
13,Scarabaeoidea,Ochodaeus chrysomeloides,0,ex,1.0,1.0,NaN,"7a, 8a",NaN
14,Scarabaeoidea,Onthophagus illyricus,0,ex,NaN,3.0,NaN,NaN,NaN
15,Scarabaeoidea,Onthophagus taurus,0,ex,1.0,3.0,NaN,6,NaN
16,Scarabaeoidea,Protaetia fieberi,0,ex,1.0,2.0,§,"2a, 14a",NaN
17,Scarabaeoidea,Rhysothorax rufus,0,ex,NaN,NaN,NaN,"5a, 5b",NaN
18,Scarabaeoidea,Tropinota hirta,0,ex,3.0,3.0,NaN,?,Zottiger Rosenkäfer
19,Scarabaeoidea,Trox cadaverinus,0,ex,2.0,2.0,NaN,"6d, 7a, 8a",NaN
20,Scarabaeoidea,Trox hispidus,0,ex,3.0,NaN,NaN,"6d, 7a, 8a",NaN
21,Scarabaeoidea,Trox sabulosus,0,ex,NaN,NaN,NaN,"6d, 7a, 8a",NaN

In [155]:
# Removing columns BB, D, GS, GfU
df.drop(columns = ["BB", "D", "GS", "GfU", "Bestand"], inplace = True)
df

           Family                    Species  BE          Common_name
0   Scarabaeoidea      Aphodius conspurcatus   0                  NaN
1   Scarabaeoidea          Aphodius foetidus   0                  NaN
2   Scarabaeoidea           Aphodius lividus   0                  NaN
3   Scarabaeoidea             Aphodius niger   0                  NaN
4   Scarabaeoidea       Aphodius obliteratus   0                  NaN
5   Scarabaeoidea          Aphodius paykulli   0                  NaN
6   Scarabaeoidea            Aphodius pictus   0                  NaN
7   Scarabaeoidea        Caccobius schreberi   0                  NaN
8   Scarabaeoidea             Copris lunaris   0        Mondhornkäfer
9   Scarabaeoidea          Euheptaulacus sus   0                  NaN
10  Scarabaeoidea     Euheptaulacus villosus   0                  NaN
11  Scarabaeoidea           Gnorimus nobilis   0      Edelscharrkäfer
12  Scarabaeoidea  Heptaulacus testudinarius   0                  NaN
13  Scarabaeoidea   Ochodaeus chrysomeloides   0                  NaN
14  Scarabaeoidea      Onthophagus illyricus   0                  NaN
15  Scarabaeoidea         Onthophagus taurus   0                  NaN
16  Scarabaeoidea          Protaetia fieberi   0                  NaN
17  Scarabaeoidea          Rhysothorax rufus   0                  NaN
18  Scarabaeoidea            Tropinota hirta   0  Zottiger Rosenkäfer
19  Scarabaeoidea           Trox cadaverinus   0                  NaN
20  Scarabaeoidea              Trox hispidus   0                  NaN
21  Scarabaeoidea             Trox sabulosus   0                  NaN

In [156]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Coleoptera Scarabaeoidea Blatthornkäfer.csv', 
          index=False)

# 03.  Coleoptera_Wasserkäfer.csv

In [157]:
# Read file into dataframe

df = pd.read_csv('Coleoptera_Wasserkäfer.csv')
df.head()

,Species,RL,Gefährdungsursachen,Letzter Nachweis in Berlin
0,Hygrobia hermanni,0,?,"Weißensee, ca. 1900, HORION (1941) (ZMB)"
1,Brychius elevatus,0,5b,"Tempelhof, ca. 1900, coll. Weiß (ZMB)"
2,Agabus biguttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg."
3,Agabus clypealis,0,"2d, 11c","Dahlem, NSG Langes Luch, 1987, BH leg."
4,Agabus guttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg."

In [158]:
df

,Species,RL,Gefährdungsursachen,Letzter Nachweis in Berlin
0,Hygrobia hermanni,0,?,"Weißensee, ca. 1900, HORION (1941) (ZMB)"
1,Brychius elevatus,0,5b,"Tempelhof, ca. 1900, coll. Weiß (ZMB)"
2,Agabus biguttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg."
3,Agabus clypealis,0,"2d, 11c","Dahlem, NSG Langes Luch, 1987, BH leg."
4,Agabus guttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg."
5,Agabus labiatus,0,"1a, 5b","Tegel, Jungfernheide, ca. 1900, coll. Schilsky"
6,Agabus striolatus,0,"2d, 11c","Reinickendorf, ehem. Hermsdorfer See, 1994, BH"
7,Dytiscus latissimus,0,11c,"Tegel, Tegeler See, 1949, Weinhold leg."
8,Dytiscus semisulcatus,0,"1a, 5b","Pankow, Buch, 1926, Beck leg."
9,Graphoderus bilineatus,0,"5b, 11c, 12c","Berlin 10.1.1905, Sammlung Zimmermann (ZSM)"
10,Graphoderus zonatus,0,"5b, 11c, 12c","Zehlendorf, Buschgraben, 2001, Hendrich leg."
11,Hydroporus elongatulus,0,"2d, 11c, 12c","Köpenick, Gosener Wiesen, 1996, Hendrich leg."
12,Hydroporus glabriusculus,0,"2d, 11c","Spandau, NSG Großer u. Kleiner Rohrpfuhl, 1993,"
13,Hydroporus gyllenhalii,0,1a,"Spandau, ca. 1920, Schöppa leg. (HORION 1941)"
14,Hydroporus notatus,0,1a,"Karlshorst, 1913, Ahlwarth leg. (ZMB)"
15,Hydroporus rufifrons,0,"2d, 11c, 12c","Wannsee, NSG Bäkewiese, 1995, BH leg."
16,Ilybius aenescens,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1987, Schlarbaum"
17,Ilybius similis,0,"2d, 11c","Grunewald, NSG Hundekehlefenn, 1990, BH leg."
18,Rhantus notaticollis,0,12c,"Karlshorst, 1913, Ahlwarth leg. (ZMB)"
19,Rhantus suturellus,0,"2d, 11c","Schmöckwitz, ND Langes Luch, 1995, Hendrich"
20,Suphrodytes dorsalis,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1986, Hendrich leg."
21,Gyrinus distinctus,0,"3b, 5, 11c","Havelufer, Großes Fenster, 1989, BH leg."
22,Gyrinus marinus,0,"3b, 5, 11c","Buch, Karower Teiche, 1996, Hendrich leg."
23,Gyrinus minutus,0,"2d, 11c","Reinickendorf, Tegeler Fließ, 1989, BH leg."
24,Gyrinus natator,0,"2d, 11c","Grunewald, NSG Teufelsfenn, 1959, Fery leg. (CF)"
25,Hydrochus megaphallus,0,?,"Tegel, Jungfernheide, ca. 1920, Zumpt leg."
26,Helophorus tuberculatus,0,Ausbleiben,"Tiergarten, 1889, Habelmann leg."
27,Stenelmis canaliculata,0,"5a, 11c","Berlin, 10.8.1900, 2 Exemplare, Maas leg. (MNG)"
28,Dryops griseus,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1973, Korge leg. (CK)"
29,Dryops nitidulus,0,?,"Lichterfelde, US-Truppenübungsplatz, 1983, Hen-"
30,Dryops similaris,0,1a,"Spandau, Elsgraben, 1921, leg. ? (CK)"

In [159]:
# Adding family

i = 0;
while i < 31:
    if i == 0:
        df.at[i,"Family"] = "Hygrobiidae"
    elif i == 1:
        df.at[i,"Family"] = "Haliplidae"
    elif ((i > 1) & (i < 21)):
        df.at[i,"Family"] = "Dytiscidae" 
    elif ((i > 20) & (i < 25)):
        df.at[i,"Family"] = "Gyrinidae"
    elif (i == 25):
        df.at[i,"Family"] = "Hydrochidae"
    elif (i == 26):
        df.at[i,"Family"] = "Helophoridae"
    elif (i == 27):
        df.at[i,"Family"] = "Elmidae"
    else:
        df.at[i,"Family"] = "Dryopidae"
    i = i + 1

df

,Species,RL,Gefährdungsursachen,Letzter Nachweis in Berlin,Family
0,Hygrobia hermanni,0,?,"Weißensee, ca. 1900, HORION (1941) (ZMB)",Hygrobiidae
1,Brychius elevatus,0,5b,"Tempelhof, ca. 1900, coll. Weiß (ZMB)",Haliplidae
2,Agabus biguttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg.",Dytiscidae
3,Agabus clypealis,0,"2d, 11c","Dahlem, NSG Langes Luch, 1987, BH leg.",Dytiscidae
4,Agabus guttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg.",Dytiscidae
5,Agabus labiatus,0,"1a, 5b","Tegel, Jungfernheide, ca. 1900, coll. Schilsky",Dytiscidae
6,Agabus striolatus,0,"2d, 11c","Reinickendorf, ehem. Hermsdorfer See, 1994, BH",Dytiscidae
7,Dytiscus latissimus,0,11c,"Tegel, Tegeler See, 1949, Weinhold leg.",Dytiscidae
8,Dytiscus semisulcatus,0,"1a, 5b","Pankow, Buch, 1926, Beck leg.",Dytiscidae
9,Graphoderus bilineatus,0,"5b, 11c, 12c","Berlin 10.1.1905, Sammlung Zimmermann (ZSM)",Dytiscidae
10,Graphoderus zonatus,0,"5b, 11c, 12c","Zehlendorf, Buschgraben, 2001, Hendrich leg.",Dytiscidae
11,Hydroporus elongatulus,0,"2d, 11c, 12c","Köpenick, Gosener Wiesen, 1996, Hendrich leg.",Dytiscidae
12,Hydroporus glabriusculus,0,"2d, 11c","Spandau, NSG Großer u. Kleiner Rohrpfuhl, 1993,",Dytiscidae
13,Hydroporus gyllenhalii,0,1a,"Spandau, ca. 1920, Schöppa leg. (HORION 1941)",Dytiscidae
14,Hydroporus notatus,0,1a,"Karlshorst, 1913, Ahlwarth leg. (ZMB)",Dytiscidae
15,Hydroporus rufifrons,0,"2d, 11c, 12c","Wannsee, NSG Bäkewiese, 1995, BH leg.",Dytiscidae
16,Ilybius aenescens,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1987, Schlarbaum",Dytiscidae
17,Ilybius similis,0,"2d, 11c","Grunewald, NSG Hundekehlefenn, 1990, BH leg.",Dytiscidae
18,Rhantus notaticollis,0,12c,"Karlshorst, 1913, Ahlwarth leg. (ZMB)",Dytiscidae
19,Rhantus suturellus,0,"2d, 11c","Schmöckwitz, ND Langes Luch, 1995, Hendrich",Dytiscidae
20,Suphrodytes dorsalis,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1986, Hendrich leg.",Dytiscidae
21,Gyrinus distinctus,0,"3b, 5, 11c","Havelufer, Großes Fenster, 1989, BH leg.",Gyrinidae
22,Gyrinus marinus,0,"3b, 5, 11c","Buch, Karower Teiche, 1996, Hendrich leg.",Gyrinidae
23,Gyrinus minutus,0,"2d, 11c","Reinickendorf, Tegeler Fließ, 1989, BH leg.",Gyrinidae
24,Gyrinus natator,0,"2d, 11c","Grunewald, NSG Teufelsfenn, 1959, Fery leg. (CF)",Gyrinidae
25,Hydrochus megaphallus,0,?,"Tegel, Jungfernheide, ca. 1920, Zumpt leg.",Hydrochidae
26,Helophorus tuberculatus,0,Ausbleiben,"Tiergarten, 1889, Habelmann leg.",Helophoridae
27,Stenelmis canaliculata,0,"5a, 11c","Berlin, 10.8.1900, 2 Exemplare, Maas leg. (MNG)",Elmidae
28,Dryops griseus,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1973, Korge leg. (CK)",Dryopidae
29,Dryops nitidulus,0,?,"Lichterfelde, US-Truppenübungsplatz, 1983, Hen-",Dryopidae
30,Dryops similaris,0,1a,"Spandau, Elsgraben, 1921, leg. ? (CK)",Dryopidae

In [160]:
df = df.reindex(columns=['Family',
                         'Species', 
                         'RL', 
                         'Letzter Nachweis in Berlin'])
df

,Family,Species,RL,Letzter Nachweis in Berlin
0,Hygrobiidae,Hygrobia hermanni,0,"Weißensee, ca. 1900, HORION (1941) (ZMB)"
1,Haliplidae,Brychius elevatus,0,"Tempelhof, ca. 1900, coll. Weiß (ZMB)"
2,Dytiscidae,Agabus biguttatus,0,"Frohnau, Bieselfließ, 1996, Hendrich leg."
3,Dytiscidae,Agabus clypealis,0,"Dahlem, NSG Langes Luch, 1987, BH leg."
4,Dytiscidae,Agabus guttatus,0,"Frohnau, Bieselfließ, 1996, Hendrich leg."
5,Dytiscidae,Agabus labiatus,0,"Tegel, Jungfernheide, ca. 1900, coll. Schilsky"
6,Dytiscidae,Agabus striolatus,0,"Reinickendorf, ehem. Hermsdorfer See, 1994, BH"
7,Dytiscidae,Dytiscus latissimus,0,"Tegel, Tegeler See, 1949, Weinhold leg."
8,Dytiscidae,Dytiscus semisulcatus,0,"Pankow, Buch, 1926, Beck leg."
9,Dytiscidae,Graphoderus bilineatus,0,"Berlin 10.1.1905, Sammlung Zimmermann (ZSM)"
10,Dytiscidae,Graphoderus zonatus,0,"Zehlendorf, Buschgraben, 2001, Hendrich leg."
11,Dytiscidae,Hydroporus elongatulus,0,"Köpenick, Gosener Wiesen, 1996, Hendrich leg."
12,Dytiscidae,Hydroporus glabriusculus,0,"Spandau, NSG Großer u. Kleiner Rohrpfuhl, 1993,"
13,Dytiscidae,Hydroporus gyllenhalii,0,"Spandau, ca. 1920, Schöppa leg. (HORION 1941)"
14,Dytiscidae,Hydroporus notatus,0,"Karlshorst, 1913, Ahlwarth leg. (ZMB)"
15,Dytiscidae,Hydroporus rufifrons,0,"Wannsee, NSG Bäkewiese, 1995, BH leg."
16,Dytiscidae,Ilybius aenescens,0,"Spandau, NSG Teufelsbruch, 1987, Schlarbaum"
17,Dytiscidae,Ilybius similis,0,"Grunewald, NSG Hundekehlefenn, 1990, BH leg."
18,Dytiscidae,Rhantus notaticollis,0,"Karlshorst, 1913, Ahlwarth leg. (ZMB)"
19,Dytiscidae,Rhantus suturellus,0,"Schmöckwitz, ND Langes Luch, 1995, Hendrich"
20,Dytiscidae,Suphrodytes dorsalis,0,"Spandau, NSG Teufelsbruch, 1986, Hendrich leg."
21,Gyrinidae,Gyrinus distinctus,0,"Havelufer, Großes Fenster, 1989, BH leg."
22,Gyrinidae,Gyrinus marinus,0,"Buch, Karower Teiche, 1996, Hendrich leg."
23,Gyrinidae,Gyrinus minutus,0,"Reinickendorf, Tegeler Fließ, 1989, BH leg."
24,Gyrinidae,Gyrinus natator,0,"Grunewald, NSG Teufelsfenn, 1959, Fery leg. (CF)"
25,Hydrochidae,Hydrochus megaphallus,0,"Tegel, Jungfernheide, ca. 1920, Zumpt leg."
26,Helophoridae,Helophorus tuberculatus,0,"Tiergarten, 1889, Habelmann leg."
27,Elmidae,Stenelmis canaliculata,0,"Berlin, 10.8.1900, 2 Exemplare, Maas leg. (MNG)"
28,Dryopidae,Dryops griseus,0,"Spandau, NSG Teufelsbruch, 1973, Korge leg. (CK)"
29,Dryopidae,Dryops nitidulus,0,"Lichterfelde, US-Truppenübungsplatz, 1983, Hen-"
30,Dryopidae,Dryops similaris,0,"Spandau, Elsgraben, 1921, leg. ? (CK)"

In [161]:
df.rename({
    "RL": "BE",
    "Letzter Nachweis in Berlin": "Letzter Nachweis"
}, 
    axis='columns',
    inplace = True
)

In [162]:
df.head()

,Family,Species,BE,Letzter Nachweis
0,Hygrobiidae,Hygrobia hermanni,0,"Weißensee, ca. 1900, HORION (1941) (ZMB)"
1,Haliplidae,Brychius elevatus,0,"Tempelhof, ca. 1900, coll. Weiß (ZMB)"
2,Dytiscidae,Agabus biguttatus,0,"Frohnau, Bieselfließ, 1996, Hendrich leg."
3,Dytiscidae,Agabus clypealis,0,"Dahlem, NSG Langes Luch, 1987, BH leg."
4,Dytiscidae,Agabus guttatus,0,"Frohnau, Bieselfließ, 1996, Hendrich leg."

In [163]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Coleoptera_Wasserkäfer.csv', 
          index=False)

# 04.Coleoptera_Bostrichoidea_Cleroidea_Cucujoidea_Elateroidea_Lymexyloidea_Tenebrioidea.csv

In [164]:
# Read file into dataframe

df = pd.read_csv('Coleoptera_Bostrichoidea_Cleroidea_Cucujoidea_Elateroidea_Lymexyloidea_Tenebrioidea.csv')
df.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,Neobiota,Letzter_Nachweis
0,"Lichenophanes varius (ILLIGER, 1801)",0,ex,NaN,NaN,NaN,NaN,2.0,NaN,NaN,vor 1900
1,"Endecatomus reticulatus (HERBST, 1793)",0,ex,NaN,NaN,NaN,NaN,0.0,NaN,NaN,vor 1900
2,"Anobium emarginatum DUFTSCHMID, 1825",0,ex,NaN,NaN,NaN,NaN,3.0,NaN,NaN,vor 1900
3,"Ernobius mulsanti KIESENWETTER, 1877",0,ex,NaN,NaN,NaN,NaN,0.0,NaN,NaN,vor 1900
4,"Xyletinus pectinatus (FABRICIUS, 1792)",0,ex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,vor 1900

In [165]:
df.describe()

         BE  Trend_lang  Trend_kurz   RF   BB          D   GS  Neobiota
count  40.0         0.0         0.0  0.0  0.0  23.000000  0.0       0.0
mean    0.0         NaN         NaN  NaN  NaN   1.739130  NaN       NaN
std     0.0         NaN         NaN  NaN  NaN   0.915393  NaN       NaN
min     0.0         NaN         NaN  NaN  NaN   0.000000  NaN       NaN
25%     0.0         NaN         NaN  NaN  NaN   1.000000  NaN       NaN
50%     0.0         NaN         NaN  NaN  NaN   2.000000  NaN       NaN
75%     0.0         NaN         NaN  NaN  NaN   2.000000  NaN       NaN
max     0.0         NaN         NaN  NaN  NaN   3.000000  NaN       NaN

In [166]:
# Removing columns Trend_lang, Trend_kurz, RF, BB, D, GS, Neobiota
df.drop(columns = ["Trend_lang", "Trend_kurz", "RF", "BB", "D", "GS", "Neobiota", "Bestand"], inplace = True)
df

                                          Species  BE Letzter_Nachweis
0            Lichenophanes varius (ILLIGER, 1801)   0         vor 1900
1          Endecatomus reticulatus (HERBST, 1793)   0         vor 1900
2            Anobium emarginatum DUFTSCHMID, 1825   0         vor 1900
3            Ernobius mulsanti KIESENWETTER, 1877   0         vor 1900
4          Xyletinus pectinatus (FABRICIUS, 1792)   0         vor 1900
5   Dermestoides sanguinicollis (FABRICIUS, 1787)   0         vor 1900
6                Korynetes ruficornis STURM, 1837   0         vor 1900
7                  Opilo domesticus (STURM, 1837)   0         vor 1900
8                Trichodes apiarius (LINNÉ, 1758)   0         vor 1900
9            Trichoceble floralis (OLIVIER, 1790)   0         vor 1900
10          Phloiophilus edwardsii STEPHENS, 1830   0         vor 1900
11            Temnoscheila caerulea OLIVIER, 1790   0         vor 1900
12                  Atomaria badia ERICHSON, 1846   0         vor 1900
13                  Atomaria munda ERICHSON, 1846   0         vor 1900
14                  Atomaria peltata KRAATZ, 1853   0         vor 1900
15              Atomaria procerula ERICHSON, 1846   0         vor 1900
16                Atomaria pulchra ERICHSON, 1846   0         vor 1900
17           Cryptophagus subfumatus KRAATZ, 1856   0         vor 1900
18        Pediacus dermestoides (FABRICIUS, 1792)   0         vor 1900
19             Triplax lepida (FALDERMANN, 1835)*   0         vor 1900
20           Triplax scutellaris CARPENTIER, 1825   0         vor 1900
21            Cryptolestes weisei (REITTER, 1879)   0         vor 1900
22        Notolaemus unifasciatus (PAYKULL, 1801)   0         vor 1900
23            Monotoma quadrifoveolata AUBÉ, 1837   0         vor 1900
24                 Nitidula rufipes (LINNÉ, 1767)   0         vor 1900
25            Ampedus praeustus (FABRICIUS, 1792)   0         vor 1900
26            Ampedus rufipennis (STEPHENS, 1830)   0         vor 1900
27        Megapenthes lugens (REDTENBACHER, 1842)   0         vor 1900
28        Melanotus crassicollis (ERICHSON, 1841)   0         vor 1900
29               Trixagus obtusus (CURTIS, 1827)*   0         vor 1900
30             Aglenus brunneus (GYLLENHAL, 1813)   0         vor 1900
31            Osphya bipunctata (FABRICIUS, 1775)   0         vor 1900
32             Xylita laevigata (HELLENIUS, 1786)   0         vor 1900
33           Anogcodes ferruginea (SCHRANK, 1776)   0         vor 1900
34               Salpingus aeneus (OLIVIER, 1790)   0         vor 1900
35                  Corticeus suberis LUCAS, 1846   0         vor 1900
36          Menephilus cylindricus (HERBST, 1784)   0         vor 1900
37         Mycetochara flavipes (FABRICIUS, 1792)   0         vor 1900
38       Mycetochara pygmaea (REDTENBACHER, 1874)   0         vor 1900
39                Omophlus betulae (HERBST, 1783)   0         vor 1900

In [167]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")

In [168]:
df.head()

                   Species  BE Letzter_Nachweis
0     Lichenophanes varius   0         vor 1900
1  Endecatomus reticulatus   0         vor 1900
2      Anobium emarginatum   0         vor 1900
3        Ernobius mulsanti   0         vor 1900
4     Xyletinus pectinatus   0         vor 1900

In [169]:
# Adding family

i = 0;
while i < 40:
    if (i >= 0) & (i <= 4):
        df.at[i,"Superfamily"] = "Bostrichoidea"
        
        if i == 0:
            df.at[i,"Family"] = "Bostrichidae"
        elif i == 1:
            df.at[i,"Family"] = "Endecatomidae"
        elif ((i > 1) & (i <= 4)):
            df.at[i,"Family"] = "Ptinidae" 
    elif (i > 4) & (i <= 11):
        df.at[i,"Superfamily"] = "Cleroidea"
        
        if ((i > 4) & (i <= 8)):
            df.at[i,"Family"] = "Cleridae"
        elif (i == 9):
            df.at[i,"Family"] = "Dasytidae"
        elif (i == 10):
            df.at[i,"Family"] = "Phloiophilidae"
        elif (i == 11):
            df.at[i,"Family"] = "Trogossitidae"
            
    elif (i > 11) & (i <= 24):
        df.at[i,"Superfamily"] = "Cucujoidea"
        
        if ((i > 11) & (i <= 17)):
            df.at[i,"Family"] = "Cleridae"
        elif (i == 18):
            df.at[i,"Family"] = "Cucujidae"
        elif ((i > 18) & (i <= 20)):
            df.at[i,"Family"] = "Erotylidae"
        elif ((i > 20) & (i <= 22)):
            df.at[i,"Family"] = "Laemophloeidae"
        elif (i == 23):
            df.at[i,"Family"] = "Monotomidae"
        elif (i == 24):
            df.at[i,"Family"] = "Nitidulidae"
            
    elif (i > 24) & (i <= 29):
        df.at[i,"Superfamily"] = "Elateroidea"

        if ((i > 24) & (i <= 28)):
            df.at[i,"Family"] = "Elateridae"
        elif (i == 29):
            df.at[i,"Family"] = "Throscidae"           
            
    elif (i > 29):
        df.at[i,"Superfamily"] = "Tenebrioidea"
        
        if (i == 30):
            df.at[i,"Family"] = "Colydiidae"
        elif ((i > 30) & (i <= 32)):
            df.at[i,"Family"] = "Melandryidae"
        elif (i == 33):
            df.at[i,"Family"] = "Oedemeridae"
        elif (i == 34):
            df.at[i,"Family"] = "Salpingidae"
        else:
            df.at[i,"Family"] = "Tenebrionidae"
                
    i = i + 1

df

,Species,BE,Letzter_Nachweis,Superfamily,Family
0,Lichenophanes varius,0,vor 1900,Bostrichoidea,Bostrichidae
1,Endecatomus reticulatus,0,vor 1900,Bostrichoidea,Endecatomidae
2,Anobium emarginatum,0,vor 1900,Bostrichoidea,Ptinidae
3,Ernobius mulsanti,0,vor 1900,Bostrichoidea,Ptinidae
4,Xyletinus pectinatus,0,vor 1900,Bostrichoidea,Ptinidae
5,Dermestoides sanguinicollis,0,vor 1900,Cleroidea,Cleridae
6,Korynetes ruficornis,0,vor 1900,Cleroidea,Cleridae
7,Opilo domesticus,0,vor 1900,Cleroidea,Cleridae
8,Trichodes apiarius,0,vor 1900,Cleroidea,Cleridae
9,Trichoceble floralis,0,vor 1900,Cleroidea,Dasytidae
10,Phloiophilus edwardsii,0,vor 1900,Cleroidea,Phloiophilidae
11,Temnoscheila caerulea,0,vor 1900,Cleroidea,Trogossitidae
12,Atomaria badia,0,vor 1900,Cucujoidea,Cleridae
13,Atomaria munda,0,vor 1900,Cucujoidea,Cleridae
14,Atomaria peltata,0,vor 1900,Cucujoidea,Cleridae
15,Atomaria procerula,0,vor 1900,Cucujoidea,Cleridae
16,Atomaria pulchra,0,vor 1900,Cucujoidea,Cleridae
17,Cryptophagus subfumatus,0,vor 1900,Cucujoidea,Cleridae
18,Pediacus dermestoides,0,vor 1900,Cucujoidea,Cucujidae
19,Triplax lepida,0,vor 1900,Cucujoidea,Erotylidae
20,Triplax scutellaris,0,vor 1900,Cucujoidea,Erotylidae
21,Cryptolestes weisei,0,vor 1900,Cucujoidea,Laemophloeidae
22,Notolaemus unifasciatus,0,vor 1900,Cucujoidea,Laemophloeidae
23,Monotoma quadrifoveolata,0,vor 1900,Cucujoidea,Monotomidae
24,Nitidula rufipes,0,vor 1900,Cucujoidea,Nitidulidae
25,Ampedus praeustus,0,vor 1900,Elateroidea,Elateridae
26,Ampedus rufipennis,0,vor 1900,Elateroidea,Elateridae
27,Megapenthes lugens,0,vor 1900,Elateroidea,Elateridae
28,Melanotus crassicollis,0,vor 1900,Elateroidea,Elateridae
29,Trixagus obtusus,0,vor 1900,Elateroidea,Throscidae
30,Aglenus brunneus,0,vor 1900,Tenebrioidea,Colydiidae
31,Osphya bipunctata,0,vor 1900,Tenebrioidea,Melandryidae
32,Xylita laevigata,0,vor 1900,Tenebrioidea,Melandryidae
33,Anogcodes ferruginea,0,vor 1900,Tenebrioidea,Oedemeridae
34,Salpingus aeneus,0,vor 1900,Tenebrioidea,Salpingidae
35,Corticeus suberis,0,vor 1900,Tenebrioidea,Tenebrionidae
36,Menephilus cylindricus,0,vor 1900,Tenebrioidea,Tenebrionidae
37,Mycetochara flavipes,0,vor 1900,Tenebrioidea,Tenebrionidae
38,Mycetochara pygmaea,0,vor 1900,Tenebrioidea,Tenebrionidae
39,Omophlus betulae,0,vor 1900,Tenebrioidea,Tenebrionidae

In [170]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Coleoptera_Bostrichoidea_Cleroidea_Cucujoidea_Elateroidea_Lymexyloidea_Tenebrioidea.csv', 
          index=False)

# 05. Coleoptera_Buprestidae_Prachtkäfer.csv

In [171]:
# Read file into dataframe

df = pd.read_csv('Coleoptera_Buprestidae_Prachtkäfer.csv')
df.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,Gfu,Vorzugs-habitat,Letzter Nachweis
0,"Dicerca berolinensis (HERBST, 1779)*",0,ex,NaN,NaN,NaN,1.0,2,§,"9, 12b, 14a, 14f?",WB,vor 1907
1,"Dicerca alni (FISCHER VON WALDHEIM, 1824)",0,ex,NaN,NaN,NaN,1.0,2,§,"9, 12b, 14a",WM,vor 1900
2,"Buprestis haemorrhoidalis HERBST, 1780*",0,ex,NaN,NaN,NaN,0.0,2,§,14a?,"WK, WN",1937
3,"Melanophila acuminata (DEGEER, 1774)*",0,ex,NaN,NaN,NaN,NaN,2,§,"12b, 14a","WK, WN",1970
4,"Anthaxia senicula (SCHRANK, 1789)*",0,ex,NaN,NaN,NaN,NaN,NaN,NaN,"2a, 9, 12b, 14a",WH,vor 1900

In [172]:
df.describe(include= 'all')

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,Gfu,Vorzugs-habitat,Letzter Nachweis
count,7,7.0,7,0.0,0.0,0.0,5.000000,6,6,7,7,7
unique,7,NaN,1,NaN,NaN,NaN,NaN,3,1,7,6,5
top,"Dicerca berolinensis (HERBST, 1779)*",NaN,ex,NaN,NaN,NaN,NaN,2,§,"9, 12b, 14a, 14f?","WK, WN",vor 1900
freq,1,NaN,7,NaN,NaN,NaN,NaN,4,6,1,2,2
mean,NaN,0.0,NaN,NaN,NaN,NaN,0.800000,NaN,NaN,NaN,NaN,NaN
std,NaN,0.0,NaN,NaN,NaN,NaN,0.447214,NaN,NaN,NaN,NaN,NaN
min,NaN,0.0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,0.0,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN
50%,NaN,0.0,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,0.0,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN
max,NaN,0.0,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN

In [173]:
# Removing columns Trend_lang, Trend_kurz, RF, BB, D, GS, Gfu, Vorzugs-habitat, Bestand
df.drop(columns = ["Trend_lang", 
                   "Trend_kurz", 
                   "RF", 
                   "BB", 
                   "D", 
                   "GS", 
                   "Gfu", 
                   "Vorzugs-habitat",
                   "Bestand"], inplace = True)
df

                                     Species  BE Letzter Nachweis
0       Dicerca berolinensis (HERBST, 1779)*   0         vor 1907
1  Dicerca alni (FISCHER VON WALDHEIM, 1824)   0         vor 1900
2    Buprestis haemorrhoidalis HERBST, 1780*   0             1937
3      Melanophila acuminata (DEGEER, 1774)*   0             1970
4         Anthaxia senicula (SCHRANK, 1789)*   0         vor 1900
5   Aphanisticus emarginatus (OLIVIER, 1790)   0         vor 1919
6      Aphanisticus pusillus (OLIVIER, 1790)   0             1970

In [174]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")

In [175]:
df.head()

                     Species  BE Letzter Nachweis
0       Dicerca berolinensis   0         vor 1907
1               Dicerca alni   0         vor 1900
2  Buprestis haemorrhoidalis   0             1937
3      Melanophila acuminata   0             1970
4          Anthaxia senicula   0         vor 1900

In [176]:
df["Family"] = "Buprestidae"
df.head()

                     Species  BE Letzter Nachweis       Family
0       Dicerca berolinensis   0         vor 1907  Buprestidae
1               Dicerca alni   0         vor 1900  Buprestidae
2  Buprestis haemorrhoidalis   0             1937  Buprestidae
3      Melanophila acuminata   0             1970  Buprestidae
4          Anthaxia senicula   0         vor 1900  Buprestidae

In [177]:
df.at[0,"Subfamily"] = "Chrysochroinae"
df.head()

                     Species  BE Letzter Nachweis       Family       Subfamily
0       Dicerca berolinensis   0         vor 1907  Buprestidae  Chrysochroinae
1               Dicerca alni   0         vor 1900  Buprestidae             NaN
2  Buprestis haemorrhoidalis   0             1937  Buprestidae             NaN
3      Melanophila acuminata   0             1970  Buprestidae             NaN
4          Anthaxia senicula   0         vor 1900  Buprestidae             NaN

In [178]:
df.at[1,"Subfamily"] = "Chrysochroinae"
df.head()

                     Species  BE Letzter Nachweis       Family       Subfamily
0       Dicerca berolinensis   0         vor 1907  Buprestidae  Chrysochroinae
1               Dicerca alni   0         vor 1900  Buprestidae  Chrysochroinae
2  Buprestis haemorrhoidalis   0             1937  Buprestidae             NaN
3      Melanophila acuminata   0             1970  Buprestidae             NaN
4          Anthaxia senicula   0         vor 1900  Buprestidae             NaN

In [179]:
df.at[2,"Subfamily"] = "Buprestinae"
df.head()

                     Species  BE Letzter Nachweis       Family       Subfamily
0       Dicerca berolinensis   0         vor 1907  Buprestidae  Chrysochroinae
1               Dicerca alni   0         vor 1900  Buprestidae  Chrysochroinae
2  Buprestis haemorrhoidalis   0             1937  Buprestidae     Buprestinae
3      Melanophila acuminata   0             1970  Buprestidae             NaN
4          Anthaxia senicula   0         vor 1900  Buprestidae             NaN

In [180]:
df.at[3,"Subfamily"] = "Buprestinae"
df.head()

                     Species  BE Letzter Nachweis       Family       Subfamily
0       Dicerca berolinensis   0         vor 1907  Buprestidae  Chrysochroinae
1               Dicerca alni   0         vor 1900  Buprestidae  Chrysochroinae
2  Buprestis haemorrhoidalis   0             1937  Buprestidae     Buprestinae
3      Melanophila acuminata   0             1970  Buprestidae     Buprestinae
4          Anthaxia senicula   0         vor 1900  Buprestidae             NaN

In [181]:
df.at[4,"Subfamily"] = "Buprestinae"
df.head()

                     Species  BE Letzter Nachweis       Family       Subfamily
0       Dicerca berolinensis   0         vor 1907  Buprestidae  Chrysochroinae
1               Dicerca alni   0         vor 1900  Buprestidae  Chrysochroinae
2  Buprestis haemorrhoidalis   0             1937  Buprestidae     Buprestinae
3      Melanophila acuminata   0             1970  Buprestidae     Buprestinae
4          Anthaxia senicula   0         vor 1900  Buprestidae     Buprestinae

In [182]:
df

                     Species  BE Letzter Nachweis       Family       Subfamily
0       Dicerca berolinensis   0         vor 1907  Buprestidae  Chrysochroinae
1               Dicerca alni   0         vor 1900  Buprestidae  Chrysochroinae
2  Buprestis haemorrhoidalis   0             1937  Buprestidae     Buprestinae
3      Melanophila acuminata   0             1970  Buprestidae     Buprestinae
4          Anthaxia senicula   0         vor 1900  Buprestidae     Buprestinae
5   Aphanisticus emarginatus   0         vor 1919  Buprestidae             NaN
6      Aphanisticus pusillus   0             1970  Buprestidae             NaN

In [183]:
df.at[5,"Subfamily"] = "Agrilinae"
df

                     Species  BE Letzter Nachweis       Family       Subfamily
0       Dicerca berolinensis   0         vor 1907  Buprestidae  Chrysochroinae
1               Dicerca alni   0         vor 1900  Buprestidae  Chrysochroinae
2  Buprestis haemorrhoidalis   0             1937  Buprestidae     Buprestinae
3      Melanophila acuminata   0             1970  Buprestidae     Buprestinae
4          Anthaxia senicula   0         vor 1900  Buprestidae     Buprestinae
5   Aphanisticus emarginatus   0         vor 1919  Buprestidae       Agrilinae
6      Aphanisticus pusillus   0             1970  Buprestidae             NaN

In [184]:
df.at[6,"Subfamily"] = "Agrilinae"
df

                     Species  BE Letzter Nachweis       Family       Subfamily
0       Dicerca berolinensis   0         vor 1907  Buprestidae  Chrysochroinae
1               Dicerca alni   0         vor 1900  Buprestidae  Chrysochroinae
2  Buprestis haemorrhoidalis   0             1937  Buprestidae     Buprestinae
3      Melanophila acuminata   0             1970  Buprestidae     Buprestinae
4          Anthaxia senicula   0         vor 1900  Buprestidae     Buprestinae
5   Aphanisticus emarginatus   0         vor 1919  Buprestidae       Agrilinae
6      Aphanisticus pusillus   0             1970  Buprestidae       Agrilinae

In [185]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Coleoptera_Buprestidae_Prachtkäfer.csv', 
          index=False)

# 06. Coleoptera_Carabidae_Laufkäfer.csv

In [186]:
# Read file into dataframe

df = pd.read_csv('Coleoptera_Carabidae_Laufkäfer.csv')
df.head()

,Species,BE,BB,DE,GS,Häufigkeit,Vorzugshabitate,Gefährdungsursachen
0,Acupalpus maculatus (SCHAUM)*,0,2,3,NaN,ex,(1)?,"1c, 12a"
1,Agonum gracilipes (DUFTSCHMID)*,0,1,D,NaN,ex,(7),?
2,Agonum hypocrita (APFELBECK)*,0,1,1,NaN,ex,2,"2d, 11c"
3,Agonum impressum (PANZER)*,0,1,1,NaN,ex,1,"3a, 5a, 12c"
4,Amara famelica ZIMMERMANN*,0,R,2,NaN,ex,(14)?,?

In [187]:
df.describe(include = "all")

,Species,BE,BB,DE,GS,Häufigkeit,Vorzugshabitate,Gefährdungsursachen
count,34,34.0,34,34,9,34,34,34
unique,34,NaN,4,7,2,1,18,17
top,Acupalpus maculatus (SCHAUM)*,NaN,1,2,§,ex,1,?
freq,1,NaN,11,11,7,34,9,7
mean,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [188]:
# Removing columns Trend_lang, Trend_kurz, RF, BB, D, GS, Gfu, Vorzugs-habitat, Bestand
df.drop(columns = ["BB", 
                   "DE", 
                   "GS", 
                   "Häufigkeit", 
                   "Vorzugshabitate", 
                   "Gefährdungsursachen"], inplace = True)
df

                                      Species  BE
0               Acupalpus maculatus (SCHAUM)*   0
1             Agonum gracilipes (DUFTSCHMID)*   0
2               Agonum hypocrita (APFELBECK)*   0
3                  Agonum impressum (PANZER)*   0
4                  Amara famelica ZIMMERMANN*   0
5     Anisodactylus nemorivagus (DUFTSCHMID)*   0
6                   Bembidion humerale STURM*   0
7              Bembidion punctulatum DRAPIEZ*   0
8          Bembidion semipunctatum (DONOVAN)*   0
9             Bembidion striatum (FABRICIUS)*   0
10                Bembidion velox (LINNAEUS)*   0
11      Callisthenes reticulatus (FABRICIUS)*   0
12            Calosoma sycophanta (LINNAEUS)*   0
13               Carabus cancellatus ILLIGER*   0
14                Carabus clatratus LINNAEUS*   0
15                 Carabus glabratus PAYKULL*   0
16               Carabus intricatus LINNAEUS*   0
17                   Carabus nitens LINNAEUS*   0
18              Carabus problematicus HERBST*   0
19        Chlaenius costulatus (MOTSCHULSKY)*   0
20             Chlaenius nitidulus (SCHRANK)*   0
21           Chlaenius sulcicollis (PAYKULL)*   0
22   Cylindera arenaria viennensis (SCHRANK)*   0
23              Dolichus halensis (SCHALLER)*   0
24              Dyschirius chalceus ERICHSON*   0
25            Dyschirius neresheimeri WAGNER*   0
26               Dyschirius nitidus (DEJEAN)*   0
27           Dyschirius obscurus (GYLLENHAL)*   0
28              Elaphropus parvulus (DEJEAN)*   0
29      Limodromus longiventris (MANNERHEIM)*   0
30  Paratachys micros (FISCHER VON WALDHEIM)*   0
31             Pterostichus ovoideus (STURM)*   0
32              Pterostichus taksonyis CSIKI*   0
33        Sphodrus leucophthalmus (LINNAEUS)*   0

In [189]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

                      Species  BE
0         Acupalpus maculatus   0
1           Agonum gracilipes   0
2            Agonum hypocrita   0
3            Agonum impressum   0
4              Amara famelica   0
5   Anisodactylus nemorivagus   0
6          Bembidion humerale   0
7       Bembidion punctulatum   0
8     Bembidion semipunctatum   0
9          Bembidion striatum   0
10            Bembidion velox   0
11   Callisthenes reticulatus   0
12        Calosoma sycophanta   0
13        Carabus cancellatus   0
14          Carabus clatratus   0
15          Carabus glabratus   0
16         Carabus intricatus   0
17             Carabus nitens   0
18      Carabus problematicus   0
19       Chlaenius costulatus   0
20        Chlaenius nitidulus   0
21      Chlaenius sulcicollis   0
22         Cylindera arenaria   0
23          Dolichus halensis   0
24        Dyschirius chalceus   0
25    Dyschirius neresheimeri   0
26         Dyschirius nitidus   0
27        Dyschirius obscurus   0
28        Elaphropus parvulus   0
29    Limodromus longiventris   0
30          Paratachys micros   0
31      Pterostichus ovoideus   0
32     Pterostichus taksonyis   0
33    Sphodrus leucophthalmus   0

In [190]:
df["Family"] = "Carabidae"
df

                      Species  BE     Family
0         Acupalpus maculatus   0  Carabidae
1           Agonum gracilipes   0  Carabidae
2            Agonum hypocrita   0  Carabidae
3            Agonum impressum   0  Carabidae
4              Amara famelica   0  Carabidae
5   Anisodactylus nemorivagus   0  Carabidae
6          Bembidion humerale   0  Carabidae
7       Bembidion punctulatum   0  Carabidae
8     Bembidion semipunctatum   0  Carabidae
9          Bembidion striatum   0  Carabidae
10            Bembidion velox   0  Carabidae
11   Callisthenes reticulatus   0  Carabidae
12        Calosoma sycophanta   0  Carabidae
13        Carabus cancellatus   0  Carabidae
14          Carabus clatratus   0  Carabidae
15          Carabus glabratus   0  Carabidae
16         Carabus intricatus   0  Carabidae
17             Carabus nitens   0  Carabidae
18      Carabus problematicus   0  Carabidae
19       Chlaenius costulatus   0  Carabidae
20        Chlaenius nitidulus   0  Carabidae
21      Chlaenius sulcicollis   0  Carabidae
22         Cylindera arenaria   0  Carabidae
23          Dolichus halensis   0  Carabidae
24        Dyschirius chalceus   0  Carabidae
25    Dyschirius neresheimeri   0  Carabidae
26         Dyschirius nitidus   0  Carabidae
27        Dyschirius obscurus   0  Carabidae
28        Elaphropus parvulus   0  Carabidae
29    Limodromus longiventris   0  Carabidae
30          Paratachys micros   0  Carabidae
31      Pterostichus ovoideus   0  Carabidae
32     Pterostichus taksonyis   0  Carabidae
33    Sphodrus leucophthalmus   0  Carabidae

In [191]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Coleoptera_Carabidae_Laufkäfer.csv', 
          index=False)

# 07. Coleoptera_Cerambycidae_Bockkäfer.csv

In [192]:
# Read file into dataframe

df = pd.read_csv('Coleoptera_Cerambycidae_Bockkäfer.csv')
df.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,GfU,Deutscher_Name
0,"Callidium aeneum (DEGEER, 1775)*",0,ex,NaN,NaN,NaN,2.0,NaN,§,NaN,NaN
1,"Cerambyx scopolii FÜESSLY, 1775*",0,ex,NaN,NaN,NaN,1.0,3.0,§,"2a, 14a",Kleiner Eichenbockkäfer
2,"Chlorophorus varius (O. F. MÜLLER, 1766)*",0,ex,NaN,NaN,NaN,NaN,1.0,§,"2a, 14a",NaN
3,"Lamia textor (LINNÉ, 1758)*",0,ex,NaN,NaN,NaN,1.0,2.0,§,"5a, 5b, 14a Weberbockkäfer",NaN
4,"Leiopus punctulatus (PAYKULL, 1800)*",0,ex,NaN,NaN,NaN,0.0,1.0,§,"2a, 14a",NaN

In [193]:
# Removing columns "Bestand","Trend_lang","Trend_kurz", "RF", "BB", "D", "GS", "GfU"
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "BB", 
                   "D", 
                   "GS", 
                   "GfU"
                  ], inplace = True)
df

                                     Species  BE           Deutscher_Name
0           Callidium aeneum (DEGEER, 1775)*   0                      NaN
1           Cerambyx scopolii FÜESSLY, 1775*   0  Kleiner Eichenbockkäfer
2  Chlorophorus varius (O. F. MÜLLER, 1766)*   0                      NaN
3                Lamia textor (LINNÉ, 1758)*   0                      NaN
4       Leiopus punctulatus (PAYKULL, 1800)*   0                      NaN
5            Necydalis ulmi CHEVROLAT, 1838*   0                      NaN
6  Phymatodes glabratus (CHARPENTIER, 1825)*   0                      NaN
7       Phytoecia molybdaena (DALMAN, 1817)*   0                      NaN

In [194]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

                Species  BE           Deutscher_Name
0      Callidium aeneum   0                      NaN
1     Cerambyx scopolii   0  Kleiner Eichenbockkäfer
2   Chlorophorus varius   0                      NaN
3          Lamia textor   0                      NaN
4   Leiopus punctulatus   0                      NaN
5        Necydalis ulmi   0                      NaN
6  Phymatodes glabratus   0                      NaN
7  Phytoecia molybdaena   0                      NaN

In [195]:
df["Family"] = "Cerambycidae"
df

                Species  BE           Deutscher_Name        Family
0      Callidium aeneum   0                      NaN  Cerambycidae
1     Cerambyx scopolii   0  Kleiner Eichenbockkäfer  Cerambycidae
2   Chlorophorus varius   0                      NaN  Cerambycidae
3          Lamia textor   0                      NaN  Cerambycidae
4   Leiopus punctulatus   0                      NaN  Cerambycidae
5        Necydalis ulmi   0                      NaN  Cerambycidae
6  Phymatodes glabratus   0                      NaN  Cerambycidae
7  Phytoecia molybdaena   0                      NaN  Cerambycidae

In [196]:
# Add Deutschename of Lamia textor at  3 Weberbockkäfer
df.at[3,"Deutscher_Name"] = "Weberbockkäfer"
df

                Species  BE           Deutscher_Name        Family
0      Callidium aeneum   0                      NaN  Cerambycidae
1     Cerambyx scopolii   0  Kleiner Eichenbockkäfer  Cerambycidae
2   Chlorophorus varius   0                      NaN  Cerambycidae
3          Lamia textor   0           Weberbockkäfer  Cerambycidae
4   Leiopus punctulatus   0                      NaN  Cerambycidae
5        Necydalis ulmi   0                      NaN  Cerambycidae
6  Phymatodes glabratus   0                      NaN  Cerambycidae
7  Phytoecia molybdaena   0                      NaN  Cerambycidae

In [197]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Coleoptera_Cerambycidae_Bockkäfer.csv', 
          index=False)

# 08. Coleoptera_Staphylinoidea_Histeridae_Stutzkäfer.csv

In [198]:
# Read file into dataframe

df = pd.read_csv('Coleoptera_Staphylinoidea_Histeridae_Stutzkäfer.csv')
df.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,GfU,Neobiota,Letzter_Nachweis
0,"Chetabraeus globulus (CREUTZER, 1799)",0,ex,NaN,NaN,NaN,kN,"6d, 7a, 8a, 8d, 8e",NaN,vor 1839
1,"Hypocacculus rufipes (KUGELANN, 1792)",0,ex,NaN,NaN,NaN,kN,"6d, 7a, 8a, 8d, 8e",NaN,vor 1860
2,"Platysoma angustum (HOFFMANN, 1803)",0,ex,NaN,NaN,NaN,kN,"2a, 14a",NaN,vor 1950
3,"Platysoma deplanatum (GYLLENHAL, 1808)",0,ex,NaN,NaN,NaN,kN,"2a, 14a",NaN,1914
4,"Plegaderus discisus ERICHSON, 1839",0,ex,NaN,NaN,NaN,kN,"2a, 14a",NaN,vor 1839

In [199]:
# Removing columns "Bestand","Trend_lang","Trend_kurz", "RF", "BB", "D", "GS", "GfU"
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "BB", 
                   "GfU", 
                   "Neobiota"
                  ], inplace = True)
df

                                    Species  BE Letzter_Nachweis
0     Chetabraeus globulus (CREUTZER, 1799)   0         vor 1839
1     Hypocacculus rufipes (KUGELANN, 1792)   0         vor 1860
2       Platysoma angustum (HOFFMANN, 1803)   0         vor 1950
3    Platysoma deplanatum (GYLLENHAL, 1808)   0             1914
4        Plegaderus discisus ERICHSON, 1839   0         vor 1839
..                                      ...  ..              ...
111     Philonthus rufipes (STEPHENS, 1832)   0         vor 1950
112      Quedius fulgidus (FABRICIUS, 1793)   0     KORGE (2005)
113         Rabigus pullus (NORDMANN, 1837)   0         vor 1950
114  Staphylinus caesareus CEDERHJELM, 1798   0     KORGE (2005)
115     Tasgius pedator (GRAVENHORST, 1802)   0     KORGE (2005)

[116 rows x 3 columns]

In [200]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

                   Species  BE Letzter_Nachweis
0     Chetabraeus globulus   0         vor 1839
1     Hypocacculus rufipes   0         vor 1860
2       Platysoma angustum   0         vor 1950
3     Platysoma deplanatum   0             1914
4      Plegaderus discisus   0         vor 1839
..                     ...  ..              ...
111     Philonthus rufipes   0         vor 1950
112       Quedius fulgidus   0     KORGE (2005)
113         Rabigus pullus   0         vor 1950
114  Staphylinus caesareus   0     KORGE (2005)
115        Tasgius pedator   0     KORGE (2005)

[116 rows x 3 columns]

In [201]:
df.head(20)

                 Species  BE Letzter_Nachweis
0   Chetabraeus globulus   0         vor 1839
1   Hypocacculus rufipes   0         vor 1860
2     Platysoma angustum   0         vor 1950
3   Platysoma deplanatum   0             1914
4    Plegaderus discisus   0         vor 1839
5       Saprinus politus   0         vor 1851
6     Anemadus strigosus   0         vor 1946
7   Nargus anisotomoides   0         vor 1950
8           Colon affine   0         vor 1909
9          Colon armipes   0         vor 1854
10      Colon calcaratum   0         vor 1837
11      Colon clavigerum   0         vor 1884
12     Colon puncticolle   0         vor 1850
13       Colon rufescens   0         vor 1850
14     Agyrtes castaneus   0         vor 1856
15   Agathidium nigrinum   0         vor 1866
16       Leiodes brunnea   0         vor 1909
17    Leiodes flavescens   0         vor 1845
18         Leiodes furva   0         vor 1845
19       Leiodes hybrida   0         vor 1845

In [202]:
# Too long to manually add the subfamily and family
# Can use GBIF or NCBI

In [203]:
# GBIF 
#rename Species column to upload to GBIF
# df.rename(columns={"Species": "scientificName"}, inplace = True)

#df.to_csv('Coleoptera_Staphylinoidea_Histeridae_Stutzkäfer_GBIF_in.csv', 
#          index=False)

# Upload to https://www.gbif.org/tools/data-validator

In [204]:
#df_gbif = pd.read_csv('~/Downloads/Normalized.csv')
#df_gbif.head()

In [205]:
#df["Family"] = df_gbif.family

In [206]:
#df

# NCBI - Toooooo slow. Needs to download the taxonomy tree locally

!pip install taxonomy_ranks

from taxonomy_ranks import TaxonomyRanks

taxa_name = 'homo sapiens'

rank_taxon = TaxonomyRanks(taxa_name)

rank_taxon.get_lineage_taxids_and_taxanames()

ranks = ('user_taxa', 'taxa_searched', 'superfamily', 'family', 'subfamily', 'genus', 'species')

# If you don't want the results of so many ranks, just simplify the 'ranks' tupe, e.g.
# ranks = ('user_taxa', 'taxa_searched',  'superkingdom', 'kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species')
# The rank without a value found in the database will have the default vale 'NA'.

for potential_taxid in rank_taxon.lineages:
     for rank in ranks:
         if rank in ('user_taxa', 'taxa_searched'):
             taxon = rank_taxon.lineages[potential_taxid][rank]
             print(potential_taxid, rank, taxon, sep='\t')
         else:
             taxon, taxid_of_taxon = rank_taxon.lineages[potential_taxid][rank]
             print(potential_taxid, rank, taxon, taxid_of_taxon, sep='\t')

In [207]:
!pip install pygbif

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pygbif in /Users/shenya/Library/Python/3.8/lib/python/site-packages (0.6.2)
Requirement already satisfied: requests>2.7 in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from pygbif) (2.28.1)
Requirement already satisfied: requests-cache in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from pygbif) (1.0.1)
Requirement already satisfied: geojson-rewind in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from pygbif) (1.0.3)
Requirement already satisfied: geomet in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from pygbif) (1.0.0)
Requirement already satisfied: appdirs>=1.4.3 in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from pygbif) (1.4.4)
Requirement already satisfied: matplotlib in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from pygbif) (3.6.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from requests>2.7->pygbif) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from requests>2.7->pygbif) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from requests>2.7->pygbif) (1.26.13)
Requirement already satisfied: certifi>=2017.4.17 in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from requests>2.7->pygbif) (2021.10.8)
Requirement already satisfied: click in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from geomet->pygbif) (8.1.3)
Requirement already satisfied: six in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8/lib/python3.8/site-packages (from geomet->pygbif) (1.15.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from matplotlib->pygbif) (1.0.6)
Requirement already satisfied: cycler>=0.10 in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from matplotlib->pygbif) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from matplotlib->pygbif) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from matplotlib->pygbif) (1.4.4)
Requirement already satisfied: numpy>=1.19 in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from matplotlib->pygbif) (1.23.5)
Requirement already satisfied: packaging>=20.0 in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from matplotlib->pygbif) (22.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from matplotlib->pygbif) (9.3.0)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from matplotlib->pygbif) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from matplotlib->pygbif) (2.8.2)
Requirement already satisfied: attrs>=21.2 in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from requests-cache->pygbif) (22.1.0)
Requirement already satisfied: cattrs>=22.2 in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from requests-cache->pygbif) (22.2.0)
Requirement already satisfied: platformdirs>=2.5 in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from requests-cache->pygbif) (2.5.2)
Requirement already satisfied: url-normalize>=1.4 in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from requests-cache->pygbif) (1.4.3)
Requirement already satisfied: exceptiongroup in /Users/shenya/Library/Python/3.8/lib/python/site-packages (from cattrs>=22.2->requests-cache->pygbif) (1.1.1)

In [208]:
from pygbif import species

In [209]:
df.head()

                Species  BE Letzter_Nachweis
0  Chetabraeus globulus   0         vor 1839
1  Hypocacculus rufipes   0         vor 1860
2    Platysoma angustum   0         vor 1950
3  Platysoma deplanatum   0             1914
4   Plegaderus discisus   0         vor 1839

In [ ]:
'''
for key in d2:
    df = pd.concat([df, d2[key]], axis = 0)
df
'''

In [216]:
# Creating a dictionary
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')

In [220]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")

In [221]:
gbif_data.head()

,usageKey,acceptedUsageKey,scientificName,canonicalName,rank,status,confidence,matchType,kingdom,phylum,...,kingdomKey,phylumKey,classKey,orderKey,familyKey,genusKey,synonym,class,species,speciesKey
Chetabraeus globulus,4769559,1044920.0,"Chetabraeus Portevin, 1929",Chetabraeus,GENUS,SYNONYM,96,HIGHERRANK,Animalia,Arthropoda,...,1,54,216,1470,4733,1044920,True,Insecta,NaN,NaN
Hypocacculus rufipes,4432875,8483966.0,"Hypocacculus rufipes (Kugelann, 1792)",Hypocacculus rufipes,SPECIES,SYNONYM,100,EXACT,Animalia,Arthropoda,...,1,54,216,1470,4733,1044724,True,Insecta,Hypocaccus rufipes,8483966.0
Platysoma angustum,5996117,NaN,"Platysoma angustatum (Hoffmann, 1803)",Platysoma angustatum,SPECIES,ACCEPTED,95,FUZZY,Animalia,Arthropoda,...,1,54,216,1470,4733,1044816,False,Insecta,Platysoma angustatum,5996117.0
Platysoma deplanatum,5744987,NaN,"Platysoma deplanatum (Gyllenhal, 1808)",Platysoma deplanatum,SPECIES,ACCEPTED,100,EXACT,Animalia,Arthropoda,...,1,54,216,1470,4733,1044816,False,Insecta,Platysoma deplanatum,5744987.0
Plegaderus discisus,4433579,NaN,"Plegaderus discisus Erichson, 1839",Plegaderus discisus,SPECIES,ACCEPTED,100,EXACT,Animalia,Arthropoda,...,1,54,216,1470,4733,1044747,False,Insecta,Plegaderus discisus,4433579.0

In [224]:
gbif_data.reset_index(inplace = True)

In [226]:
gbif_data.head()

,index,usageKey,acceptedUsageKey,scientificName,canonicalName,rank,status,confidence,matchType,kingdom,...,kingdomKey,phylumKey,classKey,orderKey,familyKey,genusKey,synonym,class,species,speciesKey
0,Chetabraeus globulus,4769559,1044920.0,"Chetabraeus Portevin, 1929",Chetabraeus,GENUS,SYNONYM,96,HIGHERRANK,Animalia,...,1,54,216,1470,4733,1044920,True,Insecta,NaN,NaN
1,Hypocacculus rufipes,4432875,8483966.0,"Hypocacculus rufipes (Kugelann, 1792)",Hypocacculus rufipes,SPECIES,SYNONYM,100,EXACT,Animalia,...,1,54,216,1470,4733,1044724,True,Insecta,Hypocaccus rufipes,8483966.0
2,Platysoma angustum,5996117,NaN,"Platysoma angustatum (Hoffmann, 1803)",Platysoma angustatum,SPECIES,ACCEPTED,95,FUZZY,Animalia,...,1,54,216,1470,4733,1044816,False,Insecta,Platysoma angustatum,5996117.0
3,Platysoma deplanatum,5744987,NaN,"Platysoma deplanatum (Gyllenhal, 1808)",Platysoma deplanatum,SPECIES,ACCEPTED,100,EXACT,Animalia,...,1,54,216,1470,4733,1044816,False,Insecta,Platysoma deplanatum,5744987.0
4,Plegaderus discisus,4433579,NaN,"Plegaderus discisus Erichson, 1839",Plegaderus discisus,SPECIES,ACCEPTED,100,EXACT,Animalia,...,1,54,216,1470,4733,1044747,False,Insecta,Plegaderus discisus,4433579.0

In [229]:
gbif_data.columns

Index(['index', 'usageKey', 'acceptedUsageKey', 'scientificName',
       'canonicalName', 'rank', 'status', 'confidence', 'matchType', 'kingdom',
       'phylum', 'order', 'family', 'genus', 'kingdomKey', 'phylumKey',
       'classKey', 'orderKey', 'familyKey', 'genusKey', 'synonym', 'class',
       'species', 'speciesKey'],
      dtype='object')

In [242]:
df["Family"] = gbif_data["family"]

In [244]:
df.tail()

                   Species  BE Letzter_Nachweis         Family
111     Philonthus rufipes   0         vor 1950  Staphylinidae
112       Quedius fulgidus   0     KORGE (2005)  Staphylinidae
113         Rabigus pullus   0         vor 1950  Staphylinidae
114  Staphylinus caesareus   0     KORGE (2005)  Staphylinidae
115        Tasgius pedator   0     KORGE (2005)  Staphylinidae

In [246]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Coleoptera_Staphylinoidea_Histeridae_Stutzkäfer.csv', 
          index=False)

# 09. Curculionoidea_Rüsselkäfer.csv

In [247]:
# Read file into dataframe

df = pd.read_csv('Curculionoidea_Rüsselkäfer.csv')
df.head()

,Species,BE,BB,DE,Vorzugs_habitate,Gefährdungsursachen
0,Acalyptus carpini (FABRICIUS)*,0,3,-,"WM, WW","2d, 7b, 8b"
1,Aizobius sedi (GERMAR)*,0,3,-,"RSA, GT","1a, 7a, 8a, 13a"
2,Bagous binodulus (HERBST)*,0,1,3,"SFA, M, GF","2d, 5, 6a, 12c"
3,Bagous collignensis (HERBST)*,0,2,2,"S, M, GF","2d, 5, 6a, 12c"
4,Bagous diglyptus BOHEMAN*,0,1,2,"GT, RSA","1a, 7a, 8a, 11a"

In [248]:
# Removing columns "Bestand","Trend_lang","Trend_kurz", "RF", "BB", "D", "GS", "GfU"
df.drop(columns = ["BB",
                   "DE",
                   "Vorzugs_habitate",
                   "Gefährdungsursachen"
                  ], inplace = True)
df

                             Species  BE
0     Acalyptus carpini (FABRICIUS)*   0
1            Aizobius sedi (GERMAR)*   0
2         Bagous binodulus (HERBST)*   0
3      Bagous collignensis (HERBST)*   0
4          Bagous diglyptus BOHEMAN*   0
..                               ...  ..
80      Thryogenes nereis (PAYKULL)*   0
81  Trachyphloeus spinimanus GERMAR*   0
82      Tychius lineatulus STEPHENS*   0
83   Tychius medicaginis C. BRISOUT*   0
84        Tychius trivialis BOHEMAN*   0

[85 rows x 2 columns]

In [249]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

                     Species  BE
0          Acalyptus carpini   0
1              Aizobius sedi   0
2           Bagous binodulus   0
3        Bagous collignensis   0
4           Bagous diglyptus   0
..                       ...  ..
80         Thryogenes nereis   0
81  Trachyphloeus spinimanus   0
82        Tychius lineatulus   0
83       Tychius medicaginis   0
84         Tychius trivialis   0

[85 rows x 2 columns]

In [250]:
# Creating a dictionary
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')

In [251]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class',
       'acceptedUsageKey'],
      dtype='object')

In [252]:
df["Family"] = gbif_data["family"]

In [253]:
df.head()

               Species  BE         Family
0    Acalyptus carpini   0  Curculionidae
1        Aizobius sedi   0      Apionidae
2     Bagous binodulus   0  Curculionidae
3  Bagous collignensis   0  Curculionidae
4     Bagous diglyptus   0  Curculionidae

In [254]:
df.tail()

                     Species  BE         Family
80         Thryogenes nereis   0  Brachyceridae
81  Trachyphloeus spinimanus   0  Curculionidae
82        Tychius lineatulus   0  Curculionidae
83       Tychius medicaginis   0  Curculionidae
84         Tychius trivialis   0  Curculionidae

In [255]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Curculionoidea_Rüsselkäfer.csv', 
          index=False)

# 10. Diptera_Asilidae_Raubfliegen.csv

In [256]:
# Read file into dataframe

df = pd.read_csv('Diptera_Asilidae_Raubfliegen.csv')
df.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,D,GfU,Letzter_Nachweis
0,"Andrenosoma atrum (LINNAEUS, 1758)",0,ex,NaN,NaN,NaN,2,NaN,1904
1,"Asilus crabroniformis LINNAEUS, 1758",0,ex,NaN,NaN,NaN,2,NaN,1936
2,"Choerades gilva (LINNAEUS, 1758)",0,ex,NaN,NaN,NaN,G,NaN,1958
3,"Dioctria cothurnata MEIGEN, 1820",0,ex,NaN,NaN,NaN,*,NaN,1951
4,"Erax barbatus SCOPOLI, 1763",0,ex,NaN,NaN,NaN,2,NaN,vor 1945

In [257]:
# Removing columns "Bestand","Trend_lang","Trend_kurz", "RF", "BB", "D", "GS", "GfU"
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "D",
                   "GfU"
                  ], inplace = True)
df

                                   Species  BE Letzter_Nachweis
0       Andrenosoma atrum (LINNAEUS, 1758)   0             1904
1     Asilus crabroniformis LINNAEUS, 1758   0             1936
2         Choerades gilva (LINNAEUS, 1758)   0             1958
3         Dioctria cothurnata MEIGEN, 1820   0             1951
4              Erax barbatus SCOPOLI, 1763   0         vor 1945
5     Holopogon fumipennis (MEIGEN, 1820)*   0         vor 1945
6         Laphria gibbosa (LINNAEUS, 1758)   0             1965
7  Leptarthrus brevirostris (MEIGEN, 1804)   0             1932

In [258]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

                    Species  BE Letzter_Nachweis
0         Andrenosoma atrum   0             1904
1     Asilus crabroniformis   0             1936
2           Choerades gilva   0             1958
3       Dioctria cothurnata   0             1951
4             Erax barbatus   0         vor 1945
5      Holopogon fumipennis   0         vor 1945
6           Laphria gibbosa   0             1965
7  Leptarthrus brevirostris   0             1932

In [259]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')

In [260]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class',
       'acceptedUsageKey'],
      dtype='object')

In [261]:
df["Family"] = gbif_data["family"]

In [262]:
df

                    Species  BE Letzter_Nachweis    Family
0         Andrenosoma atrum   0             1904  Asilidae
1     Asilus crabroniformis   0             1936  Asilidae
2           Choerades gilva   0             1958  Asilidae
3       Dioctria cothurnata   0             1951  Asilidae
4             Erax barbatus   0         vor 1945  Asilidae
5      Holopogon fumipennis   0         vor 1945  Asilidae
6           Laphria gibbosa   0             1965  Asilidae
7  Leptarthrus brevirostris   0             1932  Asilidae

In [263]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Diptera_Asilidae_Raubfliegen.csv', 
          index=False)

## 11. Diptera_Syrphidae_Schwebfliegen

In [3]:
# Read file into dataframe

df = pd.read_csv('Diptera_Syrphidae_Schwebfliegen.csv')
df.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,D,GfU,Vorzugshabitat,Ernährungs_typLarve
0,"Anasimyia lunulata (MEIGEN, 1822)",0,ex,NaN,NaN,NaN,1,"2d, 6a, 8b, 11c",M,asp
1,"Baccha obscuripennis MEIGEN, 1822*",0,ex,NaN,NaN,NaN,*,"2a, 12b","W1, W2, PF, PK",zoo
2,"Chalcosyrphus piger (FABRICIUS, 1794)",0,ex,NaN,NaN,NaN,2,"2a, 9, 12b",W2,tsp
3,"Chamaesyrphus lusitanicus MIK, 1898",0,ex,NaN,NaN,NaN,1,"1a, 2a, 6d, 7d, 8, 14a","H, W2, AD",phy?
4,"Chamaesyrphus scaevoides (FALLÉN, 1817)",0,ex,NaN,NaN,NaN,2,"1a, 2a, 6d, 7d, 8, 14a","H, W2",phy?

In [4]:
# Removing columns 
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "D",
                   "GfU",
                   "Vorzugshabitat",
                   "Ernährungs_typLarve"
                  ], inplace = True)
df

                                        Species  BE
0             Anasimyia lunulata (MEIGEN, 1822)   0
1            Baccha obscuripennis MEIGEN, 1822*   0
2         Chalcosyrphus piger (FABRICIUS, 1794)   0
3           Chamaesyrphus lusitanicus MIK, 1898   0
4       Chamaesyrphus scaevoides (FALLÉN, 1817)   0
5                  Cheilosia barbata LOEW, 1857   0
6              Cheilosia pascuorum BECKER, 1894   0
7             Chrysogaster virescens LOEW, 1854   0
8        Chrysotoxum octomaculatum CURTIS, 1837   0
9               Eristalis alpina (PANZER, 1798)   0
10        Eristalis anthophorina (FALLÉN, 1817)   0
11        Eumerus flavitarsis ZETTERSTEDT, 1843   0
12             Eumerus sabulonum (FALLÉN, 1817)   0
13       Lejogaster metallina (FABRICIUS, 1777)   0
14         Mallota megilliformis (FALLÉN, 1817)   0
15       Megasyrphus erraticus (LINNAEUS, 1758)   0
16             Microdon devius (LINNAEUS, 1761)   0
17                Myolepta obscura BECHER, 1882   0
18                 Myolepta vara (PANZER, 1798)   0
19          Neocnemodon brevidens (EGGER, 1865)   0
20         Neocnemodon verrucula (COLLIN, 1931)   0
21          Orthonevra erythrogona (MALM, 1863)   0
22              Orthonevra incisa (LOEW, 1843)*   0
23       Orthonevra intermedia (LUNDBECK, 1916)   0
24            Orthonevra nobilis (FALLÉN, 1817)   0
25            Pelecocera tricincta MEIGEN, 1822   0
26  Sphaerophoria interrupta (FABRICIUS, 1805)*   0
27        Sphaerophoria loewi ZETTERSTEDT, 1843   0
28       Spilomyia diophthalma (LINNAEUS, 1758)   0
29     Trichopsomyia flavitarsis (MEIGEN, 1822)   0
30                    Xylota tarda MEIGEN, 1822   0

In [5]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

                      Species  BE
0          Anasimyia lunulata   0
1        Baccha obscuripennis   0
2         Chalcosyrphus piger   0
3   Chamaesyrphus lusitanicus   0
4    Chamaesyrphus scaevoides   0
5           Cheilosia barbata   0
6         Cheilosia pascuorum   0
7      Chrysogaster virescens   0
8   Chrysotoxum octomaculatum   0
9            Eristalis alpina   0
10     Eristalis anthophorina   0
11        Eumerus flavitarsis   0
12          Eumerus sabulonum   0
13       Lejogaster metallina   0
14      Mallota megilliformis   0
15      Megasyrphus erraticus   0
16            Microdon devius   0
17           Myolepta obscura   0
18              Myolepta vara   0
19      Neocnemodon brevidens   0
20      Neocnemodon verrucula   0
21     Orthonevra erythrogona   0
22          Orthonevra incisa   0
23      Orthonevra intermedia   0
24         Orthonevra nobilis   0
25       Pelecocera tricincta   0
26   Sphaerophoria interrupta   0
27        Sphaerophoria loewi   0
28      Spilomyia diophthalma   0
29  Trichopsomyia flavitarsis   0
30               Xylota tarda   0

In [8]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')

In [9]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'acceptedUsageKey', 'scientificName',
       'canonicalName', 'rank', 'status', 'confidence', 'matchType', 'kingdom',
       'phylum', 'order', 'family', 'genus', 'species', 'kingdomKey',
       'phylumKey', 'classKey', 'orderKey', 'familyKey', 'genusKey',
       'speciesKey', 'synonym', 'class'],
      dtype='object')

In [10]:
df["Family"] = gbif_data["family"]
df

                      Species  BE     Family
0          Anasimyia lunulata   0  Syrphidae
1        Baccha obscuripennis   0  Syrphidae
2         Chalcosyrphus piger   0  Syrphidae
3   Chamaesyrphus lusitanicus   0  Syrphidae
4    Chamaesyrphus scaevoides   0  Syrphidae
5           Cheilosia barbata   0  Syrphidae
6         Cheilosia pascuorum   0  Syrphidae
7      Chrysogaster virescens   0  Syrphidae
8   Chrysotoxum octomaculatum   0  Syrphidae
9            Eristalis alpina   0  Syrphidae
10     Eristalis anthophorina   0  Syrphidae
11        Eumerus flavitarsis   0  Syrphidae
12          Eumerus sabulonum   0  Syrphidae
13       Lejogaster metallina   0  Syrphidae
14      Mallota megilliformis   0  Syrphidae
15      Megasyrphus erraticus   0  Syrphidae
16            Microdon devius   0  Syrphidae
17           Myolepta obscura   0  Syrphidae
18              Myolepta vara   0  Syrphidae
19      Neocnemodon brevidens   0  Syrphidae
20      Neocnemodon verrucula   0  Syrphidae
21     Orthonevra erythrogona   0  Syrphidae
22          Orthonevra incisa   0  Syrphidae
23      Orthonevra intermedia   0  Syrphidae
24         Orthonevra nobilis   0  Syrphidae
25       Pelecocera tricincta   0  Syrphidae
26   Sphaerophoria interrupta   0  Syrphidae
27        Sphaerophoria loewi   0  Syrphidae
28      Spilomyia diophthalma   0  Syrphidae
29  Trichopsomyia flavitarsis   0  Syrphidae
30               Xylota tarda   0  Syrphidae

In [11]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Diptera_Syrphidae_Schwebfliegen.csv', 
          index=False)

## 12. Grasshoppers_and_crickets

In [19]:
# Read file into dataframe

df = pd.read_csv('Grasshoppers_crickets.csv')
df.head()

,Wissenschaftlicher_Name,BE,BB,DE,GS,H,Vorzugs-habitate,Biol_ökol_Typ,Gefährdungsursachen
0,Arcyptera microptera (FISCHER \nVON WALDHEIM)*...,0,0,0,§§,-,"GT, H",xer,NaN
1,Calliptamus italicus (LINNAEUS)* \nItalienisch...,0,1,1,§,-,"GT, H, LBS",xer,NaN
2,Gampsocleis glabra (HERBST)* \nHeideschrecke,0,0,1,§§,-,"GT, H",xer,NaN
3,Metrioptera brachyptera (LIN-\nNAEUS)* \nKurzf...,0,2,-,NaN,-,"M, GF",hyg,NaN
4,Platycleis montana (KOLLAR)* \nSteppen-Beißsch...,0,1,1,§§,-,"GT, H",xer,NaN

In [21]:
df.columns

Index(['Wissenschaftlicher_Name', 'BE', 'BB', 'DE', 'GS', 'H',
       'Vorzugs-habitate ', 'Biol_ökol_Typ', 'Gefährdungsursachen'],
      dtype='object')

In [22]:
# Removing columns 
df.drop(columns = ["BB",
                   "DE",
                   "GS",
                   "H",
                   "Vorzugs-habitate ",
                   "Biol_ökol_Typ",
                   "Gefährdungsursachen"
                  ], inplace = True)
df

                             Wissenschaftlicher_Name  BE
0  Arcyptera microptera (FISCHER \nVON WALDHEIM)*...   0
1  Calliptamus italicus (LINNAEUS)* \nItalienisch...   0
2       Gampsocleis glabra (HERBST)* \nHeideschrecke   0
3  Metrioptera brachyptera (LIN-\nNAEUS)* \nKurzf...   0
4  Platycleis montana (KOLLAR)* \nSteppen-Beißsch...   0
5  Psophus stridulus (LINNAEUS)* \nRotflüglige Sc...   0
6  Stauroderus scalaris (FISCHER \nVON WALDHEIM)*...   0
7  Stenobothrus nigromaculatus \n(HERRICH-SCHÄFFE...   0

In [28]:
# Editing species column based on binomial nomenclature

df1 = df.Wissenschaftlicher_Name.str.split(pat=" ", n = 3, expand = True)
df1

,0,1,2,3
0,Arcyptera,microptera,(FISCHER,\nVON WALDHEIM)* \nKleine Höckerschrecke
1,Calliptamus,italicus,(LINNAEUS)*,\nItalienische Schönschrecke
2,Gampsocleis,glabra,(HERBST)*,\nHeideschrecke
3,Metrioptera,brachyptera,(LIN-\nNAEUS)*,\nKurzflüglige Beißschrecke
4,Platycleis,montana,(KOLLAR)*,\nSteppen-Beißschrecke
5,Psophus,stridulus,(LINNAEUS)*,\nRotflüglige Schnarrschrecke
6,Stauroderus,scalaris,(FISCHER,\nVON WALDHEIM)* \nGebirgsgrashüpfer
7,Stenobothrus,nigromaculatus,\n(HERRICH-SCHÄFFER)*,\nSchwarzfleckiger Heidegrashüp-\nfer

In [31]:
df.Wissenschaftlicher_Name = df1[0].str.cat(df1[1], sep = " ")
df

       Wissenschaftlicher_Name  BE
0         Arcyptera microptera   0
1         Calliptamus italicus   0
2           Gampsocleis glabra   0
3      Metrioptera brachyptera   0
4           Platycleis montana   0
5            Psophus stridulus   0
6         Stauroderus scalaris   0
7  Stenobothrus nigromaculatus   0

In [ ]:
# Get the deutschename to the table too

In [33]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [34]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class',
       'acceptedUsageKey', 'note'],
      dtype='object')

In [35]:
df["Family"] = gbif_data["family"]
df

       Wissenschaftlicher_Name  BE         Family
0         Arcyptera microptera   0      Acrididae
1         Calliptamus italicus   0      Acrididae
2           Gampsocleis glabra   0  Tettigoniidae
3      Metrioptera brachyptera   0  Tettigoniidae
4           Platycleis montana   0  Tettigoniidae
5            Psophus stridulus   0      Acrididae
6         Stauroderus scalaris   0      Acrididae
7  Stenobothrus nigromaculatus   0      Acrididae

In [36]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Grasshoppers_and_crickets.csv', 
          index=False)

## 13. Zikaden.csv

In [38]:
# Read file into dataframe

df = pd.read_csv('Zikaden.csv')
df.head()

,Wissenschaftlicher_Name,BE,Bestand,Trend_lang,Trend_kurz,RF,D,GfU,letzter_Nachweis,Deutscher Name
0,"Adarrus multinotatus (BOHEMAN, 1847)",0,ex,NaN,NaN,NaN,*,"1, 7",vor 1912,Gemeine Zwenkenzirpe
1,"Allygus maculatus RIBAUT, 1952",0,ex,NaN,NaN,NaN,3,"1, 2, 7",1902,Fleckenbaumzirpe
2,"Anoscopus albifrons (LINNAEUS, 1758)",0,ex,NaN,NaN,NaN,*,?,vor 1912,Braune Erdzikade
3,"Arocephalus punctum (FLOR, 1861)",0,ex,NaN,NaN,NaN,3,"1, 7",1889,Widderzirpe
4,"Athysanus quadrum BOHEMAN, 1845",0,ex,NaN,NaN,NaN,2,"2, 6",1919,Sumpfzirpe

In [39]:
# Removing columns 
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "D",
                   "GfU"
                  ], inplace = True)
df

,Wissenschaftlicher_Name,BE,letzter_Nachweis,Deutscher Name
0,"Adarrus multinotatus (BOHEMAN, 1847)",0,vor 1912,Gemeine Zwenkenzirpe
1,"Allygus maculatus RIBAUT, 1952",0,1902,Fleckenbaumzirpe
2,"Anoscopus albifrons (LINNAEUS, 1758)",0,vor 1912,Braune Erdzikade
3,"Arocephalus punctum (FLOR, 1861)",0,1889,Widderzirpe
4,"Athysanus quadrum BOHEMAN, 1845",0,1919,Sumpfzirpe
5,"Cicadula saturata (EDWARDS, 1915)",0,1889,Braunseggenzirpe
6,"Coryphaelus gyllenhalii (FALLÉN, 1826)",0,1919,Bunte Simsenzirpe
7,"Cosmotettix panzeri (FLOR, 1861)",0,1952,Baltische Moorzirpe
8,"Criomorphus borealis (J. SAHLBERG, 1871)",0,vor 1960,Taigaspornzikade
9,"Criomorphus moestus (BOHEMAN, 1847)",0,1952,Schwedische Spornzikade
10,"Delphacinus mesomelas (BOHEMAN, 1850)",0,vor 1912,Elfenbein-Spornzikade
11,"Delphax crassicornis (PANZER, 1796)",0,vor 1880,Bunte Schilfspornzikade
12,"Doliotettix lunulatus (ZETTERSTEDT, 1840)",0,1928,Frühlingsgraszirpe
13,"Empoasca affinis NAST, 1937",0,vor 1960,Strauchblattzikade
14,"Erotettix cyane (BOHEMAN, 1845)",0,1889,Seerosenzirpe
15,"Eurhadina kirschbaumi W. WAGNER, 1937",0,1889,Traubeneichen-Elfenzikade
16,"Euscelis venosus (KIRSCHBAUM, 1868)",0,1889,Eberwurzzirpe
17,"Hephathus nanus (HERRICH-SCHÄFFER, 1835)",0,1921,Zwergmaskenzikade
18,"Jassargus pseudocellaris (FLOR, 1861)",0,vor 1912,Wiesen-Spitzkopfzirpe
19,"Kelisia ribauti W. WAGNER, 1938",0,1952,Schwarzlippen-Spornzikade
20,"Kelisia vittipennis (J. SAHLBERG, 1868)",0,1952,Wollgras-Spornzikade
21,"Limotettix atricapillus (BOHEMAN, 1845)",0,1952,Schnabelriedzirpe
22,"Macropsis impura (BOHEMAN, 1847)",0,1919,Kleine Maskenzikade
23,"Metalimnus formosus (BOHEMAN, 1845)",0,1952,Schöne Marmorzirpe
24,"Nothodelphax albocarinata (STÅL, 1858)",0,vor 1960,Schlenkenspornzikade
25,"Nothodelphax distincta (FLOR, 1861)",0,1952,Hochmoor-Spornzikade
26,"Oncodelphax pullula (BOHEMAN, 1852)",0,1952,Klauenspornzikade
27,"Oncopsis appendiculata W. WAGNER, 1944",0,1910,Hakenmaskenzikade
28,"Ophiola russeola (FALLÉN, 1826)",0,1952,Zwergheidezirpe
29,"Paraliburnia clypealis (J. SAHLBERG, 1871)",0,1951,Braune Spornzikade
30,"Parapotes reticulatus (HORVÁTH, 1897)",0,1919,Scherenzirpe
31,"Planaphrodes trifasciata (GEOFFROY, 1785)",0,vor 1912,Heideerdzikade
32,"Populicerus laminatus (FLOR, 1861)",0,1921,Große Espenwinkerzikade
33,"Stiroma bicarinata (HERRICH-SCHÄFFER, 1835)",0,vor 1912,Waldspornzikade
34,"Stroggylocephalus agrestis (FALLÉN, 1806)",0,1932,Sumpferdzikade
35,"Tettigometra leucophaea (PREYSSLER, 1792)",0,1905,Punktierte Ameisenzikade
36,"Ulopa reticulata (FABRICIUS, 1794)",0,1921,Heidekrautzikade
37,"Verdanus abdominalis (FABRICIUS, 1803)",0,vor 1912,Schwarzgrüne Graszirpe
38,"Zygina nigritarsis REMANE, 1994",0,1889,Ringelfeuerzikade

In [40]:
# Editing species column based on binomial nomenclature

df1 = df.Wissenschaftlicher_Name.str.split(pat=" ", n = 3, expand = True)
df1
df.Wissenschaftlicher_Name = df1[0].str.cat(df1[1], sep = " ")
df

       Wissenschaftlicher_Name  BE letzter_Nachweis             Deutscher Name
0         Adarrus multinotatus   0         vor 1912       Gemeine Zwenkenzirpe
1            Allygus maculatus   0             1902           Fleckenbaumzirpe
2          Anoscopus albifrons   0         vor 1912           Braune Erdzikade
3          Arocephalus punctum   0             1889                Widderzirpe
4            Athysanus quadrum   0             1919                 Sumpfzirpe
5            Cicadula saturata   0             1889           Braunseggenzirpe
6      Coryphaelus gyllenhalii   0             1919          Bunte Simsenzirpe
7          Cosmotettix panzeri   0             1952        Baltische Moorzirpe
8         Criomorphus borealis   0         vor 1960           Taigaspornzikade
9          Criomorphus moestus   0             1952    Schwedische Spornzikade
10       Delphacinus mesomelas   0         vor 1912      Elfenbein-Spornzikade
11        Delphax crassicornis   0         vor 1880    Bunte Schilfspornzikade
12       Doliotettix lunulatus   0             1928         Frühlingsgraszirpe
13            Empoasca affinis   0         vor 1960         Strauchblattzikade
14             Erotettix cyane   0             1889              Seerosenzirpe
15       Eurhadina kirschbaumi   0             1889  Traubeneichen-Elfenzikade
16            Euscelis venosus   0             1889              Eberwurzzirpe
17             Hephathus nanus   0             1921          Zwergmaskenzikade
18    Jassargus pseudocellaris   0         vor 1912      Wiesen-Spitzkopfzirpe
19             Kelisia ribauti   0             1952  Schwarzlippen-Spornzikade
20         Kelisia vittipennis   0             1952       Wollgras-Spornzikade
21     Limotettix atricapillus   0             1952          Schnabelriedzirpe
22            Macropsis impura   0             1919        Kleine Maskenzikade
23         Metalimnus formosus   0             1952         Schöne Marmorzirpe
24   Nothodelphax albocarinata   0         vor 1960       Schlenkenspornzikade
25      Nothodelphax distincta   0             1952       Hochmoor-Spornzikade
26         Oncodelphax pullula   0             1952          Klauenspornzikade
27      Oncopsis appendiculata   0             1910          Hakenmaskenzikade
28            Ophiola russeola   0             1952            Zwergheidezirpe
29      Paraliburnia clypealis   0             1951         Braune Spornzikade
30       Parapotes reticulatus   0             1919               Scherenzirpe
31    Planaphrodes trifasciata   0         vor 1912             Heideerdzikade
32       Populicerus laminatus   0             1921    Große Espenwinkerzikade
33          Stiroma bicarinata   0         vor 1912            Waldspornzikade
34  Stroggylocephalus agrestis   0             1932             Sumpferdzikade
35     Tettigometra leucophaea   0             1905   Punktierte Ameisenzikade
36            Ulopa reticulata   0             1921           Heidekrautzikade
37        Verdanus abdominalis   0         vor 1912     Schwarzgrüne Graszirpe
38          Zygina nigritarsis   0             1889          Ringelfeuerzikade

In [45]:
# Rename column names
df.rename(columns={
    "Wissenschaftlicher_Name": "Species",
    "Deutscher Name":"Deutscher_Name"
}, inplace = True
         )

In [46]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [47]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class',
       'acceptedUsageKey'],
      dtype='object')

In [48]:
df["Family"] = gbif_data["family"]
df

,Species,BE,letzter_Nachweis,Deutscher_Name,Family
0,Adarrus multinotatus,0,vor 1912,Gemeine Zwenkenzirpe,Cicadellidae
1,Allygus maculatus,0,1902,Fleckenbaumzirpe,Cicadellidae
2,Anoscopus albifrons,0,vor 1912,Braune Erdzikade,Cicadellidae
3,Arocephalus punctum,0,1889,Widderzirpe,Cicadellidae
4,Athysanus quadrum,0,1919,Sumpfzirpe,Cicadellidae
5,Cicadula saturata,0,1889,Braunseggenzirpe,Cicadellidae
6,Coryphaelus gyllenhalii,0,1919,Bunte Simsenzirpe,Cicadellidae
7,Cosmotettix panzeri,0,1952,Baltische Moorzirpe,Cicadellidae
8,Criomorphus borealis,0,vor 1960,Taigaspornzikade,Delphacidae
9,Criomorphus moestus,0,1952,Schwedische Spornzikade,Delphacidae
10,Delphacinus mesomelas,0,vor 1912,Elfenbein-Spornzikade,Delphacidae
11,Delphax crassicornis,0,vor 1880,Bunte Schilfspornzikade,Delphacidae
12,Doliotettix lunulatus,0,1928,Frühlingsgraszirpe,Cicadellidae
13,Empoasca affinis,0,vor 1960,Strauchblattzikade,Cicadellidae
14,Erotettix cyane,0,1889,Seerosenzirpe,Cicadellidae
15,Eurhadina kirschbaumi,0,1889,Traubeneichen-Elfenzikade,Cicadellidae
16,Euscelis venosus,0,1889,Eberwurzzirpe,Cicadellidae
17,Hephathus nanus,0,1921,Zwergmaskenzikade,Cicadellidae
18,Jassargus pseudocellaris,0,vor 1912,Wiesen-Spitzkopfzirpe,Cicadellidae
19,Kelisia ribauti,0,1952,Schwarzlippen-Spornzikade,Delphacidae
20,Kelisia vittipennis,0,1952,Wollgras-Spornzikade,Delphacidae
21,Limotettix atricapillus,0,1952,Schnabelriedzirpe,Cicadellidae
22,Macropsis impura,0,1919,Kleine Maskenzikade,Cicadellidae
23,Metalimnus formosus,0,1952,Schöne Marmorzirpe,Cicadellidae
24,Nothodelphax albocarinata,0,vor 1960,Schlenkenspornzikade,Delphacidae
25,Nothodelphax distincta,0,1952,Hochmoor-Spornzikade,Delphacidae
26,Oncodelphax pullula,0,1952,Klauenspornzikade,Delphacidae
27,Oncopsis appendiculata,0,1910,Hakenmaskenzikade,Cicadellidae
28,Ophiola russeola,0,1952,Zwergheidezirpe,Cicadellidae
29,Paraliburnia clypealis,0,1951,Braune Spornzikade,Delphacidae
30,Parapotes reticulatus,0,1919,Scherenzirpe,Cicadellidae
31,Planaphrodes trifasciata,0,vor 1912,Heideerdzikade,Cicadellidae
32,Populicerus laminatus,0,1921,Große Espenwinkerzikade,Cicadellidae
33,Stiroma bicarinata,0,vor 1912,Waldspornzikade,Delphacidae
34,Stroggylocephalus agrestis,0,1932,Sumpferdzikade,Cicadellidae
35,Tettigometra leucophaea,0,1905,Punktierte Ameisenzikade,Tettigometridae
36,Ulopa reticulata,0,1921,Heidekrautzikade,Cicadellidae
37,Verdanus abdominalis,0,vor 1912,Schwarzgrüne Graszirpe,Cicadellidae
38,Zygina nigritarsis,0,1889,Ringelfeuerzikade,Cicadellidae

In [49]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Zikaden.csv', 
          index=False)

## 14. Heteroptera_Wanzen.csv

In [50]:
# Read file into dataframe

df = pd.read_csv('Heteroptera_Wanzen.csv')
df.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU,Letzter_Nachweis,Neozoon
0,"Cryptostemma alienum HERRICH-SCHAEFFER, 1835",0,ex,NaN,NaN,NaN,0.0,nb,"5a, 5b",1853–1860,NaN
1,"Corixa dentipes THOMSON, 1869",0,ex,NaN,NaN,NaN,NaN,NaN,11c,1989,NaN
2,"Cymatia bonsdorffii (C. R. Sahlberg, 1819)",0,ex,NaN,NaN,NaN,2.0,3,11c,1989,NaN
3,"Cymatia rogenhoferi (FIEBER, 1864)",0,ex,NaN,NaN,NaN,0.0,D,14a,1989,NaN
4,"Micronecta griseola HORVÁTH, 1899",0,ex,NaN,NaN,NaN,2.0,nb,11c,1959,NaN

In [52]:
df.columns

Index(['Species', 'BE', 'Bestand', 'Trend_lang', 'Trend_kurz', 'RF', 'BB', 'D',
       'GfU', 'Letzter_Nachweis', 'Neozoon'],
      dtype='object')

In [53]:
# Removing columns 
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "BB",
                   "D",
                   "GfU",
                   "Neozoon"
                  ], inplace = True)
df

                                         Species  BE Letzter_Nachweis
0   Cryptostemma alienum HERRICH-SCHAEFFER, 1835   0        1853–1860
1                  Corixa dentipes THOMSON, 1869   0             1989
2     Cymatia bonsdorffii (C. R. Sahlberg, 1819)   0             1989
3             Cymatia rogenhoferi (FIEBER, 1864)   0             1989
4              Micronecta griseola HORVÁTH, 1899   0             1959
..                                           ...  ..              ...
83      Eysarcoris venustissimus (SCHRANK, 1776)   0             1959
84                 Jalla dumosa (LINNAEUS, 1758)   0             1930
85             Palomena viridissima (PODA, 1761)   0             1954
86              Sciocoris umbrinus (WOLFF, 1804)   0        1971–1991
87             Zicrona caerulea (LINNAEUS, 1758)   0             1977

[88 rows x 3 columns]

In [55]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

                     Species  BE Letzter_Nachweis
0       Cryptostemma alienum   0        1853–1860
1            Corixa dentipes   0             1989
2        Cymatia bonsdorffii   0             1989
3        Cymatia rogenhoferi   0             1989
4        Micronecta griseola   0             1959
..                       ...  ..              ...
83  Eysarcoris venustissimus   0             1959
84              Jalla dumosa   0             1930
85      Palomena viridissima   0             1954
86        Sciocoris umbrinus   0        1971–1991
87          Zicrona caerulea   0             1977

[88 rows x 3 columns]

In [56]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [57]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class',
       'acceptedUsageKey'],
      dtype='object')

In [58]:
df["Family"] = gbif_data["family"]
df

                     Species  BE Letzter_Nachweis         Family
0       Cryptostemma alienum   0        1853–1860   Dipsocoridae
1            Corixa dentipes   0             1989      Corixidae
2        Cymatia bonsdorffii   0             1989      Corixidae
3        Cymatia rogenhoferi   0             1989      Corixidae
4        Micronecta griseola   0             1959  Micronectidae
..                       ...  ..              ...            ...
83  Eysarcoris venustissimus   0             1959   Pentatomidae
84              Jalla dumosa   0             1930   Pentatomidae
85      Palomena viridissima   0             1954   Pentatomidae
86        Sciocoris umbrinus   0        1971–1991   Pentatomidae
87          Zicrona caerulea   0             1977   Pentatomidae

[88 rows x 4 columns]

In [59]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Heteroptera_Wanzen.csv', 
          index=False)

## 15. Bienen_und_waspen

In [71]:
# Read file into dataframe

df = pd.read_csv('Bienen_und_waspen.csv')
df.head()

,Wissenschaftlicher Name,BE,BB,DE,GS,Vorzugshabitate,Ökol_Typ,Gefährdungsursachen
0,Pristaulacus gloriator (FABRICIUS)*,0,D,NaN,NaN,"B, W, WG",par,"2a, 9, 12b"
1,Chrysis fasciata OLIVIER*,0,G,G,NaN,"WM, WW, \nWG",par,"2a, 12b, 14g"
2,Chrysis iris CHRIST,0,1,2,NaN,"B, WG",par,"2a, 12b, 14g"
3,Chrysis mediata LINSENMAIER*,0,3,-,NaN,"AT, AW",par,"2a, 12a, 14a, \n14g"
4,Chrysis ruddii SHUCKARD*,0,-,-,NaN,"R, GS, AT",par,"2a, 14g"

In [72]:
df.columns

Index(['Wissenschaftlicher Name', 'BE', 'BB', 'DE', 'GS', 'Vorzugshabitate',
       'Ökol_Typ', 'Gefährdungsursachen'],
      dtype='object')

In [73]:
# Removing columns 
df.drop(columns = ["BB",
                   "DE",
                   "GS",
                   "Vorzugshabitate",
                   "Ökol_Typ",
                   "Gefährdungsursachen"
                  ], inplace = True)
df

                Wissenschaftlicher Name  BE
0   Pristaulacus gloriator (FABRICIUS)*   0
1             Chrysis fasciata OLIVIER*   0
2                   Chrysis iris CHRIST   0
3          Chrysis mediata LINSENMAIER*   0
4              Chrysis ruddii SHUCKARD*   0
..                                  ...  ..
93           Nomada rhenana F. MORAWITZ   0
94            Osmia pilicornis F. SMITH   0
95           Stelis phaeoptera (KIRBY)*   0
96       Thyreus histrionicus (ILLIGER)   0
97         Xylocopa violacea (LINNAEUS)   0

[98 rows x 2 columns]

In [74]:
# Rename column names
df.rename(columns={
    "Wissenschaftlicher Name": "Species"
}, inplace = True
         )

In [75]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

                   Species  BE
0   Pristaulacus gloriator   0
1         Chrysis fasciata   0
2             Chrysis iris   0
3          Chrysis mediata   0
4           Chrysis ruddii   0
..                     ...  ..
93          Nomada rhenana   0
94        Osmia pilicornis   0
95       Stelis phaeoptera   0
96    Thyreus histrionicus   0
97       Xylocopa violacea   0

[98 rows x 2 columns]

In [76]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [77]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class',
       'acceptedUsageKey'],
      dtype='object')

In [69]:
df["Family"] = gbif_data["family"]
df

                   Species  BE        Family
0   Pristaulacus gloriator   0     Aulacidae
1         Chrysis fasciata   0     Masaridae
2             Chrysis iris   0     Masaridae
3          Chrysis mediata   0     Masaridae
4           Chrysis ruddii   0     Masaridae
..                     ...  ..           ...
92          Nomada rhenana   0        Apidae
93        Osmia pilicornis   0  Megachilidae
94       Stelis phaeoptera   0  Megachilidae
95    Thyreus histrionicus   0        Apidae
96       Xylocopa violacea   0        Apidae

[97 rows x 3 columns]

In [78]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Bienen_und_waspen.csv', 
          index=False)

## 16. Odonata

In [90]:
# Read file into dataframe

df = pd.read_csv('Odonata.csv')
df.head()

,Wissenschaftlicher_Name,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,GfU,Deutscher Name
0,"Nehalennia speciosa (CHARPENTIER, 1840)*",0,ex,NaN,NaN,NaN,2,1,§§,"1a, 1c, 2d, 10c,",Zwerglibelle
1,"Onychogomphus forcipatus (LINNAEUS, 1758)*",0,ex,NaN,NaN,NaN,3,V,§,"3a, 3b, 5a, 5b,",Kleine Zangenlibelle
2,"Cordulegaster boltonii (DONOVAN, 1807)*",0,ex,NaN,NaN,NaN,3,*,§,"1a, 5b, 11c",Zweigestreifte Quelljungfer
3,"Leucorrhinia dubia (VANDER LINDEN, 1825)*",0,ex,NaN,NaN,NaN,2,3,§,"2d, 7e, 10c, 11c",Kleine Moosjungfer

In [91]:
# Removing columns 
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "BB",
                   "D",
                   "GS",
                   "GfU"
                  ], inplace = True)
df

                      Wissenschaftlicher_Name  BE               Deutscher Name
0    Nehalennia speciosa (CHARPENTIER, 1840)*   0                 Zwerglibelle
1  Onychogomphus forcipatus (LINNAEUS, 1758)*   0         Kleine Zangenlibelle
2     Cordulegaster boltonii (DONOVAN, 1807)*   0  Zweigestreifte Quelljungfer
3   Leucorrhinia dubia (VANDER LINDEN, 1825)*   0           Kleine Moosjungfer

In [92]:
# Rename column names
df.rename(columns={
    "Wissenschaftlicher_Name": "Species"
}, inplace = True
         )

In [93]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

                    Species  BE               Deutscher Name
0       Nehalennia speciosa   0                 Zwerglibelle
1  Onychogomphus forcipatus   0         Kleine Zangenlibelle
2    Cordulegaster boltonii   0  Zweigestreifte Quelljungfer
3        Leucorrhinia dubia   0           Kleine Moosjungfer

In [94]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [95]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class'],
      dtype='object')

In [96]:
df["Family"] = gbif_data["family"]
df

                    Species  BE               Deutscher Name            Family
0       Nehalennia speciosa   0                 Zwerglibelle    Coenagrionidae
1  Onychogomphus forcipatus   0         Kleine Zangenlibelle         Gomphidae
2    Cordulegaster boltonii   0  Zweigestreifte Quelljungfer  Cordulegastridae
3        Leucorrhinia dubia   0           Kleine Moosjungfer      Libellulidae

In [97]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Odonata.csv', 
          index=False)

## 17. Psychidae.csv

In [107]:
# Read file into dataframe

df = pd.read_csv('Psychidae.csv')
df.head()

,Art,Brandenburg,Nachweise in Berlin bis 1989,Habitat
0,Epichnopterix sieboldii,●,1965,"CB,TR"
1,Acanthopsyche atra,●,1982,"CB,WS,ZM"
2,Pachythelia villosella,●,1963,"CB,TR,ZM"
3,Phalacropterix graslinella,●,um 1900,"CB,ZM"
4,Megalophanes viciella,●,1966,"MGL,NM"

In [108]:
# Removing columns 
df.drop(columns = ["Brandenburg",
                   "Habitat"
                  ], inplace = True)
df

                          Art Nachweise in Berlin bis 1989
0     Epichnopterix sieboldii                         1965
1          Acanthopsyche atra                         1982
2      Pachythelia villosella                         1963
3  Phalacropterix graslinella                      um 1900
4       Megalophanes viciella                         1966

In [109]:
# Rename column names
df.rename(columns={
    "Art": "Species"
}, inplace = True
         )

In [110]:
# Editing species column based on binomial nomenclature

#df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
#df1
#df.Species = df1[0].str.cat(df1[1], sep = " ")
#df

In [111]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [112]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class'],
      dtype='object')

In [113]:
df["Family"] = gbif_data["family"]
df

                      Species Nachweise in Berlin bis 1989     Family
0     Epichnopterix sieboldii                         1965  Psychidae
1          Acanthopsyche atra                         1982  Psychidae
2      Pachythelia villosella                         1963  Psychidae
3  Phalacropterix graslinella                      um 1900  Psychidae
4       Megalophanes viciella                         1966  Psychidae

In [114]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Psychidae.csv', 
          index=False)

## 18. Raphidioptera_Megaloptera_Neuroptera.csv

In [115]:
# Read file into dataframe

df = pd.read_csv('Raphidioptera_Megaloptera_Neuroptera.csv')
df.head()

,Wissenschaftlicher Name,BE,ST,DE,GS,Vorzugshabitate,Gefährdungsursachen
0,Dichrostigma flavipes (STEIN)*,0,-,V,NaN,"W, WK","9, 12b"
1,Nineta inpunctata (REUTER)*,0,-,G,NaN,"W, WT","9, 12b"
2,Sympherobius fuscescens (WAL-\nLENGREN)*,0,-,V,NaN,"W, WK","9, 12b"
3,Mantispa styriaca (PODA)*,0,0,0,NaN,"B, BLT, BFT, \nWT","2a, 9, 12b"
4,Distoleon tetragrammicus (FABRICIUS)*,0,-,2,§,"W, WK, WT","9, 12b"

In [116]:
# Removing columns 
df.drop(columns = ["ST",
                   "DE",
                   "GS",
                   "Vorzugshabitate",
                   "Gefährdungsursachen"
                  ], inplace = True)
df

                    Wissenschaftlicher Name  BE
0            Dichrostigma flavipes (STEIN)*   0
1               Nineta inpunctata (REUTER)*   0
2  Sympherobius fuscescens (WAL-\nLENGREN)*   0
3                 Mantispa styriaca (PODA)*   0
4     Distoleon tetragrammicus (FABRICIUS)*   0

In [118]:
# Rename column names
df.rename(columns={
    "Wissenschaftlicher Name": "Species"
}, inplace = True
         )

In [119]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

                    Species  BE
0     Dichrostigma flavipes   0
1         Nineta inpunctata   0
2   Sympherobius fuscescens   0
3         Mantispa styriaca   0
4  Distoleon tetragrammicus   0

In [120]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [121]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class'],
      dtype='object')

In [122]:
df["Family"] = gbif_data["family"]
df

                    Species  BE          Family
0     Dichrostigma flavipes   0     Raphidiidae
1         Nineta inpunctata   0     Chrysopidae
2   Sympherobius fuscescens   0    Hemerobiidae
3         Mantispa styriaca   0     Mantispidae
4  Distoleon tetragrammicus   0  Myrmeleontidae

In [123]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Raphidioptera_Megaloptera_Neuroptera.csv', 
          index=False)

## 19. Koecherfliegen_Trichoptera.csv

In [124]:
# Read file into dataframe

df = pd.read_csv('Koecherfliegen_Trichoptera.csv')
df.head()

,Wissenschaftlicher Name,BE,Bestand,Letzter Nachweis,BB,D,GfU,Gewässer-zonierung,Familie
0,"Agapetus fuscipes CURTIS, 1834*",0,ex,vor 1882,NaN,*,11c,K-ER,Glossomatidae
1,"Grammotaulius nitidus (MÜLLER, 1764)*",0,ex,ca. 1890,NaN,G,11c,"MP-HP, L",Limnephilidae
2,"Hydropsyche contubernalis MCLACHLAN, 1865*",0,ex,1889,NaN,*,"3b, 5a, 11c",MR-MP,Hydropsychidae
3,"Limnephilus elegans CURTIS, 1834*",0,ex,vor 1991,1.0,2,"2d, 11c",L (ÜM),Limnephilidae
4,"Limnephilus fuscinervis (ZETTERSTEDT, 1840)*",0,ex,vor 1909,2.0,G,11c,L,Limnephilidae

In [125]:
# Removing columns 
df.drop(columns = ["Bestand",
                   "BB",
                   "D",
                   "GfU",
                   "Gewässer-zonierung"
                  ], inplace = True)
df

,Wissenschaftlicher Name,BE,Letzter Nachweis,Familie
0,"Agapetus fuscipes CURTIS, 1834*",0,vor 1882,Glossomatidae
1,"Grammotaulius nitidus (MÜLLER, 1764)*",0,ca. 1890,Limnephilidae
2,"Hydropsyche contubernalis MCLACHLAN, 1865*",0,1889,Hydropsychidae
3,"Limnephilus elegans CURTIS, 1834*",0,vor 1991,Limnephilidae
4,"Limnephilus fuscinervis (ZETTERSTEDT, 1840)*",0,vor 1909,Limnephilidae
5,"Nemotaulius punctatolineatus (RETZIUS, 1783)*",0,1890,Limnephilidae
6,"Psychomyia pusilla (FABRICIUS, 1781)*",0,vor 1914?,Psychomyiidae

In [126]:
# Rename column names
df.rename(columns={
    "Wissenschaftlicher Name": "Species"
}, inplace = True
         )

In [127]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

                        Species  BE Letzter Nachweis         Familie
0             Agapetus fuscipes   0         vor 1882   Glossomatidae
1         Grammotaulius nitidus   0         ca. 1890   Limnephilidae
2     Hydropsyche contubernalis   0             1889  Hydropsychidae
3           Limnephilus elegans   0         vor 1991   Limnephilidae
4       Limnephilus fuscinervis   0         vor 1909   Limnephilidae
5  Nemotaulius punctatolineatus   0             1890   Limnephilidae
6            Psychomyia pusilla   0        vor 1914?   Psychomyiidae

In [128]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [129]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class'],
      dtype='object')

In [130]:
df["Family"] = gbif_data["family"]
df

,Species,BE,Letzter Nachweis,Familie,Family
0,Agapetus fuscipes,0,vor 1882,Glossomatidae,Glossosomatidae
1,Grammotaulius nitidus,0,ca. 1890,Limnephilidae,Limnephilidae
2,Hydropsyche contubernalis,0,1889,Hydropsychidae,Hydropsychidae
3,Limnephilus elegans,0,vor 1991,Limnephilidae,Limnephilidae
4,Limnephilus fuscinervis,0,vor 1909,Limnephilidae,Limnephilidae
5,Nemotaulius punctatolineatus,0,1890,Limnephilidae,Limnephilidae
6,Psychomyia pusilla,0,vor 1914?,Psychomyiidae,Psychomyiidae

In [131]:
df.drop(columns = ["Familie"
                  ], inplace = True)
df

                        Species  BE Letzter Nachweis           Family
0             Agapetus fuscipes   0         vor 1882  Glossosomatidae
1         Grammotaulius nitidus   0         ca. 1890    Limnephilidae
2     Hydropsyche contubernalis   0             1889   Hydropsychidae
3           Limnephilus elegans   0         vor 1991    Limnephilidae
4       Limnephilus fuscinervis   0         vor 1909    Limnephilidae
5  Nemotaulius punctatolineatus   0             1890    Limnephilidae
6            Psychomyia pusilla   0        vor 1914?    Psychomyiidae

In [133]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/Koecherfliegen_Trichoptera.csv', 
          index=False)

## 20. Next

In [ ]:
# Read file into dataframe

df = pd.read_csv('name.csv')
df.head()

In [ ]:
# Removing columns 
df.drop(columns = ["BB",
                   "DE",
                   "GS",
                   "H",
                   "Vorzugs-habitate",
                   "Biol_ökol_Typ",
                   "Gefährdungsursachen"
                  ], inplace = True)
df

In [ ]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

In [ ]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

In [ ]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

In [ ]:
df["Family"] = gbif_data["family"]
df

In [ ]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/name.csv', 
          index=False)

## 21. Next

In [ ]:
# Read file into dataframe

df = pd.read_csv('name.csv')
df.head()

In [ ]:
# Removing columns 
df.drop(columns = ["BB",
                   "DE",
                   "GS",
                   "H",
                   "Vorzugs-habitate",
                   "Biol_ökol_Typ",
                   "Gefährdungsursachen"
                  ], inplace = True)
df

In [ ]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

In [ ]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

In [ ]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

In [ ]:
df["Family"] = gbif_data["family"]
df

In [ ]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/name.csv', 
          index=False)