In [320]:
import pandas as pd
import numpy as np
from pygbif import species

# 01.  Chrysomelidae_ Megalopodidae_Blattkäfer.csv

In [321]:
# Read file into dataframe

df = pd.read_csv('Chrysomelidae_ Megalopodidae_Blattkäfer.csv')
df.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU,Letzter_Nachweis,Quelle
0,"Donacia brevicornis AHRENS, 1810",0,ex,NaN,NaN,NaN,NaN,2,"1c, 2d, 3b, 11c,",vor 1907,REINECK (1907)
1,"Donacia dentata HOPPE, 1795",0,ex,NaN,NaN,NaN,2,2,"1c, 11c, 14a, 14g",1937,CHRYFAUN
2,"Donacia obscura GYLLENHAL, 1813",0,ex,NaN,NaN,NaN,2,1,"1c, 2d, 8b, 11c,",vor 1907,REINECK (1907)
3,"Donacia thalassina thalassina GERMAR, 1811",0,ex,NaN,NaN,NaN,p,V,"1c, 2d, 11c, 14a,",vor 1950,MOHR (1985)
4,"Donacia tomentosa AHRENS, 1810",0,ex,NaN,NaN,NaN,0,1,"1c, 2d, 11c, 14a,",1943,CHRYFAUN

In [322]:
# Removing columns "Bestand","Trend_lang","Trend_kurz", "RF", "BB", "D", "GS", "GfU"
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "BB",
                   "D",
                   "GfU", 
                   "Quelle"
                  ], inplace = True)
df

                                            Species  BE Letzter_Nachweis
0                  Donacia brevicornis AHRENS, 1810   0         vor 1907
1                       Donacia dentata HOPPE, 1795   0             1937
2                   Donacia obscura GYLLENHAL, 1813   0         vor 1907
3        Donacia thalassina thalassina GERMAR, 1811   0         vor 1950
4                    Donacia tomentosa AHRENS, 1810   0             1943
5            Macroplea appendiculata (PANZER, 1794)   0         vor 1907
6                Lilioceris merdigera (LINNÉ, 1758)   0         vor 1913
7    Labidostomis humeralis (D. H. SCHNEIDER, 1792)   0             1897
8             Labidostomis tridentata (LINNÉ, 1758)   0             1949
9          Cryptocephalus bipunctatus (LINNÉ, 1758)   0         vor 1950
10            Cryptocephalus chrysopus GMELIN, 1788   0         vor 1950
11              Cryptocephalus coryli (LINNÉ, 1758)   0             1906
12      Cryptocephalus decemmaculatus (LINNÉ, 1758)   0             1948
13       Cryptocephalus hypochaeridis (LINNÉ, 1758)   0             1946
14            Cryptocephalus janthinus GERMAR, 1824   0             2008
15            Cryptocephalus laetus FABRICIUS, 1792   0         vor 1900
16     Cryptocephalus octopunctatus (SCOPOLI, 1763)   0         vor 1950
17                Cryptocephalus pini (LINNÉ, 1758)   0         vor 1950
18       Cryptocephalus quadripustulatus GYLLENHAL,   0         vor 1950
19           Cryptocephalus querceti SUFFRIAN, 1848   0             1885
20  Pachybrachis hieroglyphicus (LAICHARTING, 1781)   0             1885
21                 Oomorphus concolor (STURM, 1807)   0         vor 1920
22                Chrysolina cerealis (LINNÉ, 1767)   0         vor 1950
23                Prasocuris glabra (HERBST, 1783)*   0             1960
24        Prasocuris hannoveriana (FABRICIUS, 1775)   0         vor 1918
25               Galeruca melanocephala PONZA, 1805   0             1928
26             Chaetocnema confusa (BOHEMANN, 1851)   0             1907
27                 Dibolia schillingi LETZNER, 1846   0             1942
28        Longitarsus nigerrimus (GYLLENHAL, 1827)*   0             1958
29              Bruchidius cisti (FABRICIUS, 1775)*   0         vor 1950
30                    Bruchus pisorum (LINNÉ, 1758)   0             1949
31                 Bruchus rufimanus BOHEMANN, 1833   0         vor 1950

In [323]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df.Species = df1[0].str.cat(df1[1], sep = " ")

In [324]:
df

                            Species  BE Letzter_Nachweis
0               Donacia brevicornis   0         vor 1907
1                   Donacia dentata   0             1937
2                   Donacia obscura   0         vor 1907
3                Donacia thalassina   0         vor 1950
4                 Donacia tomentosa   0             1943
5           Macroplea appendiculata   0         vor 1907
6              Lilioceris merdigera   0         vor 1913
7            Labidostomis humeralis   0             1897
8           Labidostomis tridentata   0             1949
9        Cryptocephalus bipunctatus   0         vor 1950
10         Cryptocephalus chrysopus   0         vor 1950
11            Cryptocephalus coryli   0             1906
12    Cryptocephalus decemmaculatus   0             1948
13     Cryptocephalus hypochaeridis   0             1946
14         Cryptocephalus janthinus   0             2008
15            Cryptocephalus laetus   0         vor 1900
16     Cryptocephalus octopunctatus   0         vor 1950
17              Cryptocephalus pini   0         vor 1950
18  Cryptocephalus quadripustulatus   0         vor 1950
19          Cryptocephalus querceti   0             1885
20      Pachybrachis hieroglyphicus   0             1885
21               Oomorphus concolor   0         vor 1920
22              Chrysolina cerealis   0         vor 1950
23                Prasocuris glabra   0             1960
24          Prasocuris hannoveriana   0         vor 1918
25           Galeruca melanocephala   0             1928
26              Chaetocnema confusa   0             1907
27               Dibolia schillingi   0             1942
28           Longitarsus nigerrimus   0             1958
29                 Bruchidius cisti   0         vor 1950
30                  Bruchus pisorum   0             1949
31                Bruchus rufimanus   0         vor 1950

In [325]:
# Manually editing cells that were extracted incorrectly/partially
#df.at[0,"GfU"]= "1c, 2d, 3b, 11c, 14a, 14g"
#df.head()

In [326]:
#df.at[2,"GfU"]= "1c, 2d, 8b, 11c, 14a"
#df.at[3,"GfU"]= "1c, 2d, 11c, 14a, 14g"
#df.at[4,"GfU"]= "1c, 2d, 11c, 14a, 14g"
#df

In [327]:
#df.at[24,"GfU"]= "2d, 5b, 6a, 14a, 14g"
#df.at[28,"GfU"]= "2d, 8b, 11c, 14a, 14g"

In [328]:
#df.at[8,"Quelle"]= "coll. G. Lauterbach in FU Berlin"
#df.at[16,"Quelle"]= "coll. J. Neresheimer, MOHR (1977)"
#df.at[21,"Quelle"]= "coll. G. Kraatz (SDEI), Mohr & Arnold in litteris"
#df.at[24,"Quelle"]= "NERESHEIMER & WAGNER (1917)"
#df.at[30,"Quelle"]= "WENDT (1986), CHRYFAUN, SMF"

In [329]:
# Adding aditional information columns from the source

In [330]:
# Adding the Family and SubFamily columns

In [331]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [332]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class',
       'acceptedUsageKey'],
      dtype='object')

In [333]:
df["Family"] = gbif_data["family"]

In [334]:
'''i = 0;
while i < 32:
    df.at[i,"Family"] = "Chrysomelidae"
    if i < 6:
        df.at[i,"Sub_family"] = "Donaciinae"
    elif i == 6:
        df.at[i,"Sub_family"] = "Criocerinae"
    elif (i == 7) | (i == 8):
        df.at[i,"Sub_family"] = "Cryptocephalinae – Clytrini" 
    elif ((i > 8) & (i < 21)):
        df.at[i,"Sub_family"] = "Cryptocephalinae – Cryptocephalini"
    elif (i == 21):
        df.at[i,"Sub_family"] = "Lamprosomatinae"
    elif ((i > 21) & (i < 25)):
        df.at[i,"Sub_family"] = "Chrysomelinae"
    elif (i == 25):
        df.at[i,"Sub_family"] = "Galerucinae – Galerucini"
    elif ((i > 25) & (i < 28)):
        df.at[i,"Sub_family"] = "Galerucinae – Alticini"
    elif ((i > 27)):
        df.at[i,"Sub_family"] = "Bruchinae"
    i = i + 1
df
'''

'i = 0;\nwhile i < 32:\n    df.at[i,"Family"] = "Chrysomelidae"\n    if i < 6:\n        df.at[i,"Sub_family"] = "Donaciinae"\n    elif i == 6:\n        df.at[i,"Sub_family"] = "Criocerinae"\n    elif (i == 7) | (i == 8):\n        df.at[i,"Sub_family"] = "Cryptocephalinae – Clytrini" \n    elif ((i > 8) & (i < 21)):\n        df.at[i,"Sub_family"] = "Cryptocephalinae – Cryptocephalini"\n    elif (i == 21):\n        df.at[i,"Sub_family"] = "Lamprosomatinae"\n    elif ((i > 21) & (i < 25)):\n        df.at[i,"Sub_family"] = "Chrysomelinae"\n    elif (i == 25):\n        df.at[i,"Sub_family"] = "Galerucinae – Galerucini"\n    elif ((i > 25) & (i < 28)):\n        df.at[i,"Sub_family"] = "Galerucinae – Alticini"\n    elif ((i > 27)):\n        df.at[i,"Sub_family"] = "Bruchinae"\n    i = i + 1\ndf\n'

In [335]:
'''df = df.reindex(columns=['Family',
                         'Sub_family',
                         'Species', 
                         'BE', 
                         'Bestand', 
                         'BB', 
                         'D', 
                         'GfU', 
                         'Letzter_Nachweis', 
                         'Quelle'])
df
'''

"df = df.reindex(columns=['Family',\n                         'Sub_family',\n                         'Species', \n                         'BE', \n                         'Bestand', \n                         'BB', \n                         'D', \n                         'GfU', \n                         'Letzter_Nachweis', \n                         'Quelle'])\ndf\n"

In [336]:
df.head()

               Species  BE Letzter_Nachweis         Family
0  Donacia brevicornis   0         vor 1907  Chrysomelidae
1      Donacia dentata   0             1937  Chrysomelidae
2      Donacia obscura   0         vor 1907  Chrysomelidae
3   Donacia thalassina   0         vor 1950  Chrysomelidae
4    Donacia tomentosa   0             1943  Chrysomelidae

In [337]:
# Add common names
df["Deutscher_Name"] = ""

In [338]:
# Add reference column
df["Reference"] = "Rote Liste und Gesamtartenliste der Blattkäfer (Chrysomelidae und Megalopodidae) von Berlin"

In [339]:
df.head()

,Species,BE,Letzter_Nachweis,Family,Deutscher_Name,Reference
0,Donacia brevicornis,0,vor 1907,Chrysomelidae,,Rote Liste und Gesamtartenliste der Blattkäfer...
1,Donacia dentata,0,1937,Chrysomelidae,,Rote Liste und Gesamtartenliste der Blattkäfer...
2,Donacia obscura,0,vor 1907,Chrysomelidae,,Rote Liste und Gesamtartenliste der Blattkäfer...
3,Donacia thalassina,0,vor 1950,Chrysomelidae,,Rote Liste und Gesamtartenliste der Blattkäfer...
4,Donacia tomentosa,0,1943,Chrysomelidae,,Rote Liste und Gesamtartenliste der Blattkäfer...

In [340]:
df = df[["Species","Family", "BE", "Letzter_Nachweis","Deutscher_Name","Reference"]]

In [341]:
df

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Donacia brevicornis,Chrysomelidae,0,vor 1907,,Rote Liste und Gesamtartenliste der Blattkäfer...
1,Donacia dentata,Chrysomelidae,0,1937,,Rote Liste und Gesamtartenliste der Blattkäfer...
2,Donacia obscura,Chrysomelidae,0,vor 1907,,Rote Liste und Gesamtartenliste der Blattkäfer...
3,Donacia thalassina,Chrysomelidae,0,vor 1950,,Rote Liste und Gesamtartenliste der Blattkäfer...
4,Donacia tomentosa,Chrysomelidae,0,1943,,Rote Liste und Gesamtartenliste der Blattkäfer...
5,Macroplea appendiculata,Chrysomelidae,0,vor 1907,,Rote Liste und Gesamtartenliste der Blattkäfer...
6,Lilioceris merdigera,Chrysomelidae,0,vor 1913,,Rote Liste und Gesamtartenliste der Blattkäfer...
7,Labidostomis humeralis,Chrysomelidae,0,1897,,Rote Liste und Gesamtartenliste der Blattkäfer...
8,Labidostomis tridentata,Chrysomelidae,0,1949,,Rote Liste und Gesamtartenliste der Blattkäfer...
9,Cryptocephalus bipunctatus,Chrysomelidae,0,vor 1950,,Rote Liste und Gesamtartenliste der Blattkäfer...
10,Cryptocephalus chrysopus,Chrysomelidae,0,vor 1950,,Rote Liste und Gesamtartenliste der Blattkäfer...
11,Cryptocephalus coryli,Chrysomelidae,0,1906,,Rote Liste und Gesamtartenliste der Blattkäfer...
12,Cryptocephalus decemmaculatus,Chrysomelidae,0,1948,,Rote Liste und Gesamtartenliste der Blattkäfer...
13,Cryptocephalus hypochaeridis,Chrysomelidae,0,1946,,Rote Liste und Gesamtartenliste der Blattkäfer...
14,Cryptocephalus janthinus,Chrysomelidae,0,2008,,Rote Liste und Gesamtartenliste der Blattkäfer...
15,Cryptocephalus laetus,Chrysomelidae,0,vor 1900,,Rote Liste und Gesamtartenliste der Blattkäfer...
16,Cryptocephalus octopunctatus,Chrysomelidae,0,vor 1950,,Rote Liste und Gesamtartenliste der Blattkäfer...
17,Cryptocephalus pini,Chrysomelidae,0,vor 1950,,Rote Liste und Gesamtartenliste der Blattkäfer...
18,Cryptocephalus quadripustulatus,Chrysomelidae,0,vor 1950,,Rote Liste und Gesamtartenliste der Blattkäfer...
19,Cryptocephalus querceti,Chrysomelidae,0,1885,,Rote Liste und Gesamtartenliste der Blattkäfer...
20,Pachybrachis hieroglyphicus,Chrysomelidae,0,1885,,Rote Liste und Gesamtartenliste der Blattkäfer...
21,Oomorphus concolor,Chrysomelidae,0,vor 1920,,Rote Liste und Gesamtartenliste der Blattkäfer...
22,Chrysolina cerealis,Chrysomelidae,0,vor 1950,,Rote Liste und Gesamtartenliste der Blattkäfer...
23,Prasocuris glabra,Chrysomelidae,0,1960,,Rote Liste und Gesamtartenliste der Blattkäfer...
24,Prasocuris hannoveriana,Chrysomelidae,0,vor 1918,,Rote Liste und Gesamtartenliste der Blattkäfer...
25,Galeruca melanocephala,Chrysomelidae,0,1928,,Rote Liste und Gesamtartenliste der Blattkäfer...
26,Chaetocnema confusa,Chrysomelidae,0,1907,,Rote Liste und Gesamtartenliste der Blattkäfer...
27,Dibolia schillingi,Chrysomelidae,0,1942,,Rote Liste und Gesamtartenliste der Blattkäfer...
28,Longitarsus nigerrimus,Chrysomelidae,0,1958,,Rote Liste und Gesamtartenliste der Blattkäfer...
29,Bruchidius cisti,Chrysomelidae,0,vor 1950,,Rote Liste und Gesamtartenliste der Blattkäfer...
30,Bruchus pisorum,Chrysomelidae,0,1949,,Rote Liste und Gesamtartenliste der Blattkäfer...
31,Bruchus rufimanus,Chrysomelidae,0,vor 1950,,Rote Liste und Gesamtartenliste der Blattkäfer...

In [342]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/01_Chrysomelidae_Megalopodidae_Blattkäfer.csv', 
          index=False)

# 02. Coleoptera Scarabaeoidea Blatthornkäfer.csv

In [343]:
# Read file into dataframe

df = pd.read_csv('Coleoptera Scarabaeoidea Blatthornkäfer.csv')
df.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,GfU,Common_name
0,"Aphodius conspurcatus (LINNÉ, 1758)*",0,ex,NaN,NaN,NaN,2.0,2.0,NaN,6,NaN
1,"Aphodius foetidus (HERBST, 1783)*",0,ex,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
2,"Aphodius lividus (A. G. OLIVIER, 1789)*",0,ex,NaN,NaN,NaN,1.0,0.0,NaN,6,NaN
3,"Aphodius niger (ILLIGER, 1797)",0,ex,NaN,NaN,NaN,1.0,3.0,NaN,6,NaN
4,"Aphodius obliteratus (STURM, 1823)*",0,ex,NaN,NaN,NaN,1.0,3.0,NaN,6,NaN

In [344]:
# Removing columns "Bestand","Trend_lang","Trend_kurz", "RF", "BB", "D", "GS", "GfU"
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "BB",
                   "D",
                   "GS", 
                   "GfU"
                  ], inplace = True)
df

                                         Species  BE          Common_name
0           Aphodius conspurcatus (LINNÉ, 1758)*   0                  NaN
1              Aphodius foetidus (HERBST, 1783)*   0                  NaN
2        Aphodius lividus (A. G. OLIVIER, 1789)*   0                  NaN
3                 Aphodius niger (ILLIGER, 1797)   0                  NaN
4            Aphodius obliteratus (STURM, 1823)*   0                  NaN
5                 Aphodius paykulli BEDEL, 1908*   0                  NaN
6                   Aphodius pictus STURM, 1805*   0                  NaN
7             Caccobius schreberi (LINNÉ, 1767)*   0                  NaN
8                  Copris lunaris (LINNÉ, 1758)*   0        Mondhornkäfer
9              Euheptaulacus sus (HERBST, 1783)*   0                  NaN
10     Euheptaulacus villosus (GYLLENHAL, 1806)*   0                  NaN
11               Gnorimus nobilis (LINNÉ, 1758)*   0      Edelscharrkäfer
12  Heptaulacus testudinarius (FABRICIUS, 1775)*   0                  NaN
13     Ochodaeus chrysomeloides (SCHRANK, 1781)*   0                  NaN
14        Onthophagus illyricus (SCOPOLI, 1763)*   0                  NaN
15          Onthophagus taurus (SCHREBER, 1759)*   0                  NaN
16             Protaetia fieberi (KRAATZ, 1880)*   0                  NaN
17          Rhysothorax rufus (FABRICIUS, 1792)*   0                  NaN
18      Tropinota hirta (PODA vON NEUHAUS, 1761)   0  Zottiger Rosenkäfer
19               Trox cadaverinus ILLIGER, 1802*   0                  NaN
20            Trox hispidus (PONTOPPIDAN, 1763)*   0                  NaN
21                 Trox sabulosus (LINNÉ, 1758)*   0                  NaN

In [345]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")

In [346]:
df

                      Species  BE          Common_name
0       Aphodius conspurcatus   0                  NaN
1           Aphodius foetidus   0                  NaN
2            Aphodius lividus   0                  NaN
3              Aphodius niger   0                  NaN
4        Aphodius obliteratus   0                  NaN
5           Aphodius paykulli   0                  NaN
6             Aphodius pictus   0                  NaN
7         Caccobius schreberi   0                  NaN
8              Copris lunaris   0        Mondhornkäfer
9           Euheptaulacus sus   0                  NaN
10     Euheptaulacus villosus   0                  NaN
11           Gnorimus nobilis   0      Edelscharrkäfer
12  Heptaulacus testudinarius   0                  NaN
13   Ochodaeus chrysomeloides   0                  NaN
14      Onthophagus illyricus   0                  NaN
15         Onthophagus taurus   0                  NaN
16          Protaetia fieberi   0                  NaN
17          Rhysothorax rufus   0                  NaN
18            Tropinota hirta   0  Zottiger Rosenkäfer
19           Trox cadaverinus   0                  NaN
20              Trox hispidus   0                  NaN
21             Trox sabulosus   0                  NaN

In [347]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [348]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'acceptedUsageKey', 'scientificName',
       'canonicalName', 'rank', 'status', 'confidence', 'matchType', 'kingdom',
       'phylum', 'order', 'family', 'genus', 'species', 'kingdomKey',
       'phylumKey', 'classKey', 'orderKey', 'familyKey', 'genusKey',
       'speciesKey', 'synonym', 'class'],
      dtype='object')

In [349]:
df["Family"] = gbif_data["family"]

In [350]:
df

                      Species  BE          Common_name        Family
0       Aphodius conspurcatus   0                  NaN  Scarabaeidae
1           Aphodius foetidus   0                  NaN  Scarabaeidae
2            Aphodius lividus   0                  NaN  Scarabaeidae
3              Aphodius niger   0                  NaN  Scarabaeidae
4        Aphodius obliteratus   0                  NaN  Scarabaeidae
5           Aphodius paykulli   0                  NaN  Scarabaeidae
6             Aphodius pictus   0                  NaN  Scarabaeidae
7         Caccobius schreberi   0                  NaN  Scarabaeidae
8              Copris lunaris   0        Mondhornkäfer  Scarabaeidae
9           Euheptaulacus sus   0                  NaN  Scarabaeidae
10     Euheptaulacus villosus   0                  NaN  Scarabaeidae
11           Gnorimus nobilis   0      Edelscharrkäfer  Scarabaeidae
12  Heptaulacus testudinarius   0                  NaN  Scarabaeidae
13   Ochodaeus chrysomeloides   0                  NaN   Ochodaeidae
14      Onthophagus illyricus   0                  NaN  Scarabaeidae
15         Onthophagus taurus   0                  NaN  Scarabaeidae
16          Protaetia fieberi   0                  NaN  Scarabaeidae
17          Rhysothorax rufus   0                  NaN  Scarabaeidae
18            Tropinota hirta   0  Zottiger Rosenkäfer  Scarabaeidae
19           Trox cadaverinus   0                  NaN      Trogidae
20              Trox hispidus   0                  NaN      Trogidae
21             Trox sabulosus   0                  NaN      Trogidae

In [351]:
df["Letzter_Nachweis"] = ""

In [352]:
df["Reference"] = "Rote Liste und Gesamtartenliste der Blatthornkäfer (Coleoptera: Scarabaeoidea) von Berlin"

In [353]:
df.head()

,Species,BE,Common_name,Family,Letzter_Nachweis,Reference
0,Aphodius conspurcatus,0,NaN,Scarabaeidae,,Rote Liste und Gesamtartenliste der Blatthornk...
1,Aphodius foetidus,0,NaN,Scarabaeidae,,Rote Liste und Gesamtartenliste der Blatthornk...
2,Aphodius lividus,0,NaN,Scarabaeidae,,Rote Liste und Gesamtartenliste der Blatthornk...
3,Aphodius niger,0,NaN,Scarabaeidae,,Rote Liste und Gesamtartenliste der Blatthornk...
4,Aphodius obliteratus,0,NaN,Scarabaeidae,,Rote Liste und Gesamtartenliste der Blatthornk...

In [354]:
df.rename(columns={"Common_name": "Deutscher_Name"}, inplace = True)

In [355]:
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]

In [356]:
'''# Adding Family: Scarabaeoidea to all rows

i = 0;
while i < 22:
    df.at[i,"Family"] = "Scarabaeoidea"
    i = i + 1

df'''

'# Adding Family: Scarabaeoidea to all rows\n\ni = 0;\nwhile i < 22:\n    df.at[i,"Family"] = "Scarabaeoidea"\n    i = i + 1\n\ndf'

In [357]:
'''df = df.reindex(columns=['Family',
                         'Species', 
                         'BE', 
                         'Bestand', 
                         'BB', 
                         'D', 
                         'GS', 
                         'GfU', 
                         'Common_name'])
df'''

"df = df.reindex(columns=['Family',\n                         'Species', \n                         'BE', \n                         'Bestand', \n                         'BB', \n                         'D', \n                         'GS', \n                         'GfU', \n                         'Common_name'])\ndf"

In [358]:
df.head()

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Aphodius conspurcatus,Scarabaeidae,0,,NaN,Rote Liste und Gesamtartenliste der Blatthornk...
1,Aphodius foetidus,Scarabaeidae,0,,NaN,Rote Liste und Gesamtartenliste der Blatthornk...
2,Aphodius lividus,Scarabaeidae,0,,NaN,Rote Liste und Gesamtartenliste der Blatthornk...
3,Aphodius niger,Scarabaeidae,0,,NaN,Rote Liste und Gesamtartenliste der Blatthornk...
4,Aphodius obliteratus,Scarabaeidae,0,,NaN,Rote Liste und Gesamtartenliste der Blatthornk...

In [359]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/02_Coleoptera_Scarabaeoidea_Blatthornkäfer.csv', 
          index=False)

# 03.  Coleoptera_Wasserkäfer.csv

In [360]:
# Read file into dataframe

df = pd.read_csv('Coleoptera_Wasserkäfer.csv')
df.head()

,Species,RL,Gefährdungsursachen,Letzter Nachweis in Berlin
0,Hygrobia hermanni,0,?,"Weißensee, ca. 1900, HORION (1941) (ZMB)"
1,Brychius elevatus,0,5b,"Tempelhof, ca. 1900, coll. Weiß (ZMB)"
2,Agabus biguttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg."
3,Agabus clypealis,0,"2d, 11c","Dahlem, NSG Langes Luch, 1987, BH leg."
4,Agabus guttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg."

In [361]:
df

,Species,RL,Gefährdungsursachen,Letzter Nachweis in Berlin
0,Hygrobia hermanni,0,?,"Weißensee, ca. 1900, HORION (1941) (ZMB)"
1,Brychius elevatus,0,5b,"Tempelhof, ca. 1900, coll. Weiß (ZMB)"
2,Agabus biguttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg."
3,Agabus clypealis,0,"2d, 11c","Dahlem, NSG Langes Luch, 1987, BH leg."
4,Agabus guttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg."
5,Agabus labiatus,0,"1a, 5b","Tegel, Jungfernheide, ca. 1900, coll. Schilsky"
6,Agabus striolatus,0,"2d, 11c","Reinickendorf, ehem. Hermsdorfer See, 1994, BH"
7,Dytiscus latissimus,0,11c,"Tegel, Tegeler See, 1949, Weinhold leg."
8,Dytiscus semisulcatus,0,"1a, 5b","Pankow, Buch, 1926, Beck leg."
9,Graphoderus bilineatus,0,"5b, 11c, 12c","Berlin 10.1.1905, Sammlung Zimmermann (ZSM)"
10,Graphoderus zonatus,0,"5b, 11c, 12c","Zehlendorf, Buschgraben, 2001, Hendrich leg."
11,Hydroporus elongatulus,0,"2d, 11c, 12c","Köpenick, Gosener Wiesen, 1996, Hendrich leg."
12,Hydroporus glabriusculus,0,"2d, 11c","Spandau, NSG Großer u. Kleiner Rohrpfuhl, 1993,"
13,Hydroporus gyllenhalii,0,1a,"Spandau, ca. 1920, Schöppa leg. (HORION 1941)"
14,Hydroporus notatus,0,1a,"Karlshorst, 1913, Ahlwarth leg. (ZMB)"
15,Hydroporus rufifrons,0,"2d, 11c, 12c","Wannsee, NSG Bäkewiese, 1995, BH leg."
16,Ilybius aenescens,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1987, Schlarbaum"
17,Ilybius similis,0,"2d, 11c","Grunewald, NSG Hundekehlefenn, 1990, BH leg."
18,Rhantus notaticollis,0,12c,"Karlshorst, 1913, Ahlwarth leg. (ZMB)"
19,Rhantus suturellus,0,"2d, 11c","Schmöckwitz, ND Langes Luch, 1995, Hendrich"
20,Suphrodytes dorsalis,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1986, Hendrich leg."
21,Gyrinus distinctus,0,"3b, 5, 11c","Havelufer, Großes Fenster, 1989, BH leg."
22,Gyrinus marinus,0,"3b, 5, 11c","Buch, Karower Teiche, 1996, Hendrich leg."
23,Gyrinus minutus,0,"2d, 11c","Reinickendorf, Tegeler Fließ, 1989, BH leg."
24,Gyrinus natator,0,"2d, 11c","Grunewald, NSG Teufelsfenn, 1959, Fery leg. (CF)"
25,Hydrochus megaphallus,0,?,"Tegel, Jungfernheide, ca. 1920, Zumpt leg."
26,Helophorus tuberculatus,0,Ausbleiben,"Tiergarten, 1889, Habelmann leg."
27,Stenelmis canaliculata,0,"5a, 11c","Berlin, 10.8.1900, 2 Exemplare, Maas leg. (MNG)"
28,Dryops griseus,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1973, Korge leg. (CK)"
29,Dryops nitidulus,0,?,"Lichterfelde, US-Truppenübungsplatz, 1983, Hen-"
30,Dryops similaris,0,1a,"Spandau, Elsgraben, 1921, leg. ? (CK)"

In [362]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [363]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class',
       'acceptedUsageKey'],
      dtype='object')

In [364]:
df["Family"] = gbif_data["family"]

In [365]:
df

,Species,RL,Gefährdungsursachen,Letzter Nachweis in Berlin,Family
0,Hygrobia hermanni,0,?,"Weißensee, ca. 1900, HORION (1941) (ZMB)",Hygrobiidae
1,Brychius elevatus,0,5b,"Tempelhof, ca. 1900, coll. Weiß (ZMB)",Haliplidae
2,Agabus biguttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg.",Dytiscidae
3,Agabus clypealis,0,"2d, 11c","Dahlem, NSG Langes Luch, 1987, BH leg.",Dytiscidae
4,Agabus guttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg.",Dytiscidae
5,Agabus labiatus,0,"1a, 5b","Tegel, Jungfernheide, ca. 1900, coll. Schilsky",Dytiscidae
6,Agabus striolatus,0,"2d, 11c","Reinickendorf, ehem. Hermsdorfer See, 1994, BH",Dytiscidae
7,Dytiscus latissimus,0,11c,"Tegel, Tegeler See, 1949, Weinhold leg.",Dytiscidae
8,Dytiscus semisulcatus,0,"1a, 5b","Pankow, Buch, 1926, Beck leg.",Dytiscidae
9,Graphoderus bilineatus,0,"5b, 11c, 12c","Berlin 10.1.1905, Sammlung Zimmermann (ZSM)",Dytiscidae
10,Graphoderus zonatus,0,"5b, 11c, 12c","Zehlendorf, Buschgraben, 2001, Hendrich leg.",Dytiscidae
11,Hydroporus elongatulus,0,"2d, 11c, 12c","Köpenick, Gosener Wiesen, 1996, Hendrich leg.",Dytiscidae
12,Hydroporus glabriusculus,0,"2d, 11c","Spandau, NSG Großer u. Kleiner Rohrpfuhl, 1993,",Dytiscidae
13,Hydroporus gyllenhalii,0,1a,"Spandau, ca. 1920, Schöppa leg. (HORION 1941)",Dytiscidae
14,Hydroporus notatus,0,1a,"Karlshorst, 1913, Ahlwarth leg. (ZMB)",Dytiscidae
15,Hydroporus rufifrons,0,"2d, 11c, 12c","Wannsee, NSG Bäkewiese, 1995, BH leg.",Dytiscidae
16,Ilybius aenescens,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1987, Schlarbaum",Dytiscidae
17,Ilybius similis,0,"2d, 11c","Grunewald, NSG Hundekehlefenn, 1990, BH leg.",Dytiscidae
18,Rhantus notaticollis,0,12c,"Karlshorst, 1913, Ahlwarth leg. (ZMB)",Dytiscidae
19,Rhantus suturellus,0,"2d, 11c","Schmöckwitz, ND Langes Luch, 1995, Hendrich",Dytiscidae
20,Suphrodytes dorsalis,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1986, Hendrich leg.",Dytiscidae
21,Gyrinus distinctus,0,"3b, 5, 11c","Havelufer, Großes Fenster, 1989, BH leg.",Gyrinidae
22,Gyrinus marinus,0,"3b, 5, 11c","Buch, Karower Teiche, 1996, Hendrich leg.",Gyrinidae
23,Gyrinus minutus,0,"2d, 11c","Reinickendorf, Tegeler Fließ, 1989, BH leg.",Gyrinidae
24,Gyrinus natator,0,"2d, 11c","Grunewald, NSG Teufelsfenn, 1959, Fery leg. (CF)",Gyrinidae
25,Hydrochus megaphallus,0,?,"Tegel, Jungfernheide, ca. 1920, Zumpt leg.",Hydrochidae
26,Helophorus tuberculatus,0,Ausbleiben,"Tiergarten, 1889, Habelmann leg.",Helophoridae
27,Stenelmis canaliculata,0,"5a, 11c","Berlin, 10.8.1900, 2 Exemplare, Maas leg. (MNG)",Elmidae
28,Dryops griseus,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1973, Korge leg. (CK)",Dryopidae
29,Dryops nitidulus,0,?,"Lichterfelde, US-Truppenübungsplatz, 1983, Hen-",Dryopidae
30,Dryops similaris,0,1a,"Spandau, Elsgraben, 1921, leg. ? (CK)",Dryopidae

In [366]:
'''# Adding family

i = 0;
while i < 31:
    if i == 0:
        df.at[i,"Family"] = "Hygrobiidae"
    elif i == 1:
        df.at[i,"Family"] = "Haliplidae"
    elif ((i > 1) & (i < 21)):
        df.at[i,"Family"] = "Dytiscidae" 
    elif ((i > 20) & (i < 25)):
        df.at[i,"Family"] = "Gyrinidae"
    elif (i == 25):
        df.at[i,"Family"] = "Hydrochidae"
    elif (i == 26):
        df.at[i,"Family"] = "Helophoridae"
    elif (i == 27):
        df.at[i,"Family"] = "Elmidae"
    else:
        df.at[i,"Family"] = "Dryopidae"
    i = i + 1

df'''

'# Adding family\n\ni = 0;\nwhile i < 31:\n    if i == 0:\n        df.at[i,"Family"] = "Hygrobiidae"\n    elif i == 1:\n        df.at[i,"Family"] = "Haliplidae"\n    elif ((i > 1) & (i < 21)):\n        df.at[i,"Family"] = "Dytiscidae" \n    elif ((i > 20) & (i < 25)):\n        df.at[i,"Family"] = "Gyrinidae"\n    elif (i == 25):\n        df.at[i,"Family"] = "Hydrochidae"\n    elif (i == 26):\n        df.at[i,"Family"] = "Helophoridae"\n    elif (i == 27):\n        df.at[i,"Family"] = "Elmidae"\n    else:\n        df.at[i,"Family"] = "Dryopidae"\n    i = i + 1\n\ndf'

In [367]:
df

,Species,RL,Gefährdungsursachen,Letzter Nachweis in Berlin,Family
0,Hygrobia hermanni,0,?,"Weißensee, ca. 1900, HORION (1941) (ZMB)",Hygrobiidae
1,Brychius elevatus,0,5b,"Tempelhof, ca. 1900, coll. Weiß (ZMB)",Haliplidae
2,Agabus biguttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg.",Dytiscidae
3,Agabus clypealis,0,"2d, 11c","Dahlem, NSG Langes Luch, 1987, BH leg.",Dytiscidae
4,Agabus guttatus,0,"5b, 11c","Frohnau, Bieselfließ, 1996, Hendrich leg.",Dytiscidae
5,Agabus labiatus,0,"1a, 5b","Tegel, Jungfernheide, ca. 1900, coll. Schilsky",Dytiscidae
6,Agabus striolatus,0,"2d, 11c","Reinickendorf, ehem. Hermsdorfer See, 1994, BH",Dytiscidae
7,Dytiscus latissimus,0,11c,"Tegel, Tegeler See, 1949, Weinhold leg.",Dytiscidae
8,Dytiscus semisulcatus,0,"1a, 5b","Pankow, Buch, 1926, Beck leg.",Dytiscidae
9,Graphoderus bilineatus,0,"5b, 11c, 12c","Berlin 10.1.1905, Sammlung Zimmermann (ZSM)",Dytiscidae
10,Graphoderus zonatus,0,"5b, 11c, 12c","Zehlendorf, Buschgraben, 2001, Hendrich leg.",Dytiscidae
11,Hydroporus elongatulus,0,"2d, 11c, 12c","Köpenick, Gosener Wiesen, 1996, Hendrich leg.",Dytiscidae
12,Hydroporus glabriusculus,0,"2d, 11c","Spandau, NSG Großer u. Kleiner Rohrpfuhl, 1993,",Dytiscidae
13,Hydroporus gyllenhalii,0,1a,"Spandau, ca. 1920, Schöppa leg. (HORION 1941)",Dytiscidae
14,Hydroporus notatus,0,1a,"Karlshorst, 1913, Ahlwarth leg. (ZMB)",Dytiscidae
15,Hydroporus rufifrons,0,"2d, 11c, 12c","Wannsee, NSG Bäkewiese, 1995, BH leg.",Dytiscidae
16,Ilybius aenescens,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1987, Schlarbaum",Dytiscidae
17,Ilybius similis,0,"2d, 11c","Grunewald, NSG Hundekehlefenn, 1990, BH leg.",Dytiscidae
18,Rhantus notaticollis,0,12c,"Karlshorst, 1913, Ahlwarth leg. (ZMB)",Dytiscidae
19,Rhantus suturellus,0,"2d, 11c","Schmöckwitz, ND Langes Luch, 1995, Hendrich",Dytiscidae
20,Suphrodytes dorsalis,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1986, Hendrich leg.",Dytiscidae
21,Gyrinus distinctus,0,"3b, 5, 11c","Havelufer, Großes Fenster, 1989, BH leg.",Gyrinidae
22,Gyrinus marinus,0,"3b, 5, 11c","Buch, Karower Teiche, 1996, Hendrich leg.",Gyrinidae
23,Gyrinus minutus,0,"2d, 11c","Reinickendorf, Tegeler Fließ, 1989, BH leg.",Gyrinidae
24,Gyrinus natator,0,"2d, 11c","Grunewald, NSG Teufelsfenn, 1959, Fery leg. (CF)",Gyrinidae
25,Hydrochus megaphallus,0,?,"Tegel, Jungfernheide, ca. 1920, Zumpt leg.",Hydrochidae
26,Helophorus tuberculatus,0,Ausbleiben,"Tiergarten, 1889, Habelmann leg.",Helophoridae
27,Stenelmis canaliculata,0,"5a, 11c","Berlin, 10.8.1900, 2 Exemplare, Maas leg. (MNG)",Elmidae
28,Dryops griseus,0,"2d, 11c","Spandau, NSG Teufelsbruch, 1973, Korge leg. (CK)",Dryopidae
29,Dryops nitidulus,0,?,"Lichterfelde, US-Truppenübungsplatz, 1983, Hen-",Dryopidae
30,Dryops similaris,0,1a,"Spandau, Elsgraben, 1921, leg. ? (CK)",Dryopidae

In [368]:
# Removing columns 
df.drop(columns = ["Gefährdungsursachen"
                  ], inplace = True)
df

,Species,RL,Letzter Nachweis in Berlin,Family
0,Hygrobia hermanni,0,"Weißensee, ca. 1900, HORION (1941) (ZMB)",Hygrobiidae
1,Brychius elevatus,0,"Tempelhof, ca. 1900, coll. Weiß (ZMB)",Haliplidae
2,Agabus biguttatus,0,"Frohnau, Bieselfließ, 1996, Hendrich leg.",Dytiscidae
3,Agabus clypealis,0,"Dahlem, NSG Langes Luch, 1987, BH leg.",Dytiscidae
4,Agabus guttatus,0,"Frohnau, Bieselfließ, 1996, Hendrich leg.",Dytiscidae
5,Agabus labiatus,0,"Tegel, Jungfernheide, ca. 1900, coll. Schilsky",Dytiscidae
6,Agabus striolatus,0,"Reinickendorf, ehem. Hermsdorfer See, 1994, BH",Dytiscidae
7,Dytiscus latissimus,0,"Tegel, Tegeler See, 1949, Weinhold leg.",Dytiscidae
8,Dytiscus semisulcatus,0,"Pankow, Buch, 1926, Beck leg.",Dytiscidae
9,Graphoderus bilineatus,0,"Berlin 10.1.1905, Sammlung Zimmermann (ZSM)",Dytiscidae
10,Graphoderus zonatus,0,"Zehlendorf, Buschgraben, 2001, Hendrich leg.",Dytiscidae
11,Hydroporus elongatulus,0,"Köpenick, Gosener Wiesen, 1996, Hendrich leg.",Dytiscidae
12,Hydroporus glabriusculus,0,"Spandau, NSG Großer u. Kleiner Rohrpfuhl, 1993,",Dytiscidae
13,Hydroporus gyllenhalii,0,"Spandau, ca. 1920, Schöppa leg. (HORION 1941)",Dytiscidae
14,Hydroporus notatus,0,"Karlshorst, 1913, Ahlwarth leg. (ZMB)",Dytiscidae
15,Hydroporus rufifrons,0,"Wannsee, NSG Bäkewiese, 1995, BH leg.",Dytiscidae
16,Ilybius aenescens,0,"Spandau, NSG Teufelsbruch, 1987, Schlarbaum",Dytiscidae
17,Ilybius similis,0,"Grunewald, NSG Hundekehlefenn, 1990, BH leg.",Dytiscidae
18,Rhantus notaticollis,0,"Karlshorst, 1913, Ahlwarth leg. (ZMB)",Dytiscidae
19,Rhantus suturellus,0,"Schmöckwitz, ND Langes Luch, 1995, Hendrich",Dytiscidae
20,Suphrodytes dorsalis,0,"Spandau, NSG Teufelsbruch, 1986, Hendrich leg.",Dytiscidae
21,Gyrinus distinctus,0,"Havelufer, Großes Fenster, 1989, BH leg.",Gyrinidae
22,Gyrinus marinus,0,"Buch, Karower Teiche, 1996, Hendrich leg.",Gyrinidae
23,Gyrinus minutus,0,"Reinickendorf, Tegeler Fließ, 1989, BH leg.",Gyrinidae
24,Gyrinus natator,0,"Grunewald, NSG Teufelsfenn, 1959, Fery leg. (CF)",Gyrinidae
25,Hydrochus megaphallus,0,"Tegel, Jungfernheide, ca. 1920, Zumpt leg.",Hydrochidae
26,Helophorus tuberculatus,0,"Tiergarten, 1889, Habelmann leg.",Helophoridae
27,Stenelmis canaliculata,0,"Berlin, 10.8.1900, 2 Exemplare, Maas leg. (MNG)",Elmidae
28,Dryops griseus,0,"Spandau, NSG Teufelsbruch, 1973, Korge leg. (CK)",Dryopidae
29,Dryops nitidulus,0,"Lichterfelde, US-Truppenübungsplatz, 1983, Hen-",Dryopidae
30,Dryops similaris,0,"Spandau, Elsgraben, 1921, leg. ? (CK)",Dryopidae

In [369]:
df.rename({
    "RL": "BE",
    "Letzter Nachweis in Berlin": "Letzter_Nachweis"
}, 
    axis='columns',
    inplace = True
)

In [370]:
df["Reference"] = "Rote Liste und Gesamtartenliste der Wasserkäfer (Coleoptera: Hydradephaga, Hydrophiloidea part., Hydraenidae, Elmidae und Dryopidae) von Berlin"

In [371]:
df["Deutscher_Name"] = ""

In [372]:
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]

In [373]:
df.head()

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Hygrobia hermanni,Hygrobiidae,0,"Weißensee, ca. 1900, HORION (1941) (ZMB)",,Rote Liste und Gesamtartenliste der Wasserkäfe...
1,Brychius elevatus,Haliplidae,0,"Tempelhof, ca. 1900, coll. Weiß (ZMB)",,Rote Liste und Gesamtartenliste der Wasserkäfe...
2,Agabus biguttatus,Dytiscidae,0,"Frohnau, Bieselfließ, 1996, Hendrich leg.",,Rote Liste und Gesamtartenliste der Wasserkäfe...
3,Agabus clypealis,Dytiscidae,0,"Dahlem, NSG Langes Luch, 1987, BH leg.",,Rote Liste und Gesamtartenliste der Wasserkäfe...
4,Agabus guttatus,Dytiscidae,0,"Frohnau, Bieselfließ, 1996, Hendrich leg.",,Rote Liste und Gesamtartenliste der Wasserkäfe...

In [374]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/03_Coleoptera_Wasserkäfer.csv', 
          index=False)

# 04.Coleoptera_Bostrichoidea_Cleroidea_Cucujoidea_Elateroidea_Lymexyloidea_Tenebrioidea.csv

In [375]:
# Read file into dataframe

df = pd.read_csv('Coleoptera_Bostrichoidea_Cleroidea_Cucujoidea_Elateroidea_Lymexyloidea_Tenebrioidea.csv')
df.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,Neobiota,Letzter_Nachweis
0,"Lichenophanes varius (ILLIGER, 1801)",0,ex,NaN,NaN,NaN,NaN,2.0,NaN,NaN,vor 1900
1,"Endecatomus reticulatus (HERBST, 1793)",0,ex,NaN,NaN,NaN,NaN,0.0,NaN,NaN,vor 1900
2,"Anobium emarginatum DUFTSCHMID, 1825",0,ex,NaN,NaN,NaN,NaN,3.0,NaN,NaN,vor 1900
3,"Ernobius mulsanti KIESENWETTER, 1877",0,ex,NaN,NaN,NaN,NaN,0.0,NaN,NaN,vor 1900
4,"Xyletinus pectinatus (FABRICIUS, 1792)",0,ex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,vor 1900

In [376]:
df.describe()

         BE  Trend_lang  Trend_kurz   RF   BB          D   GS  Neobiota
count  40.0         0.0         0.0  0.0  0.0  23.000000  0.0       0.0
mean    0.0         NaN         NaN  NaN  NaN   1.739130  NaN       NaN
std     0.0         NaN         NaN  NaN  NaN   0.915393  NaN       NaN
min     0.0         NaN         NaN  NaN  NaN   0.000000  NaN       NaN
25%     0.0         NaN         NaN  NaN  NaN   1.000000  NaN       NaN
50%     0.0         NaN         NaN  NaN  NaN   2.000000  NaN       NaN
75%     0.0         NaN         NaN  NaN  NaN   2.000000  NaN       NaN
max     0.0         NaN         NaN  NaN  NaN   3.000000  NaN       NaN

In [377]:
# Removing columns Trend_lang, Trend_kurz, RF, BB, D, GS, Neobiota
df.drop(columns = ["Trend_lang", "Trend_kurz", "RF", "BB", "D", "GS", "Neobiota", "Bestand"], inplace = True)
df

                                          Species  BE Letzter_Nachweis
0            Lichenophanes varius (ILLIGER, 1801)   0         vor 1900
1          Endecatomus reticulatus (HERBST, 1793)   0         vor 1900
2            Anobium emarginatum DUFTSCHMID, 1825   0         vor 1900
3            Ernobius mulsanti KIESENWETTER, 1877   0         vor 1900
4          Xyletinus pectinatus (FABRICIUS, 1792)   0         vor 1900
5   Dermestoides sanguinicollis (FABRICIUS, 1787)   0         vor 1900
6                Korynetes ruficornis STURM, 1837   0         vor 1900
7                  Opilo domesticus (STURM, 1837)   0         vor 1900
8                Trichodes apiarius (LINNÉ, 1758)   0         vor 1900
9            Trichoceble floralis (OLIVIER, 1790)   0         vor 1900
10          Phloiophilus edwardsii STEPHENS, 1830   0         vor 1900
11            Temnoscheila caerulea OLIVIER, 1790   0         vor 1900
12                  Atomaria badia ERICHSON, 1846   0         vor 1900
13                  Atomaria munda ERICHSON, 1846   0         vor 1900
14                  Atomaria peltata KRAATZ, 1853   0         vor 1900
15              Atomaria procerula ERICHSON, 1846   0         vor 1900
16                Atomaria pulchra ERICHSON, 1846   0         vor 1900
17           Cryptophagus subfumatus KRAATZ, 1856   0         vor 1900
18        Pediacus dermestoides (FABRICIUS, 1792)   0         vor 1900
19             Triplax lepida (FALDERMANN, 1835)*   0         vor 1900
20           Triplax scutellaris CARPENTIER, 1825   0         vor 1900
21            Cryptolestes weisei (REITTER, 1879)   0         vor 1900
22        Notolaemus unifasciatus (PAYKULL, 1801)   0         vor 1900
23            Monotoma quadrifoveolata AUBÉ, 1837   0         vor 1900
24                 Nitidula rufipes (LINNÉ, 1767)   0         vor 1900
25            Ampedus praeustus (FABRICIUS, 1792)   0         vor 1900
26            Ampedus rufipennis (STEPHENS, 1830)   0         vor 1900
27        Megapenthes lugens (REDTENBACHER, 1842)   0         vor 1900
28        Melanotus crassicollis (ERICHSON, 1841)   0         vor 1900
29               Trixagus obtusus (CURTIS, 1827)*   0         vor 1900
30             Aglenus brunneus (GYLLENHAL, 1813)   0         vor 1900
31            Osphya bipunctata (FABRICIUS, 1775)   0         vor 1900
32             Xylita laevigata (HELLENIUS, 1786)   0         vor 1900
33           Anogcodes ferruginea (SCHRANK, 1776)   0         vor 1900
34               Salpingus aeneus (OLIVIER, 1790)   0         vor 1900
35                  Corticeus suberis LUCAS, 1846   0         vor 1900
36          Menephilus cylindricus (HERBST, 1784)   0         vor 1900
37         Mycetochara flavipes (FABRICIUS, 1792)   0         vor 1900
38       Mycetochara pygmaea (REDTENBACHER, 1874)   0         vor 1900
39                Omophlus betulae (HERBST, 1783)   0         vor 1900

In [378]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")

In [379]:
df.head()

                   Species  BE Letzter_Nachweis
0     Lichenophanes varius   0         vor 1900
1  Endecatomus reticulatus   0         vor 1900
2      Anobium emarginatum   0         vor 1900
3        Ernobius mulsanti   0         vor 1900
4     Xyletinus pectinatus   0         vor 1900

In [380]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [381]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class',
       'acceptedUsageKey'],
      dtype='object')

In [382]:
df["Family"] = gbif_data["family"]
df

                        Species  BE Letzter_Nachweis          Family
0          Lichenophanes varius   0         vor 1900    Bostrichidae
1       Endecatomus reticulatus   0         vor 1900    Bostrichidae
2           Anobium emarginatum   0         vor 1900       Anobiidae
3             Ernobius mulsanti   0         vor 1900       Anobiidae
4          Xyletinus pectinatus   0         vor 1900       Anobiidae
5   Dermestoides sanguinicollis   0         vor 1900        Cleridae
6          Korynetes ruficornis   0         vor 1900        Cleridae
7              Opilo domesticus   0         vor 1900        Cleridae
8            Trichodes apiarius   0         vor 1900        Cleridae
9          Trichoceble floralis   0         vor 1900       Dasytidae
10       Phloiophilus edwardsii   0         vor 1900  Phloiophilidae
11        Temnoscheila caerulea   0         vor 1900   Trogossitidae
12               Atomaria badia   0         vor 1900  Cryptophagidae
13               Atomaria munda   0         vor 1900  Cryptophagidae
14             Atomaria peltata   0         vor 1900  Cryptophagidae
15           Atomaria procerula   0         vor 1900  Cryptophagidae
16             Atomaria pulchra   0         vor 1900  Cryptophagidae
17      Cryptophagus subfumatus   0         vor 1900  Cryptophagidae
18        Pediacus dermestoides   0         vor 1900       Cucujidae
19               Triplax lepida   0         vor 1900      Erotylidae
20          Triplax scutellaris   0         vor 1900      Erotylidae
21          Cryptolestes weisei   0         vor 1900  Laemophloeidae
22      Notolaemus unifasciatus   0         vor 1900  Laemophloeidae
23     Monotoma quadrifoveolata   0         vor 1900     Monotomidae
24             Nitidula rufipes   0         vor 1900     Nitidulidae
25            Ampedus praeustus   0         vor 1900      Elateridae
26           Ampedus rufipennis   0         vor 1900      Elateridae
27           Megapenthes lugens   0         vor 1900      Elateridae
28       Melanotus crassicollis   0         vor 1900      Elateridae
29             Trixagus obtusus   0         vor 1900      Throscidae
30             Aglenus brunneus   0         vor 1900     Salpingidae
31            Osphya bipunctata   0         vor 1900    Melandryidae
32             Xylita laevigata   0         vor 1900    Melandryidae
33         Anogcodes ferruginea   0         vor 1900     Oedemeridae
34             Salpingus aeneus   0         vor 1900     Salpingidae
35            Corticeus suberis   0         vor 1900   Tenebrionidae
36       Menephilus cylindricus   0         vor 1900   Tenebrionidae
37         Mycetochara flavipes   0         vor 1900   Tenebrionidae
38          Mycetochara pygmaea   0         vor 1900   Tenebrionidae
39             Omophlus betulae   0         vor 1900   Tenebrionidae

In [383]:
'''
#The data in the research paper for family are different from that 
#of GBIF taxonomy backbone

# Adding family

i = 0;
while i < 40:
    if (i >= 0) & (i <= 4):
        df.at[i,"Superfamily"] = "Bostrichoidea"
        
        if i == 0:
            df.at[i,"Family"] = "Bostrichidae"
        elif i == 1:
            df.at[i,"Family"] = "Endecatomidae"
        elif ((i > 1) & (i <= 4)):
            df.at[i,"Family"] = "Ptinidae" 
    elif (i > 4) & (i <= 11):
        df.at[i,"Superfamily"] = "Cleroidea"
        
        if ((i > 4) & (i <= 8)):
            df.at[i,"Family"] = "Cleridae"
        elif (i == 9):
            df.at[i,"Family"] = "Dasytidae"
        elif (i == 10):
            df.at[i,"Family"] = "Phloiophilidae"
        elif (i == 11):
            df.at[i,"Family"] = "Trogossitidae"
            
    elif (i > 11) & (i <= 24):
        df.at[i,"Superfamily"] = "Cucujoidea"
        
        if ((i > 11) & (i <= 17)):
            df.at[i,"Family"] = "Cleridae"
        elif (i == 18):
            df.at[i,"Family"] = "Cucujidae"
        elif ((i > 18) & (i <= 20)):
            df.at[i,"Family"] = "Erotylidae"
        elif ((i > 20) & (i <= 22)):
            df.at[i,"Family"] = "Laemophloeidae"
        elif (i == 23):
            df.at[i,"Family"] = "Monotomidae"
        elif (i == 24):
            df.at[i,"Family"] = "Nitidulidae"
            
    elif (i > 24) & (i <= 29):
        df.at[i,"Superfamily"] = "Elateroidea"

        if ((i > 24) & (i <= 28)):
            df.at[i,"Family"] = "Elateridae"
        elif (i == 29):
            df.at[i,"Family"] = "Throscidae"           
            
    elif (i > 29):
        df.at[i,"Superfamily"] = "Tenebrioidea"
        
        if (i == 30):
            df.at[i,"Family"] = "Colydiidae"
        elif ((i > 30) & (i <= 32)):
            df.at[i,"Family"] = "Melandryidae"
        elif (i == 33):
            df.at[i,"Family"] = "Oedemeridae"
        elif (i == 34):
            df.at[i,"Family"] = "Salpingidae"
        else:
            df.at[i,"Family"] = "Tenebrionidae"
                
    i = i + 1

df
'''

'\n#The data in the research paper for family are different from that \n#of GBIF taxonomy backbone\n\n# Adding family\n\ni = 0;\nwhile i < 40:\n    if (i >= 0) & (i <= 4):\n        df.at[i,"Superfamily"] = "Bostrichoidea"\n        \n        if i == 0:\n            df.at[i,"Family"] = "Bostrichidae"\n        elif i == 1:\n            df.at[i,"Family"] = "Endecatomidae"\n        elif ((i > 1) & (i <= 4)):\n            df.at[i,"Family"] = "Ptinidae" \n    elif (i > 4) & (i <= 11):\n        df.at[i,"Superfamily"] = "Cleroidea"\n        \n        if ((i > 4) & (i <= 8)):\n            df.at[i,"Family"] = "Cleridae"\n        elif (i == 9):\n            df.at[i,"Family"] = "Dasytidae"\n        elif (i == 10):\n            df.at[i,"Family"] = "Phloiophilidae"\n        elif (i == 11):\n            df.at[i,"Family"] = "Trogossitidae"\n            \n    elif (i > 11) & (i <= 24):\n        df.at[i,"Superfamily"] = "Cucujoidea"\n        \n        if ((i > 11) & (i <= 17)):\n            df.at[i,"Family"] = "Cleridae"\n        elif (i == 18):\n            df.at[i,"Family"] = "Cucujidae"\n        elif ((i > 18) & (i <= 20)):\n            df.at[i,"Family"] = "Erotylidae"\n        elif ((i > 20) & (i <= 22)):\n            df.at[i,"Family"] = "Laemophloeidae"\n        elif (i == 23):\n            df.at[i,"Family"] = "Monotomidae"\n        elif (i == 24):\n            df.at[i,"Family"] = "Nitidulidae"\n            \n    elif (i > 24) & (i <= 29):\n        df.at[i,"Superfamily"] = "Elateroidea"\n\n        if ((i > 24) & (i <= 28)):\n            df.at[i,"Family"] = "Elateridae"\n        elif (i == 29):\n            df.at[i,"Family"] = "Throscidae"           \n            \n    elif (i > 29):\n        df.at[i,"Superfamily"] = "Tenebrioidea"\n        \n        if (i == 30):\n            df.at[i,"Family"] = "Colydiidae"\n        elif ((i > 30) & (i <= 32)):\n            df.at[i,"Family"] = "Melandryidae"\n        elif (i == 33):\n            df.at[i,"Family"] = "Oedemeridae"\n        elif (i == 34):\n            df.at[i,"Family"] = "Salpingidae"\n        else:\n            df.at[i,"Family"] = "Tenebrionidae"\n                \n    i = i + 1\n\ndf\n'

In [384]:
# Adding reference column
df["Reference"] = "Rote Liste und Gesamtartenliste der Kapuzinerkäferartigen (Bostrichoidea), Buntkäferartigen (Cleroidea), Plattkäferartigen (Cucujoidea), Schnellkäferartigen (Elateroidea), Werftkäferartigen (Lymexyloidea) und Schwarzkäferartigen (Tenebrioidea) von Berlin (Coleoptera)"
# Adding Deutscher_Name column
df["Deutscher_Name"] = ""

In [385]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]

In [386]:
df.head()

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Lichenophanes varius,Bostrichidae,0,vor 1900,,Rote Liste und Gesamtartenliste der Kapuzinerk...
1,Endecatomus reticulatus,Bostrichidae,0,vor 1900,,Rote Liste und Gesamtartenliste der Kapuzinerk...
2,Anobium emarginatum,Anobiidae,0,vor 1900,,Rote Liste und Gesamtartenliste der Kapuzinerk...
3,Ernobius mulsanti,Anobiidae,0,vor 1900,,Rote Liste und Gesamtartenliste der Kapuzinerk...
4,Xyletinus pectinatus,Anobiidae,0,vor 1900,,Rote Liste und Gesamtartenliste der Kapuzinerk...

In [387]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/04_Coleoptera_Bostrichoidea_Cleroidea_Cucujoidea_Elateroidea_Lymexyloidea_Tenebrioidea.csv', 
          index=False)

# 05. Coleoptera_Buprestidae_Prachtkäfer.csv

In [388]:
# Read file into dataframe

df = pd.read_csv('Coleoptera_Buprestidae_Prachtkäfer.csv')
df.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,Gfu,Vorzugs-habitat,Letzter Nachweis
0,"Dicerca berolinensis (HERBST, 1779)*",0,ex,NaN,NaN,NaN,1.0,2,§,"9, 12b, 14a, 14f?",WB,vor 1907
1,"Dicerca alni (FISCHER VON WALDHEIM, 1824)",0,ex,NaN,NaN,NaN,1.0,2,§,"9, 12b, 14a",WM,vor 1900
2,"Buprestis haemorrhoidalis HERBST, 1780*",0,ex,NaN,NaN,NaN,0.0,2,§,14a?,"WK, WN",1937
3,"Melanophila acuminata (DEGEER, 1774)*",0,ex,NaN,NaN,NaN,NaN,2,§,"12b, 14a","WK, WN",1970
4,"Anthaxia senicula (SCHRANK, 1789)*",0,ex,NaN,NaN,NaN,NaN,NaN,NaN,"2a, 9, 12b, 14a",WH,vor 1900

In [389]:
df.describe()

        BE  Trend_lang  Trend_kurz   RF        BB
count  7.0         0.0         0.0  0.0  5.000000
mean   0.0         NaN         NaN  NaN  0.800000
std    0.0         NaN         NaN  NaN  0.447214
min    0.0         NaN         NaN  NaN  0.000000
25%    0.0         NaN         NaN  NaN  1.000000
50%    0.0         NaN         NaN  NaN  1.000000
75%    0.0         NaN         NaN  NaN  1.000000
max    0.0         NaN         NaN  NaN  1.000000

In [390]:
# Removing columns Trend_lang, Trend_kurz, RF, BB, D, GS, Gfu, Vorzugs-habitat, Bestand
df.drop(columns = ["Trend_lang", 
                   "Trend_kurz", 
                   "RF", 
                   "BB", 
                   "D", 
                   "GS", 
                   "Gfu", 
                   "Vorzugs-habitat",
                   "Bestand"], inplace = True)
df

                                     Species  BE Letzter Nachweis
0       Dicerca berolinensis (HERBST, 1779)*   0         vor 1907
1  Dicerca alni (FISCHER VON WALDHEIM, 1824)   0         vor 1900
2    Buprestis haemorrhoidalis HERBST, 1780*   0             1937
3      Melanophila acuminata (DEGEER, 1774)*   0             1970
4         Anthaxia senicula (SCHRANK, 1789)*   0         vor 1900
5   Aphanisticus emarginatus (OLIVIER, 1790)   0         vor 1919
6      Aphanisticus pusillus (OLIVIER, 1790)   0             1970

In [391]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")

In [392]:
df.head()

                     Species  BE Letzter Nachweis
0       Dicerca berolinensis   0         vor 1907
1               Dicerca alni   0         vor 1900
2  Buprestis haemorrhoidalis   0             1937
3      Melanophila acuminata   0             1970
4          Anthaxia senicula   0         vor 1900

In [393]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [394]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class'],
      dtype='object')

In [395]:
df["Family"] = gbif_data["family"]
df

                     Species  BE Letzter Nachweis       Family
0       Dicerca berolinensis   0         vor 1907  Buprestidae
1               Dicerca alni   0         vor 1900  Buprestidae
2  Buprestis haemorrhoidalis   0             1937  Buprestidae
3      Melanophila acuminata   0             1970  Buprestidae
4          Anthaxia senicula   0         vor 1900  Buprestidae
5   Aphanisticus emarginatus   0         vor 1919  Buprestidae
6      Aphanisticus pusillus   0             1970  Buprestidae

In [396]:
# Adding reference column
df["Reference"] = "Rote Liste und Gesamtartenliste der Prachtkäfer (Coleoptera: Buprestidae) von Berlin"
# Adding Deutscher_Name column
df["Deutscher_Name"] = ""

In [397]:
df.rename({
    "Letzter Nachweis": "Letzter_Nachweis"
}, 
    axis='columns',
    inplace = True
)

In [398]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]

In [399]:
#df["Family"] = "Buprestidae"
#df.head()

In [400]:
#df.at[0,"Subfamily"] = "Chrysochroinae"
#df.head()

In [401]:
#df.at[1,"Subfamily"] = "Chrysochroinae"
#df.head()

In [402]:
#df.at[2,"Subfamily"] = "Buprestinae"
#df.head()

In [403]:
#df.at[3,"Subfamily"] = "Buprestinae"
#df.head()

In [404]:
#df.at[4,"Subfamily"] = "Buprestinae"
#df.head()

In [405]:
#df

In [406]:
#df.at[5,"Subfamily"] = "Agrilinae"
#df

In [407]:
#df.at[6,"Subfamily"] = "Agrilinae"
#df

In [408]:
df

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Dicerca berolinensis,Buprestidae,0,vor 1907,,Rote Liste und Gesamtartenliste der Prachtkäfe...
1,Dicerca alni,Buprestidae,0,vor 1900,,Rote Liste und Gesamtartenliste der Prachtkäfe...
2,Buprestis haemorrhoidalis,Buprestidae,0,1937,,Rote Liste und Gesamtartenliste der Prachtkäfe...
3,Melanophila acuminata,Buprestidae,0,1970,,Rote Liste und Gesamtartenliste der Prachtkäfe...
4,Anthaxia senicula,Buprestidae,0,vor 1900,,Rote Liste und Gesamtartenliste der Prachtkäfe...
5,Aphanisticus emarginatus,Buprestidae,0,vor 1919,,Rote Liste und Gesamtartenliste der Prachtkäfe...
6,Aphanisticus pusillus,Buprestidae,0,1970,,Rote Liste und Gesamtartenliste der Prachtkäfe...

In [409]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/05_Coleoptera_Buprestidae_Prachtkäfer.csv', 
          index=False)

# 06. Coleoptera_Carabidae_Laufkäfer.csv

In [410]:
# Read file into dataframe

df = pd.read_csv('Coleoptera_Carabidae_Laufkäfer.csv')
df.head()

,Species,BE,BB,DE,GS,Häufigkeit,Vorzugshabitate,Gefährdungsursachen
0,Acupalpus maculatus (SCHAUM)*,0,2,3,NaN,ex,(1)?,"1c, 12a"
1,Agonum gracilipes (DUFTSCHMID)*,0,1,D,NaN,ex,(7),?
2,Agonum hypocrita (APFELBECK)*,0,1,1,NaN,ex,2,"2d, 11c"
3,Agonum impressum (PANZER)*,0,1,1,NaN,ex,1,"3a, 5a, 12c"
4,Amara famelica ZIMMERMANN*,0,R,2,NaN,ex,(14)?,?

In [411]:
df.describe(include = "all")

,Species,BE,BB,DE,GS,Häufigkeit,Vorzugshabitate,Gefährdungsursachen
count,34,34.0,34,34,9,34,34,34
unique,34,NaN,4,7,2,1,18,17
top,Acupalpus maculatus (SCHAUM)*,NaN,1,2,§,ex,1,?
freq,1,NaN,11,11,7,34,9,7
mean,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [412]:
# Removing columns Trend_lang, Trend_kurz, RF, BB, D, GS, Gfu, Vorzugs-habitat, Bestand
df.drop(columns = ["BB", 
                   "DE", 
                   "GS", 
                   "Häufigkeit", 
                   "Vorzugshabitate", 
                   "Gefährdungsursachen"], inplace = True)
df

                                      Species  BE
0               Acupalpus maculatus (SCHAUM)*   0
1             Agonum gracilipes (DUFTSCHMID)*   0
2               Agonum hypocrita (APFELBECK)*   0
3                  Agonum impressum (PANZER)*   0
4                  Amara famelica ZIMMERMANN*   0
5     Anisodactylus nemorivagus (DUFTSCHMID)*   0
6                   Bembidion humerale STURM*   0
7              Bembidion punctulatum DRAPIEZ*   0
8          Bembidion semipunctatum (DONOVAN)*   0
9             Bembidion striatum (FABRICIUS)*   0
10                Bembidion velox (LINNAEUS)*   0
11      Callisthenes reticulatus (FABRICIUS)*   0
12            Calosoma sycophanta (LINNAEUS)*   0
13               Carabus cancellatus ILLIGER*   0
14                Carabus clatratus LINNAEUS*   0
15                 Carabus glabratus PAYKULL*   0
16               Carabus intricatus LINNAEUS*   0
17                   Carabus nitens LINNAEUS*   0
18              Carabus problematicus HERBST*   0
19        Chlaenius costulatus (MOTSCHULSKY)*   0
20             Chlaenius nitidulus (SCHRANK)*   0
21           Chlaenius sulcicollis (PAYKULL)*   0
22   Cylindera arenaria viennensis (SCHRANK)*   0
23              Dolichus halensis (SCHALLER)*   0
24              Dyschirius chalceus ERICHSON*   0
25            Dyschirius neresheimeri WAGNER*   0
26               Dyschirius nitidus (DEJEAN)*   0
27           Dyschirius obscurus (GYLLENHAL)*   0
28              Elaphropus parvulus (DEJEAN)*   0
29      Limodromus longiventris (MANNERHEIM)*   0
30  Paratachys micros (FISCHER VON WALDHEIM)*   0
31             Pterostichus ovoideus (STURM)*   0
32              Pterostichus taksonyis CSIKI*   0
33        Sphodrus leucophthalmus (LINNAEUS)*   0

In [413]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

                      Species  BE
0         Acupalpus maculatus   0
1           Agonum gracilipes   0
2            Agonum hypocrita   0
3            Agonum impressum   0
4              Amara famelica   0
5   Anisodactylus nemorivagus   0
6          Bembidion humerale   0
7       Bembidion punctulatum   0
8     Bembidion semipunctatum   0
9          Bembidion striatum   0
10            Bembidion velox   0
11   Callisthenes reticulatus   0
12        Calosoma sycophanta   0
13        Carabus cancellatus   0
14          Carabus clatratus   0
15          Carabus glabratus   0
16         Carabus intricatus   0
17             Carabus nitens   0
18      Carabus problematicus   0
19       Chlaenius costulatus   0
20        Chlaenius nitidulus   0
21      Chlaenius sulcicollis   0
22         Cylindera arenaria   0
23          Dolichus halensis   0
24        Dyschirius chalceus   0
25    Dyschirius neresheimeri   0
26         Dyschirius nitidus   0
27        Dyschirius obscurus   0
28        Elaphropus parvulus   0
29    Limodromus longiventris   0
30          Paratachys micros   0
31      Pterostichus ovoideus   0
32     Pterostichus taksonyis   0
33    Sphodrus leucophthalmus   0

In [414]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [415]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class',
       'acceptedUsageKey'],
      dtype='object')

In [416]:
df["Family"] = gbif_data["family"]
df

                      Species  BE     Family
0         Acupalpus maculatus   0  Carabidae
1           Agonum gracilipes   0  Carabidae
2            Agonum hypocrita   0  Carabidae
3            Agonum impressum   0  Carabidae
4              Amara famelica   0  Carabidae
5   Anisodactylus nemorivagus   0  Carabidae
6          Bembidion humerale   0  Carabidae
7       Bembidion punctulatum   0  Carabidae
8     Bembidion semipunctatum   0  Carabidae
9          Bembidion striatum   0  Carabidae
10            Bembidion velox   0  Carabidae
11   Callisthenes reticulatus   0  Carabidae
12        Calosoma sycophanta   0  Carabidae
13        Carabus cancellatus   0  Carabidae
14          Carabus clatratus   0  Carabidae
15          Carabus glabratus   0  Carabidae
16         Carabus intricatus   0  Carabidae
17             Carabus nitens   0  Carabidae
18      Carabus problematicus   0  Carabidae
19       Chlaenius costulatus   0  Carabidae
20        Chlaenius nitidulus   0  Carabidae
21      Chlaenius sulcicollis   0  Carabidae
22         Cylindera arenaria   0  Carabidae
23          Dolichus halensis   0  Carabidae
24        Dyschirius chalceus   0  Carabidae
25    Dyschirius neresheimeri   0  Carabidae
26         Dyschirius nitidus   0  Carabidae
27        Dyschirius obscurus   0  Carabidae
28        Elaphropus parvulus   0  Carabidae
29    Limodromus longiventris   0  Carabidae
30          Paratachys micros   0  Carabidae
31      Pterostichus ovoideus   0  Carabidae
32     Pterostichus taksonyis   0  Carabidae
33    Sphodrus leucophthalmus   0  Carabidae

In [417]:
# Adding reference column
df["Reference"] = "Rote Liste und Gesamtartenliste der Laufkäfer (Coleoptera: Carabidae) von Berlin"
# Adding Deutscher_Name column
df["Deutscher_Name"] = ""

In [418]:
# Adding Letzter_Nachweis column
df["Letzter_Nachweis"] = ""

In [419]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]

In [420]:
#df["Family"] = "Carabidae"
#df

In [421]:
df

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Acupalpus maculatus,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
1,Agonum gracilipes,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
2,Agonum hypocrita,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
3,Agonum impressum,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
4,Amara famelica,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
5,Anisodactylus nemorivagus,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
6,Bembidion humerale,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
7,Bembidion punctulatum,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
8,Bembidion semipunctatum,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
9,Bembidion striatum,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
10,Bembidion velox,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
11,Callisthenes reticulatus,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
12,Calosoma sycophanta,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
13,Carabus cancellatus,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
14,Carabus clatratus,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
15,Carabus glabratus,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
16,Carabus intricatus,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
17,Carabus nitens,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
18,Carabus problematicus,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
19,Chlaenius costulatus,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
20,Chlaenius nitidulus,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
21,Chlaenius sulcicollis,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
22,Cylindera arenaria,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
23,Dolichus halensis,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
24,Dyschirius chalceus,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
25,Dyschirius neresheimeri,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
26,Dyschirius nitidus,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
27,Dyschirius obscurus,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
28,Elaphropus parvulus,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
29,Limodromus longiventris,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
30,Paratachys micros,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
31,Pterostichus ovoideus,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
32,Pterostichus taksonyis,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...
33,Sphodrus leucophthalmus,Carabidae,0,,,Rote Liste und Gesamtartenliste der Laufkäfer ...

In [422]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/06_Coleoptera_Carabidae_Laufkäfer.csv', 
          index=False)

# 07. Coleoptera_Cerambycidae_Bockkäfer.csv

In [423]:
# Read file into dataframe

df = pd.read_csv('Coleoptera_Cerambycidae_Bockkäfer.csv')
df.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,GfU,Deutscher_Name
0,"Callidium aeneum (DEGEER, 1775)*",0,ex,NaN,NaN,NaN,2.0,NaN,§,NaN,NaN
1,"Cerambyx scopolii FÜESSLY, 1775*",0,ex,NaN,NaN,NaN,1.0,3.0,§,"2a, 14a",Kleiner Eichenbockkäfer
2,"Chlorophorus varius (O. F. MÜLLER, 1766)*",0,ex,NaN,NaN,NaN,NaN,1.0,§,"2a, 14a",NaN
3,"Lamia textor (LINNÉ, 1758)*",0,ex,NaN,NaN,NaN,1.0,2.0,§,"5a, 5b, 14a Weberbockkäfer",NaN
4,"Leiopus punctulatus (PAYKULL, 1800)*",0,ex,NaN,NaN,NaN,0.0,1.0,§,"2a, 14a",NaN

In [424]:
# Removing columns "Bestand","Trend_lang","Trend_kurz", "RF", "BB", "D", "GS", "GfU"
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "BB", 
                   "D", 
                   "GS", 
                   "GfU"
                  ], inplace = True)
df

                                     Species  BE           Deutscher_Name
0           Callidium aeneum (DEGEER, 1775)*   0                      NaN
1           Cerambyx scopolii FÜESSLY, 1775*   0  Kleiner Eichenbockkäfer
2  Chlorophorus varius (O. F. MÜLLER, 1766)*   0                      NaN
3                Lamia textor (LINNÉ, 1758)*   0                      NaN
4       Leiopus punctulatus (PAYKULL, 1800)*   0                      NaN
5            Necydalis ulmi CHEVROLAT, 1838*   0                      NaN
6  Phymatodes glabratus (CHARPENTIER, 1825)*   0                      NaN
7       Phytoecia molybdaena (DALMAN, 1817)*   0                      NaN

In [425]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

                Species  BE           Deutscher_Name
0      Callidium aeneum   0                      NaN
1     Cerambyx scopolii   0  Kleiner Eichenbockkäfer
2   Chlorophorus varius   0                      NaN
3          Lamia textor   0                      NaN
4   Leiopus punctulatus   0                      NaN
5        Necydalis ulmi   0                      NaN
6  Phymatodes glabratus   0                      NaN
7  Phytoecia molybdaena   0                      NaN

In [426]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [427]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class',
       'acceptedUsageKey', 'note'],
      dtype='object')

In [428]:
df["Family"] = gbif_data["family"]
df

                Species  BE           Deutscher_Name        Family
0      Callidium aeneum   0                      NaN  Cerambycidae
1     Cerambyx scopolii   0  Kleiner Eichenbockkäfer  Cerambycidae
2   Chlorophorus varius   0                      NaN  Cerambycidae
3          Lamia textor   0                      NaN  Cerambycidae
4   Leiopus punctulatus   0                      NaN  Cerambycidae
5        Necydalis ulmi   0                      NaN  Cerambycidae
6  Phymatodes glabratus   0                      NaN  Cerambycidae
7  Phytoecia molybdaena   0                      NaN  Cerambycidae

In [429]:
# Adding reference column
df["Reference"] = "Rote Liste und Gesamtartenliste der Bockkäfer (Coleoptera: Cerambycidae) von Berlin"
# Adding Letzter_Nachweis column
df["Letzter_Nachweis"] = ""

In [430]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]

In [431]:
#df["Family"] = "Cerambycidae"
#df

In [432]:
# Add Deutschename of Lamia textor at  3 Weberbockkäfer
df.at[3,"Deutscher_Name"] = "Weberbockkäfer"
df

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Callidium aeneum,Cerambycidae,0,,NaN,Rote Liste und Gesamtartenliste der Bockkäfer ...
1,Cerambyx scopolii,Cerambycidae,0,,Kleiner Eichenbockkäfer,Rote Liste und Gesamtartenliste der Bockkäfer ...
2,Chlorophorus varius,Cerambycidae,0,,NaN,Rote Liste und Gesamtartenliste der Bockkäfer ...
3,Lamia textor,Cerambycidae,0,,Weberbockkäfer,Rote Liste und Gesamtartenliste der Bockkäfer ...
4,Leiopus punctulatus,Cerambycidae,0,,NaN,Rote Liste und Gesamtartenliste der Bockkäfer ...
5,Necydalis ulmi,Cerambycidae,0,,NaN,Rote Liste und Gesamtartenliste der Bockkäfer ...
6,Phymatodes glabratus,Cerambycidae,0,,NaN,Rote Liste und Gesamtartenliste der Bockkäfer ...
7,Phytoecia molybdaena,Cerambycidae,0,,NaN,Rote Liste und Gesamtartenliste der Bockkäfer ...

In [433]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/07_Coleoptera_Cerambycidae_Bockkäfer.csv', 
          index=False)

# 08. Coleoptera_Staphylinoidea_Histeridae_Stutzkäfer.csv

In [434]:
# Read file into dataframe

df = pd.read_csv('Coleoptera_Staphylinoidea_Histeridae_Stutzkäfer.csv')
df.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,GfU,Neobiota,Letzter_Nachweis
0,"Chetabraeus globulus (CREUTZER, 1799)",0,ex,NaN,NaN,NaN,kN,"6d, 7a, 8a, 8d, 8e",NaN,vor 1839
1,"Hypocacculus rufipes (KUGELANN, 1792)",0,ex,NaN,NaN,NaN,kN,"6d, 7a, 8a, 8d, 8e",NaN,vor 1860
2,"Platysoma angustum (HOFFMANN, 1803)",0,ex,NaN,NaN,NaN,kN,"2a, 14a",NaN,vor 1950
3,"Platysoma deplanatum (GYLLENHAL, 1808)",0,ex,NaN,NaN,NaN,kN,"2a, 14a",NaN,1914
4,"Plegaderus discisus ERICHSON, 1839",0,ex,NaN,NaN,NaN,kN,"2a, 14a",NaN,vor 1839

In [435]:
# Removing columns "Bestand","Trend_lang","Trend_kurz", "RF", "BB", "D", "GS", "GfU"
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "BB", 
                   "GfU", 
                   "Neobiota"
                  ], inplace = True)
df

                                    Species  BE Letzter_Nachweis
0     Chetabraeus globulus (CREUTZER, 1799)   0         vor 1839
1     Hypocacculus rufipes (KUGELANN, 1792)   0         vor 1860
2       Platysoma angustum (HOFFMANN, 1803)   0         vor 1950
3    Platysoma deplanatum (GYLLENHAL, 1808)   0             1914
4        Plegaderus discisus ERICHSON, 1839   0         vor 1839
..                                      ...  ..              ...
111     Philonthus rufipes (STEPHENS, 1832)   0         vor 1950
112      Quedius fulgidus (FABRICIUS, 1793)   0     KORGE (2005)
113         Rabigus pullus (NORDMANN, 1837)   0         vor 1950
114  Staphylinus caesareus CEDERHJELM, 1798   0     KORGE (2005)
115     Tasgius pedator (GRAVENHORST, 1802)   0     KORGE (2005)

[116 rows x 3 columns]

In [436]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

                   Species  BE Letzter_Nachweis
0     Chetabraeus globulus   0         vor 1839
1     Hypocacculus rufipes   0         vor 1860
2       Platysoma angustum   0         vor 1950
3     Platysoma deplanatum   0             1914
4      Plegaderus discisus   0         vor 1839
..                     ...  ..              ...
111     Philonthus rufipes   0         vor 1950
112       Quedius fulgidus   0     KORGE (2005)
113         Rabigus pullus   0         vor 1950
114  Staphylinus caesareus   0     KORGE (2005)
115        Tasgius pedator   0     KORGE (2005)

[116 rows x 3 columns]

In [437]:
# Too long to manually add the subfamily and family
# Can use GBIF or NCBI

In [438]:
# GBIF 
#rename Species column to upload to GBIF
# df.rename(columns={"Species": "scientificName"}, inplace = True)

#df.to_csv('Coleoptera_Staphylinoidea_Histeridae_Stutzkäfer_GBIF_in.csv', 
#          index=False)

# Upload to https://www.gbif.org/tools/data-validator

In [439]:
#df_gbif = pd.read_csv('~/Downloads/Normalized.csv')
#df_gbif.head()

In [440]:
#df["Family"] = df_gbif.family

In [441]:
#df

# NCBI - Toooooo slow. Needs to download the taxonomy tree locally

!pip install taxonomy_ranks

from taxonomy_ranks import TaxonomyRanks

taxa_name = 'homo sapiens'

rank_taxon = TaxonomyRanks(taxa_name)

rank_taxon.get_lineage_taxids_and_taxanames()

ranks = ('user_taxa', 'taxa_searched', 'superfamily', 'family', 'subfamily', 'genus', 'species')

# If you don't want the results of so many ranks, just simplify the 'ranks' tupe, e.g.
# ranks = ('user_taxa', 'taxa_searched',  'superkingdom', 'kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species')
# The rank without a value found in the database will have the default vale 'NA'.

for potential_taxid in rank_taxon.lineages:
     for rank in ranks:
         if rank in ('user_taxa', 'taxa_searched'):
             taxon = rank_taxon.lineages[potential_taxid][rank]
             print(potential_taxid, rank, taxon, sep='\t')
         else:
             taxon, taxid_of_taxon = rank_taxon.lineages[potential_taxid][rank]
             print(potential_taxid, rank, taxon, taxid_of_taxon, sep='\t')

In [442]:
#!pip install pygbif

In [443]:
#from pygbif import species

In [444]:
df.head()

                Species  BE Letzter_Nachweis
0  Chetabraeus globulus   0         vor 1839
1  Hypocacculus rufipes   0         vor 1860
2    Platysoma angustum   0         vor 1950
3  Platysoma deplanatum   0             1914
4   Plegaderus discisus   0         vor 1839

In [445]:
'''
for key in d2:
    df = pd.concat([df, d2[key]], axis = 0)
df
'''

'\nfor key in d2:\n    df = pd.concat([df, d2[key]], axis = 0)\ndf\n'

In [446]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [447]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'acceptedUsageKey', 'scientificName',
       'canonicalName', 'rank', 'status', 'confidence', 'matchType', 'kingdom',
       'phylum', 'order', 'family', 'genus', 'kingdomKey', 'phylumKey',
       'classKey', 'orderKey', 'familyKey', 'genusKey', 'synonym', 'class',
       'species', 'speciesKey'],
      dtype='object')

In [448]:
df["Family"] = gbif_data["family"]
df

                   Species  BE Letzter_Nachweis         Family
0     Chetabraeus globulus   0         vor 1839     Histeridae
1     Hypocacculus rufipes   0         vor 1860     Histeridae
2       Platysoma angustum   0         vor 1950     Histeridae
3     Platysoma deplanatum   0             1914     Histeridae
4      Plegaderus discisus   0         vor 1839     Histeridae
..                     ...  ..              ...            ...
111     Philonthus rufipes   0         vor 1950  Staphylinidae
112       Quedius fulgidus   0     KORGE (2005)  Staphylinidae
113         Rabigus pullus   0         vor 1950  Staphylinidae
114  Staphylinus caesareus   0     KORGE (2005)  Staphylinidae
115        Tasgius pedator   0     KORGE (2005)  Staphylinidae

[116 rows x 4 columns]

In [449]:
# Adding reference column
df["Reference"] = "Rote Liste und Gesamtartenliste der Kurzflügelkäferartigen und Stutzkäfer (Coleoptera: Staphylinoidea und Histeridae) von Berlin"
# Adding Deutscher_Name column
df["Deutscher_Name"] = ""

In [450]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]

In [451]:
df.tail()

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
111,Philonthus rufipes,Staphylinidae,0,vor 1950,,Rote Liste und Gesamtartenliste der Kurzflügel...
112,Quedius fulgidus,Staphylinidae,0,KORGE (2005),,Rote Liste und Gesamtartenliste der Kurzflügel...
113,Rabigus pullus,Staphylinidae,0,vor 1950,,Rote Liste und Gesamtartenliste der Kurzflügel...
114,Staphylinus caesareus,Staphylinidae,0,KORGE (2005),,Rote Liste und Gesamtartenliste der Kurzflügel...
115,Tasgius pedator,Staphylinidae,0,KORGE (2005),,Rote Liste und Gesamtartenliste der Kurzflügel...

In [452]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/08_Coleoptera_Staphylinoidea_Histeridae_Stutzkäfer.csv', 
          index=False)

# 09. Curculionoidea_Rüsselkäfer.csv

In [453]:
# Read file into dataframe

df = pd.read_csv('Curculionoidea_Rüsselkäfer.csv')
df.head()

,Species,BE,BB,DE,Vorzugs_habitate,Gefährdungsursachen
0,Acalyptus carpini (FABRICIUS)*,0,3,-,"WM, WW","2d, 7b, 8b"
1,Aizobius sedi (GERMAR)*,0,3,-,"RSA, GT","1a, 7a, 8a, 13a"
2,Bagous binodulus (HERBST)*,0,1,3,"SFA, M, GF","2d, 5, 6a, 12c"
3,Bagous collignensis (HERBST)*,0,2,2,"S, M, GF","2d, 5, 6a, 12c"
4,Bagous diglyptus BOHEMAN*,0,1,2,"GT, RSA","1a, 7a, 8a, 11a"

In [454]:
# Removing columns "Bestand","Trend_lang","Trend_kurz", "RF", "BB", "D", "GS", "GfU"
df.drop(columns = ["BB",
                   "DE",
                   "Vorzugs_habitate",
                   "Gefährdungsursachen"
                  ], inplace = True)
df

                             Species  BE
0     Acalyptus carpini (FABRICIUS)*   0
1            Aizobius sedi (GERMAR)*   0
2         Bagous binodulus (HERBST)*   0
3      Bagous collignensis (HERBST)*   0
4          Bagous diglyptus BOHEMAN*   0
..                               ...  ..
80      Thryogenes nereis (PAYKULL)*   0
81  Trachyphloeus spinimanus GERMAR*   0
82      Tychius lineatulus STEPHENS*   0
83   Tychius medicaginis C. BRISOUT*   0
84        Tychius trivialis BOHEMAN*   0

[85 rows x 2 columns]

In [455]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

                     Species  BE
0          Acalyptus carpini   0
1              Aizobius sedi   0
2           Bagous binodulus   0
3        Bagous collignensis   0
4           Bagous diglyptus   0
..                       ...  ..
80         Thryogenes nereis   0
81  Trachyphloeus spinimanus   0
82        Tychius lineatulus   0
83       Tychius medicaginis   0
84         Tychius trivialis   0

[85 rows x 2 columns]

In [456]:
# Creating a dictionary
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')

In [457]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class',
       'acceptedUsageKey'],
      dtype='object')

In [458]:
df["Family"] = gbif_data["family"]

In [459]:
df.head()

               Species  BE         Family
0    Acalyptus carpini   0  Curculionidae
1        Aizobius sedi   0      Apionidae
2     Bagous binodulus   0  Curculionidae
3  Bagous collignensis   0  Curculionidae
4     Bagous diglyptus   0  Curculionidae

In [460]:
# Adding reference column
df["Reference"] = "Rote Liste und Gesamtartenliste der Rüsselkäfer (Curculionoidea) von Berlin"
# Adding Deutscher_Name column
df["Deutscher_Name"] = ""
# Adding Letzter_Nachweis column
df["Letzter_Nachweis"] = ""

In [461]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]

In [462]:
df.head()

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Acalyptus carpini,Curculionidae,0,,,Rote Liste und Gesamtartenliste der Rüsselkäfe...
1,Aizobius sedi,Apionidae,0,,,Rote Liste und Gesamtartenliste der Rüsselkäfe...
2,Bagous binodulus,Curculionidae,0,,,Rote Liste und Gesamtartenliste der Rüsselkäfe...
3,Bagous collignensis,Curculionidae,0,,,Rote Liste und Gesamtartenliste der Rüsselkäfe...
4,Bagous diglyptus,Curculionidae,0,,,Rote Liste und Gesamtartenliste der Rüsselkäfe...

In [463]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/09_Curculionoidea_Rüsselkäfer.csv', 
          index=False)

# 10. Diptera_Asilidae_Raubfliegen.csv

In [464]:
# Read file into dataframe

df = pd.read_csv('Diptera_Asilidae_Raubfliegen.csv')
df.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,D,GfU,Letzter_Nachweis
0,"Andrenosoma atrum (LINNAEUS, 1758)",0,ex,NaN,NaN,NaN,2,NaN,1904
1,"Asilus crabroniformis LINNAEUS, 1758",0,ex,NaN,NaN,NaN,2,NaN,1936
2,"Choerades gilva (LINNAEUS, 1758)",0,ex,NaN,NaN,NaN,G,NaN,1958
3,"Dioctria cothurnata MEIGEN, 1820",0,ex,NaN,NaN,NaN,*,NaN,1951
4,"Erax barbatus SCOPOLI, 1763",0,ex,NaN,NaN,NaN,2,NaN,vor 1945

In [465]:
# Removing columns "Bestand","Trend_lang","Trend_kurz", "RF", "BB", "D", "GS", "GfU"
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "D",
                   "GfU"
                  ], inplace = True)
df

                                   Species  BE Letzter_Nachweis
0       Andrenosoma atrum (LINNAEUS, 1758)   0             1904
1     Asilus crabroniformis LINNAEUS, 1758   0             1936
2         Choerades gilva (LINNAEUS, 1758)   0             1958
3         Dioctria cothurnata MEIGEN, 1820   0             1951
4              Erax barbatus SCOPOLI, 1763   0         vor 1945
5     Holopogon fumipennis (MEIGEN, 1820)*   0         vor 1945
6         Laphria gibbosa (LINNAEUS, 1758)   0             1965
7  Leptarthrus brevirostris (MEIGEN, 1804)   0             1932

In [466]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

                    Species  BE Letzter_Nachweis
0         Andrenosoma atrum   0             1904
1     Asilus crabroniformis   0             1936
2           Choerades gilva   0             1958
3       Dioctria cothurnata   0             1951
4             Erax barbatus   0         vor 1945
5      Holopogon fumipennis   0         vor 1945
6           Laphria gibbosa   0             1965
7  Leptarthrus brevirostris   0             1932

In [467]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Completed")

Completed

In [468]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class',
       'acceptedUsageKey'],
      dtype='object')

In [469]:
df["Family"] = gbif_data["family"]

In [470]:
df

                    Species  BE Letzter_Nachweis    Family
0         Andrenosoma atrum   0             1904  Asilidae
1     Asilus crabroniformis   0             1936  Asilidae
2           Choerades gilva   0             1958  Asilidae
3       Dioctria cothurnata   0             1951  Asilidae
4             Erax barbatus   0         vor 1945  Asilidae
5      Holopogon fumipennis   0         vor 1945  Asilidae
6           Laphria gibbosa   0             1965  Asilidae
7  Leptarthrus brevirostris   0             1932  Asilidae

In [471]:
# Adding reference column
df["Reference"] = "Rote Liste und Gesamtartenliste der Raubfliegen (Diptera: Asilidae) von Berlin"
# Adding Deutscher_Name column
df["Deutscher_Name"] = ""

In [472]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]

In [473]:
df

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Andrenosoma atrum,Asilidae,0,1904,,Rote Liste und Gesamtartenliste der Raubfliege...
1,Asilus crabroniformis,Asilidae,0,1936,,Rote Liste und Gesamtartenliste der Raubfliege...
2,Choerades gilva,Asilidae,0,1958,,Rote Liste und Gesamtartenliste der Raubfliege...
3,Dioctria cothurnata,Asilidae,0,1951,,Rote Liste und Gesamtartenliste der Raubfliege...
4,Erax barbatus,Asilidae,0,vor 1945,,Rote Liste und Gesamtartenliste der Raubfliege...
5,Holopogon fumipennis,Asilidae,0,vor 1945,,Rote Liste und Gesamtartenliste der Raubfliege...
6,Laphria gibbosa,Asilidae,0,1965,,Rote Liste und Gesamtartenliste der Raubfliege...
7,Leptarthrus brevirostris,Asilidae,0,1932,,Rote Liste und Gesamtartenliste der Raubfliege...

In [474]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/10_Diptera_Asilidae_Raubfliegen.csv', 
          index=False)

# 11. Diptera_Syrphidae_Schwebfliegen

In [475]:
# Read file into dataframe

df = pd.read_csv('Diptera_Syrphidae_Schwebfliegen.csv')
df.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,D,GfU,Vorzugshabitat,Ernährungs_typLarve
0,"Anasimyia lunulata (MEIGEN, 1822)",0,ex,NaN,NaN,NaN,1,"2d, 6a, 8b, 11c",M,asp
1,"Baccha obscuripennis MEIGEN, 1822*",0,ex,NaN,NaN,NaN,*,"2a, 12b","W1, W2, PF, PK",zoo
2,"Chalcosyrphus piger (FABRICIUS, 1794)",0,ex,NaN,NaN,NaN,2,"2a, 9, 12b",W2,tsp
3,"Chamaesyrphus lusitanicus MIK, 1898",0,ex,NaN,NaN,NaN,1,"1a, 2a, 6d, 7d, 8, 14a","H, W2, AD",phy?
4,"Chamaesyrphus scaevoides (FALLÉN, 1817)",0,ex,NaN,NaN,NaN,2,"1a, 2a, 6d, 7d, 8, 14a","H, W2",phy?

In [476]:
# Removing columns 
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "D",
                   "GfU",
                   "Vorzugshabitat",
                   "Ernährungs_typLarve"
                  ], inplace = True)
df

                                        Species  BE
0             Anasimyia lunulata (MEIGEN, 1822)   0
1            Baccha obscuripennis MEIGEN, 1822*   0
2         Chalcosyrphus piger (FABRICIUS, 1794)   0
3           Chamaesyrphus lusitanicus MIK, 1898   0
4       Chamaesyrphus scaevoides (FALLÉN, 1817)   0
5                  Cheilosia barbata LOEW, 1857   0
6              Cheilosia pascuorum BECKER, 1894   0
7             Chrysogaster virescens LOEW, 1854   0
8        Chrysotoxum octomaculatum CURTIS, 1837   0
9               Eristalis alpina (PANZER, 1798)   0
10        Eristalis anthophorina (FALLÉN, 1817)   0
11        Eumerus flavitarsis ZETTERSTEDT, 1843   0
12             Eumerus sabulonum (FALLÉN, 1817)   0
13       Lejogaster metallina (FABRICIUS, 1777)   0
14         Mallota megilliformis (FALLÉN, 1817)   0
15       Megasyrphus erraticus (LINNAEUS, 1758)   0
16             Microdon devius (LINNAEUS, 1761)   0
17                Myolepta obscura BECHER, 1882   0
18                 Myolepta vara (PANZER, 1798)   0
19          Neocnemodon brevidens (EGGER, 1865)   0
20         Neocnemodon verrucula (COLLIN, 1931)   0
21          Orthonevra erythrogona (MALM, 1863)   0
22              Orthonevra incisa (LOEW, 1843)*   0
23       Orthonevra intermedia (LUNDBECK, 1916)   0
24            Orthonevra nobilis (FALLÉN, 1817)   0
25            Pelecocera tricincta MEIGEN, 1822   0
26  Sphaerophoria interrupta (FABRICIUS, 1805)*   0
27        Sphaerophoria loewi ZETTERSTEDT, 1843   0
28       Spilomyia diophthalma (LINNAEUS, 1758)   0
29     Trichopsomyia flavitarsis (MEIGEN, 1822)   0
30                    Xylota tarda MEIGEN, 1822   0

In [477]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

                      Species  BE
0          Anasimyia lunulata   0
1        Baccha obscuripennis   0
2         Chalcosyrphus piger   0
3   Chamaesyrphus lusitanicus   0
4    Chamaesyrphus scaevoides   0
5           Cheilosia barbata   0
6         Cheilosia pascuorum   0
7      Chrysogaster virescens   0
8   Chrysotoxum octomaculatum   0
9            Eristalis alpina   0
10     Eristalis anthophorina   0
11        Eumerus flavitarsis   0
12          Eumerus sabulonum   0
13       Lejogaster metallina   0
14      Mallota megilliformis   0
15      Megasyrphus erraticus   0
16            Microdon devius   0
17           Myolepta obscura   0
18              Myolepta vara   0
19      Neocnemodon brevidens   0
20      Neocnemodon verrucula   0
21     Orthonevra erythrogona   0
22          Orthonevra incisa   0
23      Orthonevra intermedia   0
24         Orthonevra nobilis   0
25       Pelecocera tricincta   0
26   Sphaerophoria interrupta   0
27        Sphaerophoria loewi   0
28      Spilomyia diophthalma   0
29  Trichopsomyia flavitarsis   0
30               Xylota tarda   0

In [478]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [479]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'acceptedUsageKey', 'scientificName',
       'canonicalName', 'rank', 'status', 'confidence', 'matchType', 'kingdom',
       'phylum', 'order', 'family', 'genus', 'species', 'kingdomKey',
       'phylumKey', 'classKey', 'orderKey', 'familyKey', 'genusKey',
       'speciesKey', 'synonym', 'class'],
      dtype='object')

In [480]:
df["Family"] = gbif_data["family"]
df

                      Species  BE     Family
0          Anasimyia lunulata   0  Syrphidae
1        Baccha obscuripennis   0  Syrphidae
2         Chalcosyrphus piger   0  Syrphidae
3   Chamaesyrphus lusitanicus   0  Syrphidae
4    Chamaesyrphus scaevoides   0  Syrphidae
5           Cheilosia barbata   0  Syrphidae
6         Cheilosia pascuorum   0  Syrphidae
7      Chrysogaster virescens   0  Syrphidae
8   Chrysotoxum octomaculatum   0  Syrphidae
9            Eristalis alpina   0  Syrphidae
10     Eristalis anthophorina   0  Syrphidae
11        Eumerus flavitarsis   0  Syrphidae
12          Eumerus sabulonum   0  Syrphidae
13       Lejogaster metallina   0  Syrphidae
14      Mallota megilliformis   0  Syrphidae
15      Megasyrphus erraticus   0  Syrphidae
16            Microdon devius   0  Syrphidae
17           Myolepta obscura   0  Syrphidae
18              Myolepta vara   0  Syrphidae
19      Neocnemodon brevidens   0  Syrphidae
20      Neocnemodon verrucula   0  Syrphidae
21     Orthonevra erythrogona   0  Syrphidae
22          Orthonevra incisa   0  Syrphidae
23      Orthonevra intermedia   0  Syrphidae
24         Orthonevra nobilis   0  Syrphidae
25       Pelecocera tricincta   0  Syrphidae
26   Sphaerophoria interrupta   0  Syrphidae
27        Sphaerophoria loewi   0  Syrphidae
28      Spilomyia diophthalma   0  Syrphidae
29  Trichopsomyia flavitarsis   0  Syrphidae
30               Xylota tarda   0  Syrphidae

In [481]:
# Adding reference column
df["Reference"] = "Rote Liste und Gesamtartenliste der Schwebfliegen (Diptera: Syrphidae) von Berlin"
# Adding Deutscher_Name column
df["Deutscher_Name"] = ""
# Adding Letzter_Nachweis column
df["Letzter_Nachweis"] = ""

In [482]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]

In [483]:
df

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Anasimyia lunulata,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
1,Baccha obscuripennis,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
2,Chalcosyrphus piger,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
3,Chamaesyrphus lusitanicus,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
4,Chamaesyrphus scaevoides,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
5,Cheilosia barbata,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
6,Cheilosia pascuorum,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
7,Chrysogaster virescens,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
8,Chrysotoxum octomaculatum,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
9,Eristalis alpina,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
10,Eristalis anthophorina,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
11,Eumerus flavitarsis,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
12,Eumerus sabulonum,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
13,Lejogaster metallina,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
14,Mallota megilliformis,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
15,Megasyrphus erraticus,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
16,Microdon devius,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
17,Myolepta obscura,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
18,Myolepta vara,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
19,Neocnemodon brevidens,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
20,Neocnemodon verrucula,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
21,Orthonevra erythrogona,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
22,Orthonevra incisa,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
23,Orthonevra intermedia,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
24,Orthonevra nobilis,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
25,Pelecocera tricincta,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
26,Sphaerophoria interrupta,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
27,Sphaerophoria loewi,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
28,Spilomyia diophthalma,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
29,Trichopsomyia flavitarsis,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...
30,Xylota tarda,Syrphidae,0,,,Rote Liste und Gesamtartenliste der Schwebflie...

In [484]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/11_Diptera_Syrphidae_Schwebfliegen.csv', 
          index=False)

# 12. Grasshoppers_and_crickets

In [485]:
# Read file into dataframe

df = pd.read_csv('Grasshoppers_crickets.csv')
df.head()

,Wissenschaftlicher_Name,BE,BB,DE,GS,H,Vorzugs-habitate,Biol_ökol_Typ,Gefährdungsursachen
0,Arcyptera microptera (FISCHER \nVON WALDHEIM)*...,0,0,0,§§,-,"GT, H",xer,NaN
1,Calliptamus italicus (LINNAEUS)* \nItalienisch...,0,1,1,§,-,"GT, H, LBS",xer,NaN
2,Gampsocleis glabra (HERBST)* \nHeideschrecke,0,0,1,§§,-,"GT, H",xer,NaN
3,Metrioptera brachyptera (LIN-\nNAEUS)* \nKurzf...,0,2,-,NaN,-,"M, GF",hyg,NaN
4,Platycleis montana (KOLLAR)* \nSteppen-Beißsch...,0,1,1,§§,-,"GT, H",xer,NaN

In [486]:
df.columns

Index(['Wissenschaftlicher_Name', 'BE', 'BB', 'DE', 'GS', 'H',
       'Vorzugs-habitate ', 'Biol_ökol_Typ', 'Gefährdungsursachen'],
      dtype='object')

In [487]:
# Removing columns 
df.drop(columns = ["BB",
                   "DE",
                   "GS",
                   "H",
                   "Vorzugs-habitate ",
                   "Biol_ökol_Typ",
                   "Gefährdungsursachen"
                  ], inplace = True)
df

                             Wissenschaftlicher_Name  BE
0  Arcyptera microptera (FISCHER \nVON WALDHEIM)*...   0
1  Calliptamus italicus (LINNAEUS)* \nItalienisch...   0
2       Gampsocleis glabra (HERBST)* \nHeideschrecke   0
3  Metrioptera brachyptera (LIN-\nNAEUS)* \nKurzf...   0
4  Platycleis montana (KOLLAR)* \nSteppen-Beißsch...   0
5  Psophus stridulus (LINNAEUS)* \nRotflüglige Sc...   0
6  Stauroderus scalaris (FISCHER \nVON WALDHEIM)*...   0
7  Stenobothrus nigromaculatus \n(HERRICH-SCHÄFFE...   0

In [488]:
# Editing species column based on binomial nomenclature

df1 = df.Wissenschaftlicher_Name.str.split(pat=" ", n = 3, expand = True)
df1

,0,1,2,3
0,Arcyptera,microptera,(FISCHER,\nVON WALDHEIM)* \nKleine Höckerschrecke
1,Calliptamus,italicus,(LINNAEUS)*,\nItalienische Schönschrecke
2,Gampsocleis,glabra,(HERBST)*,\nHeideschrecke
3,Metrioptera,brachyptera,(LIN-\nNAEUS)*,\nKurzflüglige Beißschrecke
4,Platycleis,montana,(KOLLAR)*,\nSteppen-Beißschrecke
5,Psophus,stridulus,(LINNAEUS)*,\nRotflüglige Schnarrschrecke
6,Stauroderus,scalaris,(FISCHER,\nVON WALDHEIM)* \nGebirgsgrashüpfer
7,Stenobothrus,nigromaculatus,\n(HERRICH-SCHÄFFER)*,\nSchwarzfleckiger Heidegrashüp-\nfer

In [489]:
df.Wissenschaftlicher_Name = df1[0].str.cat(df1[1], sep = " ")
df

       Wissenschaftlicher_Name  BE
0         Arcyptera microptera   0
1         Calliptamus italicus   0
2           Gampsocleis glabra   0
3      Metrioptera brachyptera   0
4           Platycleis montana   0
5            Psophus stridulus   0
6         Stauroderus scalaris   0
7  Stenobothrus nigromaculatus   0

In [490]:
# renaming column to Species
df.rename({
    "Wissenschaftlicher_Name": "Species"
}, 
    axis='columns',
    inplace = True
)

In [491]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [492]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class',
       'acceptedUsageKey', 'note'],
      dtype='object')

In [493]:
df["Family"] = gbif_data["family"]
df

                       Species  BE         Family
0         Arcyptera microptera   0      Acrididae
1         Calliptamus italicus   0      Acrididae
2           Gampsocleis glabra   0  Tettigoniidae
3      Metrioptera brachyptera   0  Tettigoniidae
4           Platycleis montana   0  Tettigoniidae
5            Psophus stridulus   0      Acrididae
6         Stauroderus scalaris   0      Acrididae
7  Stenobothrus nigromaculatus   0      Acrididae

In [494]:
# Adding reference column
df["Reference"] = "Rote Liste und Gesamtartenliste der Heuschrecken und Grillen (Saltatoria: Ensifera et Caelifera) von Berlin"
# Adding Deutscher_Name column
df["Deutscher_Name"] = ""
# Adding Letzter_Nachweis column
df["Letzter_Nachweis"] = ""

In [495]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]

In [496]:
df

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Arcyptera microptera,Acrididae,0,,,Rote Liste und Gesamtartenliste der Heuschreck...
1,Calliptamus italicus,Acrididae,0,,,Rote Liste und Gesamtartenliste der Heuschreck...
2,Gampsocleis glabra,Tettigoniidae,0,,,Rote Liste und Gesamtartenliste der Heuschreck...
3,Metrioptera brachyptera,Tettigoniidae,0,,,Rote Liste und Gesamtartenliste der Heuschreck...
4,Platycleis montana,Tettigoniidae,0,,,Rote Liste und Gesamtartenliste der Heuschreck...
5,Psophus stridulus,Acrididae,0,,,Rote Liste und Gesamtartenliste der Heuschreck...
6,Stauroderus scalaris,Acrididae,0,,,Rote Liste und Gesamtartenliste der Heuschreck...
7,Stenobothrus nigromaculatus,Acrididae,0,,,Rote Liste und Gesamtartenliste der Heuschreck...

In [497]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/12_Grasshoppers_and_crickets.csv', 
          index=False)

# 13. Zikaden.csv

In [498]:
# Read file into dataframe

df = pd.read_csv('Zikaden.csv')
df.head()

,Wissenschaftlicher_Name,BE,Bestand,Trend_lang,Trend_kurz,RF,D,GfU,letzter_Nachweis,Deutscher Name
0,"Adarrus multinotatus (BOHEMAN, 1847)",0,ex,NaN,NaN,NaN,*,"1, 7",vor 1912,Gemeine Zwenkenzirpe
1,"Allygus maculatus RIBAUT, 1952",0,ex,NaN,NaN,NaN,3,"1, 2, 7",1902,Fleckenbaumzirpe
2,"Anoscopus albifrons (LINNAEUS, 1758)",0,ex,NaN,NaN,NaN,*,?,vor 1912,Braune Erdzikade
3,"Arocephalus punctum (FLOR, 1861)",0,ex,NaN,NaN,NaN,3,"1, 7",1889,Widderzirpe
4,"Athysanus quadrum BOHEMAN, 1845",0,ex,NaN,NaN,NaN,2,"2, 6",1919,Sumpfzirpe

In [499]:
# Removing columns 
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "D",
                   "GfU"
                  ], inplace = True)
df

,Wissenschaftlicher_Name,BE,letzter_Nachweis,Deutscher Name
0,"Adarrus multinotatus (BOHEMAN, 1847)",0,vor 1912,Gemeine Zwenkenzirpe
1,"Allygus maculatus RIBAUT, 1952",0,1902,Fleckenbaumzirpe
2,"Anoscopus albifrons (LINNAEUS, 1758)",0,vor 1912,Braune Erdzikade
3,"Arocephalus punctum (FLOR, 1861)",0,1889,Widderzirpe
4,"Athysanus quadrum BOHEMAN, 1845",0,1919,Sumpfzirpe
5,"Cicadula saturata (EDWARDS, 1915)",0,1889,Braunseggenzirpe
6,"Coryphaelus gyllenhalii (FALLÉN, 1826)",0,1919,Bunte Simsenzirpe
7,"Cosmotettix panzeri (FLOR, 1861)",0,1952,Baltische Moorzirpe
8,"Criomorphus borealis (J. SAHLBERG, 1871)",0,vor 1960,Taigaspornzikade
9,"Criomorphus moestus (BOHEMAN, 1847)",0,1952,Schwedische Spornzikade
10,"Delphacinus mesomelas (BOHEMAN, 1850)",0,vor 1912,Elfenbein-Spornzikade
11,"Delphax crassicornis (PANZER, 1796)",0,vor 1880,Bunte Schilfspornzikade
12,"Doliotettix lunulatus (ZETTERSTEDT, 1840)",0,1928,Frühlingsgraszirpe
13,"Empoasca affinis NAST, 1937",0,vor 1960,Strauchblattzikade
14,"Erotettix cyane (BOHEMAN, 1845)",0,1889,Seerosenzirpe
15,"Eurhadina kirschbaumi W. WAGNER, 1937",0,1889,Traubeneichen-Elfenzikade
16,"Euscelis venosus (KIRSCHBAUM, 1868)",0,1889,Eberwurzzirpe
17,"Hephathus nanus (HERRICH-SCHÄFFER, 1835)",0,1921,Zwergmaskenzikade
18,"Jassargus pseudocellaris (FLOR, 1861)",0,vor 1912,Wiesen-Spitzkopfzirpe
19,"Kelisia ribauti W. WAGNER, 1938",0,1952,Schwarzlippen-Spornzikade
20,"Kelisia vittipennis (J. SAHLBERG, 1868)",0,1952,Wollgras-Spornzikade
21,"Limotettix atricapillus (BOHEMAN, 1845)",0,1952,Schnabelriedzirpe
22,"Macropsis impura (BOHEMAN, 1847)",0,1919,Kleine Maskenzikade
23,"Metalimnus formosus (BOHEMAN, 1845)",0,1952,Schöne Marmorzirpe
24,"Nothodelphax albocarinata (STÅL, 1858)",0,vor 1960,Schlenkenspornzikade
25,"Nothodelphax distincta (FLOR, 1861)",0,1952,Hochmoor-Spornzikade
26,"Oncodelphax pullula (BOHEMAN, 1852)",0,1952,Klauenspornzikade
27,"Oncopsis appendiculata W. WAGNER, 1944",0,1910,Hakenmaskenzikade
28,"Ophiola russeola (FALLÉN, 1826)",0,1952,Zwergheidezirpe
29,"Paraliburnia clypealis (J. SAHLBERG, 1871)",0,1951,Braune Spornzikade
30,"Parapotes reticulatus (HORVÁTH, 1897)",0,1919,Scherenzirpe
31,"Planaphrodes trifasciata (GEOFFROY, 1785)",0,vor 1912,Heideerdzikade
32,"Populicerus laminatus (FLOR, 1861)",0,1921,Große Espenwinkerzikade
33,"Stiroma bicarinata (HERRICH-SCHÄFFER, 1835)",0,vor 1912,Waldspornzikade
34,"Stroggylocephalus agrestis (FALLÉN, 1806)",0,1932,Sumpferdzikade
35,"Tettigometra leucophaea (PREYSSLER, 1792)",0,1905,Punktierte Ameisenzikade
36,"Ulopa reticulata (FABRICIUS, 1794)",0,1921,Heidekrautzikade
37,"Verdanus abdominalis (FABRICIUS, 1803)",0,vor 1912,Schwarzgrüne Graszirpe
38,"Zygina nigritarsis REMANE, 1994",0,1889,Ringelfeuerzikade

In [500]:
# Editing species column based on binomial nomenclature

df1 = df.Wissenschaftlicher_Name.str.split(pat=" ", n = 3, expand = True)
df1
df.Wissenschaftlicher_Name = df1[0].str.cat(df1[1], sep = " ")
df

       Wissenschaftlicher_Name  BE letzter_Nachweis             Deutscher Name
0         Adarrus multinotatus   0         vor 1912       Gemeine Zwenkenzirpe
1            Allygus maculatus   0             1902           Fleckenbaumzirpe
2          Anoscopus albifrons   0         vor 1912           Braune Erdzikade
3          Arocephalus punctum   0             1889                Widderzirpe
4            Athysanus quadrum   0             1919                 Sumpfzirpe
5            Cicadula saturata   0             1889           Braunseggenzirpe
6      Coryphaelus gyllenhalii   0             1919          Bunte Simsenzirpe
7          Cosmotettix panzeri   0             1952        Baltische Moorzirpe
8         Criomorphus borealis   0         vor 1960           Taigaspornzikade
9          Criomorphus moestus   0             1952    Schwedische Spornzikade
10       Delphacinus mesomelas   0         vor 1912      Elfenbein-Spornzikade
11        Delphax crassicornis   0         vor 1880    Bunte Schilfspornzikade
12       Doliotettix lunulatus   0             1928         Frühlingsgraszirpe
13            Empoasca affinis   0         vor 1960         Strauchblattzikade
14             Erotettix cyane   0             1889              Seerosenzirpe
15       Eurhadina kirschbaumi   0             1889  Traubeneichen-Elfenzikade
16            Euscelis venosus   0             1889              Eberwurzzirpe
17             Hephathus nanus   0             1921          Zwergmaskenzikade
18    Jassargus pseudocellaris   0         vor 1912      Wiesen-Spitzkopfzirpe
19             Kelisia ribauti   0             1952  Schwarzlippen-Spornzikade
20         Kelisia vittipennis   0             1952       Wollgras-Spornzikade
21     Limotettix atricapillus   0             1952          Schnabelriedzirpe
22            Macropsis impura   0             1919        Kleine Maskenzikade
23         Metalimnus formosus   0             1952         Schöne Marmorzirpe
24   Nothodelphax albocarinata   0         vor 1960       Schlenkenspornzikade
25      Nothodelphax distincta   0             1952       Hochmoor-Spornzikade
26         Oncodelphax pullula   0             1952          Klauenspornzikade
27      Oncopsis appendiculata   0             1910          Hakenmaskenzikade
28            Ophiola russeola   0             1952            Zwergheidezirpe
29      Paraliburnia clypealis   0             1951         Braune Spornzikade
30       Parapotes reticulatus   0             1919               Scherenzirpe
31    Planaphrodes trifasciata   0         vor 1912             Heideerdzikade
32       Populicerus laminatus   0             1921    Große Espenwinkerzikade
33          Stiroma bicarinata   0         vor 1912            Waldspornzikade
34  Stroggylocephalus agrestis   0             1932             Sumpferdzikade
35     Tettigometra leucophaea   0             1905   Punktierte Ameisenzikade
36            Ulopa reticulata   0             1921           Heidekrautzikade
37        Verdanus abdominalis   0         vor 1912     Schwarzgrüne Graszirpe
38          Zygina nigritarsis   0             1889          Ringelfeuerzikade

In [501]:
# Rename column names
df.rename(columns={
    "Wissenschaftlicher_Name": "Species",
    "Deutscher Name":"Deutscher_Name"
}, inplace = True
         )

In [502]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [503]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class',
       'acceptedUsageKey'],
      dtype='object')

In [504]:
df["Family"] = gbif_data["family"]
df

,Species,BE,letzter_Nachweis,Deutscher_Name,Family
0,Adarrus multinotatus,0,vor 1912,Gemeine Zwenkenzirpe,Cicadellidae
1,Allygus maculatus,0,1902,Fleckenbaumzirpe,Cicadellidae
2,Anoscopus albifrons,0,vor 1912,Braune Erdzikade,Cicadellidae
3,Arocephalus punctum,0,1889,Widderzirpe,Cicadellidae
4,Athysanus quadrum,0,1919,Sumpfzirpe,Cicadellidae
5,Cicadula saturata,0,1889,Braunseggenzirpe,Cicadellidae
6,Coryphaelus gyllenhalii,0,1919,Bunte Simsenzirpe,Cicadellidae
7,Cosmotettix panzeri,0,1952,Baltische Moorzirpe,Cicadellidae
8,Criomorphus borealis,0,vor 1960,Taigaspornzikade,Delphacidae
9,Criomorphus moestus,0,1952,Schwedische Spornzikade,Delphacidae
10,Delphacinus mesomelas,0,vor 1912,Elfenbein-Spornzikade,Delphacidae
11,Delphax crassicornis,0,vor 1880,Bunte Schilfspornzikade,Delphacidae
12,Doliotettix lunulatus,0,1928,Frühlingsgraszirpe,Cicadellidae
13,Empoasca affinis,0,vor 1960,Strauchblattzikade,Cicadellidae
14,Erotettix cyane,0,1889,Seerosenzirpe,Cicadellidae
15,Eurhadina kirschbaumi,0,1889,Traubeneichen-Elfenzikade,Cicadellidae
16,Euscelis venosus,0,1889,Eberwurzzirpe,Cicadellidae
17,Hephathus nanus,0,1921,Zwergmaskenzikade,Cicadellidae
18,Jassargus pseudocellaris,0,vor 1912,Wiesen-Spitzkopfzirpe,Cicadellidae
19,Kelisia ribauti,0,1952,Schwarzlippen-Spornzikade,Delphacidae
20,Kelisia vittipennis,0,1952,Wollgras-Spornzikade,Delphacidae
21,Limotettix atricapillus,0,1952,Schnabelriedzirpe,Cicadellidae
22,Macropsis impura,0,1919,Kleine Maskenzikade,Cicadellidae
23,Metalimnus formosus,0,1952,Schöne Marmorzirpe,Cicadellidae
24,Nothodelphax albocarinata,0,vor 1960,Schlenkenspornzikade,Delphacidae
25,Nothodelphax distincta,0,1952,Hochmoor-Spornzikade,Delphacidae
26,Oncodelphax pullula,0,1952,Klauenspornzikade,Delphacidae
27,Oncopsis appendiculata,0,1910,Hakenmaskenzikade,Cicadellidae
28,Ophiola russeola,0,1952,Zwergheidezirpe,Cicadellidae
29,Paraliburnia clypealis,0,1951,Braune Spornzikade,Delphacidae
30,Parapotes reticulatus,0,1919,Scherenzirpe,Cicadellidae
31,Planaphrodes trifasciata,0,vor 1912,Heideerdzikade,Cicadellidae
32,Populicerus laminatus,0,1921,Große Espenwinkerzikade,Cicadellidae
33,Stiroma bicarinata,0,vor 1912,Waldspornzikade,Delphacidae
34,Stroggylocephalus agrestis,0,1932,Sumpferdzikade,Cicadellidae
35,Tettigometra leucophaea,0,1905,Punktierte Ameisenzikade,Tettigometridae
36,Ulopa reticulata,0,1921,Heidekrautzikade,Cicadellidae
37,Verdanus abdominalis,0,vor 1912,Schwarzgrüne Graszirpe,Cicadellidae
38,Zygina nigritarsis,0,1889,Ringelfeuerzikade,Cicadellidae

In [505]:
# Adding reference column
df["Reference"] = "Rote Liste und Gesamtartenliste der Zikaden (Hemiptera: Fulgoromorpha und Cicadomorpha) "

In [506]:
# Rename column names
df.rename(columns={
    "letzter_Nachweis": "Letzter_Nachweis"
}, inplace = True
         )

In [507]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]

In [508]:
df

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Adarrus multinotatus,Cicadellidae,0,vor 1912,Gemeine Zwenkenzirpe,Rote Liste und Gesamtartenliste der Zikaden (H...
1,Allygus maculatus,Cicadellidae,0,1902,Fleckenbaumzirpe,Rote Liste und Gesamtartenliste der Zikaden (H...
2,Anoscopus albifrons,Cicadellidae,0,vor 1912,Braune Erdzikade,Rote Liste und Gesamtartenliste der Zikaden (H...
3,Arocephalus punctum,Cicadellidae,0,1889,Widderzirpe,Rote Liste und Gesamtartenliste der Zikaden (H...
4,Athysanus quadrum,Cicadellidae,0,1919,Sumpfzirpe,Rote Liste und Gesamtartenliste der Zikaden (H...
5,Cicadula saturata,Cicadellidae,0,1889,Braunseggenzirpe,Rote Liste und Gesamtartenliste der Zikaden (H...
6,Coryphaelus gyllenhalii,Cicadellidae,0,1919,Bunte Simsenzirpe,Rote Liste und Gesamtartenliste der Zikaden (H...
7,Cosmotettix panzeri,Cicadellidae,0,1952,Baltische Moorzirpe,Rote Liste und Gesamtartenliste der Zikaden (H...
8,Criomorphus borealis,Delphacidae,0,vor 1960,Taigaspornzikade,Rote Liste und Gesamtartenliste der Zikaden (H...
9,Criomorphus moestus,Delphacidae,0,1952,Schwedische Spornzikade,Rote Liste und Gesamtartenliste der Zikaden (H...
10,Delphacinus mesomelas,Delphacidae,0,vor 1912,Elfenbein-Spornzikade,Rote Liste und Gesamtartenliste der Zikaden (H...
11,Delphax crassicornis,Delphacidae,0,vor 1880,Bunte Schilfspornzikade,Rote Liste und Gesamtartenliste der Zikaden (H...
12,Doliotettix lunulatus,Cicadellidae,0,1928,Frühlingsgraszirpe,Rote Liste und Gesamtartenliste der Zikaden (H...
13,Empoasca affinis,Cicadellidae,0,vor 1960,Strauchblattzikade,Rote Liste und Gesamtartenliste der Zikaden (H...
14,Erotettix cyane,Cicadellidae,0,1889,Seerosenzirpe,Rote Liste und Gesamtartenliste der Zikaden (H...
15,Eurhadina kirschbaumi,Cicadellidae,0,1889,Traubeneichen-Elfenzikade,Rote Liste und Gesamtartenliste der Zikaden (H...
16,Euscelis venosus,Cicadellidae,0,1889,Eberwurzzirpe,Rote Liste und Gesamtartenliste der Zikaden (H...
17,Hephathus nanus,Cicadellidae,0,1921,Zwergmaskenzikade,Rote Liste und Gesamtartenliste der Zikaden (H...
18,Jassargus pseudocellaris,Cicadellidae,0,vor 1912,Wiesen-Spitzkopfzirpe,Rote Liste und Gesamtartenliste der Zikaden (H...
19,Kelisia ribauti,Delphacidae,0,1952,Schwarzlippen-Spornzikade,Rote Liste und Gesamtartenliste der Zikaden (H...
20,Kelisia vittipennis,Delphacidae,0,1952,Wollgras-Spornzikade,Rote Liste und Gesamtartenliste der Zikaden (H...
21,Limotettix atricapillus,Cicadellidae,0,1952,Schnabelriedzirpe,Rote Liste und Gesamtartenliste der Zikaden (H...
22,Macropsis impura,Cicadellidae,0,1919,Kleine Maskenzikade,Rote Liste und Gesamtartenliste der Zikaden (H...
23,Metalimnus formosus,Cicadellidae,0,1952,Schöne Marmorzirpe,Rote Liste und Gesamtartenliste der Zikaden (H...
24,Nothodelphax albocarinata,Delphacidae,0,vor 1960,Schlenkenspornzikade,Rote Liste und Gesamtartenliste der Zikaden (H...
25,Nothodelphax distincta,Delphacidae,0,1952,Hochmoor-Spornzikade,Rote Liste und Gesamtartenliste der Zikaden (H...
26,Oncodelphax pullula,Delphacidae,0,1952,Klauenspornzikade,Rote Liste und Gesamtartenliste der Zikaden (H...
27,Oncopsis appendiculata,Cicadellidae,0,1910,Hakenmaskenzikade,Rote Liste und Gesamtartenliste der Zikaden (H...
28,Ophiola russeola,Cicadellidae,0,1952,Zwergheidezirpe,Rote Liste und Gesamtartenliste der Zikaden (H...
29,Paraliburnia clypealis,Delphacidae,0,1951,Braune Spornzikade,Rote Liste und Gesamtartenliste der Zikaden (H...
30,Parapotes reticulatus,Cicadellidae,0,1919,Scherenzirpe,Rote Liste und Gesamtartenliste der Zikaden (H...
31,Planaphrodes trifasciata,Cicadellidae,0,vor 1912,Heideerdzikade,Rote Liste und Gesamtartenliste der Zikaden (H...
32,Populicerus laminatus,Cicadellidae,0,1921,Große Espenwinkerzikade,Rote Liste und Gesamtartenliste der Zikaden (H...
33,Stiroma bicarinata,Delphacidae,0,vor 1912,Waldspornzikade,Rote Liste und Gesamtartenliste der Zikaden (H...
34,Stroggylocephalus agrestis,Cicadellidae,0,1932,Sumpferdzikade,Rote Liste und Gesamtartenliste der Zikaden (H...
35,Tettigometra leucophaea,Tettigometridae,0,1905,Punktierte Ameisenzikade,Rote Liste und Gesamtartenliste der Zikaden (H...
36,Ulopa reticulata,Cicadellidae,0,1921,Heidekrautzikade,Rote Liste und Gesamtartenliste der Zikaden (H...
37,Verdanus abdominalis,Cicadellidae,0,vor 1912,Schwarzgrüne Graszirpe,Rote Liste und Gesamtartenliste der Zikaden (H...
38,Zygina nigritarsis,Cicadellidae,0,1889,Ringelfeuerzikade,Rote Liste und Gesamtartenliste der Zikaden (H...

In [509]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/13_Zikaden.csv', 
          index=False)

# 14. Heteroptera_Wanzen.csv

In [510]:
# Read file into dataframe

df = pd.read_csv('Heteroptera_Wanzen.csv')
df.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU,Letzter_Nachweis,Neozoon
0,"Cryptostemma alienum HERRICH-SCHAEFFER, 1835",0,ex,NaN,NaN,NaN,0.0,nb,"5a, 5b",1853–1860,NaN
1,"Corixa dentipes THOMSON, 1869",0,ex,NaN,NaN,NaN,NaN,NaN,11c,1989,NaN
2,"Cymatia bonsdorffii (C. R. Sahlberg, 1819)",0,ex,NaN,NaN,NaN,2.0,3,11c,1989,NaN
3,"Cymatia rogenhoferi (FIEBER, 1864)",0,ex,NaN,NaN,NaN,0.0,D,14a,1989,NaN
4,"Micronecta griseola HORVÁTH, 1899",0,ex,NaN,NaN,NaN,2.0,nb,11c,1959,NaN

In [511]:
df.columns

Index(['Species', 'BE', 'Bestand', 'Trend_lang', 'Trend_kurz', 'RF', 'BB', 'D',
       'GfU', 'Letzter_Nachweis', 'Neozoon'],
      dtype='object')

In [512]:
# Removing columns 
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "BB",
                   "D",
                   "GfU",
                   "Neozoon"
                  ], inplace = True)
df

                                         Species  BE Letzter_Nachweis
0   Cryptostemma alienum HERRICH-SCHAEFFER, 1835   0        1853–1860
1                  Corixa dentipes THOMSON, 1869   0             1989
2     Cymatia bonsdorffii (C. R. Sahlberg, 1819)   0             1989
3             Cymatia rogenhoferi (FIEBER, 1864)   0             1989
4              Micronecta griseola HORVÁTH, 1899   0             1959
..                                           ...  ..              ...
83      Eysarcoris venustissimus (SCHRANK, 1776)   0             1959
84                 Jalla dumosa (LINNAEUS, 1758)   0             1930
85             Palomena viridissima (PODA, 1761)   0             1954
86              Sciocoris umbrinus (WOLFF, 1804)   0        1971–1991
87             Zicrona caerulea (LINNAEUS, 1758)   0             1977

[88 rows x 3 columns]

In [513]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

                     Species  BE Letzter_Nachweis
0       Cryptostemma alienum   0        1853–1860
1            Corixa dentipes   0             1989
2        Cymatia bonsdorffii   0             1989
3        Cymatia rogenhoferi   0             1989
4        Micronecta griseola   0             1959
..                       ...  ..              ...
83  Eysarcoris venustissimus   0             1959
84              Jalla dumosa   0             1930
85      Palomena viridissima   0             1954
86        Sciocoris umbrinus   0        1971–1991
87          Zicrona caerulea   0             1977

[88 rows x 3 columns]

In [514]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [515]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class',
       'acceptedUsageKey'],
      dtype='object')

In [516]:
df["Family"] = gbif_data["family"]
df

                     Species  BE Letzter_Nachweis         Family
0       Cryptostemma alienum   0        1853–1860   Dipsocoridae
1            Corixa dentipes   0             1989      Corixidae
2        Cymatia bonsdorffii   0             1989      Corixidae
3        Cymatia rogenhoferi   0             1989      Corixidae
4        Micronecta griseola   0             1959  Micronectidae
..                       ...  ..              ...            ...
83  Eysarcoris venustissimus   0             1959   Pentatomidae
84              Jalla dumosa   0             1930   Pentatomidae
85      Palomena viridissima   0             1954   Pentatomidae
86        Sciocoris umbrinus   0        1971–1991   Pentatomidae
87          Zicrona caerulea   0             1977   Pentatomidae

[88 rows x 4 columns]

In [517]:
# Adding reference column
df["Reference"] = "Rote Liste und Gesamtartenliste der Wanzen (Heteroptera) von Berlin"
# Adding Deutscher_Name column
df["Deutscher_Name"] = ""

In [518]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]

In [519]:
df

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Cryptostemma alienum,Dipsocoridae,0,1853–1860,,Rote Liste und Gesamtartenliste der Wanzen (He...
1,Corixa dentipes,Corixidae,0,1989,,Rote Liste und Gesamtartenliste der Wanzen (He...
2,Cymatia bonsdorffii,Corixidae,0,1989,,Rote Liste und Gesamtartenliste der Wanzen (He...
3,Cymatia rogenhoferi,Corixidae,0,1989,,Rote Liste und Gesamtartenliste der Wanzen (He...
4,Micronecta griseola,Micronectidae,0,1959,,Rote Liste und Gesamtartenliste der Wanzen (He...
...,...,...,...,...,...,...
83,Eysarcoris venustissimus,Pentatomidae,0,1959,,Rote Liste und Gesamtartenliste der Wanzen (He...
84,Jalla dumosa,Pentatomidae,0,1930,,Rote Liste und Gesamtartenliste der Wanzen (He...
85,Palomena viridissima,Pentatomidae,0,1954,,Rote Liste und Gesamtartenliste der Wanzen (He...
86,Sciocoris umbrinus,Pentatomidae,0,1971–1991,,Rote Liste und Gesamtartenliste der Wanzen (He...
87,Zicrona caerulea,Pentatomidae,0,1977,,Rote Liste und Gesamtartenliste der Wanzen (He...

In [520]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/14_Heteroptera_Wanzen.csv', 
          index=False)

# 15. Bienen_und_waspen

In [521]:
# Read file into dataframe

df = pd.read_csv('Bienen_und_waspen.csv')
df.head()

,Wissenschaftlicher Name,BE,BB,DE,GS,Vorzugshabitate,Ökol_Typ,Gefährdungsursachen
0,Pristaulacus gloriator (FABRICIUS)*,0,D,NaN,NaN,"B, W, WG",par,"2a, 9, 12b"
1,Chrysis fasciata OLIVIER*,0,G,G,NaN,"WM, WW, \nWG",par,"2a, 12b, 14g"
2,Chrysis iris CHRIST,0,1,2,NaN,"B, WG",par,"2a, 12b, 14g"
3,Chrysis mediata LINSENMAIER*,0,3,-,NaN,"AT, AW",par,"2a, 12a, 14a, \n14g"
4,Chrysis ruddii SHUCKARD*,0,-,-,NaN,"R, GS, AT",par,"2a, 14g"

In [522]:
df.columns

Index(['Wissenschaftlicher Name', 'BE', 'BB', 'DE', 'GS', 'Vorzugshabitate',
       'Ökol_Typ', 'Gefährdungsursachen'],
      dtype='object')

In [523]:
# Removing columns 
df.drop(columns = ["BB",
                   "DE",
                   "GS",
                   "Vorzugshabitate",
                   "Ökol_Typ",
                   "Gefährdungsursachen"
                  ], inplace = True)
df

                Wissenschaftlicher Name  BE
0   Pristaulacus gloriator (FABRICIUS)*   0
1             Chrysis fasciata OLIVIER*   0
2                   Chrysis iris CHRIST   0
3          Chrysis mediata LINSENMAIER*   0
4              Chrysis ruddii SHUCKARD*   0
..                                  ...  ..
93           Nomada rhenana F. MORAWITZ   0
94            Osmia pilicornis F. SMITH   0
95           Stelis phaeoptera (KIRBY)*   0
96       Thyreus histrionicus (ILLIGER)   0
97         Xylocopa violacea (LINNAEUS)   0

[98 rows x 2 columns]

In [524]:
# Rename column names
df.rename(columns={
    "Wissenschaftlicher Name": "Species"
}, inplace = True
         )

In [525]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

                   Species  BE
0   Pristaulacus gloriator   0
1         Chrysis fasciata   0
2             Chrysis iris   0
3          Chrysis mediata   0
4           Chrysis ruddii   0
..                     ...  ..
93          Nomada rhenana   0
94        Osmia pilicornis   0
95       Stelis phaeoptera   0
96    Thyreus histrionicus   0
97       Xylocopa violacea   0

[98 rows x 2 columns]

In [526]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [527]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class',
       'acceptedUsageKey'],
      dtype='object')

In [528]:
df["Family"] = gbif_data["family"]
df

                   Species  BE        Family
0   Pristaulacus gloriator   0     Aulacidae
1         Chrysis fasciata   0     Masaridae
2             Chrysis iris   0     Masaridae
3          Chrysis mediata   0     Masaridae
4           Chrysis ruddii   0     Masaridae
..                     ...  ..           ...
93          Nomada rhenana   0        Apidae
94        Osmia pilicornis   0  Megachilidae
95       Stelis phaeoptera   0  Megachilidae
96    Thyreus histrionicus   0        Apidae
97       Xylocopa violacea   0        Apidae

[98 rows x 3 columns]

In [529]:
# Adding reference column
df["Reference"] = "Rote Liste und Gesamtartenliste der Bienen und Wespen (Hymenoptera part.) von Berlin mit Angaben zu den Ameisen"
# Adding Deutscher_Name column
df["Deutscher_Name"] = ""
# Adding Letzter_Nachweis column
df["Letzter_Nachweis"] = ""

In [530]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]

In [531]:
df

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Pristaulacus gloriator,Aulacidae,0,,,Rote Liste und Gesamtartenliste der Bienen und...
1,Chrysis fasciata,Masaridae,0,,,Rote Liste und Gesamtartenliste der Bienen und...
2,Chrysis iris,Masaridae,0,,,Rote Liste und Gesamtartenliste der Bienen und...
3,Chrysis mediata,Masaridae,0,,,Rote Liste und Gesamtartenliste der Bienen und...
4,Chrysis ruddii,Masaridae,0,,,Rote Liste und Gesamtartenliste der Bienen und...
...,...,...,...,...,...,...
93,Nomada rhenana,Apidae,0,,,Rote Liste und Gesamtartenliste der Bienen und...
94,Osmia pilicornis,Megachilidae,0,,,Rote Liste und Gesamtartenliste der Bienen und...
95,Stelis phaeoptera,Megachilidae,0,,,Rote Liste und Gesamtartenliste der Bienen und...
96,Thyreus histrionicus,Apidae,0,,,Rote Liste und Gesamtartenliste der Bienen und...
97,Xylocopa violacea,Apidae,0,,,Rote Liste und Gesamtartenliste der Bienen und...

In [532]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/15_Bienen_und_wespen.csv', 
          index=False)

# 16. Odonata

In [533]:
# Read file into dataframe

df = pd.read_csv('Odonata.csv')
df.head()

,Wissenschaftlicher_Name,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,GfU,Deutscher Name
0,"Nehalennia speciosa (CHARPENTIER, 1840)*",0,ex,NaN,NaN,NaN,2,1,§§,"1a, 1c, 2d, 10c,",Zwerglibelle
1,"Onychogomphus forcipatus (LINNAEUS, 1758)*",0,ex,NaN,NaN,NaN,3,V,§,"3a, 3b, 5a, 5b,",Kleine Zangenlibelle
2,"Cordulegaster boltonii (DONOVAN, 1807)*",0,ex,NaN,NaN,NaN,3,*,§,"1a, 5b, 11c",Zweigestreifte Quelljungfer
3,"Leucorrhinia dubia (VANDER LINDEN, 1825)*",0,ex,NaN,NaN,NaN,2,3,§,"2d, 7e, 10c, 11c",Kleine Moosjungfer

In [534]:
# Removing columns 
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "BB",
                   "D",
                   "GS",
                   "GfU"
                  ], inplace = True)
df

                      Wissenschaftlicher_Name  BE               Deutscher Name
0    Nehalennia speciosa (CHARPENTIER, 1840)*   0                 Zwerglibelle
1  Onychogomphus forcipatus (LINNAEUS, 1758)*   0         Kleine Zangenlibelle
2     Cordulegaster boltonii (DONOVAN, 1807)*   0  Zweigestreifte Quelljungfer
3   Leucorrhinia dubia (VANDER LINDEN, 1825)*   0           Kleine Moosjungfer

In [535]:
# Rename column names
df.rename(columns={
    "Wissenschaftlicher_Name": "Species",
    "Deutscher Name": "Deutscher_Name" 
}, inplace = True
         )

In [536]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

                    Species  BE               Deutscher_Name
0       Nehalennia speciosa   0                 Zwerglibelle
1  Onychogomphus forcipatus   0         Kleine Zangenlibelle
2    Cordulegaster boltonii   0  Zweigestreifte Quelljungfer
3        Leucorrhinia dubia   0           Kleine Moosjungfer

In [537]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [538]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class'],
      dtype='object')

In [539]:
df["Family"] = gbif_data["family"]
df

                    Species  BE               Deutscher_Name            Family
0       Nehalennia speciosa   0                 Zwerglibelle    Coenagrionidae
1  Onychogomphus forcipatus   0         Kleine Zangenlibelle         Gomphidae
2    Cordulegaster boltonii   0  Zweigestreifte Quelljungfer  Cordulegastridae
3        Leucorrhinia dubia   0           Kleine Moosjungfer      Libellulidae

In [540]:
# Adding reference column
df["Reference"] = "Rote Liste und Gesamtartenliste der Libellen (Odonata)"
# Adding Letzter_Nachweis column
df["Letzter_Nachweis"] = ""

In [541]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]

In [542]:
df

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Nehalennia speciosa,Coenagrionidae,0,,Zwerglibelle,Rote Liste und Gesamtartenliste der Libellen (...
1,Onychogomphus forcipatus,Gomphidae,0,,Kleine Zangenlibelle,Rote Liste und Gesamtartenliste der Libellen (...
2,Cordulegaster boltonii,Cordulegastridae,0,,Zweigestreifte Quelljungfer,Rote Liste und Gesamtartenliste der Libellen (...
3,Leucorrhinia dubia,Libellulidae,0,,Kleine Moosjungfer,Rote Liste und Gesamtartenliste der Libellen (...

In [543]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/16_Odonata.csv', 
          index=False)

# 17. Psychidae.csv

In [544]:
# Read file into dataframe

df = pd.read_csv('Psychidae.csv')
df.head()

,Art,Brandenburg,Nachweise in Berlin bis 1989,Habitat
0,Epichnopterix sieboldii,●,1965,"CB,TR"
1,Acanthopsyche atra,●,1982,"CB,WS,ZM"
2,Pachythelia villosella,●,1963,"CB,TR,ZM"
3,Phalacropterix graslinella,●,um 1900,"CB,ZM"
4,Megalophanes viciella,●,1966,"MGL,NM"

In [545]:
# Removing columns 
df.drop(columns = ["Brandenburg",
                   "Habitat"
                  ], inplace = True)
df

                          Art Nachweise in Berlin bis 1989
0     Epichnopterix sieboldii                         1965
1          Acanthopsyche atra                         1982
2      Pachythelia villosella                         1963
3  Phalacropterix graslinella                      um 1900
4       Megalophanes viciella                         1966

In [546]:
# Rename column names
df.rename(columns={
    "Art": "Species",
    "Nachweise in Berlin bis 1989": "Letzter_Nachweis"
}, inplace = True
         )

In [547]:
# Editing species column based on binomial nomenclature

#df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
#df1
#df.Species = df1[0].str.cat(df1[1], sep = " ")
#df

In [548]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [549]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class'],
      dtype='object')

In [550]:
df["Family"] = gbif_data["family"]
df

                      Species Letzter_Nachweis     Family
0     Epichnopterix sieboldii             1965  Psychidae
1          Acanthopsyche atra             1982  Psychidae
2      Pachythelia villosella             1963  Psychidae
3  Phalacropterix graslinella          um 1900  Psychidae
4       Megalophanes viciella             1966  Psychidae

In [551]:
# Adding reference column
df["Reference"] = "Rote Liste und Gesamtartenliste der Sackträger (Lepidoptera: Psychidae) von Berlin"
# Adding Deutscher_Name column
df["Deutscher_Name"] = ""
# Adding BE column
df["BE"] = 0

In [552]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]

In [553]:
df

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Epichnopterix sieboldii,Psychidae,0,1965,,Rote Liste und Gesamtartenliste der Sackträger...
1,Acanthopsyche atra,Psychidae,0,1982,,Rote Liste und Gesamtartenliste der Sackträger...
2,Pachythelia villosella,Psychidae,0,1963,,Rote Liste und Gesamtartenliste der Sackträger...
3,Phalacropterix graslinella,Psychidae,0,um 1900,,Rote Liste und Gesamtartenliste der Sackträger...
4,Megalophanes viciella,Psychidae,0,1966,,Rote Liste und Gesamtartenliste der Sackträger...

In [554]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/17_Psychidae.csv', 
          index=False)

# 18. Raphidioptera_Megaloptera_Neuroptera.csv

In [555]:
# Read file into dataframe

df = pd.read_csv('Raphidioptera_Megaloptera_Neuroptera.csv')
df.head()

,Wissenschaftlicher Name,BE,ST,DE,GS,Vorzugshabitate,Gefährdungsursachen
0,Dichrostigma flavipes (STEIN)*,0,-,V,NaN,"W, WK","9, 12b"
1,Nineta inpunctata (REUTER)*,0,-,G,NaN,"W, WT","9, 12b"
2,Sympherobius fuscescens (WAL-\nLENGREN)*,0,-,V,NaN,"W, WK","9, 12b"
3,Mantispa styriaca (PODA)*,0,0,0,NaN,"B, BLT, BFT, \nWT","2a, 9, 12b"
4,Distoleon tetragrammicus (FABRICIUS)*,0,-,2,§,"W, WK, WT","9, 12b"

In [556]:
# Removing columns 
df.drop(columns = ["ST",
                   "DE",
                   "GS",
                   "Vorzugshabitate",
                   "Gefährdungsursachen"
                  ], inplace = True)
df

                    Wissenschaftlicher Name  BE
0            Dichrostigma flavipes (STEIN)*   0
1               Nineta inpunctata (REUTER)*   0
2  Sympherobius fuscescens (WAL-\nLENGREN)*   0
3                 Mantispa styriaca (PODA)*   0
4     Distoleon tetragrammicus (FABRICIUS)*   0

In [557]:
# Rename column names
df.rename(columns={
    "Wissenschaftlicher Name": "Species"
}, inplace = True
         )

In [558]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

                    Species  BE
0     Dichrostigma flavipes   0
1         Nineta inpunctata   0
2   Sympherobius fuscescens   0
3         Mantispa styriaca   0
4  Distoleon tetragrammicus   0

In [559]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [560]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class'],
      dtype='object')

In [561]:
df["Family"] = gbif_data["family"]
df

                    Species  BE          Family
0     Dichrostigma flavipes   0     Raphidiidae
1         Nineta inpunctata   0     Chrysopidae
2   Sympherobius fuscescens   0    Hemerobiidae
3         Mantispa styriaca   0     Mantispidae
4  Distoleon tetragrammicus   0  Myrmeleontidae

In [562]:
# Adding reference column
df["Reference"] = "Rote Liste und Gesamtartenliste der Kamelhalsfliegen, Schlammfliegen und Netzflügler (Raphidioptera, Megaloptera, Neuroptera) von Berlin"
# Adding Deutscher_Name column
df["Deutscher_Name"] = ""
# Adding Letzter_Nachweis column
df["Letzter_Nachweis"] = ""

In [563]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]

In [564]:
df

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Dichrostigma flavipes,Raphidiidae,0,,,Rote Liste und Gesamtartenliste der Kamelhalsf...
1,Nineta inpunctata,Chrysopidae,0,,,Rote Liste und Gesamtartenliste der Kamelhalsf...
2,Sympherobius fuscescens,Hemerobiidae,0,,,Rote Liste und Gesamtartenliste der Kamelhalsf...
3,Mantispa styriaca,Mantispidae,0,,,Rote Liste und Gesamtartenliste der Kamelhalsf...
4,Distoleon tetragrammicus,Myrmeleontidae,0,,,Rote Liste und Gesamtartenliste der Kamelhalsf...

In [565]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/18_Raphidioptera_Megaloptera_Neuroptera.csv', 
          index=False)

# 19. Koecherfliegen_Trichoptera.csv

In [566]:
# Read file into dataframe

df = pd.read_csv('Koecherfliegen_Trichoptera.csv')
df.head()

,Wissenschaftlicher Name,BE,Bestand,Letzter Nachweis,BB,D,GfU,Gewässer-zonierung,Familie
0,"Agapetus fuscipes CURTIS, 1834*",0,ex,vor 1882,NaN,*,11c,K-ER,Glossomatidae
1,"Grammotaulius nitidus (MÜLLER, 1764)*",0,ex,ca. 1890,NaN,G,11c,"MP-HP, L",Limnephilidae
2,"Hydropsyche contubernalis MCLACHLAN, 1865*",0,ex,1889,NaN,*,"3b, 5a, 11c",MR-MP,Hydropsychidae
3,"Limnephilus elegans CURTIS, 1834*",0,ex,vor 1991,1.0,2,"2d, 11c",L (ÜM),Limnephilidae
4,"Limnephilus fuscinervis (ZETTERSTEDT, 1840)*",0,ex,vor 1909,2.0,G,11c,L,Limnephilidae

In [567]:
# Removing columns 
df.drop(columns = ["Bestand",
                   "BB",
                   "D",
                   "GfU",
                   "Gewässer-zonierung"
                  ], inplace = True)
df

,Wissenschaftlicher Name,BE,Letzter Nachweis,Familie
0,"Agapetus fuscipes CURTIS, 1834*",0,vor 1882,Glossomatidae
1,"Grammotaulius nitidus (MÜLLER, 1764)*",0,ca. 1890,Limnephilidae
2,"Hydropsyche contubernalis MCLACHLAN, 1865*",0,1889,Hydropsychidae
3,"Limnephilus elegans CURTIS, 1834*",0,vor 1991,Limnephilidae
4,"Limnephilus fuscinervis (ZETTERSTEDT, 1840)*",0,vor 1909,Limnephilidae
5,"Nemotaulius punctatolineatus (RETZIUS, 1783)*",0,1890,Limnephilidae
6,"Psychomyia pusilla (FABRICIUS, 1781)*",0,vor 1914?,Psychomyiidae

In [568]:
# Rename column names
df.rename(columns={
    "Wissenschaftlicher Name": "Species",
    "Letzter Nachweis": "Letzter_Nachweis"
}, inplace = True
         )

In [569]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df1
df.Species = df1[0].str.cat(df1[1], sep = " ")
df

                        Species  BE Letzter_Nachweis         Familie
0             Agapetus fuscipes   0         vor 1882   Glossomatidae
1         Grammotaulius nitidus   0         ca. 1890   Limnephilidae
2     Hydropsyche contubernalis   0             1889  Hydropsychidae
3           Limnephilus elegans   0         vor 1991   Limnephilidae
4       Limnephilus fuscinervis   0         vor 1909   Limnephilidae
5  Nemotaulius punctatolineatus   0             1890   Limnephilidae
6            Psychomyia pusilla   0        vor 1914?   Psychomyiidae

In [570]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [571]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class'],
      dtype='object')

In [572]:
df["Family"] = gbif_data["family"]
df

,Species,BE,Letzter_Nachweis,Familie,Family
0,Agapetus fuscipes,0,vor 1882,Glossomatidae,Glossosomatidae
1,Grammotaulius nitidus,0,ca. 1890,Limnephilidae,Limnephilidae
2,Hydropsyche contubernalis,0,1889,Hydropsychidae,Hydropsychidae
3,Limnephilus elegans,0,vor 1991,Limnephilidae,Limnephilidae
4,Limnephilus fuscinervis,0,vor 1909,Limnephilidae,Limnephilidae
5,Nemotaulius punctatolineatus,0,1890,Limnephilidae,Limnephilidae
6,Psychomyia pusilla,0,vor 1914?,Psychomyiidae,Psychomyiidae

In [573]:
df.drop(columns = ["Familie"
                  ], inplace = True)
df

                        Species  BE Letzter_Nachweis           Family
0             Agapetus fuscipes   0         vor 1882  Glossosomatidae
1         Grammotaulius nitidus   0         ca. 1890    Limnephilidae
2     Hydropsyche contubernalis   0             1889   Hydropsychidae
3           Limnephilus elegans   0         vor 1991    Limnephilidae
4       Limnephilus fuscinervis   0         vor 1909    Limnephilidae
5  Nemotaulius punctatolineatus   0             1890    Limnephilidae
6            Psychomyia pusilla   0        vor 1914?    Psychomyiidae

In [574]:
# Adding reference column
df["Reference"] = "Rote Liste und Gesamtartenliste der Köcherfliegen (Trichoptera) von Berlin"
# Adding Deutscher_Name column
df["Deutscher_Name"] = ""

In [575]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]

In [576]:
df

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Agapetus fuscipes,Glossosomatidae,0,vor 1882,,Rote Liste und Gesamtartenliste der Köcherflie...
1,Grammotaulius nitidus,Limnephilidae,0,ca. 1890,,Rote Liste und Gesamtartenliste der Köcherflie...
2,Hydropsyche contubernalis,Hydropsychidae,0,1889,,Rote Liste und Gesamtartenliste der Köcherflie...
3,Limnephilus elegans,Limnephilidae,0,vor 1991,,Rote Liste und Gesamtartenliste der Köcherflie...
4,Limnephilus fuscinervis,Limnephilidae,0,vor 1909,,Rote Liste und Gesamtartenliste der Köcherflie...
5,Nemotaulius punctatolineatus,Limnephilidae,0,1890,,Rote Liste und Gesamtartenliste der Köcherflie...
6,Psychomyia pusilla,Psychomyiidae,0,vor 1914?,,Rote Liste und Gesamtartenliste der Köcherflie...

In [577]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/19_Koecherfliegen_Trichoptera.csv', 
          index=False)

# 20. Butterflies_and_moths_final.csv

In [578]:
# Read file into dataframe

df = pd.read_csv('Butterflies_and_moths_final.csv')
df.head()

,Gattung,Artname,BE,Bestand,Vor_1990,1990_2017,Trend_kurz,Habitat,D,BB,GS,Deutscher_name
0,"Pharmacis HÜBNER, 1820","fusconebulosa (DEGEER, 1778)",0,ex,x 1973,–,NaN,LKW,V,⬤,NaN,Adlerfarn-Wurzelbohrer
1,"Heterogenea KNOCH, 1783","asella (DEN. & SCHIFF., 1775)",0,ex,x 1978,–,NaN,LMW,V,⬤,NaN,Kleiner Schneckenspinner
2,"Zygaena FABRICIUS, 1775","purpuralis (BRUENNICH, 1763)",0,ex,x,–,NaN,TR,V,⬤,§,Thymian-Widderchen
3,"Malacosoma HÜBNER, 1820","castrensis (LINNAEUS, 1758)",0,ex,x 1982,–,NaN,TR,3,⬤,§,Wolfsmilch-Ringelspinner
4,"Eriogaster GERMAR, 1810","lanestris (LINNAEUS, 1758)",0,ex,x vor 1900,–,NaN,WRS,3,⬤,§,Wollafter

In [579]:
# Removing columns 
df.drop(columns = ["Bestand",
                   "Trend_kurz",
                   "Habitat",
                   "D",
                   "BB",
                   "GS"
                  ], inplace = True)
df

,Gattung,Artname,BE,Vor_1990,1990_2017,Deutscher_name
0,"Pharmacis HÜBNER, 1820","fusconebulosa (DEGEER, 1778)",0,x 1973,–,Adlerfarn-Wurzelbohrer
1,"Heterogenea KNOCH, 1783","asella (DEN. & SCHIFF., 1775)",0,x 1978,–,Kleiner Schneckenspinner
2,"Zygaena FABRICIUS, 1775","purpuralis (BRUENNICH, 1763)",0,x,–,Thymian-Widderchen
3,"Malacosoma HÜBNER, 1820","castrensis (LINNAEUS, 1758)",0,x 1982,–,Wolfsmilch-Ringelspinner
4,"Eriogaster GERMAR, 1810","lanestris (LINNAEUS, 1758)",0,x vor 1900,–,Wollafter
...,...,...,...,...,...,...
145,"Xestia HÜBNER, 1818","stigmatica (HÜBNER, 1813)",0,x vor 1900,–,Rhombus-Bodeneule
146,"Xestia HÜBNER, 1818","castanea (ESPER, 1798)",0,x vor 1900,–,Ginsterheiden-Bodeneule
147,"Xestia HÜBNER, 1818","ashworthii (DOUBLEDAY, 1855)",0,x vor 1900,–,Aschgraue Bodeneule
148,"Eugraphe HÜBNER, 1821","sigma (DEN. & SCHIFF., 1775)",0,x vor 1900,–,Sigma-Bodeneule
149,"Protolampra MCDUNNOUGH, 1929","sobrina (DUPONCHEL, 1843)",0,x vor 1900,–,Heidemoor-Bodeneule

In [580]:
# seperate Gattung

df1 = df.Gattung.str.split(pat=" ", n = 1, expand = True)
df1

               0                 1
0      Pharmacis      HÜBNER, 1820
1    Heterogenea       KNOCH, 1783
2        Zygaena   FABRICIUS, 1775
3     Malacosoma      HÜBNER, 1820
4     Eriogaster     GERMAR, 1810
..           ...               ...
145       Xestia      HÜBNER, 1818
146       Xestia      HÜBNER, 1818
147       Xestia      HÜBNER, 1818
148     Eugraphe      HÜBNER, 1821
149  Protolampra  MCDUNNOUGH, 1929

[150 rows x 2 columns]

In [581]:
# seperate Artname
df2 = df.Artname.str.split(pat=" ", n = 1, expand = True)
df2

                 0                       1
0    fusconebulosa          (DEGEER, 1778)
1           asella  (DEN. & SCHIFF., 1775)
2       purpuralis       (BRUENNICH, 1763)
3       castrensis        (LINNAEUS, 1758)
4        lanestris        (LINNAEUS, 1758)
..             ...                     ...
145     stigmatica          (HÜBNER, 1813)
146       castanea           (ESPER, 1798)
147     ashworthii       (DOUBLEDAY, 1855)
148          sigma  (DEN. & SCHIFF., 1775)
149        sobrina       (DUPONCHEL, 1843)

[150 rows x 2 columns]

In [582]:
# Editing species column based on binomial nomenclature

df.Artname = df1[0].str.cat(df2[0], sep = " ")
df

,Gattung,Artname,BE,Vor_1990,1990_2017,Deutscher_name
0,"Pharmacis HÜBNER, 1820",Pharmacis fusconebulosa,0,x 1973,–,Adlerfarn-Wurzelbohrer
1,"Heterogenea KNOCH, 1783",Heterogenea asella,0,x 1978,–,Kleiner Schneckenspinner
2,"Zygaena FABRICIUS, 1775",Zygaena purpuralis,0,x,–,Thymian-Widderchen
3,"Malacosoma HÜBNER, 1820",Malacosoma castrensis,0,x 1982,–,Wolfsmilch-Ringelspinner
4,"Eriogaster GERMAR, 1810",Eriogaster lanestris,0,x vor 1900,–,Wollafter
...,...,...,...,...,...,...
145,"Xestia HÜBNER, 1818",Xestia stigmatica,0,x vor 1900,–,Rhombus-Bodeneule
146,"Xestia HÜBNER, 1818",Xestia castanea,0,x vor 1900,–,Ginsterheiden-Bodeneule
147,"Xestia HÜBNER, 1818",Xestia ashworthii,0,x vor 1900,–,Aschgraue Bodeneule
148,"Eugraphe HÜBNER, 1821",Eugraphe sigma,0,x vor 1900,–,Sigma-Bodeneule
149,"Protolampra MCDUNNOUGH, 1929",Protolampra sobrina,0,x vor 1900,–,Heidemoor-Bodeneule

In [583]:
df.drop(columns = "Gattung", inplace = True)

In [584]:
df.head()

                   Artname  BE    Vor_1990 1990_2017            Deutscher_name
0  Pharmacis fusconebulosa   0      x 1973         –    Adlerfarn-Wurzelbohrer
1       Heterogenea asella   0      x 1978         –  Kleiner Schneckenspinner
2       Zygaena purpuralis   0           x         –        Thymian-Widderchen
3    Malacosoma castrensis   0      x 1982         –  Wolfsmilch-Ringelspinner
4     Eriogaster lanestris   0  x vor 1900         –                 Wollafter

In [585]:
# Rename column names
df.rename(columns={
    "Artname": "Species",
    "Deutscher_name": "Deutscher_Name"
}, inplace = True
         )

In [586]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [587]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class',
       'acceptedUsageKey'],
      dtype='object')

In [588]:
df["Family"] = gbif_data["family"]
df

,Species,BE,Vor_1990,1990_2017,Deutscher_Name,Family
0,Pharmacis fusconebulosa,0,x 1973,–,Adlerfarn-Wurzelbohrer,Hepialidae
1,Heterogenea asella,0,x 1978,–,Kleiner Schneckenspinner,Limacodidae
2,Zygaena purpuralis,0,x,–,Thymian-Widderchen,Zygaenidae
3,Malacosoma castrensis,0,x 1982,–,Wolfsmilch-Ringelspinner,Lasiocampidae
4,Eriogaster lanestris,0,x vor 1900,–,Wollafter,Lasiocampidae
...,...,...,...,...,...,...
145,Xestia stigmatica,0,x vor 1900,–,Rhombus-Bodeneule,Noctuidae
146,Xestia castanea,0,x vor 1900,–,Ginsterheiden-Bodeneule,Noctuidae
147,Xestia ashworthii,0,x vor 1900,–,Aschgraue Bodeneule,NaN
148,Eugraphe sigma,0,x vor 1900,–,Sigma-Bodeneule,NaN
149,Protolampra sobrina,0,x vor 1900,–,Heidemoor-Bodeneule,NaN

In [589]:
missing = {}

for i in df.loc[df["Family"].isna()].Species:     
   missing[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [590]:
gbif_data_missing = pd.DataFrame.from_dict(missing, orient = "index")
gbif_data_missing.reset_index(inplace = True)
gbif_data_missing.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class'],
      dtype='object')

In [591]:
gbif_data_missing["family"]
#df["Family"] = gbif_data["family"]
#df

0    Noctuidae
1    Noctuidae
2    Noctuidae
Name: family, dtype: object

In [592]:
gbif_data_missing["family"][0]

'Noctuidae'

In [593]:
df.at[147, "Family"] = gbif_data_missing["family"][0]

In [594]:
df.at[148, "Family"] = gbif_data_missing["family"][1]

In [595]:
df.at[149, "Family"] = gbif_data_missing["family"][2]

In [596]:
df

,Species,BE,Vor_1990,1990_2017,Deutscher_Name,Family
0,Pharmacis fusconebulosa,0,x 1973,–,Adlerfarn-Wurzelbohrer,Hepialidae
1,Heterogenea asella,0,x 1978,–,Kleiner Schneckenspinner,Limacodidae
2,Zygaena purpuralis,0,x,–,Thymian-Widderchen,Zygaenidae
3,Malacosoma castrensis,0,x 1982,–,Wolfsmilch-Ringelspinner,Lasiocampidae
4,Eriogaster lanestris,0,x vor 1900,–,Wollafter,Lasiocampidae
...,...,...,...,...,...,...
145,Xestia stigmatica,0,x vor 1900,–,Rhombus-Bodeneule,Noctuidae
146,Xestia castanea,0,x vor 1900,–,Ginsterheiden-Bodeneule,Noctuidae
147,Xestia ashworthii,0,x vor 1900,–,Aschgraue Bodeneule,Noctuidae
148,Eugraphe sigma,0,x vor 1900,–,Sigma-Bodeneule,Noctuidae
149,Protolampra sobrina,0,x vor 1900,–,Heidemoor-Bodeneule,Noctuidae

In [597]:
# Merging Vor_1990 with 1990_2017 to create Letzter_Nachweis
df.loc[df.Vor_1990 == 'x']

,Species,BE,Vor_1990,1990_2017,Deutscher_Name,Family
2,Zygaena purpuralis,0,x,–,Thymian-Widderchen,Zygaenidae
33,Argynnis niobe,0,x,x 1995,Mittlerer Perlmutterfalter,Nymphalidae
61,Perizoma albulata,0,x,x 1992,Klappertopf-Kapselspanner,Geometridae
86,Nola aerugula,0,x,–,Laubholz-Graueulchen,Nolidae
144,Opigena polygona,0,x,x 1991,Vielwinkel-Bodeneule,Noctuidae

In [598]:
df.loc[df["1990_2017"] != '–']

,Species,BE,Vor_1990,1990_2017,Deutscher_Name,Family
33,Argynnis niobe,0,x,x 1995,Mittlerer Perlmutterfalter,Nymphalidae
53,Scotopteryx moeniata,0,x 1969,NaN,Winkelbinden-Wellenstriemenspanner,Geometridae
61,Perizoma albulata,0,x,x 1992,Klappertopf-Kapselspanner,Geometridae
144,Opigena polygona,0,x,x 1991,Vielwinkel-Bodeneule,Noctuidae

In [599]:
df["Letzter_Nachweis"] = df.Vor_1990

In [600]:
df.at[33, "Letzter_Nachweis"] = df.at[33, "1990_2017"]

In [601]:
df.at[61, "Letzter_Nachweis"] = df.at[61, "1990_2017"]

In [602]:
df.at[144, "Letzter_Nachweis"] = df.at[144, "1990_2017"]

In [603]:
df.loc[df.Letzter_Nachweis == 'x']

,Species,BE,Vor_1990,1990_2017,Deutscher_Name,Family,Letzter_Nachweis
2,Zygaena purpuralis,0,x,–,Thymian-Widderchen,Zygaenidae,x
86,Nola aerugula,0,x,–,Laubholz-Graueulchen,Nolidae,x

In [604]:
df["1990_2017"].value_counts()

–         146
x 1995      1
x 1992      1
x 1991      1
Name: 1990_2017, dtype: int64

In [605]:
# Adding reference column
df["Reference"] = "Rote Liste und Gesamtartenliste der Großschmetterlinge (Lepidoptera: Makrolepidoptera) von Berlin"

In [606]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]

In [607]:
df

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Pharmacis fusconebulosa,Hepialidae,0,x 1973,Adlerfarn-Wurzelbohrer,Rote Liste und Gesamtartenliste der Großschmet...
1,Heterogenea asella,Limacodidae,0,x 1978,Kleiner Schneckenspinner,Rote Liste und Gesamtartenliste der Großschmet...
2,Zygaena purpuralis,Zygaenidae,0,x,Thymian-Widderchen,Rote Liste und Gesamtartenliste der Großschmet...
3,Malacosoma castrensis,Lasiocampidae,0,x 1982,Wolfsmilch-Ringelspinner,Rote Liste und Gesamtartenliste der Großschmet...
4,Eriogaster lanestris,Lasiocampidae,0,x vor 1900,Wollafter,Rote Liste und Gesamtartenliste der Großschmet...
...,...,...,...,...,...,...
145,Xestia stigmatica,Noctuidae,0,x vor 1900,Rhombus-Bodeneule,Rote Liste und Gesamtartenliste der Großschmet...
146,Xestia castanea,Noctuidae,0,x vor 1900,Ginsterheiden-Bodeneule,Rote Liste und Gesamtartenliste der Großschmet...
147,Xestia ashworthii,Noctuidae,0,x vor 1900,Aschgraue Bodeneule,Rote Liste und Gesamtartenliste der Großschmet...
148,Eugraphe sigma,Noctuidae,0,x vor 1900,Sigma-Bodeneule,Rote Liste und Gesamtartenliste der Großschmet...
149,Protolampra sobrina,Noctuidae,0,x vor 1900,Heidemoor-Bodeneule,Rote Liste und Gesamtartenliste der Großschmet...

In [608]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/20_Butterflies_and_moths.csv', 
          index=False)

In [609]:
df

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Pharmacis fusconebulosa,Hepialidae,0,x 1973,Adlerfarn-Wurzelbohrer,Rote Liste und Gesamtartenliste der Großschmet...
1,Heterogenea asella,Limacodidae,0,x 1978,Kleiner Schneckenspinner,Rote Liste und Gesamtartenliste der Großschmet...
2,Zygaena purpuralis,Zygaenidae,0,x,Thymian-Widderchen,Rote Liste und Gesamtartenliste der Großschmet...
3,Malacosoma castrensis,Lasiocampidae,0,x 1982,Wolfsmilch-Ringelspinner,Rote Liste und Gesamtartenliste der Großschmet...
4,Eriogaster lanestris,Lasiocampidae,0,x vor 1900,Wollafter,Rote Liste und Gesamtartenliste der Großschmet...
...,...,...,...,...,...,...
145,Xestia stigmatica,Noctuidae,0,x vor 1900,Rhombus-Bodeneule,Rote Liste und Gesamtartenliste der Großschmet...
146,Xestia castanea,Noctuidae,0,x vor 1900,Ginsterheiden-Bodeneule,Rote Liste und Gesamtartenliste der Großschmet...
147,Xestia ashworthii,Noctuidae,0,x vor 1900,Aschgraue Bodeneule,Rote Liste und Gesamtartenliste der Großschmet...
148,Eugraphe sigma,Noctuidae,0,x vor 1900,Sigma-Bodeneule,Rote Liste und Gesamtartenliste der Großschmet...
149,Protolampra sobrina,Noctuidae,0,x vor 1900,Heidemoor-Bodeneule,Rote Liste und Gesamtartenliste der Großschmet...