In [1]:
import pandas as pd
import numpy as np
from pygbif import species

# 21: Araneae_and_Opiliones.csv : Arachnida

In [4]:
# Read file into dataframe

df = pd.read_csv('Araneae_and_Opiliones.csv')
df.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU,Vorzugs_habitat,Ökolog_Typ
0,"Dysdera erythrina (WALCKENAER, 1802)",0,ex,NaN,NaN,NaN,*,*,"7, 8, 12",7,(h)w
1,"Oonops domesticus DALMAS, 1916",0,ex,NaN,NaN,NaN,*,D,"1a, 2a",16,"syn, trog"
2,"Eresus kollari ROSSI, 1846",0,ex,NaN,NaN,NaN,2,2,"3, 7a, 12a",11,"x, th"
3,"Dipoena coracina (C. L. KOCH, 1837)",0,ex,NaN,NaN,NaN,*,G,"7a, 11b",12,"x, th"
4,"Theonoe minutissima (O. P.-CAMBRIDGE, 1879)",0,ex,NaN,NaN,NaN,2,3,"2d, 3, 11c",2,h

In [5]:
# Removing columns "Bestand","Trend_lang","Trend_kurz", "RF", "BB", "D", "GS", "GfU"
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "BB",
                   "D",
                   "GfU", 
                   "Vorzugs_habitat",
                   "Ökolog_Typ"
                  ], inplace = True)
df

                                            Species  BE
0              Dysdera erythrina (WALCKENAER, 1802)   0
1                    Oonops domesticus DALMAS, 1916   0
2                        Eresus kollari ROSSI, 1846   0
3               Dipoena coracina (C. L. KOCH, 1837)   0
4       Theonoe minutissima (O. P.-CAMBRIDGE, 1879)   0
5          Agyneta subtilis (O. P.-CAMBRIDGE, 1863)   0
6               Centromerus capucinus (SIMON, 1884)   0
7               Centromerus sellarius (SIMON, 1884)   0
8            Dismodicus elevatus (C. L. KOCH, 1838)   0
9              Glyphesis cottonae (LA Touche, 1945)   0
10        Hylyphantes graminicola (SUNDEVALL, 1830)   0
11     Hypselistes jacksoni (O. P.-CAMBRIDGE, 1902)   0
12            Incestophantes crucifer (MENGE, 1866)   0
13              Leptothrix hardyi (BLACKWALL, 1850)   0
14              Lessertia dentichelis (SIMON, 1884)   0
15         Moebelia berolinensis (WUNDERLICH, 1969)   0
16               Neriene emphana (WALCKENAER, 1841)   0
17       Parapelecopsis nemoralis (BLACKWALL, 1841)   0
18                Pelecopsis elongata (WIDER, 1834)   0
19               Porrhomma cambridgei MERRETT, 1994   0
20                     Porrhomma egeria SIMON, 1884   0
21                 Porrhomma microps (ROEWER, 1931)   0
22   Silometopus incurvatus (O. P.-CAMBRIDGE, 1873)   0
23  Thyreosthenius biovatus (O. P.-CAMBRIDGE, 1875)   0
24               Tmeticus affinis (BLACKWALL, 1855)   0
25       Trichopternoides thorelli (WESTRING, 1861)   0
26               Walckenaeria mitrata (MENGE, 1868)   0
27        Walckenaeria nodosa O. P.-CAMBRIDGE, 1873   0
28  Walckenaeria stylifrons (O. P.-CAMBRIDGE, 1875)   0
29                   Meta menardi (LATREILLE, 1804)   0
30                   Araneus angulatus CLERCK, 1757   0
31             Araniella proxima (KULCZYŃSKI, 1885)   0
32                Alopecosa fabrilis (CLERCK, 1757)   0
33                Arctosa cinerea (FABRICIUS, 1777)   0
34               Piratula insularis (EMERTON, 1885)   0
35               Piratula uliginosa (THORELL, 1856)   0
36          Oxyopes ramosus (MARTINI & GOEZE, 1778)   0
37               Brigittea latens (FABRICIUS, 1775)   0
38             Emblyna brevidens (KULCZYŃSKI, 1897)   0
39             Amaurobius similis (BLACKWALL, 1861)   0
40               Agroeca dentigera KULCZYŃSKI, 1913   0
41               Scotina palliardii (L. KOCH, 1881)   0
42              Clubiona caerulescens L. KOCH, 1867   0
43       Clubiona frisia WUNDERLICH & SCHUETT, 1995   0
44                 Clubiona germanica THORELL, 1871   0
45                 Berlandina cinerea (MENGE, 1872)   0
46                      Micaria dives (LUCAS, 1846)   0
47     Scotophaeus quadripunctatus (LINNAEUS, 1758)   0
48              Micrommata virescens (CLERCK, 1757)   0
49                Synema globosum (FABRICIUS, 1775)   0
50             Xysticus luctuosus (BLACKWALL, 1836)   0
51                   Xysticus robustus (HAHN, 1832)   0
52            Dendryphantes hastatus (CLERCK, 1757)   0
53    Leptorchestes berolinensis (C. L. KOCH, 1846)   0
54              Marpissa pomatia (WALCKENAER, 1802)   0
55         Pseudicius encarpatus (WALCKENAER, 1802)   0
56           Synageles hilarulus (C. L. KOCH, 1846)   0

In [9]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df.Species = df1[0].str.cat(df1[1], sep = " ")
df.head(10)

                 Species  BE
0      Dysdera erythrina   0
1      Oonops domesticus   0
2         Eresus kollari   0
3       Dipoena coracina   0
4    Theonoe minutissima   0
5       Agyneta subtilis   0
6  Centromerus capucinus   0
7  Centromerus sellarius   0
8    Dismodicus elevatus   0
9     Glyphesis cottonae   0

In [10]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [11]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns
df["Family"] = gbif_data["family"]
df

                        Species  BE          Family
0             Dysdera erythrina   0      Dysderidae
1             Oonops domesticus   0       Oonopidae
2                Eresus kollari   0        Eresidae
3              Dipoena coracina   0     Theridiidae
4           Theonoe minutissima   0     Theridiidae
5              Agyneta subtilis   0     Linyphiidae
6         Centromerus capucinus   0     Linyphiidae
7         Centromerus sellarius   0     Linyphiidae
8           Dismodicus elevatus   0     Linyphiidae
9            Glyphesis cottonae   0     Linyphiidae
10      Hylyphantes graminicola   0     Linyphiidae
11         Hypselistes jacksoni   0     Linyphiidae
12      Incestophantes crucifer   0     Linyphiidae
13            Leptothrix hardyi   0     Linyphiidae
14        Lessertia dentichelis   0     Linyphiidae
15        Moebelia berolinensis   0     Linyphiidae
16              Neriene emphana   0     Linyphiidae
17     Parapelecopsis nemoralis   0     Linyphiidae
18          Pelecopsis elongata   0     Linyphiidae
19         Porrhomma cambridgei   0     Linyphiidae
20             Porrhomma egeria   0     Linyphiidae
21            Porrhomma microps   0     Linyphiidae
22       Silometopus incurvatus   0     Linyphiidae
23      Thyreosthenius biovatus   0     Linyphiidae
24             Tmeticus affinis   0     Linyphiidae
25    Trichopternoides thorelli   0     Linyphiidae
26         Walckenaeria mitrata   0     Linyphiidae
27          Walckenaeria nodosa   0     Linyphiidae
28      Walckenaeria stylifrons   0     Linyphiidae
29                 Meta menardi   0  Tetragnathidae
30            Araneus angulatus   0       Araneidae
31            Araniella proxima   0       Araneidae
32           Alopecosa fabrilis   0       Lycosidae
33              Arctosa cinerea   0       Lycosidae
34           Piratula insularis   0       Lycosidae
35           Piratula uliginosa   0       Lycosidae
36              Oxyopes ramosus   0       Oxyopidae
37             Brigittea latens   0      Dictynidae
38            Emblyna brevidens   0      Dictynidae
39           Amaurobius similis   0    Amaurobiidae
40            Agroeca dentigera   0     Liocranidae
41           Scotina palliardii   0     Liocranidae
42        Clubiona caerulescens   0     Clubionidae
43              Clubiona frisia   0     Clubionidae
44           Clubiona germanica   0     Clubionidae
45           Berlandina cinerea   0     Gnaphosidae
46                Micaria dives   0     Gnaphosidae
47  Scotophaeus quadripunctatus   0     Gnaphosidae
48         Micrommata virescens   0     Sparassidae
49              Synema globosum   0      Thomisidae
50           Xysticus luctuosus   0      Thomisidae
51            Xysticus robustus   0      Thomisidae
52       Dendryphantes hastatus   0      Salticidae
53   Leptorchestes berolinensis   0      Salticidae
54             Marpissa pomatia   0      Salticidae
55        Pseudicius encarpatus   0      Salticidae
56          Synageles hilarulus   0      Salticidae

In [12]:
# Add common names
df["Deutscher_Name"] = ""
# Add reference column
df["Reference"] = "Rote Liste und Gesamtartenliste der Spinnen (Araneae) und Gesamtartenliste der Weberknechte (Opiliones) von Berlin"
# Adding Letzter_Nachweis column
df["Letzter_Nachweis"] = ""

In [13]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]

In [14]:
df

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Dysdera erythrina,Dysderidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
1,Oonops domesticus,Oonopidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
2,Eresus kollari,Eresidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
3,Dipoena coracina,Theridiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
4,Theonoe minutissima,Theridiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
5,Agyneta subtilis,Linyphiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
6,Centromerus capucinus,Linyphiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
7,Centromerus sellarius,Linyphiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
8,Dismodicus elevatus,Linyphiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
9,Glyphesis cottonae,Linyphiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
10,Hylyphantes graminicola,Linyphiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
11,Hypselistes jacksoni,Linyphiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
12,Incestophantes crucifer,Linyphiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
13,Leptothrix hardyi,Linyphiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
14,Lessertia dentichelis,Linyphiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
15,Moebelia berolinensis,Linyphiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
16,Neriene emphana,Linyphiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
17,Parapelecopsis nemoralis,Linyphiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
18,Pelecopsis elongata,Linyphiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
19,Porrhomma cambridgei,Linyphiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
20,Porrhomma egeria,Linyphiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
21,Porrhomma microps,Linyphiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
22,Silometopus incurvatus,Linyphiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
23,Thyreosthenius biovatus,Linyphiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
24,Tmeticus affinis,Linyphiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
25,Trichopternoides thorelli,Linyphiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
26,Walckenaeria mitrata,Linyphiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
27,Walckenaeria nodosa,Linyphiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
28,Walckenaeria stylifrons,Linyphiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
29,Meta menardi,Tetragnathidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
30,Araneus angulatus,Araneidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
31,Araniella proxima,Araneidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
32,Alopecosa fabrilis,Lycosidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
33,Arctosa cinerea,Lycosidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
34,Piratula insularis,Lycosidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
35,Piratula uliginosa,Lycosidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
36,Oxyopes ramosus,Oxyopidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
37,Brigittea latens,Dictynidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
38,Emblyna brevidens,Dictynidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
39,Amaurobius similis,Amaurobiidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
40,Agroeca dentigera,Liocranidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
41,Scotina palliardii,Liocranidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
42,Clubiona caerulescens,Clubionidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
43,Clubiona frisia,Clubionidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
44,Clubiona germanica,Clubionidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
45,Berlandina cinerea,Gnaphosidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
46,Micaria dives,Gnaphosidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
47,Scotophaeus quadripunctatus,Gnaphosidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
48,Micrommata virescens,Sparassidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
49,Synema globosum,Thomisidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
50,Xysticus luctuosus,Thomisidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
51,Xysticus robustus,Thomisidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
52,Dendryphantes hastatus,Salticidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
53,Leptorchestes berolinensis,Salticidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
54,Marpissa pomatia,Salticidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
55,Pseudicius encarpatus,Salticidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...
56,Synageles hilarulus,Salticidae,0,,,Rote Liste und Gesamtartenliste der Spinnen (A...

In [15]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/21_Araneae_and_Opiliones.csv', 
          index=False)

# 22: Mollusca_Gastropoda_and_Bivalvia.csv : Mollusca

In [16]:
# Read file into dataframe

df = pd.read_csv('22_Mollusca_Gastropoda_and_Bivalvia.csv')
df.head(10)

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,GfU,Vorzugs_habitat,Letzter_Nachweis
0,"Gyraulus rossmaessleri (AUERSWALD, 1852)",0,ex,NaN,NaN,NaN,1,1,NaN,14a,"SG, SK",vor 1980
1,"Myxas glutinosa (O. F. MÜLLER, 1774)",0,ex,NaN,NaN,NaN,0,1,NaN,14a,"FF, SG",1954
2,"Chondrula tridens tridens (O. F. MÜLLER, 1774)",0,ex,NaN,NaN,NaN,3,1,NaN,9a,"W, GF",vor 1950
3,"Helicigona lapicida (LINNAEUS, 1758)",0,ex,NaN,NaN,NaN,3,*,NaN,9a,"WB, WC, WE",1886
4,"Platyla polita (W. HARTMANN , 1840)",0,ex,NaN,NaN,NaN,0,3,NaN,"8, 9","WB, WE, WC",1933
5,"Vertigo geyeri LINDHOLM, 1925",0,ex,NaN,NaN,NaN,0,1,II,14a,"SR, ME, GF",vor 1950
6,"Pisidium pulchellum JENYNS, 1832",0,ex,NaN,NaN,NaN,1,1,NaN,14a,"FF, FB, FG",vor 1950
7,"Unio crassus PHILIPSSON, 1788*",0,ex,NaN,NaN,NaN,1,1,"§§, II","14a, 12c",FB,vor 1993

In [17]:
# Removing columns "Bestand","Trend_lang","Trend_kurz", "RF", "BB", "D", "GS", "GfU"
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "BB",
                   "D",
                   "GS",
                   "GfU", 
                   "Vorzugs_habitat"
                  ], inplace = True)
df.head()

                                          Species  BE Letzter_Nachweis
0        Gyraulus rossmaessleri (AUERSWALD, 1852)   0         vor 1980
1            Myxas glutinosa (O. F. MÜLLER, 1774)   0             1954
2  Chondrula tridens tridens (O. F. MÜLLER, 1774)   0         vor 1950
3            Helicigona lapicida (LINNAEUS, 1758)   0             1886
4             Platyla polita (W. HARTMANN , 1840)   0             1933

In [18]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df.Species = df1[0].str.cat(df1[1], sep = " ")
df.head(10)

                  Species  BE Letzter_Nachweis
0  Gyraulus rossmaessleri   0         vor 1980
1         Myxas glutinosa   0             1954
2       Chondrula tridens   0         vor 1950
3     Helicigona lapicida   0             1886
4          Platyla polita   0             1933
5          Vertigo geyeri   0         vor 1950
6     Pisidium pulchellum   0         vor 1950
7            Unio crassus   0         vor 1993

In [19]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [20]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns
df["Family"] = gbif_data["family"]
df

                  Species  BE Letzter_Nachweis        Family
0  Gyraulus rossmaessleri   0         vor 1980   Planorbidae
1         Myxas glutinosa   0             1954    Lymnaeidae
2       Chondrula tridens   0         vor 1950        Enidae
3     Helicigona lapicida   0             1886     Helicidae
4          Platyla polita   0             1933    Aciculidae
5          Vertigo geyeri   0         vor 1950  Vertiginidae
6     Pisidium pulchellum   0         vor 1950   Sphaeriidae
7            Unio crassus   0         vor 1993     Unionidae

In [21]:
# Add common names
df["Deutscher_Name"] = ""
# Add reference column
df["Reference"] = "Rote Liste und Gesamtartenliste der Weichtiere (Mollusca: Gastropoda und Bivalvia) von Berlin"
# Adding Letzter_Nachweis column
#df["Letzter_Nachweis"] = ""
df.head()

,Species,BE,Letzter_Nachweis,Family,Deutscher_Name,Reference
0,Gyraulus rossmaessleri,0,vor 1980,Planorbidae,,Rote Liste und Gesamtartenliste der Weichtiere...
1,Myxas glutinosa,0,1954,Lymnaeidae,,Rote Liste und Gesamtartenliste der Weichtiere...
2,Chondrula tridens,0,vor 1950,Enidae,,Rote Liste und Gesamtartenliste der Weichtiere...
3,Helicigona lapicida,0,1886,Helicidae,,Rote Liste und Gesamtartenliste der Weichtiere...
4,Platyla polita,0,1933,Aciculidae,,Rote Liste und Gesamtartenliste der Weichtiere...

In [22]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]
df.head(10)

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Gyraulus rossmaessleri,Planorbidae,0,vor 1980,,Rote Liste und Gesamtartenliste der Weichtiere...
1,Myxas glutinosa,Lymnaeidae,0,1954,,Rote Liste und Gesamtartenliste der Weichtiere...
2,Chondrula tridens,Enidae,0,vor 1950,,Rote Liste und Gesamtartenliste der Weichtiere...
3,Helicigona lapicida,Helicidae,0,1886,,Rote Liste und Gesamtartenliste der Weichtiere...
4,Platyla polita,Aciculidae,0,1933,,Rote Liste und Gesamtartenliste der Weichtiere...
5,Vertigo geyeri,Vertiginidae,0,vor 1950,,Rote Liste und Gesamtartenliste der Weichtiere...
6,Pisidium pulchellum,Sphaeriidae,0,vor 1950,,Rote Liste und Gesamtartenliste der Weichtiere...
7,Unio crassus,Unionidae,0,vor 1993,,Rote Liste und Gesamtartenliste der Weichtiere...

In [23]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/22_Mollusca_Gastropoda_and_Bivalvia.csv', 
          index=False)

# 23: Pisces.csv : Pisces

In [24]:
# Read file into dataframe

df = pd.read_csv('Pisces.csv')
df.head(10)

,Common_name,Species,Redlist_category,Bestand,Trend_lang,Trend_kurz,Riskio
0,Bachneunauge,Lampetra planeri,0,ex,NaN,NaN,NaN
1,Barbe,Barbus barbus,0,ex,NaN,NaN,NaN
2,Europäischer\tStör,Acipenser sturio,0,ex,NaN,NaN,NaN
3,Flussneunauge,Lampetra fluviatilis,0,ex,NaN,NaN,NaN
4,Lachs,Salmo salar,0,ex,NaN,NaN,NaN
5,Meerneunauge,Petromyzon marinus,0,ex,NaN,NaN,NaN
6,Zährte,Vimba vimba,0,ex,NaN,NaN,NaN

In [25]:
# Removing columns "Bestand","Trend_lang","Trend_kurz", "RF", "BB", "D", "GS", "GfU"
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "Riskio"
                  ], inplace = True)
df.head()

          Common_name               Species  Redlist_category
0        Bachneunauge      Lampetra planeri                 0
1               Barbe         Barbus barbus                 0
2  Europäischer\tStör      Acipenser sturio                 0
3       Flussneunauge  Lampetra fluviatilis                 0
4               Lachs           Salmo salar                 0

In [27]:
# Editing species column based on binomial nomenclature

#df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
#df.Species = df1[0].str.cat(df1[1], sep = " ")
#df.head(10)

In [28]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [29]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns
df["Family"] = gbif_data["family"]
df

          Common_name               Species  Redlist_category           Family
0        Bachneunauge      Lampetra planeri                 0  Petromyzontidae
1               Barbe         Barbus barbus                 0       Cyprinidae
2  Europäischer\tStör      Acipenser sturio                 0    Acipenseridae
3       Flussneunauge  Lampetra fluviatilis                 0  Petromyzontidae
4               Lachs           Salmo salar                 0       Salmonidae
5        Meerneunauge    Petromyzon marinus                 0  Petromyzontidae
6              Zährte           Vimba vimba                 0       Cyprinidae

In [30]:
# renaming columns
df.rename({
    "Common_name": "Deutscher_Name",
    "Redlist_category": "BE"
}, 
    axis='columns',
    inplace = True
)
df

       Deutscher_Name               Species  BE           Family
0        Bachneunauge      Lampetra planeri   0  Petromyzontidae
1               Barbe         Barbus barbus   0       Cyprinidae
2  Europäischer\tStör      Acipenser sturio   0    Acipenseridae
3       Flussneunauge  Lampetra fluviatilis   0  Petromyzontidae
4               Lachs           Salmo salar   0       Salmonidae
5        Meerneunauge    Petromyzon marinus   0  Petromyzontidae
6              Zährte           Vimba vimba   0       Cyprinidae

In [31]:
# Add common names
#df["Deutscher_Name"] = ""
# Add reference column
df["Reference"] = "Gesamtartenliste und Rote Liste der Fische und Neunaugen (Pisces et Cyclostomata) von Berlin"
# Adding Letzter_Nachweis column
df["Letzter_Nachweis"] = ""
df.head()

,Deutscher_Name,Species,BE,Family,Reference,Letzter_Nachweis
0,Bachneunauge,Lampetra planeri,0,Petromyzontidae,Gesamtartenliste und Rote Liste der Fische und...,
1,Barbe,Barbus barbus,0,Cyprinidae,Gesamtartenliste und Rote Liste der Fische und...,
2,Europäischer\tStör,Acipenser sturio,0,Acipenseridae,Gesamtartenliste und Rote Liste der Fische und...,
3,Flussneunauge,Lampetra fluviatilis,0,Petromyzontidae,Gesamtartenliste und Rote Liste der Fische und...,
4,Lachs,Salmo salar,0,Salmonidae,Gesamtartenliste und Rote Liste der Fische und...,

In [32]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]
df.head(10)

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Lampetra planeri,Petromyzontidae,0,,Bachneunauge,Gesamtartenliste und Rote Liste der Fische und...
1,Barbus barbus,Cyprinidae,0,,Barbe,Gesamtartenliste und Rote Liste der Fische und...
2,Acipenser sturio,Acipenseridae,0,,Europäischer\tStör,Gesamtartenliste und Rote Liste der Fische und...
3,Lampetra fluviatilis,Petromyzontidae,0,,Flussneunauge,Gesamtartenliste und Rote Liste der Fische und...
4,Salmo salar,Salmonidae,0,,Lachs,Gesamtartenliste und Rote Liste der Fische und...
5,Petromyzon marinus,Petromyzontidae,0,,Meerneunauge,Gesamtartenliste und Rote Liste der Fische und...
6,Vimba vimba,Cyprinidae,0,,Zährte,Gesamtartenliste und Rote Liste der Fische und...

In [33]:
# Replace the \t type space with normal space
df.at[2,"Deutscher_Name"]= "Europäischer Stör"
df

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Lampetra planeri,Petromyzontidae,0,,Bachneunauge,Gesamtartenliste und Rote Liste der Fische und...
1,Barbus barbus,Cyprinidae,0,,Barbe,Gesamtartenliste und Rote Liste der Fische und...
2,Acipenser sturio,Acipenseridae,0,,Europäischer Stör,Gesamtartenliste und Rote Liste der Fische und...
3,Lampetra fluviatilis,Petromyzontidae,0,,Flussneunauge,Gesamtartenliste und Rote Liste der Fische und...
4,Salmo salar,Salmonidae,0,,Lachs,Gesamtartenliste und Rote Liste der Fische und...
5,Petromyzon marinus,Petromyzontidae,0,,Meerneunauge,Gesamtartenliste und Rote Liste der Fische und...
6,Vimba vimba,Cyprinidae,0,,Zährte,Gesamtartenliste und Rote Liste der Fische und...

In [34]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/23_Pisces.csv', 
          index=False)

# 24: Reptilia.csv : Reptilia

In [35]:
# Read file into dataframe

df = pd.read_csv('Reptilia.csv')
df.head(10)

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,GfU,Common_name
0,"Emys orbicularis (LINNAEUS, 1758)",0,ex,NaN,NaN,NaN,1,1,"§§, II, IV","4a, 5a, 5b, 10c, 12b , 13a, 14b,",Europäische Sumpfschildkröte

In [36]:
# Removing columns "Bestand","Trend_lang","Trend_kurz", "RF", "BB", "D", "GS", "GfU"
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "BB",
                   "D",
                   "GS", 
                   "GfU"
                  ], inplace = True)
df.head()

                             Species  BE                   Common_name
0  Emys orbicularis (LINNAEUS, 1758)   0  Europäische Sumpfschildkröte

In [37]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df.Species = df1[0].str.cat(df1[1], sep = " ")
df.head(10)

            Species  BE                   Common_name
0  Emys orbicularis   0  Europäische Sumpfschildkröte

In [38]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [39]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns
df["Family"] = gbif_data["family"]
df

            Species  BE                   Common_name    Family
0  Emys orbicularis   0  Europäische Sumpfschildkröte  Emydidae

In [40]:
# renaming columns
df.rename({
    "Common_name": "Deutscher_Name"
}, 
    axis='columns',
    inplace = True
)
df

            Species  BE                Deutscher_Name    Family
0  Emys orbicularis   0  Europäische Sumpfschildkröte  Emydidae

In [41]:
# Add common names
#df["Deutscher_Name"] = ""
# Add reference column
df["Reference"] = "Rote Liste und Gesamtartenliste der Kriechtiere (Reptilia) von Berlin"
# Adding Letzter_Nachweis column
df["Letzter_Nachweis"] = ""
df.head()

,Species,BE,Deutscher_Name,Family,Reference,Letzter_Nachweis
0,Emys orbicularis,0,Europäische Sumpfschildkröte,Emydidae,Rote Liste und Gesamtartenliste der Kriechtier...,

In [42]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]
df.head(10)

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Emys orbicularis,Emydidae,0,,Europäische Sumpfschildkröte,Rote Liste und Gesamtartenliste der Kriechtier...

In [43]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/24_Reptilia.csv', 
          index=False)

# 25: Amphibia.csv : Amphibia

In [44]:
# Read file into dataframe

df = pd.read_csv('Amphibia.csv')
df.head(10)

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,GfU,Letzter_Nachweis,Common_name
0,"Hyla arborea (LINNAEUS, 1758)",0,ex,NaN,NaN,NaN,2,3,"§§, IV","1a, 2a, 4a, 6a,10c, 11c,",vor 1960,Mitteleuropäischer
1,"Pelophylax lessonae (CAMERANAO, 1782)",0,ex,NaN,NaN,NaN,G,G,"§, IV","2d, 10c, 11c, 12b",1991,Kleiner Wasserfrosch

In [45]:
# Removing columns "Bestand","Trend_lang","Trend_kurz", "RF", "BB", "D", "GS", "GfU"
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "BB",
                   "D",
                   "GS",
                   "GfU"
                  ], inplace = True)
df.head()

,Species,BE,Letzter_Nachweis,Common_name
0,"Hyla arborea (LINNAEUS, 1758)",0,vor 1960,Mitteleuropäischer
1,"Pelophylax lessonae (CAMERANAO, 1782)",0,1991,Kleiner Wasserfrosch

In [46]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df.Species = df1[0].str.cat(df1[1], sep = " ")
df.head(10)

               Species  BE Letzter_Nachweis           Common_name
0         Hyla arborea   0         vor 1960    Mitteleuropäischer
1  Pelophylax lessonae   0             1991  Kleiner Wasserfrosch

In [47]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [48]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns
df["Family"] = gbif_data["family"]
df

               Species  BE Letzter_Nachweis           Common_name   Family
0         Hyla arborea   0         vor 1960    Mitteleuropäischer  Hylidae
1  Pelophylax lessonae   0             1991  Kleiner Wasserfrosch  Ranidae

In [49]:
# renaming columns
df.rename({
    "Common_name": "Deutscher_Name"
}, 
    axis='columns',
    inplace = True
)
df

               Species  BE Letzter_Nachweis        Deutscher_Name   Family
0         Hyla arborea   0         vor 1960    Mitteleuropäischer  Hylidae
1  Pelophylax lessonae   0             1991  Kleiner Wasserfrosch  Ranidae

In [50]:
# Add common names
#df["Deutscher_Name"] = ""
# Add reference column
df["Reference"] = "Rote Liste und Gesamtartenliste der Lurche (Amphibia) von Berlin"
# Adding Letzter_Nachweis column
#df["Letzter_Nachweis"] = ""
df.head()

,Species,BE,Letzter_Nachweis,Deutscher_Name,Family,Reference
0,Hyla arborea,0,vor 1960,Mitteleuropäischer,Hylidae,Rote Liste und Gesamtartenliste der Lurche (Am...
1,Pelophylax lessonae,0,1991,Kleiner Wasserfrosch,Ranidae,Rote Liste und Gesamtartenliste der Lurche (Am...

In [51]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]
df.head(10)

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Hyla arborea,Hylidae,0,vor 1960,Mitteleuropäischer,Rote Liste und Gesamtartenliste der Lurche (Am...
1,Pelophylax lessonae,Ranidae,0,1991,Kleiner Wasserfrosch,Rote Liste und Gesamtartenliste der Lurche (Am...

In [52]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/25_Amphibia.csv', 
          index=False)

# 26: Aves.csv : Aves

In [95]:
# Read file into dataframe

df = pd.read_csv('Aves.csv')
df.head(10)

,Common_name,Species,Status,BP_Rev,Häufig_keitsklasse,Trend_lang,Trend_kurz,Risik,BE2013,BE2003,BB2008,D2007
0,Löffelente *,Anas clypeata,I ex,"0 – 1, 2012: 1 BP",ex,NaN,NaN,NaN,0,1,2,3
1,Moorente,Aythya nyroca,I ex,erloschen,ex,NaN,NaN,NaN,0,0,1,1
2,Gänsesäger,Mergus merganser,I ex,erloschen,ex,NaN,NaN,NaN,0,0,2,2
3,Rebhuhn *,Perdix perdix,I ex,"erloschen, zuletzt: 1996",ex,NaN,NaN,NaN,0,1,2,2
4,Birkhuhn,Tetrao terix,I ex,erloschen,ex,NaN,NaN,NaN,0,0,1,2
5,Schwarzstorch,Ciconia nigra,I ex,erloschen,ex,NaN,NaN,NaN,0,0,3,NaN
6,Fischadler,Pandion haliaetus,I ex,erloschen,ex,NaN,NaN,NaN,0,0,NaN,3
7,Schreiadler,Aquila pomarina,I ex,erloschen,ex,NaN,NaN,NaN,0,0,1,1
8,Kornweihe,Circus cyaneus,I ex,erloschen,ex,NaN,NaN,NaN,0,0,0,2
9,Wiesenweihe,Circus pygargus,I ex,erloschen,ex,NaN,NaN,NaN,0,0,2,2

In [96]:
# Removing columns "Bestand","Trend_lang","Trend_kurz", "RF", "BB", "D", "GS", "GfU"
df.drop(columns = ["Häufig_keitsklasse",
                   "Trend_lang",
                   "Trend_kurz",
                   "Risik",
                   "BB2008",
                   "D2007"
                  ], inplace = True)
df.head()

,Common_name,Species,Status,BP_Rev,BE2013,BE2003
0,Löffelente *,Anas clypeata,I ex,"0 – 1, 2012: 1 BP",0,1
1,Moorente,Aythya nyroca,I ex,erloschen,0,0
2,Gänsesäger,Mergus merganser,I ex,erloschen,0,0
3,Rebhuhn *,Perdix perdix,I ex,"erloschen, zuletzt: 1996",0,1
4,Birkhuhn,Tetrao terix,I ex,erloschen,0,0

In [97]:
# Remove the stars from Common_name

df1 = df.Common_name.str.split(pat="*", n = 1, expand = True)
df.Common_name = df1[0]
#df.head(10)
df

,Common_name,Species,Status,BP_Rev,BE2013,BE2003
0,Löffelente,Anas clypeata,I ex,"0 – 1, 2012: 1 BP",0,1
1,Moorente,Aythya nyroca,I ex,erloschen,0,0
2,Gänsesäger,Mergus merganser,I ex,erloschen,0,0
3,Rebhuhn,Perdix perdix,I ex,"erloschen, zuletzt: 1996",0,1
4,Birkhuhn,Tetrao terix,I ex,erloschen,0,0
5,Schwarzstorch,Ciconia nigra,I ex,erloschen,0,0
6,Fischadler,Pandion haliaetus,I ex,erloschen,0,0
7,Schreiadler,Aquila pomarina,I ex,erloschen,0,0
8,Kornweihe,Circus cyaneus,I ex,erloschen,0,0
9,Wiesenweihe,Circus pygargus,I ex,erloschen,0,0
10,Großtrappe,Otis tarda,I ex,erloschen,0,0
11,Tüpfelralle,Porzana porzana,I ex,0 – 1 (2011: 1 Rev.),0,0
12,Kleinralle,Porzana parva,I ex,0 – 2 (2011: 2 Rev.),0,0
13,Triel,Burhinus oedicnemus,I ex,erloschen,0,0
14,Großer Brachvogel,Numenius arquata,I ex,erloschen,0,0
15,Flussuferläufer,Actitis hypoleucos,I ex,erloschen,0,0
16,Rotschenkel,Tringa totanus,I ex,erloschen,0,0
17,Waldwasserläufer,Tringa ochropus,I ex,erloschen,0,0
18,Kampfläufer,Philomachus pugnax,I ex,erloschen,0,0
19,Zwergseeschwalbe,Sternula albifrons,I ex,erloschen,0,0
20,Fluss-Seeschwalbe,Sterna hirundo,I ex,erloschen,0,0
21,Turteltaube,Streptopelia turtur,I ex,erloschen,0,0
22,Steinkauz,Athene noctua,I ex,erloschen,0,0
23,Ziegenmelker,Caprimulgus europaeus,I ex,erloschen,0,0
24,Blauracke,Coracias garrulus,I ex,erloschen,0,0
25,Wiedehopf,Upupa epops,I ex,0 – 1,0,0
26,Rotkopfwürger,Lanius senator,I ex,erloschen,0,0
27,Schwarzstirnwürger,Lanius minor,I ex,erloschen,0,0
28,Raubwürger,Lanius excubitor,I ex,"erloschen, zuletzt 1995",0,1
29,Wacholderdrossel,Turdus pilaris,I ex,"0 – 2, 2009: 2 Rev.",0,0
30,Blaukehlchen,Luscinia svecica,I ex,0 – 1,0,0
31,Ortolan,Emberiza hortulana,I ex,erloschen,0,0

In [98]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [99]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns
df["Family"] = gbif_data["family"]
df

,Common_name,Species,Status,BP_Rev,BE2013,BE2003,Family
0,Löffelente,Anas clypeata,I ex,"0 – 1, 2012: 1 BP",0,1,Anatidae
1,Moorente,Aythya nyroca,I ex,erloschen,0,0,Anatidae
2,Gänsesäger,Mergus merganser,I ex,erloschen,0,0,Anatidae
3,Rebhuhn,Perdix perdix,I ex,"erloschen, zuletzt: 1996",0,1,Phasianidae
4,Birkhuhn,Tetrao terix,I ex,erloschen,0,0,Phasianidae
5,Schwarzstorch,Ciconia nigra,I ex,erloschen,0,0,Ciconiidae
6,Fischadler,Pandion haliaetus,I ex,erloschen,0,0,Pandionidae
7,Schreiadler,Aquila pomarina,I ex,erloschen,0,0,Accipitridae
8,Kornweihe,Circus cyaneus,I ex,erloschen,0,0,Accipitridae
9,Wiesenweihe,Circus pygargus,I ex,erloschen,0,0,Accipitridae
10,Großtrappe,Otis tarda,I ex,erloschen,0,0,Otididae
11,Tüpfelralle,Porzana porzana,I ex,0 – 1 (2011: 1 Rev.),0,0,Rallidae
12,Kleinralle,Porzana parva,I ex,0 – 2 (2011: 2 Rev.),0,0,Rallidae
13,Triel,Burhinus oedicnemus,I ex,erloschen,0,0,Burhinidae
14,Großer Brachvogel,Numenius arquata,I ex,erloschen,0,0,Scolopacidae
15,Flussuferläufer,Actitis hypoleucos,I ex,erloschen,0,0,Scolopacidae
16,Rotschenkel,Tringa totanus,I ex,erloschen,0,0,Scolopacidae
17,Waldwasserläufer,Tringa ochropus,I ex,erloschen,0,0,Scolopacidae
18,Kampfläufer,Philomachus pugnax,I ex,erloschen,0,0,Scolopacidae
19,Zwergseeschwalbe,Sternula albifrons,I ex,erloschen,0,0,Laridae
20,Fluss-Seeschwalbe,Sterna hirundo,I ex,erloschen,0,0,Laridae
21,Turteltaube,Streptopelia turtur,I ex,erloschen,0,0,Columbidae
22,Steinkauz,Athene noctua,I ex,erloschen,0,0,Strigidae
23,Ziegenmelker,Caprimulgus europaeus,I ex,erloschen,0,0,Caprimulgidae
24,Blauracke,Coracias garrulus,I ex,erloschen,0,0,Coraciidae
25,Wiedehopf,Upupa epops,I ex,0 – 1,0,0,Upupidae
26,Rotkopfwürger,Lanius senator,I ex,erloschen,0,0,Laniidae
27,Schwarzstirnwürger,Lanius minor,I ex,erloschen,0,0,Laniidae
28,Raubwürger,Lanius excubitor,I ex,"erloschen, zuletzt 1995",0,1,Laniidae
29,Wacholderdrossel,Turdus pilaris,I ex,"0 – 2, 2009: 2 Rev.",0,0,Turdidae
30,Blaukehlchen,Luscinia svecica,I ex,0 – 1,0,0,Muscicapidae
31,Ortolan,Emberiza hortulana,I ex,erloschen,0,0,Emberizidae

In [100]:
# renaming columns
df.rename({
    "Common_name": "Deutscher_Name",
    "Status": "BE"
}, 
    axis='columns',
    inplace = True
)
df

,Deutscher_Name,Species,BE,BP_Rev,BE2013,BE2003,Family
0,Löffelente,Anas clypeata,I ex,"0 – 1, 2012: 1 BP",0,1,Anatidae
1,Moorente,Aythya nyroca,I ex,erloschen,0,0,Anatidae
2,Gänsesäger,Mergus merganser,I ex,erloschen,0,0,Anatidae
3,Rebhuhn,Perdix perdix,I ex,"erloschen, zuletzt: 1996",0,1,Phasianidae
4,Birkhuhn,Tetrao terix,I ex,erloschen,0,0,Phasianidae
5,Schwarzstorch,Ciconia nigra,I ex,erloschen,0,0,Ciconiidae
6,Fischadler,Pandion haliaetus,I ex,erloschen,0,0,Pandionidae
7,Schreiadler,Aquila pomarina,I ex,erloschen,0,0,Accipitridae
8,Kornweihe,Circus cyaneus,I ex,erloschen,0,0,Accipitridae
9,Wiesenweihe,Circus pygargus,I ex,erloschen,0,0,Accipitridae
10,Großtrappe,Otis tarda,I ex,erloschen,0,0,Otididae
11,Tüpfelralle,Porzana porzana,I ex,0 – 1 (2011: 1 Rev.),0,0,Rallidae
12,Kleinralle,Porzana parva,I ex,0 – 2 (2011: 2 Rev.),0,0,Rallidae
13,Triel,Burhinus oedicnemus,I ex,erloschen,0,0,Burhinidae
14,Großer Brachvogel,Numenius arquata,I ex,erloschen,0,0,Scolopacidae
15,Flussuferläufer,Actitis hypoleucos,I ex,erloschen,0,0,Scolopacidae
16,Rotschenkel,Tringa totanus,I ex,erloschen,0,0,Scolopacidae
17,Waldwasserläufer,Tringa ochropus,I ex,erloschen,0,0,Scolopacidae
18,Kampfläufer,Philomachus pugnax,I ex,erloschen,0,0,Scolopacidae
19,Zwergseeschwalbe,Sternula albifrons,I ex,erloschen,0,0,Laridae
20,Fluss-Seeschwalbe,Sterna hirundo,I ex,erloschen,0,0,Laridae
21,Turteltaube,Streptopelia turtur,I ex,erloschen,0,0,Columbidae
22,Steinkauz,Athene noctua,I ex,erloschen,0,0,Strigidae
23,Ziegenmelker,Caprimulgus europaeus,I ex,erloschen,0,0,Caprimulgidae
24,Blauracke,Coracias garrulus,I ex,erloschen,0,0,Coraciidae
25,Wiedehopf,Upupa epops,I ex,0 – 1,0,0,Upupidae
26,Rotkopfwürger,Lanius senator,I ex,erloschen,0,0,Laniidae
27,Schwarzstirnwürger,Lanius minor,I ex,erloschen,0,0,Laniidae
28,Raubwürger,Lanius excubitor,I ex,"erloschen, zuletzt 1995",0,1,Laniidae
29,Wacholderdrossel,Turdus pilaris,I ex,"0 – 2, 2009: 2 Rev.",0,0,Turdidae
30,Blaukehlchen,Luscinia svecica,I ex,0 – 1,0,0,Muscicapidae
31,Ortolan,Emberiza hortulana,I ex,erloschen,0,0,Emberizidae

In [101]:
# Add common names
#df["Deutscher_Name"] = ""
# Add reference column
df["Reference"] = "Rote Liste und Liste der Brutvögel (Aves) von Berlin"
# Adding Letzter_Nachweis column
df["Letzter_Nachweis"] = ""
df.head()

,Deutscher_Name,Species,BE,BP_Rev,BE2013,BE2003,Family,Reference,Letzter_Nachweis
0,Löffelente,Anas clypeata,I ex,"0 – 1, 2012: 1 BP",0,1,Anatidae,Rote Liste und Liste der Brutvögel (Aves) von ...,
1,Moorente,Aythya nyroca,I ex,erloschen,0,0,Anatidae,Rote Liste und Liste der Brutvögel (Aves) von ...,
2,Gänsesäger,Mergus merganser,I ex,erloschen,0,0,Anatidae,Rote Liste und Liste der Brutvögel (Aves) von ...,
3,Rebhuhn,Perdix perdix,I ex,"erloschen, zuletzt: 1996",0,1,Phasianidae,Rote Liste und Liste der Brutvögel (Aves) von ...,
4,Birkhuhn,Tetrao terix,I ex,erloschen,0,0,Phasianidae,Rote Liste und Liste der Brutvögel (Aves) von ...,

In [102]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]
df.head(10)

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Anas clypeata,Anatidae,I ex,,Löffelente,Rote Liste und Liste der Brutvögel (Aves) von ...
1,Aythya nyroca,Anatidae,I ex,,Moorente,Rote Liste und Liste der Brutvögel (Aves) von ...
2,Mergus merganser,Anatidae,I ex,,Gänsesäger,Rote Liste und Liste der Brutvögel (Aves) von ...
3,Perdix perdix,Phasianidae,I ex,,Rebhuhn,Rote Liste und Liste der Brutvögel (Aves) von ...
4,Tetrao terix,Phasianidae,I ex,,Birkhuhn,Rote Liste und Liste der Brutvögel (Aves) von ...
5,Ciconia nigra,Ciconiidae,I ex,,Schwarzstorch,Rote Liste und Liste der Brutvögel (Aves) von ...
6,Pandion haliaetus,Pandionidae,I ex,,Fischadler,Rote Liste und Liste der Brutvögel (Aves) von ...
7,Aquila pomarina,Accipitridae,I ex,,Schreiadler,Rote Liste und Liste der Brutvögel (Aves) von ...
8,Circus cyaneus,Accipitridae,I ex,,Kornweihe,Rote Liste und Liste der Brutvögel (Aves) von ...
9,Circus pygargus,Accipitridae,I ex,,Wiesenweihe,Rote Liste und Liste der Brutvögel (Aves) von ...

In [106]:
# Replace | ex with 0
df["BE"] = 0
df

/var/folders/sf/pjcpsvqj67b_pqmm82g4y8bm0000gq/T/ipykernel_82295/2543094207.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["BE"] = 0

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Anas clypeata,Anatidae,0,,Löffelente,Rote Liste und Liste der Brutvögel (Aves) von ...
1,Aythya nyroca,Anatidae,0,,Moorente,Rote Liste und Liste der Brutvögel (Aves) von ...
2,Mergus merganser,Anatidae,0,,Gänsesäger,Rote Liste und Liste der Brutvögel (Aves) von ...
3,Perdix perdix,Phasianidae,0,,Rebhuhn,Rote Liste und Liste der Brutvögel (Aves) von ...
4,Tetrao terix,Phasianidae,0,,Birkhuhn,Rote Liste und Liste der Brutvögel (Aves) von ...
5,Ciconia nigra,Ciconiidae,0,,Schwarzstorch,Rote Liste und Liste der Brutvögel (Aves) von ...
6,Pandion haliaetus,Pandionidae,0,,Fischadler,Rote Liste und Liste der Brutvögel (Aves) von ...
7,Aquila pomarina,Accipitridae,0,,Schreiadler,Rote Liste und Liste der Brutvögel (Aves) von ...
8,Circus cyaneus,Accipitridae,0,,Kornweihe,Rote Liste und Liste der Brutvögel (Aves) von ...
9,Circus pygargus,Accipitridae,0,,Wiesenweihe,Rote Liste und Liste der Brutvögel (Aves) von ...
10,Otis tarda,Otididae,0,,Großtrappe,Rote Liste und Liste der Brutvögel (Aves) von ...
11,Porzana porzana,Rallidae,0,,Tüpfelralle,Rote Liste und Liste der Brutvögel (Aves) von ...
12,Porzana parva,Rallidae,0,,Kleinralle,Rote Liste und Liste der Brutvögel (Aves) von ...
13,Burhinus oedicnemus,Burhinidae,0,,Triel,Rote Liste und Liste der Brutvögel (Aves) von ...
14,Numenius arquata,Scolopacidae,0,,Großer Brachvogel,Rote Liste und Liste der Brutvögel (Aves) von ...
15,Actitis hypoleucos,Scolopacidae,0,,Flussuferläufer,Rote Liste und Liste der Brutvögel (Aves) von ...
16,Tringa totanus,Scolopacidae,0,,Rotschenkel,Rote Liste und Liste der Brutvögel (Aves) von ...
17,Tringa ochropus,Scolopacidae,0,,Waldwasserläufer,Rote Liste und Liste der Brutvögel (Aves) von ...
18,Philomachus pugnax,Scolopacidae,0,,Kampfläufer,Rote Liste und Liste der Brutvögel (Aves) von ...
19,Sternula albifrons,Laridae,0,,Zwergseeschwalbe,Rote Liste und Liste der Brutvögel (Aves) von ...
20,Sterna hirundo,Laridae,0,,Fluss-Seeschwalbe,Rote Liste und Liste der Brutvögel (Aves) von ...
21,Streptopelia turtur,Columbidae,0,,Turteltaube,Rote Liste und Liste der Brutvögel (Aves) von ...
22,Athene noctua,Strigidae,0,,Steinkauz,Rote Liste und Liste der Brutvögel (Aves) von ...
23,Caprimulgus europaeus,Caprimulgidae,0,,Ziegenmelker,Rote Liste und Liste der Brutvögel (Aves) von ...
24,Coracias garrulus,Coraciidae,0,,Blauracke,Rote Liste und Liste der Brutvögel (Aves) von ...
25,Upupa epops,Upupidae,0,,Wiedehopf,Rote Liste und Liste der Brutvögel (Aves) von ...
26,Lanius senator,Laniidae,0,,Rotkopfwürger,Rote Liste und Liste der Brutvögel (Aves) von ...
27,Lanius minor,Laniidae,0,,Schwarzstirnwürger,Rote Liste und Liste der Brutvögel (Aves) von ...
28,Lanius excubitor,Laniidae,0,,Raubwürger,Rote Liste und Liste der Brutvögel (Aves) von ...
29,Turdus pilaris,Turdidae,0,,Wacholderdrossel,Rote Liste und Liste der Brutvögel (Aves) von ...
30,Luscinia svecica,Muscicapidae,0,,Blaukehlchen,Rote Liste und Liste der Brutvögel (Aves) von ...
31,Emberiza hortulana,Emberizidae,0,,Ortolan,Rote Liste und Liste der Brutvögel (Aves) von ...

In [107]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/26_Aves.csv', 
          index=False)

# 27: Mammalia.csv : Mammalia

In [108]:
# Read file into dataframe

df = pd.read_csv('Mammalia.csv')
df.head(10)

,Common_name,Species,BE,BB,DE,GS,Vorzugshabitate,Gefährdungsursachen
0,Mopsfledermaus,Barbastella barbastellus \n(SCHREBER),0,1,1,"§§, II W, O",NaN,"2c, 9, 14h"
1,Hamster,Cricetus cricetus (LINNAEUS),0,1,2,§§,L,"1a, 6"
2,Hausratte,Rattus rattus (LINNAEUS),0,2,-,NaN,O,"2c, 4d"
3,Rothirsch*,Cervus elaphus LINNAEUS*,0,-,NaN,NaN,W,"4d, 14b"

In [109]:
# Removing columns "Bestand","Trend_lang","Trend_kurz", "RF", "BB", "D", "GS", "GfU"
df.drop(columns = ["BB",
                   "DE",
                   "GS",
                   "Vorzugshabitate",
                   "Gefährdungsursachen"
                  ], inplace = True)
df.head()

      Common_name                                Species  BE
0  Mopsfledermaus  Barbastella barbastellus \n(SCHREBER)   0
1         Hamster           Cricetus cricetus (LINNAEUS)   0
2       Hausratte               Rattus rattus (LINNAEUS)   0
3      Rothirsch*               Cervus elaphus LINNAEUS*   0

In [110]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df.Species = df1[0].str.cat(df1[1], sep = " ")
df.head(10)

      Common_name                   Species  BE
0  Mopsfledermaus  Barbastella barbastellus   0
1         Hamster         Cricetus cricetus   0
2       Hausratte             Rattus rattus   0
3      Rothirsch*            Cervus elaphus   0

In [111]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

Complete

In [112]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns
df["Family"] = gbif_data["family"]
df

      Common_name                   Species  BE            Family
0  Mopsfledermaus  Barbastella barbastellus   0  Vespertilionidae
1         Hamster         Cricetus cricetus   0        Cricetidae
2       Hausratte             Rattus rattus   0           Muridae
3      Rothirsch*            Cervus elaphus   0          Cervidae

In [113]:
# renaming columns
df.rename({
    "Common_name": "Deutscher_Name"
}, 
    axis='columns',
    inplace = True
)
df

   Deutscher_Name                   Species  BE            Family
0  Mopsfledermaus  Barbastella barbastellus   0  Vespertilionidae
1         Hamster         Cricetus cricetus   0        Cricetidae
2       Hausratte             Rattus rattus   0           Muridae
3      Rothirsch*            Cervus elaphus   0          Cervidae

In [114]:
# Add common names
#df["Deutscher_Name"] = ""
# Add reference column
df["Reference"] = "Rote Liste und Gesamtartenliste der Säugetiere (Mammalia) von Berlin"
# Adding Letzter_Nachweis column
df["Letzter_Nachweis"] = ""
df.head()

,Deutscher_Name,Species,BE,Family,Reference,Letzter_Nachweis
0,Mopsfledermaus,Barbastella barbastellus,0,Vespertilionidae,Rote Liste und Gesamtartenliste der Säugetiere...,
1,Hamster,Cricetus cricetus,0,Cricetidae,Rote Liste und Gesamtartenliste der Säugetiere...,
2,Hausratte,Rattus rattus,0,Muridae,Rote Liste und Gesamtartenliste der Säugetiere...,
3,Rothirsch*,Cervus elaphus,0,Cervidae,Rote Liste und Gesamtartenliste der Säugetiere...,

In [115]:
# Remove the stars from Deutscher_Name

df1 = df.Deutscher_Name.str.split(pat="*", n = 1, expand = True)
df.Deutscher_Name = df1[0]
#df.head(10)
df

,Deutscher_Name,Species,BE,Family,Reference,Letzter_Nachweis
0,Mopsfledermaus,Barbastella barbastellus,0,Vespertilionidae,Rote Liste und Gesamtartenliste der Säugetiere...,
1,Hamster,Cricetus cricetus,0,Cricetidae,Rote Liste und Gesamtartenliste der Säugetiere...,
2,Hausratte,Rattus rattus,0,Muridae,Rote Liste und Gesamtartenliste der Säugetiere...,
3,Rothirsch,Cervus elaphus,0,Cervidae,Rote Liste und Gesamtartenliste der Säugetiere...,

In [116]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]
df.head(10)

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Barbastella barbastellus,Vespertilionidae,0,,Mopsfledermaus,Rote Liste und Gesamtartenliste der Säugetiere...
1,Cricetus cricetus,Cricetidae,0,,Hamster,Rote Liste und Gesamtartenliste der Säugetiere...
2,Rattus rattus,Muridae,0,,Hausratte,Rote Liste und Gesamtartenliste der Säugetiere...
3,Cervus elaphus,Cervidae,0,,Rothirsch,Rote Liste und Gesamtartenliste der Säugetiere...

In [117]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/27_Mammalia.csv', 
          index=False)

# 28: Vascular_plants.csv : Vascular Plants

In [118]:
# Read file into dataframe

df = pd.read_csv('Vascular_plants.csv')
df.head(10)

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,EU,GS,V,Zielart_2008,Zielart_2017,V.1,Letzter Nachweis,Common_name
0,Achillea salicifolia *,0,ex,NaN,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,!!,NaN,1999,Weidenblatt-Schafgarbe
1,Agrostemma githago *,0,ex,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,1989,Korn-Rade
2,Alchemilla plicata *,0,ex,NaN,NaN,NaN,1,2,NaN,NaN,NaN,NaN,!!,NaN,1990,Gefalteter Frauenmantel
3,Alchemilla vulgaris s. str.,0,ex,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1969,Spitzlappiger Frauenmantel
4,Alisma gramineum,0,ex,NaN,NaN,NaN,2,NaN,3,NaN,NaN,NaN,NaN,NaN,1950,Grasblättriger Froschlöffel
5,Allium lusitanicum,0,ex,NaN,NaN,NaN,1,NaN,NaN,§,NaN,NaN,NaN,NaN,1859,Berg-Lauch
6,Alopecurus myosuroides *,0,ex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1968,Acker-Fuchsschwanz
7,Althaea officinalis *,0,ex,NaN,NaN,NaN,1,3,NaN,§,NaN,NaN,NaN,N,1859,Echter Eibisch
8,Ammophila arenaria *,0,ex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,1859,Gemeiner Strandhafer
9,Anagallis minima,0,ex,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,1985,Acker-Kleinling

In [119]:
# Removing columns "Bestand","Trend_lang","Trend_kurz", "RF", "BB", "D", "GS", "GfU"
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "BB",
                   "D",
                   "EU",
                   "GS", 
                   "V",
                   "Zielart_2008",
                   "Zielart_2017",
                   "V.1"
                  ], inplace = True)
df.head()

,Species,BE,Letzter Nachweis,Common_name
0,Achillea salicifolia *,0,1999,Weidenblatt-Schafgarbe
1,Agrostemma githago *,0,1989,Korn-Rade
2,Alchemilla plicata *,0,1990,Gefalteter Frauenmantel
3,Alchemilla vulgaris s. str.,0,1969,Spitzlappiger Frauenmantel
4,Alisma gramineum,0,1950,Grasblättriger Froschlöffel

In [120]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df.Species = df1[0].str.cat(df1[1], sep = " ")
df.head(10)

                  Species  BE Letzter Nachweis                  Common_name
0    Achillea salicifolia   0             1999       Weidenblatt-Schafgarbe
1      Agrostemma githago   0             1989                    Korn-Rade
2      Alchemilla plicata   0             1990      Gefalteter Frauenmantel
3     Alchemilla vulgaris   0             1969   Spitzlappiger Frauenmantel
4        Alisma gramineum   0             1950  Grasblättriger Froschlöffel
5      Allium lusitanicum   0             1859                   Berg-Lauch
6  Alopecurus myosuroides   0             1968           Acker-Fuchsschwanz
7     Althaea officinalis   0             1859               Echter Eibisch
8      Ammophila arenaria   0             1859         Gemeiner Strandhafer
9        Anagallis minima   0             1985              Acker-Kleinling

In [130]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='plants')
print("Complete")

Complete

In [131]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns
df["Family"] = gbif_data["family"]
df

,Species,BE,Letzter Nachweis,Common_name,Family
0,Achillea salicifolia,0,1999,Weidenblatt-Schafgarbe,Asteraceae
1,Agrostemma githago,0,1989,Korn-Rade,Caryophyllaceae
2,Alchemilla plicata,0,1990,Gefalteter Frauenmantel,Rosaceae
3,Alchemilla vulgaris,0,1969,Spitzlappiger Frauenmantel,Rosaceae
4,Alisma gramineum,0,1950,Grasblättriger Froschlöffel,Alismataceae
...,...,...,...,...,...
261,Veronica opaca,0,1881,Glanzloser Ehrenpreis,NaN
262,Veronica teucrium,0,1881,Großer Ehrenpreis,NaN
263,Viola stagnina,0,1984,Gräben-Veilchen,NaN
264,Vulpia bromoides,0,1992,Trespen-Federschwingel,NaN
265,Xanthium strumarium,0,1986,Gemeine Spitzklette,NaN

In [134]:
df.loc[df.Family.isna()]

                  Species  BE Letzter Nachweis             Common_name Family
259  Valerianella dentata   0             1965    Gezähntes Rapünzchen    NaN
260   Valerianella rimosa   0             1900   Gefurchtes Rapünzchen    NaN
261        Veronica opaca   0             1881   Glanzloser Ehrenpreis    NaN
262     Veronica teucrium   0             1881       Großer Ehrenpreis    NaN
263        Viola stagnina   0             1984         Gräben-Veilchen    NaN
264      Vulpia bromoides   0             1992  Trespen-Federschwingel    NaN
265   Xanthium strumarium   0             1986     Gemeine Spitzklette    NaN

In [135]:
missing = {}

for i in df.loc[df["Family"].isna()].Species:     
   missing[i] = species.name_backbone(name=str(i), kingdom='plants')
print("Complete")

Complete

In [136]:
gbif_data_missing = pd.DataFrame.from_dict(missing, orient = "index")
gbif_data_missing.reset_index(inplace = True)
gbif_data_missing.columns

Index(['index', 'usageKey', 'scientificName', 'canonicalName', 'rank',
       'status', 'confidence', 'matchType', 'kingdom', 'phylum', 'order',
       'family', 'genus', 'species', 'kingdomKey', 'phylumKey', 'classKey',
       'orderKey', 'familyKey', 'genusKey', 'speciesKey', 'synonym', 'class',
       'acceptedUsageKey'],
      dtype='object')

In [137]:
gbif_data_missing["family"]

0    Caprifoliaceae
1    Caprifoliaceae
2    Plantaginaceae
3    Plantaginaceae
4         Violaceae
5           Poaceae
6        Asteraceae
Name: family, dtype: object

In [143]:
i = 259
j = 0;
while i < 266:
    df.at[i, "Family"] = gbif_data_missing["family"][j]
    i = i + 1
    j = j + 1
print("complete")
df.tail(7)

complete

,Species,BE,Letzter Nachweis,Common_name,Family
261,Veronica opaca,0,1881,Glanzloser Ehrenpreis,Plantaginaceae
262,Veronica teucrium,0,1881,Großer Ehrenpreis,Plantaginaceae
263,Viola stagnina,0,1984,Gräben-Veilchen,Violaceae
264,Vulpia bromoides,0,1992,Trespen-Federschwingel,Poaceae
265,Xanthium strumarium,0,1986,Gemeine Spitzklette,Asteraceae

In [144]:
df.Family.isna().sum()

0

In [145]:
# renaming columns
df.rename({
    "Common_name": "Deutscher_Name",
    "Letzter Nachweis": "Letzter_Nachweis"
}, 
    axis='columns',
    inplace = True
)
df

,Species,BE,Letzter_Nachweis,Deutscher_Name,Family
0,Achillea salicifolia,0,1999,Weidenblatt-Schafgarbe,Asteraceae
1,Agrostemma githago,0,1989,Korn-Rade,Caryophyllaceae
2,Alchemilla plicata,0,1990,Gefalteter Frauenmantel,Rosaceae
3,Alchemilla vulgaris,0,1969,Spitzlappiger Frauenmantel,Rosaceae
4,Alisma gramineum,0,1950,Grasblättriger Froschlöffel,Alismataceae
...,...,...,...,...,...
261,Veronica opaca,0,1881,Glanzloser Ehrenpreis,Plantaginaceae
262,Veronica teucrium,0,1881,Großer Ehrenpreis,Plantaginaceae
263,Viola stagnina,0,1984,Gräben-Veilchen,Violaceae
264,Vulpia bromoides,0,1992,Trespen-Federschwingel,Poaceae
265,Xanthium strumarium,0,1986,Gemeine Spitzklette,Asteraceae

In [146]:
# Add common names
#df["Deutscher_Name"] = ""
# Add reference column
df["Reference"] = "Rote Liste und Gesamtartenliste der etablierten Farn- und Blütenpflanzen von Berlin"
# Adding Letzter_Nachweis column
#df["Letzter_Nachweis"] = ""
df.head()

,Species,BE,Letzter_Nachweis,Deutscher_Name,Family,Reference
0,Achillea salicifolia,0,1999,Weidenblatt-Schafgarbe,Asteraceae,Rote Liste und Gesamtartenliste der etablierte...
1,Agrostemma githago,0,1989,Korn-Rade,Caryophyllaceae,Rote Liste und Gesamtartenliste der etablierte...
2,Alchemilla plicata,0,1990,Gefalteter Frauenmantel,Rosaceae,Rote Liste und Gesamtartenliste der etablierte...
3,Alchemilla vulgaris,0,1969,Spitzlappiger Frauenmantel,Rosaceae,Rote Liste und Gesamtartenliste der etablierte...
4,Alisma gramineum,0,1950,Grasblättriger Froschlöffel,Alismataceae,Rote Liste und Gesamtartenliste der etablierte...

In [147]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]
df.head(10)

,Species,Family,BE,Letzter_Nachweis,Deutscher_Name,Reference
0,Achillea salicifolia,Asteraceae,0,1999,Weidenblatt-Schafgarbe,Rote Liste und Gesamtartenliste der etablierte...
1,Agrostemma githago,Caryophyllaceae,0,1989,Korn-Rade,Rote Liste und Gesamtartenliste der etablierte...
2,Alchemilla plicata,Rosaceae,0,1990,Gefalteter Frauenmantel,Rote Liste und Gesamtartenliste der etablierte...
3,Alchemilla vulgaris,Rosaceae,0,1969,Spitzlappiger Frauenmantel,Rote Liste und Gesamtartenliste der etablierte...
4,Alisma gramineum,Alismataceae,0,1950,Grasblättriger Froschlöffel,Rote Liste und Gesamtartenliste der etablierte...
5,Allium lusitanicum,Amaryllidaceae,0,1859,Berg-Lauch,Rote Liste und Gesamtartenliste der etablierte...
6,Alopecurus myosuroides,Poaceae,0,1968,Acker-Fuchsschwanz,Rote Liste und Gesamtartenliste der etablierte...
7,Althaea officinalis,Malvaceae,0,1859,Echter Eibisch,Rote Liste und Gesamtartenliste der etablierte...
8,Ammophila arenaria,Poaceae,0,1859,Gemeiner Strandhafer,Rote Liste und Gesamtartenliste der etablierte...
9,Anagallis minima,Primulaceae,0,1985,Acker-Kleinling,Rote Liste und Gesamtartenliste der etablierte...

In [148]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/28_Vascular_plants.csv', 
          index=False)

# 29:

In [ ]:
# Updated export location
# export the dataframe as CSV
df2.to_csv('../../Transformation/Raw_csv/Mammalia.csv', 
          index = False
         )

In [ ]:
# Read file into dataframe

df = pd.read_csv('Name.csv')
df.head(10)

In [ ]:
# Removing columns "Bestand","Trend_lang","Trend_kurz", "RF", "BB", "D", "GS", "GfU"
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "BB",
                   "D",
                   "GfU", 
                   "Vorzugs_habitat",
                   "Ökolog_Typ"
                  ], inplace = True)
df.head()

In [ ]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df.Species = df1[0].str.cat(df1[1], sep = " ")
df.head(10)

In [ ]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

In [ ]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns
df["Family"] = gbif_data["family"]
df

In [ ]:
# Add common names
df["Deutscher_Name"] = ""
# Add reference column
df["Reference"] = "Ref Name"
# Adding Letzter_Nachweis column
df["Letzter_Nachweis"] = ""
df.head()

In [ ]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]
df.head(10)

In [ ]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/22_name.csv', 
          index=False)

In [ ]:
# Updated export location
# export the dataframe as CSV
df2.to_csv('../../Transformation/Raw_csv/Mammalia.csv', 
          index = False
         )

In [ ]:
# Read file into dataframe

df = pd.read_csv('Name.csv')
df.head(10)

In [ ]:
# Removing columns "Bestand","Trend_lang","Trend_kurz", "RF", "BB", "D", "GS", "GfU"
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "BB",
                   "D",
                   "GfU", 
                   "Vorzugs_habitat",
                   "Ökolog_Typ"
                  ], inplace = True)
df.head()

In [ ]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df.Species = df1[0].str.cat(df1[1], sep = " ")
df.head(10)

In [ ]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

In [ ]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns
df["Family"] = gbif_data["family"]
df

In [ ]:
# Add common names
df["Deutscher_Name"] = ""
# Add reference column
df["Reference"] = "Ref Name"
# Adding Letzter_Nachweis column
df["Letzter_Nachweis"] = ""
df.head()

In [ ]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]
df.head(10)

In [ ]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/22_name.csv', 
          index=False)

In [ ]:
# Updated export location
# export the dataframe as CSV
df2.to_csv('../../Transformation/Raw_csv/Mammalia.csv', 
          index = False
         )

In [ ]:
# Read file into dataframe

df = pd.read_csv('Name.csv')
df.head(10)

In [ ]:
# Removing columns "Bestand","Trend_lang","Trend_kurz", "RF", "BB", "D", "GS", "GfU"
df.drop(columns = ["Bestand",
                   "Trend_lang",
                   "Trend_kurz",
                   "RF",
                   "BB",
                   "D",
                   "GfU", 
                   "Vorzugs_habitat",
                   "Ökolog_Typ"
                  ], inplace = True)
df.head()

In [ ]:
# Editing species column based on binomial nomenclature

df1 = df.Species.str.split(pat=" ", n = 3, expand = True)
df.Species = df1[0].str.cat(df1[1], sep = " ")
df.head(10)

In [ ]:
# Creating a dictionary and extracting GBIF data
d = {}

for i in df.Species:     
   d[i] = species.name_backbone(name=str(i), kingdom='animals')
print("Complete")

In [ ]:
gbif_data = pd.DataFrame.from_dict(d, orient = "index")
gbif_data.reset_index(inplace = True)
gbif_data.columns
df["Family"] = gbif_data["family"]
df

In [ ]:
# Add common names
df["Deutscher_Name"] = ""
# Add reference column
df["Reference"] = "Ref Name"
# Adding Letzter_Nachweis column
df["Letzter_Nachweis"] = ""
df.head()

In [ ]:
# Rearranging the dataframe for uniformity
df = df[["Species",
         "Family", 
         "BE", 
         "Letzter_Nachweis",
         "Deutscher_Name", 
         "Reference"]]
df.head(10)

In [ ]:
# Saving the extracted csv to the "Data_cleaning_step1" directory
# export the dataframe as CSV

df.to_csv('../../Transformation/Data_cleaning_step1/22_name.csv', 
          index=False)