In [1]:
import camelot
import pandas as pd

# Updated Process

## 1. Create empty dataframe with proper column names

In [2]:
# This is where data will be added after cleaning. The final dataframe for export

In [3]:
df = pd.DataFrame(columns = [
    "Wissenschaftlicher Name",
    "BE", 
    "ST", 
    "DE", 
    "GS",
    "Vorzugshabitate",
    "Gefährdungsursachen"
])
df

Empty DataFrame
Columns: [Wissenschaftlicher Name, BE, ST, DE, GS, Vorzugshabitate, Gefährdungsursachen]
Index: []

In [4]:
df.shape

(0, 7)

## 2. Setup mechanism to store accuracy report : QA step

In [5]:
accuracy = []

## 3. Dictionary of dataframes on the go

In [6]:
# Dictionary to collect dataframes created from each table
d = {}

## 4. Adding the list of pages to be parsed

In [7]:
pages = []
i = 3
while i < 6:
    pages.append(i)
    i = i + 1
print(pages)

[3, 4, 5]

## 5. Parsing through the pages

In [8]:
for i in pages:
    # print page number
    print (i)
    # create dataframe with page number
    d[i] = pd.DataFrame()
    #read the page
    #tables = camelot.read_pdf('18_netzfl_print.pdf', 
    #                          pages= str(i), 
    #                          flavor='stream', edge_tol=1000, row_tol=10)
    tables = camelot.read_pdf('18_netzfl_print.pdf', pages= str(i), flavor='lattice')
    # add the accuracy report
    accuracy.append(tables[0].parsing_report)
    # assign the first table to a dataframe
    d[i] = tables[0].df
    print(d[i].shape)
# Print Done once all pages are parsed
print ("Done")

3
(20, 7)
4
(36, 7)
5
(33, 7)
Done

In [9]:
# Check accuracy reports for the process
accuracy

[{'accuracy': 100.0, 'whitespace': 42.86, 'order': 1, 'page': 3},
 {'accuracy': 100.0, 'whitespace': 26.98, 'order': 1, 'page': 4},
 {'accuracy': 100.0, 'whitespace': 30.3, 'order': 1, 'page': 5}]

In [10]:
d[3]

,0,1,2,3,4,5,6
0,Wissenschaftlicher Name,BE,ST,DE,GS,Vorzugs- \nhabitate,Gefährdungs-\nursachen
1,Raphidioptera – Kamelhalsfliegen,,,,,,
2,Raphidiidae – Kamelhalsfliegen,,,,,,
3,Dichrostigma flavipes (STEIN)*,0,-,V,,"W, WK","9, 12b"
4,Phaeostigma major (BURMEISTER),3,2,3,,"W, WT","9, 12b"
5,Phaeostigma notata (FABRICIUS),-,-,-,,"W, P",
6,Puncha ratzeburgi (BRAUER)*,D,3,-,,"W, WK",
7,Raphidia ophiopsis LINNAEUS,-,-,-,,"W, WK",
8,Subilla confinis (STEPHENS),3,-,G,,"W, WT, B, BS","9, 12b"
9,Venustoraphidia nigricollis (ALBARDA),3,-,V,,"W, WT, B, BS","9, 12b"
10,Xanthostigma xanthostigma (SCHUMMEL),-,-,-,,"W, WT",
11,Inocelliidae – Kamelhalsfliegen,,,,,,
12,Inocellia crassicornis (SCHUMMEL),3,3,3,,"W, WK","9, 12b"
13,Megaloptera – Großflügler,,,,,,
14,Sialidae – Schlammfliegen,,,,,,
15,Sialis lutaria (LINNAEUS)*,-,-,-,,S,
16,Neuroptera – Netzflügler,,,,,,
17,Chrysopidae – Florfliegen,,,,,,
18,Chrysopa abbreviata CURTIS,3,3,V,,"RR, AD","8d, 12c"
19,Chrysopa commata KIS & UJHELYI*,-,-,D,,"RS, GA",

In [11]:
d[4]

,0,1,2,3,4,5,6
0,Wissenschaftlicher Name,BE,ST,DE,GS,Vorzugs- \nhabitate,Gefährdungs-\nursachen
1,Chrysopa dorsalis BURMEISTER,-,3,-,,"W, WK","9, 12b"
2,Chrysopa formosa BRAUER,-,-,V,,"W, B",
3,Chrysopa nigricostata BRAUER*,D,-,G,,"G?, W?",
4,Chrysopa pallens (RAMBUR),-,-,-,,"W, P",
5,Chrysopa perla (LINNAEUS),-,-,-,,"W, B, P",
6,Chrysopa phyllochroma WESMAEL*,-,-,-,,"RS, GA",
7,Chrysopa viridana SCHNEIDER,3,-,V,,"W, WT","9, 12b"
8,Chrysoperla carnea (STEPHENS)*,-,-,-,,"G, B, P",
9,"Chrysoperla pallida HENRY, BROOKS, \nDUELLI & ...",D,-,-,,"W, B",
10,Chrysotropia ciliata (WESMAEL),-,3,-,,"W, B",
11,Cunctochrysa albolineata (KILLINGTON),-,-,-,,"W, B, P",
12,Dichochrysa abdominalis (BRAUER)*,D,-,-,,"W, WNF",
13,Dichochrysa flavifrons (BRAUER),-,-,-,,"W, B, P",
14,Dichochrysa prasina (BURMEISTER)*,-,-,-,,"W, B, P",
15,Dichochrysa ventralis (CURTIS),-,-,-,,"W, B",
16,Nineta flava (SCOPOLI),-,-,-,,"W, B, P",
17,Nineta inpunctata (REUTER)*,0,-,G,,"W, WT","9, 12b"
18,Nineta vittata (WESMAEL)*,G,3,V,,"W, B","9, 12b"
19,Peyerimhoffina gracilis (SCHNEIDER),-,-,-,,"W, WNF",
20,Hemerobiidae – Taghafte,,,,,,
21,Drepanepteryx algida (ERICHSON)*,D,-,V,,"W, WNL",
22,Drepanepteryx phalaenoides (LINNAEUS),-,-,-,,"W, B, P",
23,Hemerobius atrifrons MCLACHLAN,-,3,-,,"W, WNL",
24,Hemerobius humulinus LINNAEUS,-,-,-,,"W, B, P",
25,Hemerobius lutescens FABRICIUS,-,3,-,,"W, B, P",
26,Hemerobius marginatus STEPHENS*,3,3,V,,"B, BL, BF","9, 12b"
27,Hemerobius micans OLIVIER,-,-,-,,"W, B, P",
28,Hemerobius nitidulus FABRICIUS,-,-,-,,"W, WK",
29,Hemerobius pini STEPHENS,-,-,-,,"W, WNF",
30,Hemerobius stigma STEPHENS,-,-,-,,"W, WK",
31,Micromus angulatus (STEPHENS),-,-,-,,G,
32,Micromus paganus (LINNAEUS)*,D,-,V,,B,
33,Micromus variegatus (FABRICIUS),-,-,-,,G,
34,Psectra diptera (BURMEISTER)*,G,-,3,,"G, GF, GSF","5b, 12c"
35,Sympherobius elegans (STEPHENS),-,-,-,,"W, B",

In [12]:
d[5]

,0,1,2,3,4,5,6
0,Wissenschaftlicher Name,BE,ST,DE,GS,Vorzugs- \nhabitate,Gefährdungs-\nursachen
1,Sympherobius fuscescens (WAL-\nLENGREN)*,0,-,V,,"W, WK","9, 12b"
2,Sympherobius klapaleki ZELENY,-,-,V,,"W, WT",
3,Sympherobius pellucidus (WALKER)*,D,0,V,,W,
4,Sympherobius pygmaeus (RAMBUR),-,-,-,,"W, WT",
5,Wesmaelius concinnus (STEPHENS),-,-,-,,"W, WK",
6,Wesmaelius mortoni (MCLACHLAN),3,-,3,,"W, WK","9, 12b"
7,Wesmaelius nervosus (FABRICIUS),-,-,-,,"W, B, P",
8,Wesmaelius quadrifasciatus (REUTER),-,-,-,,"W, WNL",
9,Wesmaelius subnebulosus (STEPHENS),-,-,-,,"W, B, P",
10,Sisyridae – Schwammfliegen,,,,,,
11,Sisyra nigra (RETZIUS)*,-,-,-,,"F, S",
12,Coniopterygidae – Staubhafte,,,,,,
13,Aleuropteryx juniperi OHM*,D,-,3,,P,
14,Aleuropteryx loewii KLAPALEK,-,3,V,,"W, WK",
15,Coniopteryx borealis TJEDER,-,-,-,,"W, B",
16,Coniopteryx esbenpeterseni TJEDER,-,-,-,,"W, B",
17,Coniopteryx haematica MCLACHLAN,-,-,V,,"W, WT",
18,Coniopteryx pygmaea ENDERLEIN*,-,-,-,,"W, P",
19,Coniopteryx tineiformis CURTIS,-,-,-,,"W, B, P",
20,Conwentzia pineticola ENDERLEIN,-,-,-,,"W, WK",
21,Conwentzia psociformis (CURTIS),-,-,-,,"W, WT, B, P",
22,Helicoconis lutea (WALLENGREN)*,D,3,V,,"W, WNF",
23,Parasemidalis fuscipennis (REUTER),-,-,V,,"W, WK",
24,Semidalis aleyrodiformis (STEPHENS),-,-,-,,"W, B, P",
25,Semidalis pseudouncinata MEINANDER*,D,-,-,,P,
26,Mantispidae – Fanghafte,,,,,,
27,Mantispa styriaca (PODA)*,0,0,0,,"B, BLT, BFT, \nWT","2a, 9, 12b"
28,Myrmeleontidae – Ameisenjungfern,,,,,,
29,Distoleon tetragrammicus (FABRICIUS)*,0,-,2,§,"W, WK, WT","9, 12b"
30,Euroleon nostras (FOURCROY),-,-,V,§,"W, WK, WT",
31,Myrmeleon bore (TJEDER),3,2,3,§,"WK, AD","8d, 9, 12b"
32,Myrmeleon formicarius LINNAEUS,3,3,V,§,"W, WK, WT","9, 12b"

# Data cleanup steps

d[67]       
    : Look at the data frame extracted from 67th page
d[67].shape 
    : Look at the shape of the dataframe
d[68] = d[68].drop([12], axis=1)
    : Drop the 12th column in place
d[68][10] = d[68][[10, 11]].agg(' '.join, axis=1)
    : Join 10th and 11th columns with a space in between
d[69][[9,11]] = d[69][9].str.split('\n', expand=True)
    : Split 9th Column at the '\n' sign and add a new column called 11
column_to_move = d[69].pop(11)
column_to_move
d[69].insert(9, 11, column_to_move )
    : Pop column 11 and insert it at column 9
d[75].insert(9, '10', ["",""])
    : Insert two rows of column 10 after 9 with empty cells

In [13]:
# Check whether all dataframes are of the same size
for key in d:
    print(key)
    print(d[key].shape)

3
(20, 7)
4
(36, 7)
5
(33, 7)

In [14]:
# Removing empty dataframes
# del d[64]
# del d[74]

In [15]:
# for each df from d[7] drop 0 and 1
i = 3
while i < 6:
    d[i] = d[i].drop([0], axis=0)
    print(d[i].shape)
    i = i + 1

(19, 7)
(35, 7)
(32, 7)

In [16]:
# Creates a sorted dictionary (sorted by key)
from collections import OrderedDict
d2 = OrderedDict(sorted(d.items()))

In [17]:
# Check whether the dictionary is sorted
for key in d2:
    print(key)

3
4
5

In [18]:
# Rename all the dataframes in the sorted dictionary
for key in d2:
    print(key)
    d2[key].columns = [ "Wissenschaftlicher Name",
    "BE", 
    "ST", 
    "DE", 
    "GS",
    "Vorzugshabitate",
    "Gefährdungsursachen"]
print("Rename completed for concat")

3
4
5
Rename completed for concat

In [19]:
# Concatanate all the non-empty dataframes in the sorted dictionary into the empty df
for key in d2:
    df = pd.concat([df, d2[key]], axis = 0)
df

,Wissenschaftlicher Name,BE,ST,DE,GS,Vorzugshabitate,Gefährdungsursachen
1,Raphidioptera – Kamelhalsfliegen,,,,,,
2,Raphidiidae – Kamelhalsfliegen,,,,,,
3,Dichrostigma flavipes (STEIN)*,0,-,V,,"W, WK","9, 12b"
4,Phaeostigma major (BURMEISTER),3,2,3,,"W, WT","9, 12b"
5,Phaeostigma notata (FABRICIUS),-,-,-,,"W, P",
...,...,...,...,...,...,...,...
28,Myrmeleontidae – Ameisenjungfern,,,,,,
29,Distoleon tetragrammicus (FABRICIUS)*,0,-,2,§,"W, WK, WT","9, 12b"
30,Euroleon nostras (FOURCROY),-,-,V,§,"W, WK, WT",
31,Myrmeleon bore (TJEDER),3,2,3,§,"WK, AD","8d, 9, 12b"
32,Myrmeleon formicarius LINNAEUS,3,3,V,§,"W, WK, WT","9, 12b"

In [20]:
df2 = df.loc[df["BE"] == "0"]
df2

,Wissenschaftlicher Name,BE,ST,DE,GS,Vorzugshabitate,Gefährdungsursachen
3,Dichrostigma flavipes (STEIN)*,0,-,V,,"W, WK","9, 12b"
17,Nineta inpunctata (REUTER)*,0,-,G,,"W, WT","9, 12b"
1,Sympherobius fuscescens (WAL-\nLENGREN)*,0,-,V,,"W, WK","9, 12b"
27,Mantispa styriaca (PODA)*,0,0,0,,"B, BLT, BFT, \nWT","2a, 9, 12b"
29,Distoleon tetragrammicus (FABRICIUS)*,0,-,2,§,"W, WK, WT","9, 12b"

In [21]:
df2.describe()

,Wissenschaftlicher Name,BE,ST,DE,GS,Vorzugshabitate,Gefährdungsursachen
count,5,5,5,5,5,5,5
unique,5,1,2,4,2,4,2
top,Dichrostigma flavipes (STEIN)*,0,-,V,,"W, WK","9, 12b"
freq,1,5,4,2,4,2,4

In [22]:
df2.reset_index(inplace = True)
df2

,index,Wissenschaftlicher Name,BE,ST,DE,GS,Vorzugshabitate,Gefährdungsursachen
0,3,Dichrostigma flavipes (STEIN)*,0,-,V,,"W, WK","9, 12b"
1,17,Nineta inpunctata (REUTER)*,0,-,G,,"W, WT","9, 12b"
2,1,Sympherobius fuscescens (WAL-\nLENGREN)*,0,-,V,,"W, WK","9, 12b"
3,27,Mantispa styriaca (PODA)*,0,0,0,,"B, BLT, BFT, \nWT","2a, 9, 12b"
4,29,Distoleon tetragrammicus (FABRICIUS)*,0,-,2,§,"W, WK, WT","9, 12b"

In [23]:
df2 = df2.drop(['index'], axis=1)
df2

,Wissenschaftlicher Name,BE,ST,DE,GS,Vorzugshabitate,Gefährdungsursachen
0,Dichrostigma flavipes (STEIN)*,0,-,V,,"W, WK","9, 12b"
1,Nineta inpunctata (REUTER)*,0,-,G,,"W, WT","9, 12b"
2,Sympherobius fuscescens (WAL-\nLENGREN)*,0,-,V,,"W, WK","9, 12b"
3,Mantispa styriaca (PODA)*,0,0,0,,"B, BLT, BFT, \nWT","2a, 9, 12b"
4,Distoleon tetragrammicus (FABRICIUS)*,0,-,2,§,"W, WK, WT","9, 12b"

In [24]:
df2.describe()

,Wissenschaftlicher Name,BE,ST,DE,GS,Vorzugshabitate,Gefährdungsursachen
count,5,5,5,5,5,5,5
unique,5,1,2,4,2,4,2
top,Dichrostigma flavipes (STEIN)*,0,-,V,,"W, WK","9, 12b"
freq,1,5,4,2,4,2,4

In [25]:
df2

,Wissenschaftlicher Name,BE,ST,DE,GS,Vorzugshabitate,Gefährdungsursachen
0,Dichrostigma flavipes (STEIN)*,0,-,V,,"W, WK","9, 12b"
1,Nineta inpunctata (REUTER)*,0,-,G,,"W, WT","9, 12b"
2,Sympherobius fuscescens (WAL-\nLENGREN)*,0,-,V,,"W, WK","9, 12b"
3,Mantispa styriaca (PODA)*,0,0,0,,"B, BLT, BFT, \nWT","2a, 9, 12b"
4,Distoleon tetragrammicus (FABRICIUS)*,0,-,2,§,"W, WK, WT","9, 12b"

In [26]:
# Updated export location
# export the dataframe as CSV
df2.to_csv('../../Transformation/Raw_csv/Raphidioptera_Megaloptera_Neuroptera.csv',
           index=False)