In [59]:
import camelot
import pandas as pd

# Updated Process

## 1. Create empty dataframe with proper column names

In [60]:
# This is where data will be added after cleaning. The final dataframe for export

In [61]:
df = pd.DataFrame(columns = [
    "Species",
    "BE", 
    "Bestand", 
    "Trend_lang", 
    "Trend_kurz",
    "RF",
    "BB",
    "D",
    "GfU",
    "Vorzugs_habitat",
    "Ökolog_Typ"
])
df

Empty DataFrame
Columns: [Species, BE, Bestand, Trend_lang, Trend_kurz, RF, BB, D, GfU, Vorzugs_habitat, Ökolog_Typ]
Index: []

In [62]:
df.shape

(0, 11)

## 2. Setup mechanism to store accuracy report : QA step

In [63]:
accuracy = []

## 3. Dictionary of dataframes on the go

In [64]:
# Dictionary to collect dataframes created from each table
d = {}

## 4. Adding the list of pages to be parsed

In [65]:
pages = []
i = 10
while i < 34:
    pages.append(i)
    i = i + 1
print(pages)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33]

## 5. Parsing through the pages

In [66]:
for i in pages:
    # print page number
    print (i)
    # create dataframe with page number
    d[i] = pd.DataFrame()
    #read the page
    tables = camelot.read_pdf('rote_liste_spinnen_kielhorn.pdf', 
                              pages= str(i), 
                              flavor='stream', edge_tol=1000, row_tol=10)
    #tables = camelot.read_pdf('18_netzfl_print.pdf', pages= str(i), flavor='lattice')
    # add the accuracy report
    accuracy.append(tables[0].parsing_report)
    # assign the first table to a dataframe
    d[i] = tables[0].df
    print(d[i].shape)
# Print Done once all pages are parsed
print ("Done")

10
(28, 11)
11
(28, 11)
12
(28, 11)
13
(28, 11)
14
(28, 11)
15
(28, 11)
16
(28, 11)
17
(28, 11)
18
(28, 11)
19
(28, 11)
20
(28, 11)
21
(28, 11)
22
(28, 11)
23
(28, 11)
24
(28, 11)
25
(28, 11)
26
(28, 11)
27
(28, 11)
28
(28, 11)
29
(27, 11)
30
(28, 11)
31
(28, 11)
32
(28, 11)
33
(19, 11)
Done

In [67]:
# Check accuracy reports for the process
accuracy

[{'accuracy': 99.73, 'whitespace': 41.23, 'order': 1, 'page': 10},
 {'accuracy': 99.92, 'whitespace': 37.34, 'order': 1, 'page': 11},
 {'accuracy': 99.71, 'whitespace': 13.31, 'order': 1, 'page': 12},
 {'accuracy': 99.75, 'whitespace': 18.83, 'order': 1, 'page': 13},
 {'accuracy': 100.0, 'whitespace': 9.42, 'order': 1, 'page': 14},
 {'accuracy': 100.0, 'whitespace': 9.74, 'order': 1, 'page': 15},
 {'accuracy': 100.0, 'whitespace': 12.01, 'order': 1, 'page': 16},
 {'accuracy': 100.0, 'whitespace': 12.01, 'order': 1, 'page': 17},
 {'accuracy': 100.0, 'whitespace': 12.01, 'order': 1, 'page': 18},
 {'accuracy': 99.92, 'whitespace': 12.01, 'order': 1, 'page': 19},
 {'accuracy': 99.92, 'whitespace': 12.01, 'order': 1, 'page': 20},
 {'accuracy': 99.67, 'whitespace': 14.61, 'order': 1, 'page': 21},
 {'accuracy': 99.84, 'whitespace': 12.66, 'order': 1, 'page': 22},
 {'accuracy': 99.92, 'whitespace': 11.36, 'order': 1, 'page': 23},
 {'accuracy': 99.89, 'whitespace': 10.06, 'order': 1, 'page': 24},
 {'accuracy': 100.0, 'whitespace': 28.57, 'order': 1, 'page': 25},
 {'accuracy': 99.95, 'whitespace': 23.05, 'order': 1, 'page': 26},
 {'accuracy': 99.77, 'whitespace': 25.97, 'order': 1, 'page': 27},
 {'accuracy': 100.0, 'whitespace': 13.64, 'order': 1, 'page': 28},
 {'accuracy': 99.87, 'whitespace': 10.44, 'order': 1, 'page': 29},
 {'accuracy': 99.87, 'whitespace': 20.78, 'order': 1, 'page': 30},
 {'accuracy': 99.92, 'whitespace': 12.34, 'order': 1, 'page': 31},
 {'accuracy': 99.88, 'whitespace': 13.96, 'order': 1, 'page': 32},
 {'accuracy': 99.95, 'whitespace': 9.57, 'order': 1, 'page': 33}]

# Data cleanup steps

d[67]       
    : Look at the data frame extracted from 67th page
d[67].shape 
    : Look at the shape of the dataframe
d[68] = d[68].drop([12], axis=1)
    : Drop the 12th column in place
d[68][10] = d[68][[10, 11]].agg(' '.join, axis=1)
    : Join 10th and 11th columns with a space in between
d[69][[9,11]] = d[69][9].str.split('\n', expand=True)
    : Split 9th Column at the '\n' sign and add a new column called 11
column_to_move = d[69].pop(11)
column_to_move
d[69].insert(9, 11, column_to_move )
    : Pop column 11 and insert it at column 9
d[75].insert(9, '10', ["",""])
    : Insert two rows of column 10 after 9 with empty cells

In [68]:
# Check whether all dataframes are of the same size
for key in d:
    print(key)
    print(d[key].shape)

10
(28, 11)
11
(28, 11)
12
(28, 11)
13
(28, 11)
14
(28, 11)
15
(28, 11)
16
(28, 11)
17
(28, 11)
18
(28, 11)
19
(28, 11)
20
(28, 11)
21
(28, 11)
22
(28, 11)
23
(28, 11)
24
(28, 11)
25
(28, 11)
26
(28, 11)
27
(28, 11)
28
(28, 11)
29
(27, 11)
30
(28, 11)
31
(28, 11)
32
(28, 11)
33
(19, 11)

In [69]:
d[11]

,0,1,2,3,4,5,6,7,8,9,10
0,Wissenschaftlicher Name,BE,Bestand,Trend,Trend,RF,BB,D,GfU,Vorzugs-,Ökolog.
1,,,,lang,kurz,,,,,habitat,Typ
2,"Ischnothyreus velox JACKSON, 1908",♦,nb,,,,*,♦,,16,"syn, trog"
3,"Oonops domesticus DALMAS, 1916",0,ex,,,,*,D,"1a, 2a",16,"syn, trog"
4,"Oonops pulcher TEMPLETON, 1835",♦,nb,,,,,D,,16,syn
5,"Triaeris stenaspis SIMON, 1891",♦,nb,,,,,♦,,16,syn
6,Spinnenfresser (Mimetidae),,,,,,,,,,
7,"Ero aphana (WALCKENAER, 1802)",*,mh,=,(cid:113)(cid:3),=,*,*,,8,"(x)w, arb"
8,"Ero cambridgei KULCZYŃSKI, 1911",G,s,(<),?,=,3,*,"2d, 11c",2,h
9,"Ero furcata (VILLERS, 1789)",*,h,=,=,=,*,*,,8,(x)(w)
10,"Ero tuberculata (DE GEER, 1778)",R,es,?,?,=,G,*,,9b,(h)(w)?
11,Röhrenspinnen (Eresidae),,,,,,,,,,
12,"Eresus kollari ROSSI, 1846",0,ex,,,,2,2,"3, 7a, 12a",11,"x, th"
13,Scheibennetzspinnen (Oecobiidae),,,,,,,,,,
14,"Oecobius navus BLACKWALL, 1859",♦,nb,,,,kN,kN,,16,syn
15,Kräuselradnetzspinnen (Uloboridae),,,,,,,,,,
16,"Hyptiotes paradoxus (C. L. KOCH, 1834)",*,ss,=,=,=,*,*,,8,"(x)w, arb"
17,"Uloborus plumipes LUCAS, 1846",♦,nb,,,,*,♦,,16,"syn, th"
18,Höhlenspinnen (Nesticidae),,,,,,,,,,
19,"Nesticella mogera (YAGINUMA, 1972)",♦,nb,,,,kN,kN,,16,syn
20,"Nesticus cellulanus (CLERCK, 1757)",*,s,=,=,=,*,*,,16,"syn, trog"
21,"Nesticus eremita SIMON, 1879",♦,nb,,,,*,♦,,16,"syn, trog"
22,Kugelspinnen (Theridiidae),,,,,,,,,,
23,"Anelosimus vittatus (C. L. KOCH, 1836)",*,s,=,=,=,*,*,,8,arb
24,"Asagena phalerata (PANZER, 1801)",*,h,=,=,=,*,*,,12,x
25,"Coleosoma floridanum BANKS, 1900",♦,nb,,,,kN,kN,,16,"syn, th"
26,"Crustulina guttata (WIDER, 1834)",*,h,=,=,=,*,*,,12,x
27,"Crustulina sticta (O. P.-CAMBRIDGE, 1861)",1,ss,<<,((cid:114)),-,2,2,"2d, 11c",2,h

In [70]:
# Removing empty dataframes
# del d[64]
# del d[74]

In [71]:
# Creates a sorted dictionary (sorted by key)
from collections import OrderedDict
d2 = OrderedDict(sorted(d.items()))

In [72]:
# Check whether the dictionary is sorted
for key in d2:
    print(key)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33

In [73]:
# Rename all the dataframes in the sorted dictionary
for key in d2:
    print(key)
    d2[key].columns = [ "Species",
    "BE", 
    "Bestand", 
    "Trend_lang", 
    "Trend_kurz",
    "RF",
    "BB",
    "D",
    "GfU",
    "Vorzugs_habitat",
    "Ökolog_Typ" ]
print("Rename completed for concat")

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
Rename completed for concat

In [74]:
# Concatanate all the non-empty dataframes in the sorted dictionary into the empty df
for key in d2:
    df = pd.concat([df, d2[key]], axis = 0)
df

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU,Vorzugs_habitat,Ökolog_Typ
0,Tabelle 1: Rote Liste und Gesamtartenliste der...,,,,,,,,,,
1,Wissenschaftlicher Name,BE,Bestand,Trend,Trend,RF,BB,D,GfU,Vorzugs-,Ökolog.
2,,,,lang,kurz,,,,,habitat,Typ
3,Tapezierspinnen (Atypidae),,,,,,,,,,
4,"Atypus affinis EICHWALD, 1830",V,s,<<,(cid:113)(cid:3),=,*,V,8,8,"trog, (x)w, th"
...,...,...,...,...,...,...,...,...,...,...,...
14,"Synageles hilarulus (C. L. KOCH, 1846)",0,ex,,,,2,3,"1a, 2a",14,x
15,"Synageles venator (LUCAS, 1836)",*,h,=,=,=,*,*,,12,"x, myrm"
16,"Talavera aequipes (O. P.-CAMBRIDGE, 1871)",*,h,=,=,=,*,*,,12,x
17,"Talavera petrensis (C. L. KOCH, 1837)",1,ss,<,(cid:114)(cid:114)(cid:114)(cid:3),=,*,*,"1a, 2a, 7",12,x
18,"Talavera thorelli (KULCZYŃSKI, 1891)",1,es,<,?,=,1,3,"1a, 2a, 7",12,x

In [75]:
# Definition of extinction
df2 = df.loc[df["BE"] == "0"]
df2.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU,Vorzugs_habitat,Ökolog_Typ
21,"Dysdera erythrina (WALCKENAER, 1802)",0,ex,,,,*,*,"7, 8, 12",7,(h)w
3,"Oonops domesticus DALMAS, 1916",0,ex,,,,*,D,"1a, 2a",16,"syn, trog"
12,"Eresus kollari ROSSI, 1846",0,ex,,,,2,2,"3, 7a, 12a",11,"x, th"
4,"Dipoena coracina (C. L. KOCH, 1837)",0,ex,,,,*,G,"7a, 11b",12,"x, th"
11,"Theonoe minutissima (O. P.-CAMBRIDGE, 1879)",0,ex,,,,2,3,"2d, 3, 11c",2,h

In [76]:
df2.reset_index(inplace = True)
df2.head()

,index,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU,Vorzugs_habitat,Ökolog_Typ
0,21,"Dysdera erythrina (WALCKENAER, 1802)",0,ex,,,,*,*,"7, 8, 12",7,(h)w
1,3,"Oonops domesticus DALMAS, 1916",0,ex,,,,*,D,"1a, 2a",16,"syn, trog"
2,12,"Eresus kollari ROSSI, 1846",0,ex,,,,2,2,"3, 7a, 12a",11,"x, th"
3,4,"Dipoena coracina (C. L. KOCH, 1837)",0,ex,,,,*,G,"7a, 11b",12,"x, th"
4,11,"Theonoe minutissima (O. P.-CAMBRIDGE, 1879)",0,ex,,,,2,3,"2d, 3, 11c",2,h

In [77]:
df2 = df2.drop(['index'], axis=1)
df2.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU,Vorzugs_habitat,Ökolog_Typ
0,"Dysdera erythrina (WALCKENAER, 1802)",0,ex,,,,*,*,"7, 8, 12",7,(h)w
1,"Oonops domesticus DALMAS, 1916",0,ex,,,,*,D,"1a, 2a",16,"syn, trog"
2,"Eresus kollari ROSSI, 1846",0,ex,,,,2,2,"3, 7a, 12a",11,"x, th"
3,"Dipoena coracina (C. L. KOCH, 1837)",0,ex,,,,*,G,"7a, 11b",12,"x, th"
4,"Theonoe minutissima (O. P.-CAMBRIDGE, 1879)",0,ex,,,,2,3,"2d, 3, 11c",2,h

In [78]:
df3 = df.loc[df["Bestand"] == "ex"]
df3.reset_index(inplace = True)
df3 = df3.drop(['index'], axis=1)
df3.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU,Vorzugs_habitat,Ökolog_Typ
0,"Dysdera erythrina (WALCKENAER, 1802)",0,ex,,,,*,*,"7, 8, 12",7,(h)w
1,"Oonops domesticus DALMAS, 1916",0,ex,,,,*,D,"1a, 2a",16,"syn, trog"
2,"Eresus kollari ROSSI, 1846",0,ex,,,,2,2,"3, 7a, 12a",11,"x, th"
3,"Dipoena coracina (C. L. KOCH, 1837)",0,ex,,,,*,G,"7a, 11b",12,"x, th"
4,"Theonoe minutissima (O. P.-CAMBRIDGE, 1879)",0,ex,,,,2,3,"2d, 3, 11c",2,h

In [79]:
df2.describe()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU,Vorzugs_habitat,Ökolog_Typ
count,57,57,57,57,57,57,57,57,57,57,57
unique,57,1,1,1,1,1,8,8,27,12,21
top,"Dysdera erythrina (WALCKENAER, 1802)",0,ex,,,,*,*,"2d, 11c",2,x
freq,1,57,57,57,57,57,19,17,11,11,15

In [80]:
df3.describe()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU,Vorzugs_habitat,Ökolog_Typ
count,57,57,57,57,57,57,57,57,57,57,57
unique,57,1,1,1,1,1,8,8,27,12,21
top,"Dysdera erythrina (WALCKENAER, 1802)",0,ex,,,,*,*,"2d, 11c",2,x
freq,1,57,57,57,57,57,19,17,11,11,15

In [81]:
# Editing species column based on binomial nomenclature

df1 = df2.Species.str.split(pat=" ", n = 3, expand = True)
df1

                   0                1             2                    3
0            Dysdera        erythrina  (WALCKENAER,                1802)
1             Oonops       domesticus       DALMAS,                 1916
2             Eresus          kollari        ROSSI,                 1846
3            Dipoena         coracina           (C.       L. KOCH, 1837)
4            Theonoe      minutissima           (O.  P.-CAMBRIDGE, 1879)
5            Agyneta         subtilis           (O.  P.-CAMBRIDGE, 1863)
6        Centromerus        capucinus       (SIMON,                1884)
7        Centromerus        sellarius       (SIMON,                1884)
8         Dismodicus         elevatus           (C.       L. KOCH, 1838)
9          Glyphesis         cottonae           (LA        Touche, 1945)
10       Hylyphantes      graminicola   (SUNDEVALL,                1830)
11       Hypselistes         jacksoni           (O.  P.-CAMBRIDGE, 1902)
12    Incestophantes         crucifer       (MENGE,                1866)
13        Leptothrix           hardyi   (BLACKWALL,                1850)
14         Lessertia      dentichelis       (SIMON,                1884)
15          Moebelia     berolinensis  (WUNDERLICH,                1969)
16           Neriene          emphana  (WALCKENAER,                1841)
17    Parapelecopsis        nemoralis   (BLACKWALL,                1841)
18        Pelecopsis         elongata       (WIDER,                1834)
19         Porrhomma       cambridgei      MERRETT,                 1994
20         Porrhomma           egeria        SIMON,                 1884
21         Porrhomma          microps      (ROEWER,                1931)
22       Silometopus       incurvatus           (O.  P.-CAMBRIDGE, 1873)
23    Thyreosthenius         biovatus           (O.  P.-CAMBRIDGE, 1875)
24          Tmeticus          affinis   (BLACKWALL,                1855)
25  Trichopternoides         thorelli    (WESTRING,                1861)
26      Walckenaeria          mitrata       (MENGE,                1868)
27      Walckenaeria           nodosa            O.   P.-CAMBRIDGE, 1873
28      Walckenaeria       stylifrons           (O.  P.-CAMBRIDGE, 1875)
29              Meta          menardi   (LATREILLE,                1804)
30           Araneus        angulatus       CLERCK,                 1757
31         Araniella          proxima  (KULCZYŃSKI,                1885)
32         Alopecosa         fabrilis      (CLERCK,                1757)
33           Arctosa          cinerea   (FABRICIUS,                1777)
34          Piratula        insularis     (EMERTON,                1885)
35          Piratula        uliginosa     (THORELL,                1856)
36           Oxyopes          ramosus      (MARTINI       & GOEZE, 1778)
37         Brigittea           latens   (FABRICIUS,                1775)
38           Emblyna        brevidens  (KULCZYŃSKI,                1897)
39        Amaurobius          similis   (BLACKWALL,                1861)
40           Agroeca        dentigera   KULCZYŃSKI,                 1913
41           Scotina       palliardii           (L.          KOCH, 1881)
42          Clubiona     caerulescens            L.           KOCH, 1867
43          Clubiona           frisia    WUNDERLICH      & SCHUETT, 1995
44          Clubiona        germanica      THORELL,                 1871
45        Berlandina          cinerea       (MENGE,                1872)
46           Micaria            dives       (LUCAS,                1846)
47       Scotophaeus  quadripunctatus    (LINNAEUS,                1758)
48        Micrommata        virescens      (CLERCK,                1757)
49            Synema         globosum   (FABRICIUS,                1775)
50          Xysticus        luctuosus   (BLACKWALL,                1836)
51          Xysticus         robustus        (HAHN,                1832)
52     Dendryphantes         hastatus      (CLERCK,                1757)
53     Leptorchestes     berolinensis           (C.       L. KOCH, 1846)
54          Marpissa          pomatia  (WALCKENAER,                1802)
55        Pseudicius       encarpatus  (WALCKENAER,                1802)
56         Synageles        hilarulus           (C.       L. KOCH, 1846)

In [82]:
df2.Species = df1[0].str.cat(df1[1], sep = " ")
df2

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU,Vorzugs_habitat,Ökolog_Typ
0,Dysdera erythrina,0,ex,,,,*,*,"7, 8, 12",7,(h)w
1,Oonops domesticus,0,ex,,,,*,D,"1a, 2a",16,"syn, trog"
2,Eresus kollari,0,ex,,,,2,2,"3, 7a, 12a",11,"x, th"
3,Dipoena coracina,0,ex,,,,*,G,"7a, 11b",12,"x, th"
4,Theonoe minutissima,0,ex,,,,2,3,"2d, 3, 11c",2,h
5,Agyneta subtilis,0,ex,,,,*,V,"2d, 11c",2,h(w)
6,Centromerus capucinus,0,ex,,,,0,G,"2d, 11c",2,h
7,Centromerus sellarius,0,ex,,,,G,*,"3, 8",8,"(x)w, trog"
8,Dismodicus elevatus,0,ex,,,,*,*,"3, 8",8,arb
9,Glyphesis cottonae,0,ex,,,,1,2,"2d, 11c",2,h
10,Hylyphantes graminicola,0,ex,,,,G,V,2d,6,"h(w), arb"
11,Hypselistes jacksoni,0,ex,,,,1,2,"2d, 11c",2,h
12,Incestophantes crucifer,0,ex,,,,G,D,"2d, 8",8,(x)w
13,Leptothrix hardyi,0,ex,,,,3,3,"7d, 8",10,x
14,Lessertia dentichelis,0,ex,,,,*,D,"1a, 2a",16,"syn, trog"
15,Moebelia berolinensis,0,ex,,,,G,R,"2d, 8",6,"arb, R"
16,Neriene emphana,0,ex,,,,*,*,2d,7,(h)w
17,Parapelecopsis nemoralis,0,ex,,,,*,G,"2d, 5",8,"(x)w, arb"
18,Pelecopsis elongata,0,ex,,,,2,*,?,7,(h)w
19,Porrhomma cambridgei,0,ex,,,,kN,D,?,7,(h)w
20,Porrhomma egeria,0,ex,,,,*,*,?,7,"(h)w, trog"
21,Porrhomma microps,0,ex,,,,kN,*,"1a, 2a",14,(x)
22,Silometopus incurvatus,0,ex,,,,G,3,"1a, 11b",12,x
23,Thyreosthenius biovatus,0,ex,,,,*,G,14,14,myrm
24,Tmeticus affinis,0,ex,,,,3,2,"2d, 7",5,h
25,Trichopternoides thorelli,0,ex,,,,2,2,"2d, 11c",4,h
26,Walckenaeria mitrata,0,ex,,,,R,*,"5, 11",7,(h)w
27,Walckenaeria nodosa,0,ex,,,,1,2,"2d, 11c",2,h
28,Walckenaeria stylifrons,0,ex,,,,3,3,"1a, 2a",14,x
29,Meta menardi,0,ex,,,,*,*,"2a, 2c",16,"trog, syn"
30,Araneus angulatus,0,ex,,,,3,G,"2d, 8",7,(h)w
31,Araniella proxima,0,ex,,,,G,2,"2d, 11c",2,h
32,Alopecosa fabrilis,0,ex,,,,2,3,"1a, 3a, 7a",10,x
33,Arctosa cinerea,0,ex,,,,2,2,"2a, 3a",14,x
34,Piratula insularis,0,ex,,,,1,1,"2d, 11c",2,h
35,Piratula uliginosa,0,ex,,,,3,*,"2d, 11c",2,h
36,Oxyopes ramosus,0,ex,,,,2,V,"2a, 3, 7a",10,x
37,Brigittea latens,0,ex,,,,3,G,"1a, 2a",14,x
38,Emblyna brevidens,0,ex,,,,*,2,"2d, 11c",2,h
39,Amaurobius similis,0,ex,,,,*,*,"2a, 2c",16,"syn, th"
40,Agroeca dentigera,0,ex,,,,1,2,"2d, 11c",2,h
41,Scotina palliardii,0,ex,,,,2,V,"7, 8",12,x
42,Clubiona caerulescens,0,ex,,,,*,*,?,7,"(h)w, arb"
43,Clubiona frisia,0,ex,,,,3,*,"1a, 1c, 2a",12,x
44,Clubiona germanica,0,ex,,,,*,3,"1a, 2a",14,x
45,Berlandina cinerea,0,ex,,,,2,2,"1a, 1c, 2a",12,x
46,Micaria dives,0,ex,,,,1,2,"1a, 2a, 7a",12,x
47,Scotophaeus quadripunctatus,0,ex,,,,*,*,"2a, 11b",12,x
48,Micrommata virescens,0,ex,,,,R,*,"6, 7",5,(h)
49,Synema globosum,0,ex,,,,R,*,"1a, 2d",4,"Blüt, th"
50,Xysticus luctuosus,0,ex,,,,2,V,?,8,"(x)w, arb"
51,Xysticus robustus,0,ex,,,,2,V,"1a, 2a, 7a",10,x
52,Dendryphantes hastatus,0,ex,,,,*,G,?,8,arb
53,Leptorchestes berolinensis,0,ex,,,,*,2,"2a, 2c",16,syn
54,Marpissa pomatia,0,ex,,,,R,2,"2d, 3",3,h
55,Pseudicius encarpatus,0,ex,,,,*,*,?,8,"arb, R"
56,Synageles hilarulus,0,ex,,,,2,3,"1a, 2a",14,x

In [83]:
# Extracting last found date and cleaning to add to dataframe

In [84]:
d2 = {}
tab_2 = [38, 39]
print(tab_2)
accuracy_tab_2 = []

[38, 39]

In [85]:
# Page 38
i = 38
print (i)
# create dataframe with page number
d2[i] = pd.DataFrame()
#read the page
tables = camelot.read_pdf('rote_liste_spinnen_kielhorn.pdf', 
                              pages= str(i), 
                              flavor='stream', edge_tol=1000, row_tol=10)
# add the accuracy report
accuracy_tab_2.append(tables[0].parsing_report)
# assign the second table to a dataframe
d2[i] = tables[1].df
print(d2[i].shape)
print ("Done")

38
(38, 3)
Done

/Users/shenya/Library/Python/3.8/lib/python/site-packages/camelot/parsers/stream.py:365: UserWarning: No tables found in table area 1
  warnings.warn(f"No tables found in table area {table_idx + 1}")

In [86]:
# Page 39
i = 39
print (i)
# create dataframe with page number
d2[i] = pd.DataFrame()
#read the page
tables = camelot.read_pdf('rote_liste_spinnen_kielhorn.pdf', 
                              pages= str(i), 
                              flavor='stream', edge_tol=1000, row_tol=10)
# add the accuracy report
accuracy_tab_2.append(tables[0].parsing_report)
# assign the second table to a dataframe
d2[i] = tables[0].df
print(d2[i].shape)
print ("Done")

39
(27, 3)
Done

In [88]:
# Dropping rows 0,1,2,3,4,18
d2[38] = d2[38].drop([0,1,2,3,4,18], axis=0)
# Dropping column 2
d2[38] = d2[38].drop([2], axis=1)
d2[38]

                             0         1
5            Agroeca dentigera      1973
6             Agyneta subtilis      1981
7           Alopecosa fabrilis   um 1900
8          Amaurobius similis*      1983
9           Araneus angulatus*      1985
10           Araniella proxima      1975
11             Arctosa cinerea      1981
12          Berlandina cinerea      1913
13           Brigittea latens*      1983
14      Centromerus capucinus*      1985
15      Centromerus sellarius*      1988
16      Clubiona caerulescens*      1984
17            Clubiona frisia*      1983
19         Clubiona germanica*      1983
20      Dendryphantes hastatus      1903
21            Dipoena coracina      1971
22         Dismodicus elevatus      1904
23           Dysdera erythrina      1985
24           Emblyna brevidens      1973
25              Eresus kollari      1968
26          Glyphesis cottonae      1904
27     Hylyphantes graminicola      1981
28        Hypselistes jacksoni      1904
29     Incestophantes crucifer      1974
30  Leptorchestes berolinensis  vor 1846
31          Leptothrix hardyi*      1989
32      Lessertia dentichelis*      1983
33           Marpissa pomatia*      1983
34                Meta menardi      1980
35               Micaria dives      1934
36        Micrommata virescens      1916
37       Moebelia berolinensis      1967

In [89]:
d2[39]

,0,1,2
0,Name,Letzter,"Quelle, Fundort"
1,,Fund,
2,Neriene emphana*,1985,"PLATEN (1995), Forst Spandau, Havelländisches ..."
3,Oonops domesticus*,1983,"PB, Kreuzberg, Fürbringerstraße"
4,Oxyopes ramosus,1901,"PB, Tegel, Schießplatz"
5,Parapelecopsis nemoralis,1967,"PLATEN & WUNDERLICH (1990), NSG Pfaueninsel"
6,Pelecopsis elongata,1967,"PLATEN & WUNDERLICH (1990), NSG Pfaueninsel"
7,Piratula insularis,1908,"PB, Zehlendorf, NSG Langes Luch"
8,Piratula uliginosa,1901,"PB, Grunewald, Postfenn"
9,Porrhomma cambridgei*,1983,"PB, Tegel, Forst"
10,Porrhomma egeria*,1983,"KEGEL & PLATEN (1983), Wedding, Afrikanische S..."
11,Porrhomma microps*,1984,"PB, Tegel, Flughafensee"
12,Pseudicius encarpatus,um 1900,"PB, Berlin, o. J."
13,Scotina palliardii*,1967,"PLATEN & WUNDERLICH (1990), NSG Pfaueninsel"
14,Scotophaeus quadripunctatus*,1989,"PB, LSG Spandauer Luchwald"
15,Silometopus incurvatus,1883,"PB, Berlin"
16,Synageles hilarulus*,1983,"SCHWARZ & KORGE (1983), S-Bahn Yorckstraße"
17,Synema globosum,um 1900,"PB, Spandau, o. J."
18,Theonoe minutissima,1908,"PB, Zehlendorf, NSG Langes Luch"
19,Thyreosthenius biovatus*,1984,"KEGEL (1991), Gatower Feldflur"
20,Tmeticus affinis,1967,"PLATEN & WUNDERLICH (1990), NSG Pfaueninsel"
21,Trichopternoides thorelli,1978,"PB, Frohnau, LSG Ehemaliger Hermsdorfer See"
22,Walckenaeria mitrata,1982,"PLATEN (1989), Düppel, NSG Großes Fenn"
23,Walckenaeria nodosa*,1983,"PLATEN (1989), Düppel, NSG Großes Fenn"
24,Walckenaeria stylifrons*,1983,"PB, Yorckstraße, Bahngelände"
25,Xysticus luctuosus*,1983,"PB, NSG Pfaueninsel"
26,Xysticus robustus,1981,"PLATEN (1996), Kladow"

In [90]:
# Dropping rows 0,1
d2[39] = d2[39].drop([0,1], axis=0)
# Dropping column 2
d2[39] = d2[39].drop([2], axis=1)
d2[39]

                               0        1
2               Neriene emphana*     1985
3             Oonops domesticus*     1983
4                Oxyopes ramosus     1901
5       Parapelecopsis nemoralis     1967
6            Pelecopsis elongata     1967
7             Piratula insularis     1908
8             Piratula uliginosa     1901
9          Porrhomma cambridgei*     1983
10             Porrhomma egeria*     1983
11            Porrhomma microps*     1984
12         Pseudicius encarpatus  um 1900
13           Scotina palliardii*     1967
14  Scotophaeus quadripunctatus*     1989
15        Silometopus incurvatus     1883
16          Synageles hilarulus*     1983
17               Synema globosum  um 1900
18           Theonoe minutissima     1908
19      Thyreosthenius biovatus*     1984
20              Tmeticus affinis     1967
21     Trichopternoides thorelli     1978
22          Walckenaeria mitrata     1982
23          Walckenaeria nodosa*     1983
24      Walckenaeria stylifrons*     1983
25           Xysticus luctuosus*     1983
26             Xysticus robustus     1981

In [91]:
# Merging the two dataframes
last_observed = pd.concat([d2[38],d2[39]])
last_observed.describe()

                        0     1
count                  57    57
unique                 57    25
top     Agroeca dentigera  1983
freq                    1    13

In [92]:
#Renaming the columns
last_observed.rename(columns = {
    0: "Species",
    1: "Letzter_Nachweis"} , inplace = True)
last_observed.head()

               Species Letzter_Nachweis
5    Agroeca dentigera             1973
6     Agyneta subtilis             1981
7   Alopecosa fabrilis          um 1900
8  Amaurobius similis*             1983
9   Araneus angulatus*             1985

In [94]:
# Cleaning the Species column according to binomial nomenclature
df1 = last_observed.Species.str.split(pat="*", n = 3, expand = True)
df1

                              0     1
5             Agroeca dentigera  None
6              Agyneta subtilis  None
7            Alopecosa fabrilis  None
8            Amaurobius similis
9             Araneus angulatus
10            Araniella proxima  None
11              Arctosa cinerea  None
12           Berlandina cinerea  None
13             Brigittea latens
14        Centromerus capucinus
15        Centromerus sellarius
16        Clubiona caerulescens
17              Clubiona frisia
19           Clubiona germanica
20       Dendryphantes hastatus  None
21             Dipoena coracina  None
22          Dismodicus elevatus  None
23            Dysdera erythrina  None
24            Emblyna brevidens  None
25               Eresus kollari  None
26           Glyphesis cottonae  None
27      Hylyphantes graminicola  None
28         Hypselistes jacksoni  None
29      Incestophantes crucifer  None
30   Leptorchestes berolinensis  None
31            Leptothrix hardyi
32        Lessertia dentichelis
33             Marpissa pomatia
34                 Meta menardi  None
35                Micaria dives  None
36         Micrommata virescens  None
37        Moebelia berolinensis  None
2               Neriene emphana
3             Oonops domesticus
4               Oxyopes ramosus  None
5      Parapelecopsis nemoralis  None
6           Pelecopsis elongata  None
7            Piratula insularis  None
8            Piratula uliginosa  None
9          Porrhomma cambridgei
10             Porrhomma egeria
11            Porrhomma microps
12        Pseudicius encarpatus  None
13           Scotina palliardii
14  Scotophaeus quadripunctatus
15       Silometopus incurvatus  None
16          Synageles hilarulus
17              Synema globosum  None
18          Theonoe minutissima  None
19      Thyreosthenius biovatus
20             Tmeticus affinis  None
21    Trichopternoides thorelli  None
22         Walckenaeria mitrata  None
23          Walckenaeria nodosa
24      Walckenaeria stylifrons
25           Xysticus luctuosus
26            Xysticus robustus  None

In [95]:
last_observed.Species = df1[0]
last_observed

                        Species Letzter_Nachweis
5             Agroeca dentigera             1973
6              Agyneta subtilis             1981
7            Alopecosa fabrilis          um 1900
8            Amaurobius similis             1983
9             Araneus angulatus             1985
10            Araniella proxima             1975
11              Arctosa cinerea             1981
12           Berlandina cinerea             1913
13             Brigittea latens             1983
14        Centromerus capucinus             1985
15        Centromerus sellarius             1988
16        Clubiona caerulescens             1984
17              Clubiona frisia             1983
19           Clubiona germanica             1983
20       Dendryphantes hastatus             1903
21             Dipoena coracina             1971
22          Dismodicus elevatus             1904
23            Dysdera erythrina             1985
24            Emblyna brevidens             1973
25               Eresus kollari             1968
26           Glyphesis cottonae             1904
27      Hylyphantes graminicola             1981
28         Hypselistes jacksoni             1904
29      Incestophantes crucifer             1974
30   Leptorchestes berolinensis         vor 1846
31            Leptothrix hardyi             1989
32        Lessertia dentichelis             1983
33             Marpissa pomatia             1983
34                 Meta menardi             1980
35                Micaria dives             1934
36         Micrommata virescens             1916
37        Moebelia berolinensis             1967
2               Neriene emphana             1985
3             Oonops domesticus             1983
4               Oxyopes ramosus             1901
5      Parapelecopsis nemoralis             1967
6           Pelecopsis elongata             1967
7            Piratula insularis             1908
8            Piratula uliginosa             1901
9          Porrhomma cambridgei             1983
10             Porrhomma egeria             1983
11            Porrhomma microps             1984
12        Pseudicius encarpatus          um 1900
13           Scotina palliardii             1967
14  Scotophaeus quadripunctatus             1989
15       Silometopus incurvatus             1883
16          Synageles hilarulus             1983
17              Synema globosum          um 1900
18          Theonoe minutissima             1908
19      Thyreosthenius biovatus             1984
20             Tmeticus affinis             1967
21    Trichopternoides thorelli             1978
22         Walckenaeria mitrata             1982
23          Walckenaeria nodosa             1983
24      Walckenaeria stylifrons             1983
25           Xysticus luctuosus             1983
26            Xysticus robustus             1981

In [96]:
# Merging the last observed column in to the orifinal dataframe df2
df2 = df2.merge(last_observed, 
          how = "left", 
          on = "Species")
df2

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GfU,Vorzugs_habitat,Ökolog_Typ,Letzter_Nachweis
0,Dysdera erythrina,0,ex,,,,*,*,"7, 8, 12",7,(h)w,1985
1,Oonops domesticus,0,ex,,,,*,D,"1a, 2a",16,"syn, trog",1983
2,Eresus kollari,0,ex,,,,2,2,"3, 7a, 12a",11,"x, th",1968
3,Dipoena coracina,0,ex,,,,*,G,"7a, 11b",12,"x, th",1971
4,Theonoe minutissima,0,ex,,,,2,3,"2d, 3, 11c",2,h,1908
5,Agyneta subtilis,0,ex,,,,*,V,"2d, 11c",2,h(w),1981
6,Centromerus capucinus,0,ex,,,,0,G,"2d, 11c",2,h,1985
7,Centromerus sellarius,0,ex,,,,G,*,"3, 8",8,"(x)w, trog",1988
8,Dismodicus elevatus,0,ex,,,,*,*,"3, 8",8,arb,1904
9,Glyphesis cottonae,0,ex,,,,1,2,"2d, 11c",2,h,1904
10,Hylyphantes graminicola,0,ex,,,,G,V,2d,6,"h(w), arb",1981
11,Hypselistes jacksoni,0,ex,,,,1,2,"2d, 11c",2,h,1904
12,Incestophantes crucifer,0,ex,,,,G,D,"2d, 8",8,(x)w,1974
13,Leptothrix hardyi,0,ex,,,,3,3,"7d, 8",10,x,1989
14,Lessertia dentichelis,0,ex,,,,*,D,"1a, 2a",16,"syn, trog",1983
15,Moebelia berolinensis,0,ex,,,,G,R,"2d, 8",6,"arb, R",1967
16,Neriene emphana,0,ex,,,,*,*,2d,7,(h)w,1985
17,Parapelecopsis nemoralis,0,ex,,,,*,G,"2d, 5",8,"(x)w, arb",1967
18,Pelecopsis elongata,0,ex,,,,2,*,?,7,(h)w,1967
19,Porrhomma cambridgei,0,ex,,,,kN,D,?,7,(h)w,1983
20,Porrhomma egeria,0,ex,,,,*,*,?,7,"(h)w, trog",1983
21,Porrhomma microps,0,ex,,,,kN,*,"1a, 2a",14,(x),1984
22,Silometopus incurvatus,0,ex,,,,G,3,"1a, 11b",12,x,1883
23,Thyreosthenius biovatus,0,ex,,,,*,G,14,14,myrm,1984
24,Tmeticus affinis,0,ex,,,,3,2,"2d, 7",5,h,1967
25,Trichopternoides thorelli,0,ex,,,,2,2,"2d, 11c",4,h,1978
26,Walckenaeria mitrata,0,ex,,,,R,*,"5, 11",7,(h)w,1982
27,Walckenaeria nodosa,0,ex,,,,1,2,"2d, 11c",2,h,1983
28,Walckenaeria stylifrons,0,ex,,,,3,3,"1a, 2a",14,x,1983
29,Meta menardi,0,ex,,,,*,*,"2a, 2c",16,"trog, syn",1980
30,Araneus angulatus,0,ex,,,,3,G,"2d, 8",7,(h)w,1985
31,Araniella proxima,0,ex,,,,G,2,"2d, 11c",2,h,1975
32,Alopecosa fabrilis,0,ex,,,,2,3,"1a, 3a, 7a",10,x,um 1900
33,Arctosa cinerea,0,ex,,,,2,2,"2a, 3a",14,x,1981
34,Piratula insularis,0,ex,,,,1,1,"2d, 11c",2,h,1908
35,Piratula uliginosa,0,ex,,,,3,*,"2d, 11c",2,h,1901
36,Oxyopes ramosus,0,ex,,,,2,V,"2a, 3, 7a",10,x,1901
37,Brigittea latens,0,ex,,,,3,G,"1a, 2a",14,x,1983
38,Emblyna brevidens,0,ex,,,,*,2,"2d, 11c",2,h,1973
39,Amaurobius similis,0,ex,,,,*,*,"2a, 2c",16,"syn, th",1983
40,Agroeca dentigera,0,ex,,,,1,2,"2d, 11c",2,h,1973
41,Scotina palliardii,0,ex,,,,2,V,"7, 8",12,x,1967
42,Clubiona caerulescens,0,ex,,,,*,*,?,7,"(h)w, arb",1984
43,Clubiona frisia,0,ex,,,,3,*,"1a, 1c, 2a",12,x,1983
44,Clubiona germanica,0,ex,,,,*,3,"1a, 2a",14,x,1983
45,Berlandina cinerea,0,ex,,,,2,2,"1a, 1c, 2a",12,x,1913
46,Micaria dives,0,ex,,,,1,2,"1a, 2a, 7a",12,x,1934
47,Scotophaeus quadripunctatus,0,ex,,,,*,*,"2a, 11b",12,x,1989
48,Micrommata virescens,0,ex,,,,R,*,"6, 7",5,(h),1916
49,Synema globosum,0,ex,,,,R,*,"1a, 2d",4,"Blüt, th",um 1900
50,Xysticus luctuosus,0,ex,,,,2,V,?,8,"(x)w, arb",1983
51,Xysticus robustus,0,ex,,,,2,V,"1a, 2a, 7a",10,x,1981
52,Dendryphantes hastatus,0,ex,,,,*,G,?,8,arb,1903
53,Leptorchestes berolinensis,0,ex,,,,*,2,"2a, 2c",16,syn,vor 1846
54,Marpissa pomatia,0,ex,,,,R,2,"2d, 3",3,h,1983
55,Pseudicius encarpatus,0,ex,,,,*,*,?,8,"arb, R",um 1900
56,Synageles hilarulus,0,ex,,,,2,3,"1a, 2a",14,x,1983

In [97]:
# Updated export location
# export the dataframe as CSV
df2.to_csv('../../Transformation/Raw_csv/Araneae_and_Opiliones.csv', 
          index = False
         )