In [1]:
import camelot
import pandas as pd

# Updated Process

## 1. Create empty dataframe with proper column names

In [2]:
# This is where data will be added after cleaning. The final dataframe for export

In [3]:
df = pd.DataFrame(columns = [
    "Species",
    "BE", 
    "Bestand", 
    "Trend_lang", 
    "Trend_kurz",
    "RF",
    "BB",
    "D",
    "GS",
    "Gfu",
    "Vorzugs-habitat",
    "Letzter Nachweis"
])
df

Empty DataFrame
Columns: [Species, BE, Bestand, Trend_lang, Trend_kurz, RF, BB, D, GS, Gfu, Vorzugs-habitat, Letzter Nachweis]
Index: []

In [4]:
df.shape

(0, 12)

## 2. Setup mechanism to store accuracy report : QA step

In [5]:
accuracy = []

## 3. Dictionary of dataframes on the go

In [6]:
# Dictionary to collect dataframes created from each table
d = {}

## 4. Adding the list of pages to be parsed

In [7]:
pages = []
i = 8
while i < 10:
    pages.append(i)
    i = i + 1
print(pages)

[8, 9]

## 5. Parsing through the pages

In [8]:
for i in pages:
    # print page number
    print (i)
    # create dataframe with page number
    d[i] = pd.DataFrame()
    #read the page
    tables = camelot.read_pdf('rote_liste_prachtkaefer_gottwald.pdf', 
                              pages= str(i), 
                              flavor='stream', edge_tol=1000, row_tol=10)
    #tables = camelot.read_pdf('rote_liste_prachtkaefer_gottwald.pdf', pages= str(i), flavor='lattice')
    # add the accuracy report
    accuracy.append(tables[0].parsing_report)
    # assign the first table to a dataframe
    d[i] = tables[0].df
    print(d[i].shape)
# Print Done once all pages are parsed
print ("Done")

8
(28, 12)
9
(27, 13)
Done

In [9]:
# Check accuracy reports for the process
accuracy

[{'accuracy': 99.5, 'whitespace': 31.25, 'order': 1, 'page': 8},
 {'accuracy': 99.79, 'whitespace': 25.93, 'order': 1, 'page': 9}]

In [10]:
d[9]

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,,Wissenschaftlicher Name,BE,Bestand,Trend,Trend,RF,BB,D,GS,GfU,Vorzugs-,Letzter
1,,,,,lang,kurz,,,,,,habitat,Nachweis
2,,"Agrilus ater (LINNAEUS, 1767)*",G,ss,?,((cid:114)),=,1,2,ยง,"2a, 14a","BR, WW",
3,,"Agrilus biguttatus (FABRICIUS, 1777)",G,mh,?,=,-,,*,,"2a, 12b, 14a","BR, WC",
4,,"Agrilus laticornis (ILLIGER, 1803)",*,h,=,=,=,4,*,ยง,,"WC, WV",
5,,"Agrilus obscuricollis KIESENWETTER, 1857",G,s,?,((cid:114)),=,3,*,ยง,"12b, 14a",WC,
6,,"Agrilus angustulus (ILLIGER, 1803)",*,sh,=,=,=,,*,ยง,,"WC, WV",
7,,"Agrilus sulcicollis LACORDAIRE, 1835",*,h,=,=,=,,*,ยง,,"WC, WV",
8,,"Agrilus graminis KIESENWETTER, 1857",G,ss,(<),=,=,1,3,ยง,"12b, 14a",WC,
9,,"Agrilus derasofasciatus LACORDAIRE, 1835",*,mh,>,=,=,,2,ยง,,"OHF, P",
10,,"Agrilus olivicolor KIESENWETTER, 1857",*,s,=,=,=,1,*,ยง,,WC,
11,,"Agrilus convexicollis REDTENBACHER, 1849",G,ss,?,((cid:114)),=,2,*,ยง,14a,WE,
12,,"Agrilus cyanescens (RATZEBURG, 1837)",*,mh,>,=,=,2,*,ยง,,"P, WG",
13,,"Agrilus subauratus GEBLER, 1833",3,ss,=,((cid:114)),=,2,3,ยง,2a,"WW, WG, WP",
14,,"Agrilus betuleti (RATZEBURG, 1837)",*,s,=,=,=,,*,ยง,,"WMW, WP, WV",
15,,"Agrilus pratensis (RATZEBURG, 1837)*",*,mh,=,=,=,,*,ยง,,"WGT, WP, WV",
16,,"Agrilus viridis (LINNAEUS, 1758)",*,sh,=,=,=,,*,,,"WG, WV, WW",
17,,"Agrilus fagi (RATZEBURG, 1837)*",G,ss,?,((cid:114)),=,,*,,"9, 12b, 14a","WB, WLB",
18,,"Agrilus ribesi SCHAEFER, 1946",*,s,>,=,=,,3,ยง,,P,
19,,"Agrilus suvorovi OBENBERGER, 1935",G,s,?,((cid:114)),=,,3,ยง,"2a, 9","BR, WV, WW",
20,,"Agrilus cuprescens (MรNรTRIรS, 1832)",*,h,=,=,=,1,*,ยง,,"WGV, P",
21,,"Agrilus sinuatus (OLIVIER, 1790)",*,mh,?,=,=,1,*,ยง,,"WGT, P, O",
22,,"Aphanisticus emarginatus (OLIVIER, 1790)",0,ex,,,,1,3,ยง,2a,"GF, M",vor 1919
23,,"Aphanisticus pusillus (OLIVIER, 1790)",0,ex,,,,1,*,ยง,"2a, 14a, 14g","ADO, RRS",1970
24,,"Trachys minutus (LINNAEUS, 1758)",*,sh,=,=,=,,*,ยง,,"WG, WV",
25,,"Trachys troglodytes GYLLENHAL, 1817*",1,ss,<<,((cid:114)),-,1,*,ยง,"2a, 7a, 14a, 14g, 14f","GTK, GST",
26,3,"Trachys scrobiculatus KIESENWETTER, 1857",G,s,?,((cid:114)),=,1,*,ยง,,"GST, RSA, P",

# Data cleanup steps

In [11]:
d[9] = d[9].drop([0], axis=1)
d[9].head()

,1,2,3,4,5,6,7,8,9,10,11,12
0,Wissenschaftlicher Name,BE,Bestand,Trend,Trend,RF,BB,D,GS,GfU,Vorzugs-,Letzter
1,,,,lang,kurz,,,,,,habitat,Nachweis
2,"Agrilus ater (LINNAEUS, 1767)*",G,ss,?,((cid:114)),=,1,2,ยง,"2a, 14a","BR, WW",
3,"Agrilus biguttatus (FABRICIUS, 1777)",G,mh,?,=,-,,*,,"2a, 12b, 14a","BR, WC",
4,"Agrilus laticornis (ILLIGER, 1803)",*,h,=,=,=,4,*,ยง,,"WC, WV",

In [12]:
d[9] = d[9].drop([0,1], axis=0)
d[9].head()

,1,2,3,4,5,6,7,8,9,10,11,12
2,"Agrilus ater (LINNAEUS, 1767)*",G,ss,?,((cid:114)),=,1,2,ยง,"2a, 14a","BR, WW",
3,"Agrilus biguttatus (FABRICIUS, 1777)",G,mh,?,=,-,,*,,"2a, 12b, 14a","BR, WC",
4,"Agrilus laticornis (ILLIGER, 1803)",*,h,=,=,=,4,*,ยง,,"WC, WV",
5,"Agrilus obscuricollis KIESENWETTER, 1857",G,s,?,((cid:114)),=,3,*,ยง,"12b, 14a",WC,
6,"Agrilus angustulus (ILLIGER, 1803)",*,sh,=,=,=,,*,ยง,,"WC, WV",

In [13]:
d[8].head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,Tabelle 1: Rote Liste und Gesamtartenliste der...,,,,,,,,,,,
1,Wissenschaftlicher Name,BE,Bestand,Trend,Trend,RF,BB,D,GS,GfU,Vorzugs-,Letzter
2,,,,lang,kurz,,,,,,habitat,Nachweis
3,Chrysochroinae,,,,,,,,,,,
4,"Chalcophora mariana (LINNAEUS, 1758)",G,s,(<),((cid:114)),=,,3,ยง,14a,"WK, WN",

In [14]:
d[8] = d[8].drop([0,1,2], axis=0)
d[8].head()

,0,1,2,3,4,5,6,7,8,9,10,11
3,Chrysochroinae,,,,,,,,,,,
4,"Chalcophora mariana (LINNAEUS, 1758)",G,s,(<),((cid:114)),=,,3,ยง,14a,"WK, WN",
5,"Dicerca berolinensis (HERBST, 1779)*",0,ex,,,,1,2,ยง,"9, 12b, 14a, 14f?",WB,vor 1907
6,"Dicerca alni (FISCHER VON WALDHEIM, 1824)",0,ex,,,,1,2,ยง,"9, 12b, 14a",WM,vor 1900
7,"Lamprodila decipiens (GEBLER, 1847)",1,es,?,((cid:114)),=,1,2,ยง,"2a, 14a",WW,

d[67]       
    : Look at the data frame extracted from 67th page
d[67].shape 
    : Look at the shape of the dataframe
d[68] = d[68].drop([12], axis=1)
    : Drop the 12th column in place
d[68][10] = d[68][[10, 11]].agg(' '.join, axis=1)
    : Join 10th and 11th columns with a space in between
d[69][[9,11]] = d[69][9].str.split('\n', expand=True)
    : Split 9th Column at the '\n' sign and add a new column called 11
column_to_move = d[69].pop(11)
column_to_move
d[69].insert(9, 11, column_to_move )
    : Pop column 11 and insert it at column 9
d[75].insert(9, '10', ["",""])
    : Insert two rows of column 10 after 9 with empty cells

In [15]:
# Check whether all dataframes are of the same size
for key in d:
    print(key)
    print(d[key].shape)

8
(25, 12)
9
(25, 12)

In [16]:
# Removing empty dataframes
# del d[64]
# del d[74]

In [17]:
# Creates a sorted dictionary (sorted by key)
from collections import OrderedDict
d2 = OrderedDict(sorted(d.items()))

In [18]:
# Check whether the dictionary is sorted
for key in d2:
    print(key)

8
9

In [19]:
# Rename all the dataframes in the sorted dictionary
for key in d2:
    print(key)
    d2[key].columns = ["Species",
    "BE", 
    "Bestand", 
    "Trend_lang", 
    "Trend_kurz",
    "RF",
    "BB",
    "D",
    "GS",
    "Gfu",
    "Vorzugs-habitat",
    "Letzter Nachweis"]
print("Rename completed for concat")

8
9
Rename completed for concat

In [20]:
# Concatanate all the non-empty dataframes in the sorted dictionary into the empty df
for key in d2:
    df = pd.concat([df, d2[key]], axis = 0)
df

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,Gfu,Vorzugs-habitat,Letzter Nachweis
3,Chrysochroinae,,,,,,,,,,,
4,"Chalcophora mariana (LINNAEUS, 1758)",G,s,(<),((cid:114)),=,,3,ยง,14a,"WK, WN",
5,"Dicerca berolinensis (HERBST, 1779)*",0,ex,,,,1,2,ยง,"9, 12b, 14a, 14f?",WB,vor 1907
6,"Dicerca alni (FISCHER VON WALDHEIM, 1824)",0,ex,,,,1,2,ยง,"9, 12b, 14a",WM,vor 1900
7,"Lamprodila decipiens (GEBLER, 1847)",1,es,?,((cid:114)),=,1,2,ยง,"2a, 14a",WW,
8,"Lamprodila rutilans (FABRICIUS, 1777)",1,es,?,((cid:114)),=,1,2,ยง,"2a, 9, 14a, 14f?","BR, WC",
9,"Lamprodila mirifica (MULSANT, 1855)*",1,es,?,((cid:114)),=,1,1,ยงยง,"2a, 9, 12b, 14a",WH,
10,Buprestinae,,,,,,,,,,,
11,"Buprestis haemorrhoidalis HERBST, 1780*",0,ex,,,,0,2,ยง,14a?,"WK, WN",1937
12,"Buprestis novemmaculata LINNAEUS, 1767",G,s,(<),((cid:114)),=,4,2,ยง,14a,"WK, WN",
13,"Buprestis octoguttata LINNAEUS, 1758",3,s,<,((cid:114)),=,3,3,ยง,14a,"WK, WN, WV",
14,"Melanophila acuminata (DEGEER, 1774)*",0,ex,,,,,2,ยง,"12b, 14a","WK, WN",1970
15,"Phaneops cyanea (FABRICIUS, 1775)",*,h,=,=,=,,*,,,"WK, WN",
16,"Phaenops formaneki JAKOBSON, 1913*",D,?,?,?,=,3,3,ยง,,"WK, WN",
17,"Anthaxia senicula (SCHRANK, 1789)*",0,ex,,,,,,,"2a, 9, 12b, 14a",WH,vor 1900
18,"Anthaxia manca (LINNAEUS, 1767)",G,ss,?,((cid:114)),=,1,2,ยง,"2a, 9, 14a",WH,
19,"Anthaxia nitidula (LINNAEUS, 1758)",*,mh,>,=,=,3,*,ยง,,"BLT, BS, PG, WGT",
20,"Anthaxia morio (FABRICIUS, 1792)",*,h,=,=,=,3,3,ยง,,"WK?, WN?",
21,"Anthaxia sepulchralis (FABRICIUS, 1801)*",1,es,?,((cid:114)),=,0,,,14a?,WK,
22,"Anthaxia quadripunctata (LINNAEUS, 1758)*",D,?,?,?,=,,,,,"WG, WK",
23,"Anthaxia godeti GORY & LAPORTE, 1839",*,h,=,=,=,,*,ยง,,"WK, WN",
24,"Chrysobothris affinis (FABRICIUS, 1794)",*,mh,=,=,=,3,*,,,"WC, WL",
25,"Chrysobothris igniventris REITTER, 1895",G,s,(<),((cid:114)),=,2,3,ยง,14a,"WK, WN",
26,Agrilinae,,,,,,,,,,,
27,"Coraebus undatus (FABRICIUS, 1787)",1,es,<<,?,=,0,2,ยง,"2a, 12b, 14a, 14f?","BR, WC",
2,"Agrilus ater (LINNAEUS, 1767)*",G,ss,?,((cid:114)),=,1,2,ยง,"2a, 14a","BR, WW",
3,"Agrilus biguttatus (FABRICIUS, 1777)",G,mh,?,=,-,,*,,"2a, 12b, 14a","BR, WC",
4,"Agrilus laticornis (ILLIGER, 1803)",*,h,=,=,=,4,*,ยง,,"WC, WV",
5,"Agrilus obscuricollis KIESENWETTER, 1857",G,s,?,((cid:114)),=,3,*,ยง,"12b, 14a",WC,
6,"Agrilus angustulus (ILLIGER, 1803)",*,sh,=,=,=,,*,ยง,,"WC, WV",
7,"Agrilus sulcicollis LACORDAIRE, 1835",*,h,=,=,=,,*,ยง,,"WC, WV",
8,"Agrilus graminis KIESENWETTER, 1857",G,ss,(<),=,=,1,3,ยง,"12b, 14a",WC,
9,"Agrilus derasofasciatus LACORDAIRE, 1835",*,mh,>,=,=,,2,ยง,,"OHF, P",
10,"Agrilus olivicolor KIESENWETTER, 1857",*,s,=,=,=,1,*,ยง,,WC,
11,"Agrilus convexicollis REDTENBACHER, 1849",G,ss,?,((cid:114)),=,2,*,ยง,14a,WE,
12,"Agrilus cyanescens (RATZEBURG, 1837)",*,mh,>,=,=,2,*,ยง,,"P, WG",
13,"Agrilus subauratus GEBLER, 1833",3,ss,=,((cid:114)),=,2,3,ยง,2a,"WW, WG, WP",
14,"Agrilus betuleti (RATZEBURG, 1837)",*,s,=,=,=,,*,ยง,,"WMW, WP, WV",
15,"Agrilus pratensis (RATZEBURG, 1837)*",*,mh,=,=,=,,*,ยง,,"WGT, WP, WV",
16,"Agrilus viridis (LINNAEUS, 1758)",*,sh,=,=,=,,*,,,"WG, WV, WW",
17,"Agrilus fagi (RATZEBURG, 1837)*",G,ss,?,((cid:114)),=,,*,,"9, 12b, 14a","WB, WLB",
18,"Agrilus ribesi SCHAEFER, 1946",*,s,>,=,=,,3,ยง,,P,
19,"Agrilus suvorovi OBENBERGER, 1935",G,s,?,((cid:114)),=,,3,ยง,"2a, 9","BR, WV, WW",
20,"Agrilus cuprescens (MรNรTRIรS, 1832)",*,h,=,=,=,1,*,ยง,,"WGV, P",
21,"Agrilus sinuatus (OLIVIER, 1790)",*,mh,?,=,=,1,*,ยง,,"WGT, P, O",
22,"Aphanisticus emarginatus (OLIVIER, 1790)",0,ex,,,,1,3,ยง,2a,"GF, M",vor 1919
23,"Aphanisticus pusillus (OLIVIER, 1790)",0,ex,,,,1,*,ยง,"2a, 14a, 14g","ADO, RRS",1970
24,"Trachys minutus (LINNAEUS, 1758)",*,sh,=,=,=,,*,ยง,,"WG, WV",
25,"Trachys troglodytes GYLLENHAL, 1817*",1,ss,<<,((cid:114)),-,1,*,ยง,"2a, 7a, 14a, 14g, 14f","GTK, GST",
26,"Trachys scrobiculatus KIESENWETTER, 1857",G,s,?,((cid:114)),=,1,*,ยง,,"GST, RSA, P",

In [21]:
# Definition of extinction
df2 = df.loc[df["BE"] == "0"]
df2.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,Gfu,Vorzugs-habitat,Letzter Nachweis
5,"Dicerca berolinensis (HERBST, 1779)*",0,ex,,,,1,2,ยง,"9, 12b, 14a, 14f?",WB,vor 1907
6,"Dicerca alni (FISCHER VON WALDHEIM, 1824)",0,ex,,,,1,2,ยง,"9, 12b, 14a",WM,vor 1900
11,"Buprestis haemorrhoidalis HERBST, 1780*",0,ex,,,,0,2,ยง,14a?,"WK, WN",1937
14,"Melanophila acuminata (DEGEER, 1774)*",0,ex,,,,,2,ยง,"12b, 14a","WK, WN",1970
17,"Anthaxia senicula (SCHRANK, 1789)*",0,ex,,,,,,,"2a, 9, 12b, 14a",WH,vor 1900

In [22]:
df2.reset_index(inplace = True)
df2.head()

,index,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,Gfu,Vorzugs-habitat,Letzter Nachweis
0,5,"Dicerca berolinensis (HERBST, 1779)*",0,ex,,,,1,2,ยง,"9, 12b, 14a, 14f?",WB,vor 1907
1,6,"Dicerca alni (FISCHER VON WALDHEIM, 1824)",0,ex,,,,1,2,ยง,"9, 12b, 14a",WM,vor 1900
2,11,"Buprestis haemorrhoidalis HERBST, 1780*",0,ex,,,,0,2,ยง,14a?,"WK, WN",1937
3,14,"Melanophila acuminata (DEGEER, 1774)*",0,ex,,,,,2,ยง,"12b, 14a","WK, WN",1970
4,17,"Anthaxia senicula (SCHRANK, 1789)*",0,ex,,,,,,,"2a, 9, 12b, 14a",WH,vor 1900

In [23]:
df2 = df2.drop(['index'], axis=1)
df2.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,Gfu,Vorzugs-habitat,Letzter Nachweis
0,"Dicerca berolinensis (HERBST, 1779)*",0,ex,,,,1,2,ยง,"9, 12b, 14a, 14f?",WB,vor 1907
1,"Dicerca alni (FISCHER VON WALDHEIM, 1824)",0,ex,,,,1,2,ยง,"9, 12b, 14a",WM,vor 1900
2,"Buprestis haemorrhoidalis HERBST, 1780*",0,ex,,,,0,2,ยง,14a?,"WK, WN",1937
3,"Melanophila acuminata (DEGEER, 1774)*",0,ex,,,,,2,ยง,"12b, 14a","WK, WN",1970
4,"Anthaxia senicula (SCHRANK, 1789)*",0,ex,,,,,,,"2a, 9, 12b, 14a",WH,vor 1900

In [24]:
df3 = df.loc[df["Bestand"] == "ex"]
df3.reset_index(inplace = True)
df3 = df3.drop(['index'], axis=1)
df3.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,Gfu,Vorzugs-habitat,Letzter Nachweis
0,"Dicerca berolinensis (HERBST, 1779)*",0,ex,,,,1,2,ยง,"9, 12b, 14a, 14f?",WB,vor 1907
1,"Dicerca alni (FISCHER VON WALDHEIM, 1824)",0,ex,,,,1,2,ยง,"9, 12b, 14a",WM,vor 1900
2,"Buprestis haemorrhoidalis HERBST, 1780*",0,ex,,,,0,2,ยง,14a?,"WK, WN",1937
3,"Melanophila acuminata (DEGEER, 1774)*",0,ex,,,,,2,ยง,"12b, 14a","WK, WN",1970
4,"Anthaxia senicula (SCHRANK, 1789)*",0,ex,,,,,,,"2a, 9, 12b, 14a",WH,vor 1900

In [25]:
df2.describe()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,Gfu,Vorzugs-habitat,Letzter Nachweis
count,7,7,7,7,7,7,7,7,7,7,7,7
unique,7,1,1,1,1,1,3,4,2,7,6,5
top,"Dicerca berolinensis (HERBST, 1779)*",0,ex,,,,1,2,ยง,"9, 12b, 14a, 14f?","WK, WN",vor 1900
freq,1,7,7,7,7,7,4,4,6,1,2,2

In [26]:
df3.describe()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,Gfu,Vorzugs-habitat,Letzter Nachweis
count,7,7,7,7,7,7,7,7,7,7,7,7
unique,7,1,1,1,1,1,3,4,2,7,6,5
top,"Dicerca berolinensis (HERBST, 1779)*",0,ex,,,,1,2,ยง,"9, 12b, 14a, 14f?","WK, WN",vor 1900
freq,1,7,7,7,7,7,4,4,6,1,2,2

In [27]:
# Updated the export location

In [28]:
# export the dataframe as CSV
df2.to_csv(
    '../../Transformation/Raw_csv/Coleoptera_Buprestidae_Prachtkaฬfer.csv', 
    index=False
)