In [1]:
import camelot
import pandas as pd

# Updated Process

## 1. Create empty dataframe with proper column names

In [2]:
# This is where data will be added after cleaning. The final dataframe for export

In [3]:
df = pd.DataFrame(columns = [
    "Species",
    "BE", 
    "Bestand", 
    "Trend_lang", 
    "Trend_kurz",
    "RF",
    "BB",
    "D",
    "GS",
    "GfU",
    "Vorzugs_habitat",
    "Ökologischer_Typ"
])
df

Empty DataFrame
Columns: [Species, BE, Bestand, Trend_lang, Trend_kurz, RF, BB, D, GS, GfU, Vorzugs_habitat, Ökologischer_Typ]
Index: []

In [4]:
df.shape

(0, 12)

## 2. Setup mechanism to store accuracy report : QA step

In [5]:
accuracy = []

## 3. Dictionary of dataframes on the go

In [6]:
# Dictionary to collect dataframes created from each table
d = {}

## 4. Adding the list of pages to be parsed

In [7]:
pages = []
i = 7
while i < 21:
    pages.append(i)
    i = i + 1
print(pages)

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

## 5. Parsing through the pages

In [8]:
for i in pages:
    # print page number
    print (i)
    # create dataframe with page number
    d[i] = pd.DataFrame()
    #read the page
    tables = camelot.read_pdf('rote_liste_flechten_krause_et_al.pdf', 
                              pages= str(i), 
                              flavor='stream', edge_tol=1000, row_tol=10)
    #tables = camelot.read_pdf('18_netzfl_print.pdf', pages= str(i), flavor='lattice')
    # add the accuracy report
    accuracy.append(tables[0].parsing_report)
    # assign the first table to a dataframe
    d[i] = tables[0].df
    print(d[i].shape)
# Print Done once all pages are parsed
print ("Done")

7
(28, 12)
8
(28, 12)
9
(27, 12)
10
(29, 12)
11
(29, 12)
12
(28, 12)
13
(29, 12)
14
(28, 12)
15
(28, 12)
16
(28, 12)
17
(29, 12)
18
(29, 12)
19
(28, 12)
20
(15, 12)
Done

In [9]:
# Check accuracy reports for the process
accuracy

[{'accuracy': 99.43, 'whitespace': 31.85, 'order': 1, 'page': 7},
 {'accuracy': 99.39, 'whitespace': 25.0, 'order': 1, 'page': 8},
 {'accuracy': 99.56, 'whitespace': 25.62, 'order': 1, 'page': 9},
 {'accuracy': 99.49, 'whitespace': 33.62, 'order': 1, 'page': 10},
 {'accuracy': 99.19, 'whitespace': 32.18, 'order': 1, 'page': 11},
 {'accuracy': 99.54, 'whitespace': 33.93, 'order': 1, 'page': 12},
 {'accuracy': 99.54, 'whitespace': 31.32, 'order': 1, 'page': 13},
 {'accuracy': 99.24, 'whitespace': 28.57, 'order': 1, 'page': 14},
 {'accuracy': 99.57, 'whitespace': 25.0, 'order': 1, 'page': 15},
 {'accuracy': 99.49, 'whitespace': 20.83, 'order': 1, 'page': 16},
 {'accuracy': 99.56, 'whitespace': 32.47, 'order': 1, 'page': 17},
 {'accuracy': 99.49, 'whitespace': 37.64, 'order': 1, 'page': 18},
 {'accuracy': 99.58, 'whitespace': 29.17, 'order': 1, 'page': 19},
 {'accuracy': 99.14, 'whitespace': 37.78, 'order': 1, 'page': 20}]

# Data cleanup steps

d[67]       
    : Look at the data frame extracted from 67th page
d[67].shape 
    : Look at the shape of the dataframe
d[68] = d[68].drop([12], axis=1)
    : Drop the 12th column in place
d[68][10] = d[68][[10, 11]].agg(' '.join, axis=1)
    : Join 10th and 11th columns with a space in between
d[69][[9,11]] = d[69][9].str.split('\n', expand=True)
    : Split 9th Column at the '\n' sign and add a new column called 11
column_to_move = d[69].pop(11)
column_to_move
d[69].insert(9, 11, column_to_move )
    : Pop column 11 and insert it at column 9
d[75].insert(9, '10', ["",""])
    : Insert two rows of column 10 after 9 with empty cells

In [10]:
# Check whether all dataframes are of the same size
for key in d:
    print(key)
    print(d[key].shape)

7
(28, 12)
8
(28, 12)
9
(27, 12)
10
(29, 12)
11
(29, 12)
12
(28, 12)
13
(29, 12)
14
(28, 12)
15
(28, 12)
16
(28, 12)
17
(29, 12)
18
(29, 12)
19
(28, 12)
20
(15, 12)

In [11]:
# Removing empty dataframes
# del d[64]
# del d[74]

In [12]:
# Creates a sorted dictionary (sorted by key)
from collections import OrderedDict
d2 = OrderedDict(sorted(d.items()))

In [13]:
# Check whether the dictionary is sorted
for key in d2:
    print(key)

7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [14]:
# Rename all the dataframes in the sorted dictionary
for key in d2:
    print(key)
    d2[key].columns = [ "Species",
    "BE", 
    "Bestand", 
    "Trend_lang", 
    "Trend_kurz",
    "RF",
    "BB",
    "D",
    "GS",
    "GfU",
    "Vorzugs_habitat",
    "Ökologischer_Typ"]
print("Rename completed for concat")

7
8
9
10
11
12
13
14
15
16
17
18
19
20
Rename completed for concat

In [15]:
# Concatanate all the non-empty dataframes in the sorted dictionary into the empty df
for key in d2:
    df = pd.concat([df, d2[key]], axis = 0)
df

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,GfU,Vorzugs_habitat,Ökologischer_Typ
0,Tabelle 1: Rote Liste und Gesamtartenliste der...,,,,,,,,,,,
1,Wissenschaftlicher Name,BE,Bestand,Trend,Trend,RF,BB,D,GS,GfU,Vorzugs-,Ökologischer
2,,,,lang,kurz,,,,,,habitat,Typ
3,Acarospora fuscata (SCHRAD.) TH. FR.,G,s,(<),=,=,*,*,,2c,"PF, AH, AF,","sax, aci"
4,,,,,,,,,,,OK,
...,...,...,...,...,...,...,...,...,...,...,...,...
10,Vezdaea leprosa (P. JAMES) VĚZDA,*,s,=,=,=,D,*,,,,"sax, ter, aci"
11,Vulpicidia pinastri (SCOP.) J.-E. MATTSSON & M...,*,ss,>,=,=,*,V,,11d,"B, W, P","epi, aci"
12,Xanthoparmelia conspersa (EHRH. ex ACH.) HALE*,0,ex,,,,3,*,,"1, 8, 6e, 11,",AF,"sax, aci"
13,,,,,,,,,,14a,,
14,Xanthoria parietina (L.) TH. FR.,*,sh,>,(cid:113)(cid:3),=,*,*,,,"B, P, O","epi, sax, bas, nit"

In [16]:
# Definition of extinction
df2 = df.loc[df["BE"] == "0"]
df2.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,GfU,Vorzugs_habitat,Ökologischer_Typ
11,Anaptychia ciliaris (L.) KÖRB.,0,ex,,,,1,2,,11d,,epi
17,Bacidia rosella (PERS.) DE NOT.,0,ex,,,,1,1,,11d,,"epi, neu"
27,Bactrospora dryina (ACH.) A. MASSAL.,0,ex,,,,0,2,,"9, 11d",W,epi
2,Baeomyces carneus FLÖRKE,0,ex,,,,kN,0,,,,ter
9,Bryoria fuscescens (GYELN.) BRODO & D. HAWKSW.,0,ex,,,,*,3,,"2a, 11d",W,"lig, epi, aci, anit"

In [17]:
df2.reset_index(inplace = True)
df2.head()

,index,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,GfU,Vorzugs_habitat,Ökologischer_Typ
0,11,Anaptychia ciliaris (L.) KÖRB.,0,ex,,,,1,2,,11d,,epi
1,17,Bacidia rosella (PERS.) DE NOT.,0,ex,,,,1,1,,11d,,"epi, neu"
2,27,Bactrospora dryina (ACH.) A. MASSAL.,0,ex,,,,0,2,,"9, 11d",W,epi
3,2,Baeomyces carneus FLÖRKE,0,ex,,,,kN,0,,,,ter
4,9,Bryoria fuscescens (GYELN.) BRODO & D. HAWKSW.,0,ex,,,,*,3,,"2a, 11d",W,"lig, epi, aci, anit"

In [18]:
df2 = df2.drop(['index'], axis=1)
df2.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,GfU,Vorzugs_habitat,Ökologischer_Typ
0,Anaptychia ciliaris (L.) KÖRB.,0,ex,,,,1,2,,11d,,epi
1,Bacidia rosella (PERS.) DE NOT.,0,ex,,,,1,1,,11d,,"epi, neu"
2,Bactrospora dryina (ACH.) A. MASSAL.,0,ex,,,,0,2,,"9, 11d",W,epi
3,Baeomyces carneus FLÖRKE,0,ex,,,,kN,0,,,,ter
4,Bryoria fuscescens (GYELN.) BRODO & D. HAWKSW.,0,ex,,,,*,3,,"2a, 11d",W,"lig, epi, aci, anit"

In [19]:
df3 = df.loc[df["Bestand"] == "ex"]
df3.reset_index(inplace = True)
df3 = df3.drop(['index'], axis=1)
df3.head()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,GfU,Vorzugs_habitat,Ökologischer_Typ
0,Anaptychia ciliaris (L.) KÖRB.,0,ex,,,,1,2,,11d,,epi
1,Bacidia rosella (PERS.) DE NOT.,0,ex,,,,1,1,,11d,,"epi, neu"
2,Bactrospora dryina (ACH.) A. MASSAL.,0,ex,,,,0,2,,"9, 11d",W,epi
3,Baeomyces carneus FLÖRKE,0,ex,,,,kN,0,,,,ter
4,Bryoria fuscescens (GYELN.) BRODO & D. HAWKSW.,0,ex,,,,*,3,,"2a, 11d",W,"lig, epi, aci, anit"

In [20]:
df2.describe()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,GfU,Vorzugs_habitat,Ökologischer_Typ
count,59,59,59,59,59,59,59,59,59,59,59,59
unique,59,1,1,1,1,1,8,8,2,21,15,22
top,Anaptychia ciliaris (L.) KÖRB.,0,ex,,,,0,1,,,,epi
freq,1,59,59,59,59,59,18,17,58,11,24,15

In [21]:
df3.describe()

,Species,BE,Bestand,Trend_lang,Trend_kurz,RF,BB,D,GS,GfU,Vorzugs_habitat,Ökologischer_Typ
count,59,59,59,59,59,59,59,59,59,59,59,59
unique,59,1,1,1,1,1,8,8,2,21,15,22
top,Anaptychia ciliaris (L.) KÖRB.,0,ex,,,,0,1,,,,epi
freq,1,59,59,59,59,59,18,17,58,11,24,15

In [22]:
# Updated export location
# export the dataframe as CSV
df2.to_csv('../../Transformation/Raw_csv/Lichens.csv', 
          index = False
         )